---
http_interactions:
- request:
    method: get
    uri: https://www.eventbrite.com/json/organizer_list_events?app_key=<EVENTBRITE_API_KEY>&id=<EVENTBRITE_ORGANIZER_ID>&user_key=<EVENTBRITE_USER_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Service:
      - djc
    body:
      encoding: ASCII-8BIT
      string: '{"events": [{"event": {"box_header_text_color": "005580", "locale":
        "en_GB", "link_color": "EE6600", "box_background_color": "FFFFFF", "box_border_color":
        "D5D5D3", "timezone": "Europe/London", "organizer": {"url": "http://www.eventbrite.co.uk/o/odi-tech-<EVENTBRITE_ORGANIZER_ID>",
        "description": "", "long_description": "Just here for the testing...", "id":
        <EVENTBRITE_ORGANIZER_ID>, "name": "ODI Tech"}, "background_color": "FFFFFF",
        "id": 5530182926, "category": "", "box_header_background_color": "EFEFEF",
        "capacity": 0, "num_attendee_rows": 0, "title": "Past Event", "start_date":
        "2013-02-14 07:00:00", "status": "Completed", "description": "", "end_date":
        "2013-02-14 08:00:00", "tags": "", "timezone_offset": "GMT+0000", "text_color":
        "005580", "title_text_color": "", "password": "", "tickets": [{"ticket": {"description":
        "", "end_date": "2013-02-14 06:00:00", "min": 1, "max": null, "price": "0.00",
        "quantity_sold": 0, "visible": "<VCR_DEBUG>", "currency": "GBP", "quantity_available":
        100, "display_price": "0.00", "type": 0, "id": 17191112, "include_fee": "false",
        "name": "Free but useless"}}], "created": "2013-02-14 00:49:40", "url": "https://www.eventbrite.co.uk/e/past-event-tickets-5530182926?ref=ebapi",
        "box_text_color": "000000", "privacy": "Private", "modified": "2014-12-29
        10:33:20", "repeats": "no"}}, {"event": {"box_header_text_color": "005580",
        "locale": "en_GB", "link_color": "EE6600", "box_background_color": "FFFFFF",
        "box_border_color": "D5D5D3", "timezone": "Europe/London", "organizer": {"url":
        "http://www.eventbrite.co.uk/o/odi-tech-<EVENTBRITE_ORGANIZER_ID>", "description":
        "", "long_description": "Just here for the testing...", "id": <EVENTBRITE_ORGANIZER_ID>,
        "name": "ODI Tech"}, "background_color": "FFFFFF", "id": 5531683414, "category":
        "", "box_header_background_color": "EFEFEF", "capacity": 0, "num_attendee_rows":
        0, "title": "Big Event (2013-02-14)", "start_date": "2013-02-14 19:00:00",
        "status": "Completed", "description": "\u003cP\u003eWTF? SRS?\u003c/P\u003e",
        "end_date": "2013-02-14 22:00:00", "tags": "", "timezone_offset": "GMT+0000",
        "text_color": "005580", "title_text_color": "", "password": "", "tickets":
        [{"ticket": {"description": "", "end_date": "2013-02-14 18:00:00", "min":
        1, "max": null, "price": "1.00", "quantity_sold": 0, "visible": "<VCR_DEBUG>",
        "currency": "GBP", "quantity_available": 10, "display_price": "0.01", "type":
        0, "id": 17192984, "include_fee": "false", "name": "Cheap Seats"}}], "created":
        "2013-02-14 05:52:42", "url": "https://www.eventbrite.co.uk/e/big-event-2013-02-14-tickets-5531683414?ref=ebapi",
        "box_text_color": "000000", "privacy": "Private", "venue": {"city": "London",
        "name": "The ODI", "country": "United Kingdom", "region": "Gt Lon", "longitude":
        -0.083283, "postal_code": "EC2A", "address_2": "", "address": "Clifton St",
        "latitude": 51.52238, "country_code": "GB", "id": 3009596, "Lat-Long": "51.52238
        / -0.083283"}, "modified": "2014-12-29 10:33:22", "repeats": "no"}}, {"event":
        {"box_header_text_color": "005580", "locale": "en_US", "link_color": "EE6600",
        "box_background_color": "FFFFFF", "box_border_color": "D5D5D3", "timezone":
        "Europe/London", "organizer": {"url": "http://www.eventbrite.co.uk/o/odi-tech-<EVENTBRITE_ORGANIZER_ID>",
        "description": "", "long_description": "Just here for the testing...", "id":
        <EVENTBRITE_ORGANIZER_ID[...]
