---
http_interactions:
- request:
    method: get
    uri: https://www.eventbrite.com/json/event_list_attendees?app_key=<EVENTBRITE_API_KEY>&id=5519765768&page=0&user_key=<EVENTBRITE_USER_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Service:
      - djc
    body:
      encoding: UTF-8
      string: '{"attendees": [], "error": {"error_type": "Not Found", "error_message":
        "No records were found with the given parameters.."}}'
  recorded_at: Wed, 04 Nov 2015 15:37:41 GMT
recorded_with: VCR 2.9.3
