---
http_interactions:
- request:
    method: get
    uri: https://www.eventbrite.com/json/event_list_attendees?app_key=<EVENTBRITE_API_KEY>&id=5519765768&page=0&user_key=<EVENTBRITE_USER_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Service:
      - djc
    body:
      encoding: US-ASCII
      string: ! '{"attendees": [], "error": {"error_type": "Not Found", "error_message":
        "No records were found with the given parameters.."}}'
  recorded_at: Fri, 15 Feb 2013 13:28:17 GMT
recorded_with: VCR 2.4.0
