EVENTBRITE_API_KEY=''
EVENTBRITE_USER_KEY=''
EVENTBRITE_ORGANIZER_ID=''

TRELLO_DEV_KEY=''
TRELLO_DEV_SECRET=''
TRELLO_MEMBER_KEY=''
TRELLO_CLEANUP_BOARD=''

GITHUB_LOGIN=''
GITHUB_PASSWORD=''
GITHUB_ORGANISATION=''

LEFTRONIC_API_KEY='
LEFTRONIC_GITHUB_REPOS=''
LEFTRONIC_GITHUB_FORKS=''
LEFTRONIC_GITHUB_ISSUES=''
LEFTRONIC_GITHUB_OPENPRS=''
LEFTRONIC_GITHUB_PULLS=''
LEFTRONIC_GITHUB_WATCHERS=''
LEFTRONIC_TRELLO_COUNT=''
LEFTRONIC_TRELLO_LINE=''
LEFTRONIC_JENKINS_HTML=''
LEFTRONIC_JENKINS_TIME=''

JENKINS_URL=''