---
http_interactions:
- request:
    method: get
    uri: https://www.eventbrite.com/json/organizer_list_events?app_key=&id=&user_key=
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Service:
      - djc
    body:
      encoding: US-ASCII
      string: ! '{"error": {"error_type": "Application Key Error", "error_message":
        "Please provide your Application Key in the URL as \"?app_key=<APP_KEY>\"."}}'
  recorded_at: Wed, 13 Feb 2013 11:46:26 GMT
- request:
    method: get
    uri: https://www.eventbrite.com/json/organizer_list_events?app_key=<EVENTBRITE_API_KEY>&id=<EVENTBRITE_ORGANIZER_ID>&user_key=<EVENTBRITE_USER_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Service:
      - djc
    body:
      encoding: US-ASCII
      string: ! '{"events": [{"event": {"box_header_text_color": "005580", "link_color":
        "EE6600", "box_background_color": "FFFFFF", "box_border_color": "D5D5D3",
        "timezone": "Europe/London", "organizer": {"url": "http://www.eventbrite.com/org/<EVENTBRITE_ORGANIZER_ID>",
        "description": "", "long_description": "Just here for the <RAILS_ENV>ing...",
        "id": <EVENTBRITE_ORGANIZER_ID>, "name": "ODI Tech"}, "background_color":
        "FFFFFF", "id": 5441375300, "category": "", "box_header_background_color":
        "EFEFEF", "capacity": 0, "num_attendee_rows": 1, "title": "[Test Event 00]
        Drupal: Down the Rabbit Hole", "start_date": "2013-03-17 19:00:00", "status":
        "Live", "description": "<P>This is the description.</P>", "end_date": "2013-03-17
        22:00:00", "tags": "", "timezone_offset": "GMT+0000", "text_color": "005580",
        "title_text_color": "", "password": "", "tickets": [{"ticket": {"description":
        "", "end_date": "2013-03-17 18:00:00", "min": 1, "max": null, "price": "0.00",
        "quantity_sold": 0, "visible": "<GUARD_NOTIFY>", "start_date": "2013-02-11
        09:00:00", "currency": "GBP", "quantity_available": 100, "type": 0, "id":
        17042304, "name": "Free Ticket"}}, {"ticket": {"description": "", "end_date":
        "2013-03-17 18:00:00", "min": 1, "max": null, "price": "1.00", "quantity_sold":
        1, "visible": "<GUARD_NOTIFY>", "currency": "GBP", "quantity_available": 100,
        "type": 0, "id": 17042456, "name": "Cheap Ticket"}}], "created": "2013-02-05
        09:08:12", "url": "http://www.eventbrite.com/event/5441375300", "box_text_color":
        "000000", "privacy": "Private", "venue": {"city": "", "name": "The office",
        "country": "", "region": "", "longitude": 0.0, "postal_code": "", "address_2":
        "", "address": "", "latitude": 0.0, "country_code": "", "id": 2959410, "Lat-Long":
        "0.0 / 0.0"}, "modified": "2013-02-12 05:17:38", "repeats": "no"}}, {"event":
        {"box_header_text_color": "005580", "link_color": "EE6600", "box_background_color":
        "FFFFFF", "box_border_color": "D5D5D3", "timezone": "Europe/London", "organizer":
        {"url": "http://www.eventbrite.com/org/<EVENTBRITE_ORGANIZER_ID>", "description":
        "", "long_description": "Just here for the <RAILS_ENV>ing...", "id": <EVENTBRITE_ORGANIZER_ID>,
        "name": "ODI Tech"}, "background_color": "FFFFFF", "id": 5449726278, "category":
        "", "box_header_background_color": "EFEFEF", "capacity": 0, "num_attendee_rows":
        1, "title": "How to Find an Eventbrite Event ID", "start_date": "2013-03-24
        19:00:00", "status": "Live", "description": "", "end_date": "2013-03-24 22:00:00",
        "tags": "", "timezone_offset": "GMT+0000", "text_color": "005580", "title_text_color":
        "", "password": "", "tickets": [{"ticket": {"description": "", "end_date":
        "2013-03-24 18:00:00", "min": 1, "max": null, "price": "0.00", "quantity_sold":
        1, "visible": "<GUARD_NOTIFY>", "currency": "GBP", "quantity_available": 10,
        "type": 0, "id": 17152968, "name": "Free"}}], "created": "2013-02-12 03:39:11",
        "url": "http://foobarrubbishevent.eventbrite.com", "box_text_color": "000000",
        "privacy": "Private", "modified": "2013-02-12 06:14:35", "repeats": "no"}}]}'
  recorded_at: Wed, 13 Feb 2013 11:56:28 GMT
recorded_with: VCR 2.4.0
