---
http_interactions:
- request:
    method: get
    uri: https://www.eventbrite.com/json/organizer_list_events?app_key=<EVENTBRITE_API_KEY>&id=3233803268&user_key=<EVENTBRITE_USER_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Service:
      - djc
    body:
      encoding: US-ASCII
      string: ! '{"events": [{"event": {"box_header_text_color": "005580", "link_color":
        "EE6600", "box_background_color": "FFFFFF", "box_border_color": "D5D5D3",
        "timezone": "Europe/London", "organizer": {"url": "http://www.eventbrite.com/org/3233803268",
        "description": "", "long_description": "Just here for the testing...", "id":
        3233803268, "name": "ODI Tech"}, "background_color": "FFFFFF", "id": 5441375300,
        "category": "", "box_header_background_color": "EFEFEF", "capacity": 0, "num_attendee_rows":
        1, "title": "[Test Event 00] Drupal: Down the Rabbit Hole", "start_date":
        "2013-03-17 19:00:00", "status": "Live", "description": "<P>This is the description.</P>",
        "end_date": "2013-03-17 22:00:00", "tags": "", "timezone_offset": "GMT+0000",
        "text_color": "005580", "title_text_color": "", "password": "", "tickets":
        [{"ticket": {"description": "", "end_date": "2013-03-17 18:00:00", "min":
        1, "max": null, "price": "0.00", "quantity_sold": 0, "visible": "true", "start_date":
        "2013-02-11 09:00:00", "currency": "GBP", "quantity_available": 100, "type":
        0, "id": 17042304, "name": "Free Ticket"}}, {"ticket": {"description": "",
        "end_date": "2013-03-17 18:00:00", "min": 1, "max": null, "price": "0.66",
        "quantity_sold": 1, "visible": "true", "currency": "GBP", "quantity_available":
        100, "type": 0, "id": 17042456, "name": "Very Cheap Ticket (1p)"}}], "created":
        "2013-02-05 09:08:12", "url": "http://www.eventbrite.com/event/5441375300",
        "box_text_color": "000000", "privacy": "Private", "venue": {"city": "", "name":
        "The office", "country": "", "region": "", "longitude": 0.0, "postal_code":
        "", "address_2": "", "address": "", "latitude": 0.0, "country_code": "", "id":
        2959410, "Lat-Long": "0.0 / 0.0"}, "modified": "2013-02-06 02:18:10", "repeats":
        "no"}}, {"event": {"box_header_text_color": "005580", "link_color": "EE6600",
        "box_background_color": "FFFFFF", "box_border_color": "D5D5D3", "timezone":
        "Europe/London", "organizer": {"url": "http://www.eventbrite.com/org/3233803268",
        "description": "", "long_description": "Just here for the testing...", "id":
        3233803268, "name": "ODI Tech"}, "background_color": "FFFFFF", "id": 5449726278,
        "category": "", "box_header_background_color": "EFEFEF", "capacity": 0, "num_attendee_rows":
        0, "title": "", "start_date": "2013-03-18 19:00:00", "status": "Unsaved",
        "description": "", "end_date": "2013-03-18 22:00:00", "tags": "", "timezone_offset":
        "GMT+0000", "text_color": "005580", "title_text_color": "", "created": "2013-02-06
        00:01:25", "url": "http://www.eventbrite.com/event/5449726278", "box_text_color":
        "000000", "privacy": "Public", "modified": "2013-02-06 00:01:25", "repeats":
        "no"}}]}'
  recorded_at: Thu, 07 Feb 2013 10:29:53 GMT
recorded_with: VCR 2.4.0
