---
http_interactions:
- request:
    method: get
    uri: https://www.eventbrite.com/json/event_list_attendees?app_key=<EVENTBRITE_API_KEY>&id=5441375300&page=0&user_key=<EVENTBRITE_USER_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Service:
      - djc
    body:
      encoding: US-ASCII
      string: ! '{"attendees": [{"attendee": {"first_name": "James", "last_name":
        "Smith", "order_type": "Send an Invoice - Payment Not Received", "created":
        "2013-02-06 02:16:51", "order_id": 139612346, "amount_paid": "0.66", "barcode":
        "139612346178747220001", "modified": "2013-02-06 02:18:10", "id": 178747220,
        "currency": "GBP", "affiliate": "", "ticket_id": 17042456, "event_id": 5441375300,
        "event_date": "", "discount": "", "email": "james.smith@theodi.org", "quantity":
        1}}]}'
  recorded_at: Wed, 06 Feb 2013 14:10:59 GMT
recorded_with: VCR 2.4.0
