---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Bob%20Fish%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="zUaVTSkoCuTcHSaTfx6SZKM7yvvqe1WiCH1abpwfGA",
        oauth_signature="TJmugM3584G2owULdeXrX60f4oh2wKNZLu9muxANTccT%2Blh2GClgYt%2BHQw95j%2B1qUkmgXRKGDETjAWHRcUN7RfdQWMFXsH3RO1Tzqf6LXXSkiQrPYvapniqY6Ftm54vb07AFu9bm9zAlzSz5coq5PJx2ZCQsrEEJbB7cZze9wJQ%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360756609", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>0b320315-7329-4699-b490-f7bb970ee3de</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-13T11:56:47.7059273Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 13 Feb 2013 11:56:50 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A++%3CName%3EBob+Fish%3C%2FName%3E%0A++%3CEmailAddress%3Ebob.fish%40example.com%3C%2FEmailAddress%3E%0A++%3CPhones%3E%0A++++%3CPhone%3E%0A++++++%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E%0A++++%3C%2FPhone%3E%0A++%3C%2FPhones%3E%0A++%3CAddresses%3E%0A++++%3CAddress%3E%0A++++++%3CAddressType%3EPOBOX%3C%2FAddressType%3E%0A++++%3C%2FAddress%3E%0A++%3C%2FAddr[...]
[...]
