---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Bob%20Fish%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="mHXcoyhM8n2tuAD5u8gMZEmzMJk0nx57PukoitbLoo",
        oauth_signature="F22n9dtmYHvVgbDk3I1%2BMsC%2BiZ%2FODHcUkI2xj2IAzQXz1XAs8QE8xI3HUDjD%2FHXgb%2BnWxJCAyCsLwKUp3Mbx3v4ASTxd2CxDNS3oUnz5jUw7dGwK8ZReYhitrJbdFmn0crPWbCDalhNSlM8IrpEWl90aFCIeGu5Uy1oURrU7gj0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360756624", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>e08e94a0-fa29-4952-8ff1-747dd954230f</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-13T11:57:02.8223273Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 13 Feb 2013 11:57:05 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A++%3CName%3EBob+Fish%3C%2FName%3E%0A++%3CEmailAddress%3Ebob.fish%40example.com%3C%2FEmailAddress%3E%0A++%3CPhones%3E%0A++++%3CPhone%3E%0A++++++%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E%0A++++++%3CPhoneNumber%3E01234+098765%3C%2FPhoneNumber%3E%0A++++%3C%2FPhone%3E%0A++%3C%2FPhones%3E%0A++%3CAddresses%3E%0A++++%3CAddress%3E%0A++++++%3CAddressType%3EPOBOX[...]
[...]
