---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="4B0MZwBPzvDrzFmAry1b1OQ3h6qNaMabXFsIP4s9xQ",
        oauth_signature="OLZX5c1%2BtMZ5LhZC9UbhikB7u8W6kH%2BmQuAbms%2FpHVsM2TdkJg2HTf4Jmbedk1Mq2nrQ%2FLdDN0E3oNbAN6UG%2FVc7dxKKmx1fkuF0rxg24%2FZWn3SidITKMtcWNY9EpOl4RfRcye%2BQqBB35a3gBkNxFnwD13HsXrwAQpmcooYJlPo%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360762878", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>ed133da1-75f9-4bda-8f2a-b2b0a876ffd7</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-13T13:41:18.3067177Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>214814d5-64bb-409b-8000-764aa0da91df</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-02-12T08:29:03.76</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 13 Feb 2013 13:41:19 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A++%3CType%3EACCREC%3C%2FType%3E%0A++%3CContact%3E%0A++++%3CContactID%3E214814d5-64bb-409b-8000-764aa0da91df%3C%2FContactID%3E%0A++++%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A++++%3CName%3EExisting+Company+Inc.%3C%2FName%3E%0A++++%3CAddresses%3E%0A++++++%3CAddress%3E%0A++++++++%3CAddressType%3EPOBOX%3C%2FAddressType%3E%0A++++++%3C%2FAddress%3E%[...]
- request:
    method: post
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A++%3CInvoice%3E%0A++++%3CContactID%3E214814d5-64bb-409b-8000-764aa0da91df%3C%2FContactID%3E%0A++++%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A++++%3CName%3EExisting+Company+Inc.%3C%2FName%3E%0A++++%3CAddresses%3E%0A++++++%3CAddress%3E%0A++++++++%3CAddressType%3EPOBOX%3C%2FAddressType%3E%0A++++++%3C%2FAddress%3E%0A++++++%3CAddress%3E%0A++++++++%3CAddressType%3ESTREET%3C%2FAddressType%3E%0A++++++%3C%2FAddress%3E%0A++++%3C%2FAddresses%3E%0A++++%3CPhones%3E%0A++++++%3CPhone%3E%0A++++++++%3CPhoneType%3EDDI%3C%2FPhoneType%3E%0A++++++%3C%2FPhone%3E%0A++++++%3CPhone%3E%0A++++++++%3CPhoneType%3EFAX%3C%2FPhoneType%3E%0A++++++%3C%2FPhone%3E%0A++++++%3CPhone%3E%0A++++++++%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E%0A++++++%3C%2FPhone%3E%0A++++++%3CPhone%3E%0A++++++++%3CPhoneType%3EMOBILE%3C%2FPhoneType%3E%0A++++++%3C%2FPhone%3E%0A++++%3C%2FPhones%3E%0A++++%3CUpdatedDateUTC%3E2013-02-12T08%3A29%3A03%3C%2FUpdatedDateUTC%3E%0A++++%3CIsSupplier%3Efalse%3C%2FIsSupplier%3E%0A++++%3CIsCustomer%3E<GUARD_NOTIFY>%3C%2FIsCustomer%3E%0A++%3C%2FInvoice%3E%0A++%3CDate%3E2013-02-13%3C%2FDate%3E%0A++%3CDueDate%3E2013-02-13%3C%2FDueDate%3E%0A++%3CStatus%3EDRAFT%3C%2FStatus%3E%0A++%3CLineAmountTypes%3EExclusive%3C%2FLineAmountTypes%3E%0A++%3CLineItems%3E%0A++++%3CLineItem%3E%0A++++++%3CDescription%3Eplaceholder%3C%2FDescription%3E%0A++++++%3CUnitAmount%3E1.0%3C%2FUnitAmount%3E%0A++++++%3CTaxType%3EOUTPUT2%3C%2FTaxType%3E%0A++++++%3CTaxAmount%3E0.2%3C%2FTaxAmount%3E%0A++++++%3CLineAmount%3E1.0%3C%2FLineAmount%3E[...]
