---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="S6HFCHDxOYe011S7Dq444r2Fgj48mrpH2a5otkBRs",
        oauth_signature="oArn3cTfzUBKdnaRZkcLDmudeUQRi8O5gYREdRB3SqDnAOoNBN%2F9B%2FdJRjL1db5xk3YRjw5TodNKqI75jFPioG6bzAe2hDbCYGEGQcxI%2FCzHj5uhP4ph0OPsLu9QzihhMWiDY1IGKej7uD%2BJDiVKFJyoanqaPx%2BqFu0QmsPNNIU%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360756614", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>43d758df-d39e-4606-9edb-07af9c10c502</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-13T11:56:52.5575273Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 13 Feb 2013 11:56:55 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A++%3CName%3ENew+Company+Inc.%3C%2FName%3E%0A++%3CEmailAddress%3Ebob.fish%40example.com%3C%2FEmailAddress%3E%0A++%3CPhones%3E%0A++++%3CPhone%3E%0A++++++%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E%0A++++%3C%2FPhone%3E%0A++%3C%2FPhones%3E%0A++%3CAddresses%3E%0A++++%3CAddress%3E%0A++++++%3CAddressType%3EPOBOX%3C%2FAddressType%3E%0A++++%3C%2FAddress%3E%0A++%3[...]
[...]
