---
http_interactions:
- request:
    method: post
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A++%3CContactID%3E69ff0318-0d47-4bbb-b821-132ebf6b0197%3C%2FContactID%3E%0A++%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A++%3CName%3ENew+Company+Inc.+69ff0318-0d47-4bbb-b821-132ebf6b0197%3C%2FName%3E%0A++%3CEmailAddress%3Efinance%40newcompany.com%3C%2FEmailAddress%3E%0A++%3CAddresses%3E%0A++++%3CAddress%3E%0A++++++%3CAddressType%3EDEFAULT%3C%2FAddressType%3E%0A++++++%3CAddressLine1%3E123+Random+Business+Park%3C%2FAddressLine1%3E%0A++++++%3CCity%3ELondon%3C%2FCity%3E%0A++++++%3CCountry%3EUK%3C%2FCountry%3E%0A++++%3C%2FAddress%3E%0A++++%3CAddress%3E%0A++++++%3CAddressType%3ESTREET%3C%2FAddressType%3E%0A++++%3C%2FAddress%3E%0A++%3C%2FAddresses%3E%0A++%3CPhones%3E%0A++++%3CPhone%3E%0A++++++%3CPhoneType%3EDDI%3C%2FPhoneType%3E%0A++++%3C%2FPhone%3E%0A++++%3CPhone%3E%0A++++++%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E%0A++++++%3CPhoneNumber%3E01234+5678910%3C%2FPhoneNumber%3E%0A++++%3C%2FPhone%3E%0A++++%3CPhone%3E%0A++++++%3CPhoneType%3EFAX%3C%2FPhoneType%3E%0A++++%3C%2FPhone%3E%0A++++%3CPhone%3E%0A++++++%3CPhoneType%3EMOBILE%3C%2FPhoneType%3E%0A++++%3C%2FPhone%3E%0A++%3C%2FPhones%3E%0A++%3CUpdatedDateUTC%3E2013-02-13T11%3A56%3A58%3C%2FUpdatedDateUTC%3E%0A++%3CIsSupplier%3Efalse%3C%2FIsSupplier%3E%0A++%3CIsCustomer%3Efalse%3C%2FIsCustomer%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="YSEnIodPK2Hvl3NAD6LDYTRmmmiT1XeSKb8yq3CQ0bY",
        oauth_signature="EW%2B0hZLTOfb9VI2dB5gWkO2%2FeQk3L9uMHySjBkuPNJjMwj1gkSIGA3KdlvOoZR9Xa5PmkVcihGRBBpmh%2FY0t8tFUwSuE172pMKkQBQ0kGMizQ6b%2BSoBKj6Laek0DR92ZuygzKm34AJ3%2FhfPdw%2B%2FiNfl6mOlgjj%2BHTCvP71ZHSvI%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360756623", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>c60feafd-201b-4183-a510-d1c57de8b03c</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-13T11:57:01.3871273Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>69ff0318-0d47-4bbb-b821-132ebf6b0197</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>New Company Inc.
        69ff0318-0d47-4bbb-b821-132ebf6b0197</Name>\r\n      <EmailAddress>finance@newcompany.com</EmailAddress>\r\n
        \     <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \         <AddressLine1>123 Random Business Park</AddressLine1>\r\n          <City>London</City>\r\n
        \         <Country>UK</Country>\r\n        </Address>\r\n        <Address>\r\n
        \         <AddressType>STREET</AddressType>\r\n        </Address>\r\n      </Addresses>\r\n
        \     <Phones>\r\n        <Phone>\r\n          <PhoneType>MOBILE</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>DEFAULT</PhoneType>\r\n
        \         <PhoneNumber>01234 5678910</PhoneNumber>\r\n        </Phone>\r\n
        \       <Phone>\r\n          <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n
        \       <Phone>\r\n          <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n
        \     </Phones>\r\n      <UpdatedDateUTC>2013-02-13T11:57:01.37</UpdatedDateUTC>\r\n
        \     <IsSupplier>false</IsSupplier>\r\n      <IsCustomer>false</IsCustomer>\r\n
        \   </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 13 Feb 2013 11:57:04 GMT
recorded_with: VCR 2.4.0
