---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=EmailAddress%20==%20%22tom.heath@theodi.org%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="ZFsFr9YgO2b1njHP3fIokqECn9klNgRnTDEZ3eMOB0",
        oauth_signature="WgqmXfVRTxmclSCV%2Blk5UKEj%2B8SQpphwsz7CQfpcTayB8Wn6uVHVuzCp7UGGR%2Fv%2FPhVqVBwiCkX75iXB%2B3NrpAUXVjeR%2FT%2FH%2BXimqLhVSRV8foFsna9QJSHkT%2BvfFFeGKDBnDTI2MFo8seCjb5gBS2kjCgshtvT3ot0XO98e%2Bd0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360263014", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>49db709e-35d7-46fa-82bb-19e0098f4477</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-07T18:50:15.4532909Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 07 Feb 2013 18:50:16 GMT
recorded_with: VCR 2.4.0
