---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="aSGyGUVVp3JoQYMriIeNAQH4LtwTUMo0N1R1Je0zng0",
        oauth_signature="jmmIoD4WnqQXaDI1oPr6ZzVMPmbfVesk7kX6kigAvtS9BtK8yEvThdRW%2FqJv7VmCp340xjCh87L8MitwUCQ5FVdffboogWxYMZz98v%2FhWian3MIkDy%2ByXtZ3dg5%2BmJ7Cj3R9xt%2Byb3y4i1NsHyJDACPexJlvfja6ibolxYX7ni4%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360756618", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>ea5f8692-5874-45e9-9b3d-1c6ebccb71a6</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-13T11:56:57.0659273Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 13 Feb 2013 11:56:59 GMT
recorded_with: VCR 2.4.0
