---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=EmailAddress%20==%20%22james.smith@theodi.org%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="rCTDzX55WCZkbpAl75Vs1ptgLv9MzHcFojrVlqlvm8w",
        oauth_signature="TMyFjHHkeYEryXAd7VLLfY5LbEJn%2B6JOkM%2BFhlOk0DdosjFFsJ1FBHp%2F%2BPUINRnpA%2FRKq3UpF8XkLl6ajrKDnwqkPwobC3awVeJE%2BqwB9PYUwNw3OzoN5uKhnEDNQTKD%2FLZoos1i7FrID%2BYNGCNhnOUmdOQU34ClrnctzOE6ug8%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360263707", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>fb768e55-475f-4d78-953f-763b16005df6</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-07T19:01:48.827171Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 07 Feb 2013 19:01:49 GMT
recorded_with: VCR 2.4.0
