---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=EmailAddress%20==%20%22tom.heath@theodi.org%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="cslaKSYnlIC5uWggnQ9ZioBHqquGSvTF4aAY0Oajk",
        oauth_signature="e8xTjAQ7Mxn62x3Q%2FwkT3TsvIPkBNsfP3VHAt0Be9IoxFn78n3eFkLbTbVLdJs6z9%2BCEwOlEgFTjMZTZvOtCMtZFM4HOj8PPODgTQc4%2FTTJSGkCTxTgJbVUAk4iD8xftzZppuoGi95CtKvVl0ODWvjUDsTEE25%2BTlwrzUS0pMvE%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360263709", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>37df877b-6aa4-4e58-ab70-13bf52624423</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-07T19:01:49.607171Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 07 Feb 2013 19:01:50 GMT
recorded_with: VCR 2.4.0
