---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=EmailAddress%20==%20%22tom.heath@theodi.org%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="G5PROZPWLMWJXFER4GK0KFVMUUFKUG", oauth_nonce="8PutAHGTw5xWuad7ORbsBOOfUiBUGn3eAYY7ZIpCt4",
        oauth_signature="bQZGvyzsosk22FOF89AWaMSjKJFgOs%2BQEutN3EKuFV4M8J6Ga%2FEPReDEGufx0%2B7llUQP8GbcboZfDIvNKzSzN99%2BwPE9%2BbRmJP2zjiFrWvfZ7eHpAFrEMsBpbrsm7F0b9tTVPm21Puc9SRE%2B1iEQWVW%2F2G3UYF9ZgWjwbC4Cl%2Bg%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360248734", oauth_token="G5PROZPWLMWJXFER4GK0KFVMUUFKUG",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>3c4e68cd-df12-4a41-894c-d53a9c085081</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-07T14:52:15.4457556Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 07 Feb 2013 14:52:15 GMT
recorded_with: VCR 2.4.0
