---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=EmailAddress%20==%20%22james.smith@theodi.org%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="A7picAxVPskEYYJJeqEez9sekvW1f1AaA7soCREszI",
        oauth_signature="G61dk0oQOSdPXIsKIKwz6hJavEPGT6DaxOo3FAjXTfZbuFjgF5IvIlto08%2BTjtqT2VghvierNtSpol%2FUVVcRziElLXGdn45Tm53pgeXYGgxUF9u8WOnXML9jVBexr3e0rUmiQS5zXu5TMn7HqwiTusnpFXgwXI3RSKRUM7dBYAM%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360263013", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>e91b60ed-0eba-435c-9e1d-878d804f20d4</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-07T18:50:14.0960648Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 07 Feb 2013 18:50:14 GMT
recorded_with: VCR 2.4.0
