---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=EmailAddress%20==%20%22james.smith@theodi.org%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="G5PROZPWLMWJXFER4GK0KFVMUUFKUG", oauth_nonce="UL6WBBCNiQogpwOMVBczSb4WfVCPG2Ghvdc5osCvU4",
        oauth_signature="JRPHwmqbptqciUEBsCY9IBLj2R2IvK0aDeFU0yGfYgOvRJwsnYRLbsod5XeqlYYmg69qm4POYtJ8RG%2BdiqQg%2BRtsUJ%2FRnp3o7t3ra1r%2Brw%2FUZACjs9uM8omQ%2FxcV%2F36P0e3oExV1aPR9%2BPGTvmU7HN9bVDX5i3csGWFEaJ%2Bx8Wo%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360247825", oauth_token="G5PROZPWLMWJXFER4GK0KFVMUUFKUG",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>f89193b3-fd30-446a-92b8-fd82c721b98b</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-07T14:37:05.9375785Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 07 Feb 2013 14:37:06 GMT
recorded_with: VCR 2.4.0
