---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Bob%20Fish%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="8tzgEDRDFbGKWHr0c45FXHo39dshVsYqrcZWUO2DxI",
        oauth_signature="LQpWZW2q42QUnj6lX4uwMFDSAMmFoEyAt54hkpJX0GgRcbxG7nPEdA3bn%2BDbX5gNbX39tV8Z76aqXUkwcK2OHhttrzWi3WfQZeUQ5NfFbNmiMG5plUdugYO37oYFBdNF3fOFueOgKo1DijmbIFy5lZfXSdNog0F43XbVQs6BKyg%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360756624", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>c2c100fc-4d23-4975-850a-ad22774e3f83</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-13T11:57:02.1359273Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 13 Feb 2013 11:57:04 GMT
recorded_with: VCR 2.4.0
