---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Bob%20Fish%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="JtG9cpOaMThYVNd9PpOOqNNXAycQG44tEvASLe0ZAtA",
        oauth_signature="V9hjHnyqvpZ9uSrHhjXYYiXoZNuOq%2BCJJWOmWxxpbbWj%2BRRvHJqCao4LF9o%2FEmAlsfB74F%2Bs%2Ble%2FgQiAWQnkbFPfYbdvuPDo1dLTuLiv4rLBXbFZE%2BvBzTpf4og3sSpVuo9ST%2BFTpJgVDjN9SGEBxqzD8MNaozEj%2FBBjshK0HVc%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360771618", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>bb969778-1368-4eca-af8b-9ed3b4d2b498</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-13T16:06:54.8491249Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 13 Feb 2013 16:06:59 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A++%3CName%3EBob+Fish%3C%2FName%3E%0A++%3CEmailAddress%3Ebob.fish%40example.com%3C%2FEmailAddress%3E%0A++%3CPhones%3E%0A++++%3CPhone%3E%0A++++++%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E%0A++++++%3CPhoneNumber%3E01234+098765%3C%2FPhoneNumber%3E%0A++++%3C%2FPhone%3E%0A++%3C%2FPhones%3E%0A++%3CAddresses%3E%0A++++%3CAddress%3E%0A++++++%3CAddressType%3EPOBOX[...]
[...]
