---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Bob%20Fish%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="nHFSy9g6FmHlNTM3573EbDezIFdSTdzy6ALVGZyL4",
        oauth_signature="PGnQ2NxfGiTt%2FkWtecyyHnYXLkQ0%2BT2nxTMYdxTw5PqUSKoOyVPLVITu9EfJiLaIkO1B%2F6um3toDPYpFcpvNxM7gCDhBbM%2F4%2FQXEeiDM8rDSnJ29%2BsErgT1cg3LP16pqRx6E1r1Sxrk5n2WMDfihCTJxCu9f59sHyll403KFNxE%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360768262", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>fed3ead0-7f24-4dcf-9f88-0506564039a8</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-13T15:10:59.6652743Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 13 Feb 2013 15:11:03 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A++%3CName%3EBob+Fish%3C%2FName%3E%0A++%3CEmailAddress%3Ebob.fish%40example.com%3C%2FEmailAddress%3E%0A++%3CPhones%3E%0A++++%3CPhone%3E%0A++++++%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E%0A++++++%3CPhoneNumber%3E01234+098765%3C%2FPhoneNumber%3E%0A++++%3C%2FPhone%3E%0A++%3C%2FPhones%3E%0A++%3CAddresses%3E%0A++++%3CAddress%3E%0A++++++%3CAddressType%3EPOBOX[...]
[...]
