---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Bob%20Fish%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="pfD2qw1aRTaxINjcU5rVFdKKjaZdECGNvYleLWk0",
        oauth_signature="C%2Fw7g73VUtqIk%2Ff58YpQRFWOCBFeS%2BDmvwo7NBstzbcijtczPL5hlwoh7HYyDjB08L5l8laUo5sy6EEtkC9FNukxXiwDUNEe2ilY17nEYj%2FUUG4fUzHMwhi5WTMxhCUA5qMAPbxKwoDliYD%2Fkd%2F50IEELKcIsCVSxDjF5SR3GPQ%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360771618", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>7840f1d8-af10-47f6-a8db-47f37247e656</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-13T16:06:54.1315111Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 13 Feb 2013 16:06:58 GMT
recorded_with: VCR 2.4.0
