---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Bob%20Fish%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="1ShHgl0tBb3dsjEvblBLGFpu6RYFnPSEakkApCYl0o",
        oauth_signature="F%2F1vzWnTYFQST%2F8b86D6iE88CUYoze3ZIax5%2Bl%2FIoPhaKCVvMVBwM6zAhBe5OADYW%2BXpXmek0l0mVB5iDlGHAS%2FhnrheIG4qKnIjMcwyzOhWz3LzihdbkGTKOmGy5SPth1KIMLxw%2B4JMUT7ycep8QnOIXFdsLjWOIpGqrlEg0Yc%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360771621", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>81dd335b-ee4d-4820-97ec-88beb7065a6b</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-13T16:06:57.5011759Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>14653500-fc93-4bd2-aabf-e23d9a21efca</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Bob Fish</Name>\r\n
        \     <EmailAddress>bob.fish@example.com</EmailAddress>\r\n      <Addresses>\r\n
        \       <Address>\r\n          <AddressType>POBOX</AddressType>\r\n          <AddressLine1>29
        Acacia Road</AddressLine1>\r\n          <City>Dandytown</City>\r\n          <Country>UK</Country>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n          <PhoneNumber>01234 098765</PhoneNumber>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>FAX</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>MOBILE</PhoneType>\r\n
        \       </Phone>\r\n      </Phones>\r\n      <UpdatedDateUTC>2013-02-13T16:06:55.723</UpdatedDateUTC>\r\n
        \     <IsSupplier>false</IsSupplier>\r\n      <IsCustomer>false</IsCustomer>\r\n
        \   </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 13 Feb 2013 16:07:02 GMT
recorded_with: VCR 2.4.0
