---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Bob%20Fish%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="gTceNlTc9qnw5nxYIJaCblPiMXY4CWpDgQer9UAb8",
        oauth_signature="GDQZW%2B%2BgGPsCQqWir1eBZzPK6y%2FgKufT5%2BJc2YuTgcu%2BFF8OTItuOVLprEo350KtZ7rVQJNpG8Ah4pC0VeTCQ7DhlSbydKjlaKqRMCF0jcD0Wl9xyK0XD68lSxpj3kQNXcQa4oN5wAW96SfokE1FqZfkscxm1CX2hVXkkKQwE%2BM%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360768262", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>575f3370-3125-4d5a-9798-f0c5702687a6</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-13T15:10:59.0724819Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 13 Feb 2013 15:11:02 GMT
recorded_with: VCR 2.4.0
