---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="PFBILiUupCNPxiaKgYhAI0H3m2jv2gvg3WsTwtEb5k",
        oauth_signature="ApAoa5zLtuhxABYySdsOOnUup2NOTrKgdRtlke9CqZYdlJY1CElO9SMnx6OMOijKZE5Fa1dhsQd%2FJN2Qh%2FPMnThleIhvoCZam1lgY%2FrEAS0wAfnmuzd%2Byy7NeMwFigpN%2FZY6Vpf%2Bc%2Blobh9nGmNsQDWUNdQZAKIiTytf%2FsmUYT0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703373", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>c0af5602-5574-4b75-bcf0-553e18132800</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:22:54.668026Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:22:54 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22new%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="i7PNs5v4QFgKsH6mHyPqCU7M8O08Cgs1fGi5hos",
        oauth_signature="K936kSXHTCoNant3NzvsHAGFqxyXniWtGtOzUVqPZ37MOKmYRGeH8I2%2BXBZeZ85TTzShjmx9dc5MfhzRUosPwpj%2BRbR%2Fx9BvxIJ1upYWYxaLBe3GwJrmem3tMbk4Sk%2BuyKqLyQZi%2F5Kk07cslGQzj96XGVDd%2BFbG%2FVGVtxgWUE4%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703374", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>89c3e15e-5807-44b9-9eab-a6696eb6ee00</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:22:55.2296368Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:22:54 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3ENew%20Company%20Inc.%3C%2FName%3E%0A%20%20%3CEmailAddress%3Ebob.fish%40example.com%3C%2FEmailAddress%3E%0A%20%20%3CPhones%3E%0A%20%20%20%20%3CPhone%3E%0A%20%20%20%20%20%20%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E%0A%20%20%20%20%3C%2FPhone%3E%0A%20%20%3C%2FPhones%3E%0A%20%20%3CAddresses%3E%0A%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="lnAeywnl6MkzozLTsR9p8Bpy63npXfdAR0rubx9xk",
        oauth_signature="RoEgmLwvPLDqwRks3FCyX6YwFRvz87l0hi2jJPQ5V%2BjwFnD3UDBeqDa%2FDNd%2FSjKXnhc07M7xfW%2FQXAnoKv0W9Ap1aB0bQxdLX5QS2LyOW7xPH5hPs%2FZME0ZDf7bLFEOfUQXoLBOsyLEWAMxRTAxCPeaGcYgXr%2FE5hKLu51aVvFk%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703376", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>febee348-9a52-4265-9302-2cc57511aae1</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:22:57.632083Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>986f0117-da2d-48f0-b41e-9b371c0b4d70</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>New Company Inc.</Name>\r\n
        \     <EmailAddress>bob.fish@example.com</EmailAddress>\r\n      <Addresses>\r\n
        \       <Address>\r\n          <AddressType>POBOX</AddressType>\r\n        </Address>\r\n
        \       <Address>\r\n          <AddressType>STREET</AddressType>\r\n        </Address>\r\n
        \     </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n          <PhoneType>DDI</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>DEFAULT</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>FAX</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>MOBILE</PhoneType>\r\n
        \       </Phone>\r\n      </Phones>\r\n      <UpdatedDateUTC>2013-05-16T11:22:56.01</UpdatedDateUTC>\r\n
        \     <IsSupplier>false</IsSupplier>\r\n      <IsCustomer>false</IsCustomer>\r\n
        \   </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:22:57 GMT
[...]
