---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="FGSYC48MBhMneAr5xTedmcPAomoELr3GXzTwW3Pw",
        oauth_signature="tZnbPF7ZJceF7taintlm%2B8TfEDcfQgYxFZ5zHiZsiZAxzm8NIMnOIeI82u%2Fr%2BMrScVQdHTM7x20oND%2B2n1aQ%2B8rqD7wHT9GJvcJ0Il4zSzdJsmqycmPyjVbR3NTDYtbmhrTuEAwbCMNtdPD%2FuV3BDVIVCGOPpc6LDmE4QynoEcQ%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439972925", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445761-O1VMAP04
      - 445761-O1VMAP04
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>888cb48c-ef02-4e19-89a7-27fbe4c3ab4d</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T08:28:19.161162Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 08:28:46 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22new%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="DVsxUnomGyKpll81PgTSCPCnja1aPhNzFNh8yMzTTHw",
        oauth_signature="cIDzXr3Puve73IJFPMffqNQ5PfjAwylhtPE96bRxb4q6IyE4oU8D38vcW%2F1uAojY2AiDRr%2BsabNnwnLrX6qAQY1Qyy8SmDj25q2HGFPyQtbw0VC25eieTDpu2jLFJyrlGVJYYKj7zUlXGrU0tUWsvOOWHFHXWsdNzKYX5oR%2BM78%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439972926", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445761-O1VMAP04
      - 445761-O1VMAP04
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>e537a795-b9aa-463b-9e6b-5c9bed02e7a7</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T08:28:19.7383879Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 08:28:46 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E<TMUX_PANE>A%20%20%3CName%3ENew%20Company%20Inc.%3C%2FName%3E<TMUX_PANE>A%20%20%3CEmailAddress%3Ebob.fish%40example.com%3C%2FEmailAddress%3E<TMUX_PANE>A%20%20%3CPhones%3E<TMUX_PANE>A%20%20%20%20%3CPhone%3E<TMUX_PANE>A%20%20%20%20%20%20%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E<TMUX_PANE>A%20%20%20%20%3C%2FPhone%3E<TMUX_PANE>A%20%20%3C%2FPhones%3E<TMUX_PANE>A%20%20%3CAddresses%3E<TMUX_PANE>A%20%20%20%20%3CAddress%3E<TMUX_PANE>A%20%20%20%20%20%20%3CAddressType%3EPOBOX%3C%2FAddressType%3E<TMUX_PANE>A%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="Yd9C7ofEaHR8TWyKxue0phDmcL4g0fnv6NHkqRVLCcA",
        oauth_signature="Oaw99yOymNwhW%2FPx2bE3PYuu49tkFXRzu%2FRXHn2KnlRmG4Kt850cD0WTLAqOf6k%2FhYYzOeGH%2BfkBhsy2JirFjtbnITTgym4Eg%2Bai97fqWUGUiKKmVXhIMsW8gIt5oAVOSegyju28bx9UpFQOBu9gcFf8rhm1uD0dK1fNf6ofE0A%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439972928", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445761-O1VMAP04
      - 445761-O1VMAP04
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>fadac28c-6cc2-42e3-ba82-e8e93621ad60</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T08:28:22.0472915Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>2adaa414-059b-4626-bf1a-12cbc71a76cc</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>New Company Inc.</Name>\r\n
        \     <EmailAddress>bob.fish@example.com</EmailAddress>\r\n      <Addresses>\r\n
        \       <Address>\r\n          <AddressType>STREET</AddressType>\r\n        </Address>\r\n
        \       <Address>\r\n          <AddressType>POBOX</AddressType>\r\n        </Address>\r\n
        \     </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n          <PhoneType>DDI</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>DEFAULT</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>FAX</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>MOBILE</PhoneType>\r\n
        \       </Phone>\r\n      </Phones>\r\n      <UpdatedDateUTC>2015-08-19T08:28:20.393</UpdatedDateUTC>\r\n
        \     <IsSupplier>false</IsSupplier>\r\n      <IsCustomer>false</IsCustomer>\r\n
        \     <HasAttachments>false</HasAttachments>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 08:28:49 GMT
[...]
