---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="QwfECTlpeknj4sOpVsTkiGMDGBMSQ7Ikuf8Qxq3s",
        oauth_signature="u8X%2FcxrDJjZd6nHv5OXJhVpNoEYJisu7EDhNu2EFE9wL1vAyllP560VkC3BGgfE113pEcfmGkaRmo3EzUkOezOHrRXgT%2FYjZz5g9jtkdtsOs3Zqp8stuS9xseSepICljC6mZU1fSjJt6HDSGIgQFUtriOGQl3C%2F%2FiPce7aVPbk4%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1446645827", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: ASCII-8BIT
      string: "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>946fefac-1aee-405d-93ce-4f47d5eb8622</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Just the worst</ProviderName>\r\n  <DateTimeUTC>2015-11-04T14:03:47.1418328Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 04 Nov 2015 14:03:48 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22new%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="wvDEM3SEocphodtwZz9gtD0MXYxiTuvt6Ae3zuHII",
        oauth_signature="gGJ7fBx0m0LD2FVBY6XSlMSr3exAjqgOB5NJxjKaoYt0fPZgmOSEhzbUDeI7bbOUvbWVql9rFpyywh3aO%2FMFq1b8wOhX7YdScY0KEDOCgaz0ZJHvNEZgWn4FrgqvygVVY3aTpxUNsxHnTKD0Osg8G5WZ578fevCl%2FLjk%2FasCE9A%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1446645828", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: ASCII-8BIT
      string: "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>092fd811-4d97-48c1-9deb-29a0945e6bce</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Just the worst</ProviderName>\r\n  <DateTimeUTC>2015-11-04T14:03:47.719055Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 04 Nov 2015 14:03:48 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3ENew%20Company%20Inc.%3C%2FName%3E%0A%20%20%3CEmailAddress%3Ebob.fish%40example.com%3C%2FEmailAddress%3E%0A%20%20%3CPhones%3E%0A%20%20%20%20%3CPhone%3E%0A%20%20%20%20%20%20%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E%0A%20%20%20%20%3C%2FPhone%3E%0A%20%20%3C%2FPhones%3E%0A%20%20%3CAddresses%3E%0A%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="YDSoSKnFZf6Qsar8RkETLXZruW9G4sc13VN7JLmhA",
        oauth_signature="GuWQuWXOtIifxs566IEG650RytxgDiSEZyVX7bHgAMc7xpxjItzVcZ2gVMe%2FjBCzbB%2B6OL5l7tnfAHMM3%2F21cai%2FMFrbg%2BBn6%2FxqJIFvCssYzh1O4lk01LUGgIBZ5AQC4%2B7a%2BorwlFUevzb6WFoiaTrPTbabynGpt2l2TefLTXk%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1446645829", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: ASCII-8BIT
      string: "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>ccb41f7b-e42f-4d77-a542-4d8d0bb4264c</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Just the worst</ProviderName>\r\n  <DateTimeUTC>2015-11-04T14:03:49.2947156Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>2a96946b-fd55-4613-bcb7-8e4917a6c7de</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>New Company Inc.</Name>\r\n
        \     <EmailAddress>bob.fish@example.com</EmailAddress>\r\n      <Addresses>\r\n
        \       <Address>\r\n          <AddressType>POBOX</AddressType>\r\n        </Address>\r\n
        \       <Address>\r\n          <AddressType>STREET</AddressType>\r\n        </Address>\r\n
        \     </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n          <PhoneType>DDI</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>DEFAULT</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>FAX</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>MOBILE</PhoneType>\r\n
        \       </Phone>\r\n      </Phones>\r\n      <UpdatedDateUTC>2015-11-04T14:03:48.217</UpdatedDateUTC>\r\n
        \     <IsSupplier>false</IsSupplier>\r\n      <IsCustomer>false</IsCustomer>\r\n
        \     <HasAttachments>false</HasAttachments>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 04 Nov 2015 14:03:50 GMT
[...]
