---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="cpPzSvEkKvjIbwF6BqlnCF3yhFOPk0gCFYLPJVxaUs",
        oauth_signature="IogUZqWrOIQ2g1Z39kCV%2FkLqld54dUAQR5sshK0vyiEQbhr%2FQRbtcVawP3LeBk0e0qWo5%2B5LRcnmm5ozJEWweQWDJevRiUvrHxtHf8MTiswFWQj2JHQ87SIz2ctOpr6dKRu%2BBIbPXyqrUHPu%2FTiUhp6DlrlcjXNGb7sFfeu9MiM%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1407406845", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>5258b71d-8039-47f5-910f-c5e2c521a897</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Beardstroke</ProviderName>\r\n  <DateTimeUTC>2014-08-07T10:20:45.0746896Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 07 Aug 2014 10:20:47 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22new%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="w1enZI72Wfw1L7LBGnP0YMgUcbmOGcoiiM4ewQeBhnE",
        oauth_signature="B%2FvoVzdVJSN8eFT6gXlRRJGytFnzAajkR%2FTXfvPGUl7sT9WSMWtPwSnVDYMzHpYMPZb%2FfRuMegKIdgvFBtiBaDKoErVkijEpG%2B98WBn5VHyH5%2BsX5rHjtZw08WXeasCcxlKb10q5FAx6NWj5V7yfuo2tVlXbiJNvOtlY2pxmWJc%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1407406847", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>36cfa31c-967e-4284-af24-d85ec3392743</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Beardstroke</ProviderName>\r\n  <DateTimeUTC>2014-08-07T10:20:47.0247271Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 07 Aug 2014 10:20:49 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3ENew%20Company%20Inc.%3C%2FName%3E%0A%20%20%3CEmailAddress%3Ebob.fish%40example.com%3C%2FEmailAddress%3E%0A%20%20%3CPhones%3E%0A%20%20%20%20%3CPhone%3E%0A%20%20%20%20%20%20%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E%0A%20%20%20%20%3C%2FPhone%3E%0A%20%20%3C%2FPhones%3E%0A%20%20%3CAddresses%3E%0A%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="j6QkZ4qgWWfBq2DeIHdyc90H48TMZD45feARTsmlg",
        oauth_signature="SBRejnhN6D%2Flc%2BvbZNwXedX%2FQV4mX861MJX4gKTzrs1KVJyplg5w4GSyRfdllBP5%2F5ZvPSSEni0qGL6LtB73AeRPLFHWuO5rVI8q11M0e4MpiqvRorK%2BNWsqTBK4aV%2FSzA180nda0zXVA%2BlhNYBnIyELBCXqYwbF68L1N45WnxE%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1407406855", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>8c006f71-7f31-46b9-bc10-e9d85b5aec72</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Beardstroke</ProviderName>\r\n  <DateTimeUTC>2014-08-07T10:20:57.4925284Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>edb8c134-fe0b-4c03-97be-b2da042beeeb</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>New Company Inc.</Name>\r\n
        \     <EmailAddress>bob.fish@example.com</EmailAddress>\r\n      <Addresses>\r\n
        \       <Address>\r\n          <AddressType>STREET</AddressType>\r\n        </Address>\r\n
        \       <Address>\r\n          <AddressType>POBOX</AddressType>\r\n        </Address>\r\n
        \     </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n          <PhoneType>DDI</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>DEFAULT</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>FAX</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>MOBILE</PhoneType>\r\n
        \       </Phone>\r\n      </Phones>\r\n      <UpdatedDateUTC>2014-08-07T10:20:49.317</UpdatedDateUTC>\r\n
        \     <IsSupplier>false</IsSupplier>\r\n      <IsCustomer>false</IsCustomer>\r\n
        \     <HasAttachments>false</HasAttachments>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Thu, 07 Aug 2014 10:21:00 GMT
[...]
