---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="VDpEtMGlqCAG0HdKdqdZAy6PbM12Nma2xLxRPP1GoM",
        oauth_signature="YxBP9nFMhMfL%2FwOP%2BCOkmTdUX4Zw7tQ%2B7ZnWcKkB5pxIsk7xI5ZhSSLuhyTEUAjQoUf3a0M4ZiTsjIa0ZGb1ubnoNFzA%2F8JRc8R2cHDEAZ7H1WySCqDIbne%2B3DzUFD2gFWcUfWfLtWZ4aV3DJvOMrFIV9DSP%2BVOeJmA2%2Fj0usoI%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1362058438", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>70ec6737-2f14-429d-8923-a3795277ddb2</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-28T13:33:53.0011138Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 28 Feb 2013 13:33:59 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="8IAkip0C6TW7yQu82CcvA1yBOzzpoPrHz6PIgunI",
        oauth_signature="HN1tyyrwMc%2FFn1c13REjfCNm%2BSMtiq28GH2IKcKshvbPXkz9gYPDk6VCtj5GLax36dcetbrZj1waQBYFH36JFPXcc9KwtjnXVlmV86VvcL2obyUTHTgbY6OHZQPA%2BJcwz9jNg7xWKeLSQid%2F28VHmnohPNKIrivJIkeW3lntsr4%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1362058441", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>355214ec-c8c3-4aa8-b1f5-d74fc4a2720e</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-28T13:33:56.0119138Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>81823777-f009-424d-9b59-645c3184716b</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>New Company Inc.</Name>\r\n
        \     <EmailAddress>bob.fish@example.com</EmailAddress>\r\n      <Addresses>\r\n
        \       <Address>\r\n          <AddressType>POBOX</AddressType>\r\n        </Address>\r\n
        \       <Address>\r\n          <AddressType>STREET</AddressType>\r\n        </Address>\r\n
        \     </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n          <PhoneType>DDI</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>DEFAULT</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>FAX</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>MOBILE</PhoneType>\r\n
        \       </Phone>\r\n      </Phones>\r\n      <UpdatedDateUTC>2013-02-28T13:33:54.39</UpdatedDateUTC>\r\n
        \     <IsSupplier>false</IsSupplier>\r\n      <IsCustomer>false</IsCustomer>\r\n
        \   </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Thu, 28 Feb 2013 13:34:02 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%2B==%2B%22New%2BCompany%2BInc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="2Xuxlhr9nasZuHp9zKjo5MgApYWy3eD06ujvJw1zIqE",
        oauth_signature="d5HiuWjqTajyohjDidev1agzbizhJzYGRWoZrHw2KVNYMYqaJQ52S420GjeupmRUFVMueyfoYaIoTGAjSH%2Fa7E5yvQwoP2l1jvDxqDLzID9Vkx%2FDyKOCbWxE7kuTOU4RWDoKDdZUpk2xXILT%2FKCt2ez21DhXqSsGYM%2BlxLVImHM%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1362149926", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>5de37fe8-138a-4b4b-9a6f-7242c3329a04</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-03-01T14:58:42.0470288Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Fri, 01 Mar 2013 14:58:47 GMT
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3ENew%20Company%20Inc.%3C%2FName%3E%0A%20%20%3CEmailAddress%3Ebob.fish%40example.com%3C%2FEmailAddress%3E%0A%20%20%3CPhones%3E%0A%20%20%20%20%3CPhone%3E%0A%20%20%20%20%20%20%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E%0A%20%20%20%20%3C%2FPhone%3E%0A%20%20%3C%2FPhones%3E%0A%20%20%3CAddresses%3E%0A%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20[...]
[...]
