---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Bob%20Fish%20(bob.fish@example.com)%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="vZYD8M7qsraVcscYWfDcYMrbhADcZQgVuBJnKUP5k",
        oauth_signature="mznM7HOFPjPNkHcfKNNfF7rTcb4YHvu%2B4V0BwzgTx4WvxE0SS7L2i7jJZWVyZnxlwjVkxRVgrX0i7C6vjuAqY7CwaYKo%2Bd4frGnXSuTL9wOqO71D5pzMXU%2FAQ0IrkbRf1fo9OW%2BaoMQQjace1Lc7ALfcasdNuDJEMQOcLFDTZdA%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376576417", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>3a0b65c6-2406-4d17-b63f-612802f8258b</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-15T14:20:17.5203191Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 15 Aug 2013 14:20:17 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22bob%20fish%20(bob.fish@example.com)%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="rsN2Li6gcT03mmHvfefw5dBtH5T0STymX3KsjC9l9Q",
        oauth_signature="eprM%2FPMSapwL2Ql557Iq33%2BaHH8g7Lt%2FQDk%2Fn8%2BbIk12CMCy3ga7FxocAWYVbBNSRi72CeE9ja5PR0sA95LbiknMdT6fVwVwb2rd3KnE%2Bl69nOjW%2Bqh5iNjc60d05FLkQ8udOzRwOn5IXO8WgLMudQS3rdJxWgFA61KbJyng%2FVI%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376576417", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>9ed1e0cc-2f58-4676-92f0-f84fe239534d</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-15T14:20:18.1287191Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 15 Aug 2013 14:20:18 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EBob%20Fish%20%28bob.fish%40example.com%29%3C%2FName%3E%0A%20%20%3CEmailAddress%3Ebob.fish%40example.com%3C%2FEmailAddress%3E%0A%20%20%3CPhones%3E%0A%20%20%20%20%3CPhone%3E%0A%20%20%20%20%20%20%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E%0A%20%20%20%20%3C%2FPhone%3E%0A%20%20%3C%2FPhones%3E%0A%20%20%3CAddresses%3E%0A%20%20%20%20%3CAddress%3E[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Bob%20Fish%20(bob.fish@example.com)%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="gw9TQNOIz8TlN7v1DQAUItwoZ33DOvAA0ktnfmE",
        oauth_signature="QS%2B6DPQUOGefdh%2BvpqnLP72oq1irF1NKMraw26pE24AKVoU%2FOyZ8W%2FxhyigXkPgz7QLr5vVGezWc0jWxpc%2BNxZ5vC5256PzpL139U1NI1q6en7K9u3hTyDERLvw8TXHMaRAdmnDiCTei0OdsQlYP47V3dsY4QhwGa%2Fc06IhB%2FzQ%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376576420", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>7a49e258-d965-4905-a97f-6b8502f23a33</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-15T14:20:20.6091191Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>57698d16-d127-475a-bfb7-d29735865a51</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Bob Fish (bob.fish@example.com)</Name>\r\n
        \     <EmailAddress>bob.fish@example.com</EmailAddress>\r\n      <Addresses>\r\n
        \       <Address>\r\n          <AddressType>STREET</AddressType>\r\n        </Address>\r\n
        \       <Address>\r\n          <AddressType>POBOX</AddressType>\r\n        </Address>\r\n
        \     </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n          <PhoneType>DDI</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>DEFAULT</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>FAX</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>MOBILE</PhoneType>\r\n
        \       </Phone>\r\n      </Phones>\r\n      <UpdatedDateUTC>2013-08-15T14:20:18.923</UpdatedDateUTC>\r\n
        \     <IsSupplier>false</IsSupplier>\r\n      <IsCustomer>false</IsCustomer>\r\n
        \   </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Thu, 15 Aug 2013 14:20:21 GMT
[...]
