---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Bob%20Fish%20%3Cbob.fish@example.com%3E%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="HCA2lm0npEx7ry8VXK8BC9pJMWZQy8UbJ4zUfUEQZE0",
        oauth_signature="mb4jJ9u9mGAe59mXhyc8eMTiBsgjnrAH2lA2TVBsBnlRC3U5KQI6huIhUxHwQJam9FGxYFegyJHuwkWliKz8sCuSudVHC1Dnq%2B%2F2mZO695VMpWNllU1capsothGyT0DFgtIzznIH9ZK6R1%2F4qOs%2F6avfGYimPKlrRBbKhJ964VU%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360878088", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>e0c7dd92-64a0-4287-a272-fd3257e7af4a</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-14T21:41:24.9352948Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 14 Feb 2013 21:41:29 GMT
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EBob%20Fish%20%26lt%3Bbob.fish%40example.com%26gt%3B%3C%2FName%3E%0A%20%20%3CEmailAddress%3Ebob.fish%40example.com%3C%2FEmailAddress%3E%0A%20%20%3CPhones%3E%0A%20%20%20%20%3CPhone%3E%0A%20%20%20%20%20%20%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E%0A%20%20%20%20%3C%2FPhone%3E%0A%20%20%3C%2FPhones%3E%0A%20%20%3CAddresses%3E%0A%20%20%20%20%3C[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Bob%20Fish%20%3Cbob.fish@example.com%3E%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="FNqdO6a8CjcHpnau9eA2uLnT0vHVPmTdosVFRkRM",
        oauth_signature="IcPs%2FBxgr%2B8IejkGSUQ4gTv0zxPVI%2FpPPBCPa65g0FDRx4Siz1vElswG673d%2ByOp1ZL%2FQ8bQWx3OcDTiaJsGGaoM9WOCepcm%2FMd92vzmdtrHPvX8XzTnWGer%2FZ63osfmP4RMIUHzVxMRGbBmF3API7bJ0FWhWvWJLYvkj8NzS7k%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360878094", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>41a2afda-b274-4c76-996a-eec30aa43210</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-14T21:41:31.1598145Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>6b57a38e-0405-4c8d-82b1-f76a302b8b55</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Bob Fish &lt;bob.fish@example.com&gt;</Name>\r\n
        \     <EmailAddress>bob.fish@example.com</EmailAddress>\r\n      <Addresses>\r\n
        \       <Address>\r\n          <AddressType>STREET</AddressType>\r\n        </Address>\r\n
        \       <Address>\r\n          <AddressType>POBOX</AddressType>\r\n        </Address>\r\n
        \     </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n          <PhoneType>DDI</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>DEFAULT</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>FAX</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>MOBILE</PhoneType>\r\n
        \       </Phone>\r\n      </Phones>\r\n      <UpdatedDateUTC>2013-02-14T21:41:27.65</UpdatedDateUTC>\r\n
        \     <IsSupplier>false</IsSupplier>\r\n      <IsCustomer>false</IsCustomer>\r\n
        \   </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Thu, 14 Feb 2013 21:41:35 GMT
[...]
