---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Bob%20Fish%20(bob.fish@example.com)%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="LLwJmYQgn8wwZpkWDU4gzVEh65KT8Fj1vcZcFVRFVy8",
        oauth_signature="ITrPXSAf%2F9gBB%2BdnYhAtieU4FE1LATqmgV17L2bwB8gQ4kW9injJDsJ8yc%2Bg6VPKwm3zP01I39cFRBxz%2B21hruVvrcqrxdvAR5Y3U5JnbzpYNnQOTEX5k3gO5RdYYvHj78gmHPZzN3WEx%2FQg9V9cW%2BFPhSIVmtPAo6fOscyyEJU%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1446645824", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: ASCII-8BIT
      string: "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>5d960bdd-5b5e-42c6-8316-2469f16224a5</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Just the worst</ProviderName>\r\n  <DateTimeUTC>2015-11-04T14:03:44.098376Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 04 Nov 2015 14:03:44 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22bob%20fish%20(bob.fish@example.com)%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="BJN0LKFK4AN0ecm97O1ET9mwGtz6ctF9gn54Rvuc3w",
        oauth_signature="Hy4ChZJ0uTV1lNcxjvt%2B53TpFKM47yeQd5tMGoztEpR61%2BpVouTbGJAFpQ2e2WK7n57nNos%2BvK7WipizmqqCagDTOKbJW3NzjeHp3lhQl85HDBwSXZ%2BhZJGaXTplvD9XeoFDFupQQcIopuNtKTb0r8IchQGTEAK0IILmpHAJznU%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1446645824", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: ASCII-8BIT
      string: "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>7d164c24-6789-4222-9083-8c7028d914e4</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Just the worst</ProviderName>\r\n  <DateTimeUTC>2015-11-04T14:03:44.6131925Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 04 Nov 2015 14:03:45 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EBob%20Fish%20%28bob.fish%40example.com%29%3C%2FName%3E%0A%20%20%3CEmailAddress%3Ebob.fish%40example.com%3C%2FEmailAddress%3E%0A%20%20%3CPhones%3E%0A%20%20%20%20%3CPhone%3E%0A%20%20%20%20%20%20%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E%0A%20%20%20%20%3C%2FPhone%3E%0A%20%20%3C%2FPhones%3E%0A%20%20%3CAddresses%3E%0A%20%20%20%20%3CAddress%3E[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Bob%20Fish%20(bob.fish@example.com)%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="G36yWKn0qSDjx9pSsoNXGJLdqZnbjWpaUAEsdlqqLDw",
        oauth_signature="Y41rMSjsTchsW%2BNmB7tFte9MBBcPRTRooFrhObNvQtr0aOiFSTwad%2Bmz9axqxX%2Bp%2BRh%2Fd0950nXibFJ7BP2nLTpi5ERZeCW1sEcZOjWreeWRTjHx3Lu6F0bT%2BdA%2BynapPrrFwOm%2B6W0OJL2TsMhclDinMMNDSH0xgLO3SgCYVhE%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1446645826", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: ASCII-8BIT
      string: "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>92ac3e3c-fa09-462a-9bea-bffa343eed2b</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Just the worst</ProviderName>\r\n  <DateTimeUTC>2015-11-04T14:03:46.3292475Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>67b345c6-5874-4159-b2fe-b60cd048cdc5</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Bob Fish (bob.fish@example.com)</Name>\r\n
        \     <EmailAddress>bob.fish@example.com</EmailAddress>\r\n      <Addresses>\r\n
        \       <Address>\r\n          <AddressType>STREET</AddressType>\r\n        </Address>\r\n
        \       <Address>\r\n          <AddressType>POBOX</AddressType>\r\n        </Address>\r\n
        \     </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n          <PhoneType>DDI</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>DEFAULT</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>FAX</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>MOBILE</PhoneType>\r\n
        \       </Phone>\r\n      </Phones>\r\n      <UpdatedDateUTC>2015-11-04T14:03:45.127</UpdatedDateUTC>\r\n
        \     <IsSupplier>false</IsSupplier>\r\n      <IsCustomer>false</IsCustomer>\r\n
        \     <HasAttachments>false</HasAttachments>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 04 Nov 2015 14:03:46 GMT
[...]
