---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Bob%20Fish%20(bob.fish@example.com)%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="olVZTDuSavjyXFNBUZycVLfidfEIvIoTknV2DoxNxU",
        oauth_signature="k%2Bgu8KjXeo3F%2BFKzP6P7miMoPXwY4AQYINl1c7WeCLlFOdvUW6mZpvO0iBqXDdIZ%2F0tSFfJ5JsxCzcncLcP6z29nbGGehQ34iTB8ElJcCr0WEFVM56hW8YrCulX7eGHZqk9AZNSH16tZnOJ6heyrd9PsdANy54f7mN%2FyO%2BNMv1w%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439972921", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445761-O1VMAP04
      - 445761-O1VMAP04
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>72606818-2e32-49e7-bb5d-8ceb8d7dc104</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T08:28:14.9021709Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 08:28:42 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22bob%20fish%20(bob.fish@example.com)%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="7B1mCXuY86QQSDkiinQrWciCE7lCR0yAsjyLluGcQ",
        oauth_signature="eeFGTTs1992F9Yo15%2FJL6yvdXYMqxDeJfr0qMg%2BVuAJP6II1AoPZN5HZg2%2BiDGdLWBOH255M4NUikM0U7J5j8USbvf7%2BZnnlNupzBrkDsXZW%2BAMqL%2BhCwcSKR3xUO%2BmqtqQVIbXk5qq4IARgCQZb%2BwNJR%2F0%2Bbz%2FB9rpMulRnH9o%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439972922", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445761-O1VMAP04
      - 445761-O1VMAP04
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>9eb12ab5-bb22-442a-9559-6d70ca52ad5e</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T08:28:15.4793968Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 08:28:42 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E<TMUX_PANE>A%20%20%3CName%3EBob%20Fish%20%28bob.fish%40example.com%29%3C%2FName%3E<TMUX_PANE>A%20%20%3CEmailAddress%3Ebob.fish%40example.com%3C%2FEmailAddress%3E<TMUX_PANE>A%20%20%3CPhones%3E<TMUX_PANE>A%20%20%20%20%3CPhone%3E<TMUX_PANE>A%20%20%20%20%20%20%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E<TMUX_PANE>A%20%20%20%20%3C%2FPhone%3E<TMUX_PANE>A%20%20%3C%2FPhones%3E<TMUX_PANE>A%20%20%3CAddresses%3E<TMUX_PANE>A%20%20%20%20%3CAddress%3E<TMUX_PANE>A%20%20%20%20%20%20%3CAddressType%3EPOBOX%3C%2FAddressType%3E<T[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Bob%20Fish%20(bob.fish@example.com)%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="7sERGYIsgEnEWicwRcXbxac26T6NumUJD1C4WrY",
        oauth_signature="PeaKlY2AaG4OXLQbDIRrhvTCiTpwGo5AobCs7qYKW8Y8UHasiCI7gG1qrafA9FW434jfPUdQcJUEUH6sGcslOe2SQ0ocCRz501qBO0lL%2FdZqK3F28GmABBuM8sF0PNPsphOpI0uyJtrNLdsQaEWqLRr6xN6b5ngzu5Hbk%2FYCwn4%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439972924", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445761-O1VMAP04
      - 445761-O1VMAP04
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>8aa1e4a1-bfd8-4de1-b5af-43d6749432fc</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T08:28:17.7726997Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>c7570e5a-cae3-47e5-9dc6-14e6449c7d5c</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Bob Fish (bob.fish@example.com)</Name>\r\n
        \     <EmailAddress>bob.fish@example.com</EmailAddress>\r\n      <Addresses>\r\n
        \       <Address>\r\n          <AddressType>POBOX</AddressType>\r\n        </Address>\r\n
        \       <Address>\r\n          <AddressType>STREET</AddressType>\r\n        </Address>\r\n
        \     </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n          <PhoneType>DDI</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>DEFAULT</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>FAX</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>MOBILE</PhoneType>\r\n
        \       </Phone>\r\n      </Phones>\r\n      <UpdatedDateUTC>2015-08-19T08:28:16.213</UpdatedDateUTC>\r\n
        \     <IsSupplier>false</IsSupplier>\r\n      <IsCustomer>false</IsCustomer>\r\n
        \     <HasAttachments>false</HasAttachments>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 08:28:44 GMT
[...]
