---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Bob%20Fish%20%3Cbob.fish@example.com%3E%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="L0zYCMBx24lldb7wqPxWppYMK4uhwloUbtzFaTiZCvI",
        oauth_signature="gQ2qxwNna9eGK7DWbszXCj0wtMFXrjnoY9Lk77v5sJMWB2%2Fe%2F%2FqWGMLutcBOEyDYcBqBGv3h2pPvJYaC%2BwALCJIE6Olg85Ty1DaZOY%2FkEPz5bcr126IsHcvOBEyHIXiBCK9mCDQKFs94zgvaDC8UJNTYejbc12BEyIZyEPuCaBE%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1362058433", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>704cd0a1-a529-4b89-981e-f32cd5ec2cc5</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-28T13:33:48.2431138Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 28 Feb 2013 13:33:54 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Bob%20Fish%20%3Cbob.fish@example.com%3E%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="AKPEqMquL60mAqM2SkQUk3VEg2QYZowEcsiA3Oumvw",
        oauth_signature="b%2FnSKDO77FotVhdDQs9qBmR4f%2FlnrT4G31E8TOnoWD8fUvr8GtUU6BMMpjLcFzpDBefsvFZ4NK%2FMU%2Fkq%2FSUP3Zx2YqYWUeFsv4IRzyDXnLpyK7omf77o2RiDwtmpzsyyGSL24pAE5TIP7EdEGFenJ4HIHXtL5uH39441Hdo2MiU%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1362058436", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>d1803be7-17a9-4dc7-a887-c180bc69efc2</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-28T13:33:51.2851138Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>5115a8d2-6043-49bf-bcec-1bc39850d26f</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Bob Fish &lt;bob.fish@example.com&gt;</Name>\r\n
        \     <EmailAddress>bob.fish@example.com</EmailAddress>\r\n      <Addresses>\r\n
        \       <Address>\r\n          <AddressType>POBOX</AddressType>\r\n        </Address>\r\n
        \       <Address>\r\n          <AddressType>STREET</AddressType>\r\n        </Address>\r\n
        \     </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n          <PhoneType>DDI</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>DEFAULT</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>FAX</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>MOBILE</PhoneType>\r\n
        \       </Phone>\r\n      </Phones>\r\n      <UpdatedDateUTC>2013-02-28T13:33:49.63</UpdatedDateUTC>\r\n
        \     <IsSupplier>false</IsSupplier>\r\n      <IsCustomer>false</IsCustomer>\r\n
        \   </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Thu, 28 Feb 2013 13:33:57 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%2B==%2B%22Bob%2BFish%2B%3Cbob.fish@example.com%3E%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="1lqpDO3bXXXoera7aIX6CZgwflcfPcyyovgRYy3xbWc",
        oauth_signature="ZpbtakK%2FTT%2BJArqhmiKHyP1rqYiZeQF4iwMNVhPNwrn%2BG7N8wUr1Ee0MmsVtLToUiXYX1Y76P2cEI7J%2FHxzUM2Od5beMZYYNZZq8kI9E7GcASSNGRcI%2BSvtU8X3TrP83EvgV6%2BmHBXBjrIhir8XJ6TPVDVUdM5GjuwIZlrefJXA%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1362149920", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>4146b1ad-2a23-408f-bdec-ec6f77d6ccde</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-03-01T14:58:35.9629118Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Fri, 01 Mar 2013 14:58:41 GMT
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EBob%20Fish%20%26lt%3Bbob.fish%40example.com%26gt%3B%3C%2FName%3E%0A%20%20%3CEmailAddress%3Ebob.fish%40example.com%3C%2FEmailAddress%3E%0A%20%20%3CPhones%3E%0A%20%20%20%20%3CPhone%3E%0A%20%20%20%20%20%20%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E%0A%20%20%20%20%3C%2FPhone%3E%0A%20%20%3C%2FPhones%3E%0A%20%20%3CAddresses%3E%0A%20%20%20%20%3C[...]
[...]
