---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Bob%20Fish%20%3Cbob.fish@example.com%3E%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="BeHWuQlsSYcfPQCIyyGOxsYnOuNgY2z4qkwRLdgjo",
        oauth_signature="Mc6o3FOvESrrqsGRO0rLG2x07%2FmG3d4fKsf9wt4MRUhatjQXf6K8%2Bd90grGLuwOVrBQLk0iBjzJkfxvVNXllqIM97r7b%2FVEXm7zR0L7godRX4NN7JiEluhLhHc8%2BDOXFQdF6w0IyT9FLStMnv6OW4Vt%2B3Bo409%2BrYhOmapkRz7M%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703368", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>54bff275-4203-4ce2-8900-124c3d7c4695</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:22:49.8787339Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:22:49 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22bob%20fish%20%3Cbob.fish@example.com%3E%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="IJ6SbtLGrNEd77p8u3bfiSpgjsFwuRY7AmdlyA3AFI",
        oauth_signature="Q0X5OQ6WH2AaHnQFyXaHEdZNtofE5WPvBpGf2cGvRmp1s7nUfVGOAZDC7opPLu55GG9P9i3gmnSt0PTeRD%2Bb7VW%2BBFuOg5keFr28CLAVFaz3fiELZBLdXvlsoT3frkdjVcMY1AG%2BDHtFXk5duuY%2BxminEx1q2RB4mGEQGRVELYw%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703369", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>c8f8b1b6-b7a1-42b0-baee-6d8c5b4745fc</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:22:50.455945Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:22:50 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EBob%20Fish%20%26lt%3Bbob.fish%40example.com%26gt%3B%3C%2FName%3E%0A%20%20%3CEmailAddress%3Ebob.fish%40example.com%3C%2FEmailAddress%3E%0A%20%20%3CPhones%3E%0A%20%20%20%20%3CPhone%3E%0A%20%20%20%20%20%20%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E%0A%20%20%20%20%3C%2FPhone%3E%0A%20%20%3C%2FPhones%3E%0A%20%20%3CAddresses%3E%0A%20%20%20%20%3C[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Bob%20Fish%20%3Cbob.fish@example.com%3E%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="7HHbmzW57Hkm2mYKUXyN1FZcBCmNXeSycT0ngngxFtg",
        oauth_signature="ZhL0Vw0nDtTVnmNLffWEllNDC4r7t2Eb8OgG5ABywph6KkLFiGCzpEKVW7x6Qcw0Y2dycS6v0Lv4yEdZT3iv%2BO3sGPR%2FQzmcF4Kj2HreMpO0k8csSPPF%2FVRkfZ7Cvg6oOBVWL%2BzFSnZQgOXAqmg0dqpSgZgb9v11j83LLS2Xxr8%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703372", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>5eaa4de9-868b-4ec2-8907-759779457636</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:22:53.0455948Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>fdc0f58d-a4c1-4047-9ba1-4b3f1de2f21b</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Bob Fish &lt;bob.fish@example.com&gt;</Name>\r\n
        \     <EmailAddress>bob.fish@example.com</EmailAddress>\r\n      <Addresses>\r\n
        \       <Address>\r\n          <AddressType>POBOX</AddressType>\r\n        </Address>\r\n
        \       <Address>\r\n          <AddressType>STREET</AddressType>\r\n        </Address>\r\n
        \     </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n          <PhoneType>DDI</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>DEFAULT</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>FAX</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>MOBILE</PhoneType>\r\n
        \       </Phone>\r\n      </Phones>\r\n      <UpdatedDateUTC>2013-05-16T11:22:51.423</UpdatedDateUTC>\r\n
        \     <IsSupplier>false</IsSupplier>\r\n      <IsCustomer>false</IsCustomer>\r\n
        \   </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:22:52 GMT
[...]
