---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Bob%20Fish%20(bob.fish@example.com)%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="N54GktgiFUsVvciiCLyU8NmoUvccxKFziQgrjCzfY",
        oauth_signature="f1mO%2FlN3x14QTkFLCjBayC1BPJu1QWuRWbbv6SGb8Asv58rgJQcSh7dYOEdZakuA6SQQoWrJFVYjXB1KjI18gXtHWSB9SQNOGDfrkP%2FA9Bye7Lcwrcmp0l0L6LVlKpy0rn8b8YrAtLc6hY1v1sjwlrIzcqgwS4bbzIQE73ADmoc%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1407406829", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>a49c711d-c667-4656-bfff-ba7e9018d9c9</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Beardstroke</ProviderName>\r\n  <DateTimeUTC>2014-08-07T10:20:29.6927938Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 07 Aug 2014 10:20:32 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22bob%20fish%20(bob.fish@example.com)%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="P6GCm40llcGPtw9BF8eFDm3P4EN7uKQX04zoYpy4",
        oauth_signature="GvB5kYSbySlho7gBH9uMkHnvYqKQfi%2F%2FaorxGdfmKZBDhPpkEancA18wrRjm%2BNPkPqj9WKhdr2u6A4bTHIvdjN8YLZv%2Bx5ROdhTy2kEELaKHek4jSvGfJ%2BUK06bWoxfAwv2EUx1YSbc8RNOjoxjkR7oJUKG7GXZVUgKBgTFuMHc%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1407406832", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>a55ffe8f-0186-45bc-b8f1-e3cc34d3dd75</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Beardstroke</ProviderName>\r\n  <DateTimeUTC>2014-08-07T10:20:32.0016382Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 07 Aug 2014 10:20:34 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EBob%20Fish%20%28bob.fish%40example.com%29%3C%2FName%3E%0A%20%20%3CEmailAddress%3Ebob.fish%40example.com%3C%2FEmailAddress%3E%0A%20%20%3CPhones%3E%0A%20%20%20%20%3CPhone%3E%0A%20%20%20%20%20%20%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E%0A%20%20%20%20%3C%2FPhone%3E%0A%20%20%3C%2FPhones%3E%0A%20%20%3CAddresses%3E%0A%20%20%20%20%3CAddress%3E[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Bob%20Fish%20(bob.fish@example.com)%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="fgblqh7gCRKnOaUacjYahX7tFLsAsA49BXw51fjwGfI",
        oauth_signature="gdNFhTOYAf7b%2Fjl1zrSWaiYK0naWLIEsUlvGwR3du9vJbz9UEd%2FWrU3t3mW7JHI6ONx54MauF3fGvn8weTM7boF4x%2FC7vWF4WMoAqmWr9v0rkB%2BOECklMmf2eqd00Dd1AiM0KKP%2FXXIISxlwSGS%2FNwE0VnlASkWTDynceuLLJFU%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1407406840", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>5b2d8b0e-c245-448c-b511-89215f2f6e45</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Beardstroke</ProviderName>\r\n  <DateTimeUTC>2014-08-07T10:20:40.0045921Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>fd82b9cc-c37b-4fc2-a963-847f9f8feeec</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Bob Fish (bob.fish@example.com)</Name>\r\n
        \     <EmailAddress>bob.fish@example.com</EmailAddress>\r\n      <Addresses>\r\n
        \       <Address>\r\n          <AddressType>STREET</AddressType>\r\n        </Address>\r\n
        \       <Address>\r\n          <AddressType>POBOX</AddressType>\r\n        </Address>\r\n
        \     </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n          <PhoneType>DDI</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>DEFAULT</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>FAX</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>MOBILE</PhoneType>\r\n
        \       </Phone>\r\n      </Phones>\r\n      <UpdatedDateUTC>2014-08-07T10:20:34.467</UpdatedDateUTC>\r\n
        \     <IsSupplier>false</IsSupplier>\r\n      <IsCustomer>false</IsCustomer>\r\n
        \     <HasAttachments>false</HasAttachments>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Thu, 07 Aug 2014 10:20:42 GMT
[...]
