---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Bob%20Fish%20%3Cbob.fish@example.com%3E%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="Kya27LrU8apGlZW8xvU4iRTV3L5RVZyEDVzvTgpfGM",
        oauth_signature="SZzWPZ6eS9AGpcNjac6V%2Ffu2THIzsYOI4EjcjZo2i9V2jVkxYlu2Z0aBdMona8criPDC8BlH6a7cQ5ng0OClkRsVHu7rNgvd0%2BiLqsVkS3ZVETBWayIYP19E29qRbnv3XIfPhhVH%2BJRcRyo4WrDG816A5KJGCDcyxTnTuAFz4wg%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360878123", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>50222417-692b-4f20-9b06-4a3688198602</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-14T21:41:59.9579683Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 14 Feb 2013 21:42:04 GMT
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EBob%20Fish%20%26lt%3Bbob.fish%40example.com%26gt%3B%3C%2FName%3E%0A%20%20%3CEmailAddress%3Ebob.fish%40example.com%3C%2FEmailAddress%3E%0A%20%20%3CPhones%3E%0A%20%20%20%20%3CPhone%3E%0A%20%20%20%20%20%20%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E%0A%20%20%20%20%20%20%3CPhoneNumber%3E01234%20098765%3C%2FPhoneNumber%3E%0A%20%20%20%20%3C%2FPh[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Bob%20Fish%20%3Cbob.fish@example.com%3E%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="hCUP8tHbKmpZ3J9KkDOtJD8kADtGLnTd4oIbagVek8",
        oauth_signature="J%2F%2F4FMY8DzKnPJh48Px6p4bJDdsBv14khLjB%2BCw%2Fn3U31kaofx9mxD9drupftUUcpWtqUV0V9A9MNirBRe0IxgxzFZbfq3LIqsqBRAzTw7EdlHmwN6R1wgRFDwLboAEh1B5UUBPbkSV%2B0%2Bcnx0j3YCZkKQL%2BdkEewWYk%2FjcvJgM%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360878127", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>63b487ec-1aae-40c8-af9f-bcbf19440524</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-14T21:42:03.9828457Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>38b121cc-d42b-42f8-9c81-c8dfa2472755</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Bob Fish &lt;bob.fish@example.com&gt;</Name>\r\n
        \     <EmailAddress>bob.fish@example.com</EmailAddress>\r\n      <Addresses>\r\n
        \       <Address>\r\n          <AddressType>POBOX</AddressType>\r\n          <AddressLine1>29
        Acacia Road</AddressLine1>\r\n          <City>Dandytown</City>\r\n          <Country>UK</Country>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n          <PhoneNumber>01234 098765</PhoneNumber>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>FAX</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>MOBILE</PhoneType>\r\n
        \       </Phone>\r\n      </Phones>\r\n      <UpdatedDateUTC>2013-02-14T21:42:01.907</UpdatedDateUTC>\r\n
        \     <IsSupplier>false</IsSupplier>\r\n      <IsCustomer>false</IsCustomer>\r\n
        \   </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Thu, 14 Feb 2013 21:42:08 GMT
[...]
