---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="Lgjx6gzvu9SWSoUeFAqBjLOhBz6JsGVxvGBYKNG0",
        oauth_signature="A9AZ01GWEaPtcpIyr%2BAi8fXDtMjeg9ZUSU6n%2BYbKp%2BzfBNI1MeptWP12myXDeEKy%2F8Wy18BeqbZC%2FCZ%2F4jiOdTWiz5ZoYEAjIrHGtBdAAWst%2BtBttgeBMCrjdpRj83rzPdmNFzIwecfQYsZYE8wqgcpPd2HLC2f3LAy6Joims1g%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439972930", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445761-O1VMAP04
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>c1ff3d81-71c6-4c19-becc-52300a407b17</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T08:28:23.6387721Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 08:28:50 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22new%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="nWfNJuJuV56gZIaS6Dw0YiHbHPcIAuDu9d5KJJF5M",
        oauth_signature="Hbgs5%2BvGUDa5itGokRdVyvHPFSUmTDy1EK1oSS9q7xRI1CkIoofXqVnX0Gzo7RudfHE1HBLug0VB5uCPn2ArPqLg6m3SsY17MnmITpDlotPmBdnQwXUmlHygCksAs3%2B%2FwYTALrjvLyIIM1%2BGDIlS1VWbzgFEZkOfdSr%2B1E%2F7hbs%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439972930", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445761-O1VMAP04
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>5135b427-7170-4fc0-9c93-865c1e343fd6</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T08:28:24.1847966Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 08:28:51 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E<TMUX_PANE>A%20%20%3CName%3ENew%20Company%20Inc.%3C%2FName%3E<TMUX_PANE>A%20%20%3CEmailAddress%3Ebob.fish%40example.com%3C%2FEmailAddress%3E<TMUX_PANE>A%20%20%3CPhones%3E<TMUX_PANE>A%20%20%20%20%3CPhone%3E<TMUX_PANE>A%20%20%20%20%20%20%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E<TMUX_PANE>A%20%20%20%20%3C%2FPhone%3E<TMUX_PANE>A%20%20%3C%2FPhones%3E<TMUX_PANE>A%20%20%3CAddresses%3E<TMUX_PANE>A%20%20%20%20%3CAddress%3E<TMUX_PANE>A%20%20%20%20%20%20%3CAddressType%3EPOBOX%3C%2FAddressType%3E<TMUX_PANE>A%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="MY4mAz8LhyQCQTIoPt9GSzsH17nx52TQodqPcBmc",
        oauth_signature="B8IA9nwjlhNPuwUQhTB2tB0jUC%2FHuyM%2FQSwJbHBdnzJixvVXChOLw%2FS8p%2FmdxP5bEuRB0NN8fYm7aKP5o7mx5oOFegAVMBolmPUQAKC91i%2Fl8hCffT8W0wfyNzRWT08XHXbmQLV0ag%2BQVKjmCfOUrEqtiozP9uR2rmRfP5rPBz0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439972932", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445761-O1VMAP04
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>cd78523a-963d-4e75-8beb-cdd79d247845</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T08:28:26.3376932Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>f3ca7d21-7efd-4797-9a71-2471aa10baa6</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>New Company Inc.</Name>\r\n
        \     <EmailAddress>bob.fish@example.com</EmailAddress>\r\n      <TaxNumber>AB5678</TaxNumber>\r\n
        \     <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-19T08:28:24.823</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 08:28:53 GMT
[...]
