---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="LNwOy5kBE6tgXQXmIZVz56Kn52VavjcW3KBCGYeI",
        oauth_signature="fe5y9KaLGggjdjJV60E6S%2BEXAIWYifSnQEKdgGuyq9fpxbCP9wQ1vl8rn0fq6nPaCkHarHOISP7XIBRFQlp6uXaUWlZOaaowH%2FbTFWGxpVVW25zHWlKbcjHwYEIJKHEB0X%2BpaYrJBizdQHZQ8avRUV5tqbSndslGwSgyOOFOcqQ%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439972934", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445761-O1VMAP04
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>ca2da395-7593-49d5-b70e-39ce2e61704e</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T08:28:27.7573569Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 08:28:54 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22new%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="QxNfiHcaCLfViRYmpsKC2h1xp21d2DqWKN6jiV47c1w",
        oauth_signature="jy8yB8l8mP8%2BycujDghKN8R3n1syRB%2FDVUpMUxDWh9UyeclQtcXBrEjuMglUbvSPT1sHwMI9oo1eOT4dyLvBOdxNOyGmO2PCA%2Bc5ZrKPWPBlnJSHIHqSOyo12h7Dcq8Y7QMFu6nVLPFP%2B9n3nrZa1I9ckf%2FjeT59fl2yE4e7Ivk%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439972934", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445761-O1VMAP04
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>ab3704a2-9866-4b13-a684-951956cdac9b</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T08:28:28.2877807Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 08:28:55 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E<TMUX_PANE>A%20%20%3CName%3ENew%20Company%20Inc.%3C%2FName%3E<TMUX_PANE>A%20%20%3CEmailAddress%3Efinance%40newcompany.com%3C%2FEmailAddress%3E<TMUX_PANE>A%20%20%3CPhones%3E<TMUX_PANE>A%20%20%20%20%3CPhone%3E<TMUX_PANE>A%20%20%20%20%20%20%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E<TMUX_PANE>A%20%20%20%20%20%20%3CPhoneNumber%3E01234%205678910%3C%2FPhoneNumber%3E<TMUX_PANE>A%20%20%20%20%3C%2FPhone%3E<TMUX_PANE>A%20%20%3C%2FPhones%3E<TMUX_PANE>A%20%20%3CAddresses%3E<TMUX_PANE>A%20%20%20%20%3CAddress%3E<TMUX_PANE>[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="Lcy1tF3jOKAWOP0dld7hbM76yt2lY1W2pHNsd8SmwE",
        oauth_signature="CvUe6VxjCGvpiguwqljQJYkAfn6YGG%2F7LWgOsVI8Y3B70A2IBB17Ru8UwtUkuAH4LF51QF4HahpStKK444OPW7wnWkBOHA%2FbvvQR0HLppjyBr3tt8ylBSaas4LFa5Ai5VrmSfXJKRgBCMupe2GCwATSbcr8z5tTDmFYTaSkttv0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439972936", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445761-O1VMAP04
      - 445761-O1VMAP04
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>a92b58cc-e378-4616-a12e-cf43927deb70</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T08:28:30.0660513Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>82557bd1-f618-43d1-857a-54ead2fbbf86</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>New Company Inc.</Name>\r\n
        \     <EmailAddress>finance@newcompany.com</EmailAddress>\r\n      <Addresses>\r\n
        \       <Address>\r\n          <AddressType>STREET</AddressType>\r\n        </Address>\r\n
        \       <Address>\r\n          <AddressType>POBOX</AddressType>\r\n          <AddressLine1>123
        Random Business Park, The Rough End</AddressLine1>\r\n          <City>London</City>\r\n
        \         <Region>Greater London</Region>\r\n          <PostalCode>EC1A 1AA</PostalCode>\r\n
        \         <Country>UK</Country>\r\n        </Address>\r\n      </Addresses>\r\n
        \     <Phones>\r\n        <Phone>\r\n          <PhoneType>DDI</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>DEFAULT</PhoneType>\r\n
        \         <PhoneNumber>01234 5678910</PhoneNumber>\r\n        </Phone>\r\n
        \       <Phone>\r\n          <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n
        \       <Phone>\r\n          <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n
        \     </Phones>\r\n      <UpdatedDateUTC>2015-08-19T08:28:28.943</UpdatedDateUTC>\r\n
        \     <IsSupplier>false</IsSupplier>\r\n      <IsCustomer>false</IsCustomer>\r\n
        \     <HasAttachments>false</HasAttachments>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 08:28:57 GMT
[...]
