---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="tEqNtstHNU3p9JHCtKwNq4knfwuiP2gaGdjxlaino",
        oauth_signature="wKtsIRCsatEBsnL3iZ0AzsppePYdU%2F%2BeK1DWx%2FCp%2BvHvSv%2FCe%2BJzMkrpwMmGno6FzJf6YzhmyZTPYP6CPldH7UA4zv%2B7hlt0srcepv7QoFz06f3KRQI1tfwCu6cy1Vs9xlR2mrw9SxlOnYsTkwNJ9HQX3kBr8F7LU7Z4TnTE1dY%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439980775", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>1a543fc6-26af-4973-8900-d4d15cf0278c</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:39:36.7430766Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:39:37 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22new%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="Dm7dRbSCYu5lzc2Fh926It5lKcTKG7VjMgbYo1TSMI",
        oauth_signature="eYj7mw0Pf%2BLO5V4EVO%2BjxLn4giYnpZ6To3BMa9siHZ8DOozKo7innJRoLoiqeLLFoumTNsJLPYNIr3Dj14sFtwFW2eWonqUNExauF5NpoC5HvFw3SL5w%2FLseG1MmtBC9u0EK6dU1fFvOZnvxD8UBlULi8x8bolOSZbCTmgcFVsw%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439980777", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>cc6c8636-b7ad-486c-86c0-923e1a26e986</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:39:38.7243655Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:39:39 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3ENew%20Company%20Inc.%3C%2FName%3E%0A%20%20%3CEmailAddress%3Efinance%40newcompany.com%3C%2FEmailAddress%3E%0A%20%20%3CPhones%3E%0A%20%20%20%20%3CPhone%3E%0A%20%20%20%20%20%20%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E%0A%20%20%20%20%20%20%3CPhoneNumber%3E01234%205678910%3C%2FPhoneNumber%3E%0A%20%20%20%20%3C%2FPhone%3E%0A%20%20%3C%2FPhones%[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="jgdwBo98Xtq06oWvSMzuvkRVUBsiPU6PwmBfEoTglE",
        oauth_signature="k2LWIXVuRzD32JMdtqnjMBVGpYPThXGACDpxjT461yIEd3aL3y41FC4%2BIL4nx%2BhRPsdbzL6sLxwWuZxYDvyz2WM6bPuHmFwZcbr5O%2BC4U2qVfw2EjvTL9Bfx6kHW2jGmJvkJTR3Z7L4az4SuDDcvoU3pVUWejcSKBFuVdjfT%2Fr4%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439980783", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>56eb38f0-3b53-4cf7-b75f-7c54bb8a6a3f</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:39:45.3399539Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>c740ffe8-7e28-49df-bb1b-fca0224264b8</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>New Company Inc.</Name>\r\n
        \     <EmailAddress>finance@newcompany.com</EmailAddress>\r\n      <Addresses>\r\n
        \       <Address>\r\n          <AddressType>POBOX</AddressType>\r\n          <AddressLine1>123
        Random Business Park, The Rough End</AddressLine1>\r\n          <City>London</City>\r\n
        \         <Region>Greater London</Region>\r\n          <PostalCode>EC1A 1AA</PostalCode>\r\n
        \         <Country>UK</Country>\r\n        </Address>\r\n        <Address>\r\n
        \         <AddressType>STREET</AddressType>\r\n        </Address>\r\n      </Addresses>\r\n
        \     <Phones>\r\n        <Phone>\r\n          <PhoneType>DDI</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>DEFAULT</PhoneType>\r\n
        \         <PhoneNumber>01234 5678910</PhoneNumber>\r\n        </Phone>\r\n
        \       <Phone>\r\n          <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n
        \       <Phone>\r\n          <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n
        \     </Phones>\r\n      <UpdatedDateUTC>2015-08-19T10:39:40.883</UpdatedDateUTC>\r\n
        \     <IsSupplier>false</IsSupplier>\r\n      <IsCustomer>false</IsCustomer>\r\n
        \     <HasAttachments>false</HasAttachments>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:39:46 GMT
[...]
