---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Bob%20Fish%20%3Cbob.fish@example.com%3E%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="NQVVr5Jng3afPHq7xXF9aHEPHUmutqfxqkjDRlTQxE",
        oauth_signature="CTTxftzSVkMazLOt96C5c9ONqsA3EwiNMnl5QeVCDAn638FYJCmuASOA39pp3fKuitYWI4RZPImEN1UUfLpyRhcawTCOLr%2B6N05GlNByeuO9QQ4l3930rHMSWjFOh9KirxcIfISsByU65selUqARrF%2FqjALgptuk1MyA6OL6wjY%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360916755", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>f9cfb567-58a7-468e-820a-509a5209dcb5</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-15T08:25:49.489287Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Fri, 15 Feb 2013 08:25:56 GMT
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EBob%20Fish%20%26lt%3Bbob.fish%40example.com%26gt%3B%3C%2FName%3E%0A%20%20%3CEmailAddress%3Ebob.fish%40example.com%3C%2FEmailAddress%3E%0A%20%20%3CPhones%3E%0A%20%20%20%20%3CPhone%3E%0A%20%20%20%20%20%20%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E%0A%20%20%20%20%20%20%3CPhoneNumber%3E01234%20098765%3C%2FPhoneNumber%3E%0A%20%20%20%20%3C%2FPh[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Bob%20Fish%20%3Cbob.fish@example.com%3E%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="0GV9o0eeYWctQHnzd22j0Mu5ma1hdPdAJaoWxM6yhJg",
        oauth_signature="bV7SfknKtbU%2FhZGmTSzjC0KKs2yJ%2B8j0lGLSFogtLmmHJGuTxAgOLh8wG458MYR%2BOnn15ObsOy%2BGcWDVu3FDrygDLJfeB%2BoCCp0g%2B8zgqmdB1jhIntH2LCzQ9b6MQwp8hA%2B9W6scOZwUwSVx951VepsObKhY9AenJiP36TngR9s%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360916758", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>4baf5a21-2f84-4f52-ac51-195958a0028d</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-15T08:25:52.4844486Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>77443912-d4f6-42e3-afb2-55d3215f89a4</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Bob Fish &lt;bob.fish@example.com&gt;</Name>\r\n
        \     <EmailAddress>bob.fish@example.com</EmailAddress>\r\n      <Addresses>\r\n
        \       <Address>\r\n          <AddressType>STREET</AddressType>\r\n        </Address>\r\n
        \       <Address>\r\n          <AddressType>POBOX</AddressType>\r\n          <AddressLine1>29
        Acacia Road</AddressLine1>\r\n          <AddressLine2>The Posh End</AddressLine2>\r\n
        \         <City>Dandytown</City>\r\n          <Region>Nuttyshire</Region>\r\n
        \         <PostalCode>NT4 3HG</PostalCode>\r\n          <Country>UK</Country>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n          <PhoneNumber>01234 098765</PhoneNumber>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>FAX</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>MOBILE</PhoneType>\r\n
        \       </Phone>\r\n      </Phones>\r\n      <UpdatedDateUTC>2013-02-15T08:25:51.097</UpdatedDateUTC>\r\n
        \     <IsSupplier>false</IsSupplier>\r\n      <IsCustomer>false</IsCustomer>\r\n
        \   </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Fri, 15 Feb 2013 08:25:59 GMT
[...]
