---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="J4p0x7ny302S5cCD38mHI1xRBjAPW5CxVGkrtbF58",
        oauth_signature="QUOFr%2Fhb9lOboU4raXHiMzKAcnqQTKGcYT%2ByQl2ceIZSiA8rs%2BKydxp2Cm3t2wWrs3XCkP9HR52cYBpgwp3QA8bMl5sihII5CTJfStbnknKBFTeNkOK7%2BDuhhTUgagUjmqWK8ReNJGfedmXlkdW9Q5jCgF52q%2BaBmL2zhEDqZu0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1407406863", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>02c7cb70-b59f-4104-a4ae-0eb4c83cb4eb</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Beardstroke</ProviderName>\r\n  <DateTimeUTC>2014-08-07T10:21:02.8434313Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 07 Aug 2014 10:21:05 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22new%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="4gtOOLVGb1VA5Bh6gL46KkmWZzEHXF2ZgUVRbX0o",
        oauth_signature="Sp1fZNcwYrzq9LRivPS0y60j4EhlR8V2Dm6eJP6Mr%2F4CcsTLvcSGZYsozPqbOvQMO%2FajGoVHVSxCnbvKRwW5eAsybjyFHBijlnlBJksb%2BRbrVc97dJSxJKVyjr2qwqvHBRYyKhGf611dW5zSpMENxJVpbD9RdKsAIFnHwzU0MCo%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1407406865", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>56f86349-cbc5-4bd0-af4b-bdda9629a2da</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Beardstroke</ProviderName>\r\n  <DateTimeUTC>2014-08-07T10:21:04.6530661Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 07 Aug 2014 10:21:07 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3ENew%20Company%20Inc.%3C%2FName%3E%0A%20%20%3CEmailAddress%3Ebob.fish%40example.com%3C%2FEmailAddress%3E%0A%20%20%3CPhones%3E%0A%20%20%20%20%3CPhone%3E%0A%20%20%20%20%20%20%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E%0A%20%20%20%20%3C%2FPhone%3E%0A%20%20%3C%2FPhones%3E%0A%20%20%3CAddresses%3E%0A%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="0Xj31mNo4EXWXFZKZ3TVlCHNesJHqFsmeDO8Kvzayg",
        oauth_signature="jjXlLgi3BXYt4NKGS9i3rnShyLwTQ3pq07rvgnTRpRO%2FfD9jGbPgDdaFb%2BVVm0w2FBcz%2BhGlb81lFB%2BzaSRvzAOK%2B4PRd3WAUHhWPJF1AXCHogv%2BPl3d%2ByUuxinfJf1QSi86u1gtQHAfVzBtVw%2F98jNN0We1c4ndumCtQYpnaQw%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1407406876", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>e0324bba-4e1f-4b5d-bcbc-883160f2b0a7</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Beardstroke</ProviderName>\r\n  <DateTimeUTC>2014-08-07T10:21:15.5264752Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>256a9749-9012-4c08-8bee-39b0605e1902</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>New Company Inc.</Name>\r\n
        \     <EmailAddress>bob.fish@example.com</EmailAddress>\r\n      <TaxNumber>AB5678</TaxNumber>\r\n
        \     <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2014-08-07T10:21:09.91</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Thu, 07 Aug 2014 10:21:18 GMT
[...]
