---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="W5wTY77IG2LGRdwVw6bP2YFBQOaNJ4BHTvXkY8Eq98",
        oauth_signature="O%2FDuYgyqh06gCjgrihPqfu%2F4KBHnqj%2F9Bhvj3Ijl9MkjbQc%2B2Cc7lTAWj2AtAyTlW5UNkWxhmEh70s9tH9IdvFzoOWht6XZuWKU6BQ4yZIlTrEVP%2Fk3VCAWh0ynlP9o5r5N24hz70T3zHBA%2BU1upbsKM5aKNk%2Fv4V8lOeX4tRk4%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1446645856", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: ASCII-8BIT
      string: "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>123132f4-1282-4c17-bcf8-33d98b7bd6bf</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Just the worst</ProviderName>\r\n  <DateTimeUTC>2015-11-04T14:04:15.9701975Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 04 Nov 2015 14:04:16 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22new%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="D1rkmXwMFoVG37VpPY1hBt0sTcZDfEbHNDPVnzC6oNM",
        oauth_signature="LUchxn5EVoAZ%2FD3HKjCoaEtaeVooI1GijXz%2FqAvaAKuWtiC11YkGP9DIBqWhycaEv%2Bd461grkxM3nETFCo9ft%2BxHYyuDvt05aXan9CyBkTor9Sk5Bu5xHzORWLtSqO6CKDmh%2BkSufQIW7W7wNIe9X2vJi54WXVv3YZUzaPmGx6E%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1446645856", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: ASCII-8BIT
      string: "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>748b82c3-a209-463d-843e-7ddf0a436d06</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Just the worst</ProviderName>\r\n  <DateTimeUTC>2015-11-04T14:04:16.4694135Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 04 Nov 2015 14:04:17 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3ENew%20Company%20Inc.%3C%2FName%3E%0A%20%20%3CEmailAddress%3Efinance%40newcompany.com%3C%2FEmailAddress%3E%0A%20%20%3CPhones%3E%0A%20%20%20%20%3CPhone%3E%0A%20%20%20%20%20%20%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E%0A%20%20%20%20%20%20%3CPhoneNumber%3E01234%205678910%3C%2FPhoneNumber%3E%0A%20%20%20%20%3C%2FPhone%3E%0A%20%20%3C%2FPhones%[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="h08GAkl0iwuP3531iCdPvRmYZPWjvDMb94FzPVWmtg",
        oauth_signature="Ke4DTytgBTJZuvlnGEaT5ff5FqcsB1lVQsC5nE33CthRFrEhID43P67uPUrvHxtPJ72epZ8hJL3ALIBUrl2e0T6xamJfVUrp%2Feo0Qb2tdZZ%2BpkiOdv5Z1b4u9pWFRCIyfmCs%2F4nhXHo7UbvJY3QTNG%2BJLkgHQtjW9nzoWg6y2WA%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1446645858", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: ASCII-8BIT
      string: "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>e111817e-3c56-4023-898c-a4f456822ac0</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Just the worst</ProviderName>\r\n  <DateTimeUTC>2015-11-04T14:04:18.062222Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>778ed0fd-0d6f-4f11-9da0-47f658e095a3</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>New Company Inc.</Name>\r\n
        \     <EmailAddress>finance@newcompany.com</EmailAddress>\r\n      <Addresses>\r\n
        \       <Address>\r\n          <AddressType>POBOX</AddressType>\r\n          <AddressLine1>123
        Random Business Park, The Rough End</AddressLine1>\r\n          <City>London</City>\r\n
        \         <Region>Greater London</Region>\r\n          <PostalCode>EC1A 1AA</PostalCode>\r\n
        \         <Country>UK</Country>\r\n        </Address>\r\n        <Address>\r\n
        \         <AddressType>STREET</AddressType>\r\n        </Address>\r\n      </Addresses>\r\n
        \     <Phones>\r\n        <Phone>\r\n          <PhoneType>DDI</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>DEFAULT</PhoneType>\r\n
        \         <PhoneNumber>01234 5678910</PhoneNumber>\r\n        </Phone>\r\n
        \       <Phone>\r\n          <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n
        \       <Phone>\r\n          <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n
        \     </Phones>\r\n      <UpdatedDateUTC>2015-11-04T14:04:16.97</UpdatedDateUTC>\r\n
        \     <IsSupplier>false</IsSupplier>\r\n      <IsCustomer>false</IsCustomer>\r\n
        \     <HasAttachments>false</HasAttachments>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 04 Nov 2015 14:04:18 GMT
[...]
