---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="TsfTIau007p2pMspLcGkRgOR3acPvfrQf2PUh3E5PA",
        oauth_signature="o2PF%2BfEvhOETHckZt4mM8Z275GqGb02PjtE1t6Cfn7n5Syh8hz6eHJTbP0z4gv1xP%2FZpZU%2BvBQC2reqvnMzXq2fdSjlWeuNv4KTFz%2B9mpi1FJxQ41aycRUiDGUYJG7QnbBC0hHL%2F1REJQxvMhgozen0M%2FL1E%2BOG29J7Ll6ojfR0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703383", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>204a8e6f-4cbf-4849-b272-b60134ecf75d</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:23:03.9190039Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:23:03 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22new%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="ZAyeVQd5VldQHnLzNggWFZ9zHdaadi2dAZO6vCL3JTM",
        oauth_signature="jD3TOxubhiOM3kQNO7nSfwSm%2F4KFHNOaU7yBpMqhQbQAkwiyFlfwjcTqrfsxKIHrVdVKPkAxDCGQoWj6wT8biooz7WaB3Wh4x%2BOj73BNqkgpzjxLctQUxM4%2F8V582Rd5Z5a46ebc6KbDytTmR8ru2%2Bl4k6IfDC5gg7D9vB7cgZU%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703383", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>7cef1bf4-46ba-48d5-ac67-ea0d145408e0</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:23:04.4806147Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:23:04 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3ENew%20Company%20Inc.%3C%2FName%3E%0A%20%20%3CEmailAddress%3Efinance%40newcompany.com%3C%2FEmailAddress%3E%0A%20%20%3CPhones%3E%0A%20%20%20%20%3CPhone%3E%0A%20%20%20%20%20%20%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E%0A%20%20%20%20%20%20%3CPhoneNumber%3E01234%205678910%3C%2FPhoneNumber%3E%0A%20%20%20%20%3C%2FPhone%3E%0A%20%20%3C%2FPhones%[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="gr1iInURn8G6oWPfUiZT0tShkcAI0ztBEJND3uooJQ",
        oauth_signature="YSjLBB%2BSPxnN1Ml4mDxQnm96FMHRSYSUaG57XNb%2BmrYcmuYVLlcpEzQAeBVLtZKAolHVf6iwBn0cOcKIPD%2Fp921oHf2j7i8oS%2F220LhzjpL1Ardx5Eglasazd8cYpgVNfsLpMSoBl7AVyKsNhnmdDTCntG1%2BavtHis%2FW8h7WoQI%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703385", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>6b404f94-42c5-4104-ac62-207ffaa82043</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:23:06.680257Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>fc82e0cc-d3cb-4cc2-bbec-9a2e61a228cf</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>New Company Inc.</Name>\r\n
        \     <EmailAddress>finance@newcompany.com</EmailAddress>\r\n      <Addresses>\r\n
        \       <Address>\r\n          <AddressType>STREET</AddressType>\r\n        </Address>\r\n
        \       <Address>\r\n          <AddressType>POBOX</AddressType>\r\n          <AddressLine1>123
        Random Business Park, The Rough End</AddressLine1>\r\n          <City>London</City>\r\n
        \         <Region>Greater London</Region>\r\n          <PostalCode>EC1A 1AA</PostalCode>\r\n
        \         <Country>UK</Country>\r\n        </Address>\r\n      </Addresses>\r\n
        \     <Phones>\r\n        <Phone>\r\n          <PhoneType>DDI</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>DEFAULT</PhoneType>\r\n
        \         <PhoneNumber>01234 5678910</PhoneNumber>\r\n        </Phone>\r\n
        \       <Phone>\r\n          <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n
        \       <Phone>\r\n          <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n
        \     </Phones>\r\n      <UpdatedDateUTC>2013-05-16T11:23:05.307</UpdatedDateUTC>\r\n
        \     <IsSupplier>false</IsSupplier>\r\n      <IsCustomer>false</IsCustomer>\r\n
        \   </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:23:06 GMT
[...]
