---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="59pRA6Un4RRGMkfjhaxTjQTiHTkaFTOtolqEXh760Zo",
        oauth_signature="WSacZMwV3UOQyTOErz6KaAs0r8AmEM1XXYhlmfX%2FkLaTVnExx6%2FD9JSIZQBFxfuv3a%2BLJSah5HE5DfK0sRX8hEz6ETTUeaVHOirzkBDIoxhLUEzjEpEMrMRo8dV6OFJwCoPL5iO1uKEqiSn0cXgHiThQLEctqAvOEfFIpn7RkHI%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360916751", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>648479e9-3163-42e5-b588-5809470d415b</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-15T08:25:45.1681424Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Fri, 15 Feb 2013 08:25:52 GMT
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3ENew%20Company%20Inc.%3C%2FName%3E%0A%20%20%3CEmailAddress%3Efinance%40newcompany.com%3C%2FEmailAddress%3E%0A%20%20%3CPhones%3E%0A%20%20%20%20%3CPhone%3E%0A%20%20%20%20%20%20%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E%0A%20%20%20%20%20%20%3CPhoneNumber%3E01234%205678910%3C%2FPhoneNumber%3E%0A%20%20%20%20%3C%2FPhone%3E%0A%20%20%3C%2FPhones%[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="OIztA9qMi0MyVjlIH78tERlQDqHakvAe9IW6t7zHRtQ",
        oauth_signature="OYtUTjD7JCzr6qkkYIn%2BbvBoewMCqy1vaDNhwqljddNGrKNrpM5NN7JdVBQataKeiybzKzbyi3QLRb2eDIjYf9QTmRZoFOIN2vqzKdMCRU2yGdWk8XVDhtzW7SyhLGyFDasNq%2FDsJSIV%2B3ChqFczBEi9gbjMrLQEmghtMLcurJc%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360916754", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>c8409c70-1fcc-42b8-8fbd-55f2a533a308</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-15T08:25:48.0229058Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>9da94757-aa90-45be-ad9b-bbe1c902b5b2</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>New Company Inc.</Name>\r\n
        \     <EmailAddress>finance@newcompany.com</EmailAddress>\r\n      <Addresses>\r\n
        \       <Address>\r\n          <AddressType>STREET</AddressType>\r\n        </Address>\r\n
        \       <Address>\r\n          <AddressType>POBOX</AddressType>\r\n          <AddressLine1>123
        Random Business Park</AddressLine1>\r\n          <AddressLine2>The Rough End</AddressLine2>\r\n
        \         <City>London</City>\r\n          <Region>Greater London</Region>\r\n
        \         <PostalCode>EC1A 1AA</PostalCode>\r\n          <Country>UK</Country>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n          <PhoneNumber>01234 5678910</PhoneNumber>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>FAX</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>MOBILE</PhoneType>\r\n
        \       </Phone>\r\n      </Phones>\r\n      <UpdatedDateUTC>2013-02-15T08:25:46.54</UpdatedDateUTC>\r\n
        \     <IsSupplier>false</IsSupplier>\r\n      <IsCustomer>false</IsCustomer>\r\n
        \   </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Fri, 15 Feb 2013 08:25:55 GMT
[...]
