---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="206AK3JO7Duw4OJCYMqISrMhghBTdga11TCbZURmk",
        oauth_signature="BRmgiFINJ7KrL9DRZZcu7b7uDU%2FlFum25PVCffud66oD8CDzsJLa9TMbKj7n8HmZRI%2FZ%2F2t%2FrqQFG9chtWaZln%2Fyt8YSoojKWAoV6U%2FD98bSY39eEbUvmaZ0GZbh%2BBPx8CJv%2FBX1U6Mu4AfOqL8G57h6pPi457RdWastuq%2BAHi8%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1362428382", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>39498487-93e7-4968-a040-c39b081b3be3</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-03-04T20:19:42.805136Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>8266aef2-b3b1-44b5-9ea6-059d58583a57</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>New Company Inc.</Name>\r\n
        \     <EmailAddress>finance@newcompany.com</EmailAddress>\r\n      <TaxNumber>AB5678</TaxNumber>\r\n
        \     <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \         <AddressLine1>123 Random Business Park, The Rough End</AddressLine1>\r\n
        \         <City>London</City>\r\n          <Region>Greater London</Region>\r\n
        \         <PostalCode>EC1A 1AA</PostalCode>\r\n          <Country>UK</Country>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n          <PhoneNumber>01234 5678910</PhoneNumber>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>FAX</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>MOBILE</PhoneType>\r\n
        \       </Phone>\r\n      </Phones>\r\n      <UpdatedDateUTC>2013-03-04T10:34:56.69</UpdatedDateUTC>\r\n
        \     <IsSupplier>false</IsSupplier>\r\n      <IsCustomer>true</IsCustomer>\r\n
        \   </Contact>\r\n    <Contact>\r\n      <ContactID>22267c16-099c-41ba-8639-17d587414b09</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>New Company Inc.</Name>\r\n
        \     <EmailAddress>finance@newcompany.com</EmailAddress>\r\n      <TaxNumber>AB5678</TaxNumber>\r\n
        \     <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \         <AddressLine1>123 Random Business Park, The Ro[...]
