---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="PXRu9o7IryiI6mWXZH1mD0pU206Sr6Y42FNUcXIMzU",
        oauth_signature="X25JtGBbXVmP%2BAKR%2BbIwr8kAA9HHfy5IMtWxfNsrdai8o5EdGoIFkWU9MgopK8e%2Bqaw3HGydOVSrY7kVIjS1%2BNEGKMe%2B1tR%2FoDV70Mh3Hawh6QhxH7ZQnfk2YDPKlKdKpVZiJQ%2Fy5OtT7lk81caiLPS%2FBh5Lr4utRmO%2F8hSwSU8%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360877994", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>ce83291e-a100-4fc1-bfc7-59000ec434eb</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-14T21:39:50.5066789Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 14 Feb 2013 21:39:55 GMT
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3ENew%20Company%20Inc.%3C%2FName%3E%0A%20%20%3CEmailAddress%3Efinance%40newcompany.com%3C%2FEmailAddress%3E%0A%20%20%3CPhones%3E%0A%20%20%20%20%3CPhone%3E%0A%20%20%20%20%20%20%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E%0A%20%20%20%20%20%20%3CPhoneNumber%3E01234%205678910%3C%2FPhoneNumber%3E%0A%20%20%20%20%3C%2FPhone%3E%0A%20%20%3C%2FPhones%[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="GL1oMo7DNKNQimXVI8vEKxPnUHWQcWJWzVq0zXHmw",
        oauth_signature="WQUp7bb4Pydwra8mH%2FV0MfcsUcX7uJdp5UZZT4QRUAc%2Bmdzhrfk1nfTVv%2FNlenoE1PXDp5ROgmMCF1pd65%2F2AOjAWJkXaKONUauE1UuD3QyiTxuuo8WAJ4j%2BxtFEnoc32xu%2B%2FcH0%2Ba9SkjFJfjeHh%2Ftv5ojAEmr6xH5Sx93rbYk%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360877998", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>0a206d40-5a07-4d9b-928f-6439ecdb2d8b</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-14T21:39:54.4847554Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>7fb91ada-a9dd-413c-ab49-cc2c67f6163c</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>New Company Inc.</Name>\r\n
        \     <EmailAddress>finance@newcompany.com</EmailAddress>\r\n      <Addresses>\r\n
        \       <Address>\r\n          <AddressType>POBOX</AddressType>\r\n          <AddressLine1>123
        Random Business Park</AddressLine1>\r\n          <City>London</City>\r\n          <Country>UK</Country>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n          <PhoneNumber>01234 5678910</PhoneNumber>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>FAX</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>MOBILE</PhoneType>\r\n
        \       </Phone>\r\n      </Phones>\r\n      <UpdatedDateUTC>2013-02-14T21:39:52.333</UpdatedDateUTC>\r\n
        \     <IsSupplier>false</IsSupplier>\r\n      <IsCustomer>false</IsCustomer>\r\n
        \   </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Thu, 14 Feb 2013 21:39:59 GMT
[...]
