---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22b928bbff-c4c3-4a1d-b3d3-2d0b72ee560d%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="zV3UcxyQujIZSJD6e7M99rNsqSx5j37VTQUCqUc7Vc",
        oauth_signature="qQ0SVpiaeJBOPwGRIanTAG3emxYbvXIrD%2FPzz3qbMtT99A8Bi8eSXCzQp9O%2Fss7fYNmO0AB8IKS8RbSKCyFtvsLcEON2xmtsCqLH%2F1LSW%2FYnqffWvSTq4SQ48Hq24ub0B6F3RrmRJL0y5qKTYGt0RkXbQE3eP2ecQLk0sku%2Fz%2Fo%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1401461875", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>0687eac7-b396-4a13-a27c-d974144025ad</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>WAT</ProviderName>\r\n  <DateTimeUTC>2014-05-30T14:57:49.9858943Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Fri, 30 May 2014 14:57:55 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%221c893f86-08b8-4676-b56f-4dfca604b90b%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="0bvDMysKdsM2MR9PMkKhmy997ZuMcV9mhLTwrkQg",
        oauth_signature="qoGMeBUYhNz4hCM%2Fbz9fDbb3qP82vErUJp%2FkpK3z6W0yt3uAqiclVj7ziyRLhCG7u9JbSGkQ4%2BTYw7ATa4uEWDe1rWvyTfAtLGb67GvVYTWtLecXX8kUWJ55SZMgggLidHlcAXbLiIzjvWDQZLj%2Fg8Bs7lo94v62bk2iiWkgwDE%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1401462772", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>beea3c24-18cb-427f-a9a0-f02dfae17adc</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>WAT</ProviderName>\r\n  <DateTimeUTC>2014-05-30T15:12:46.7707847Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>1c893f86-08b8-4676-b56f-4dfca604b90b</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n        <HasAttachments>false</HasAttachments>\r\n
        \     </Contact>\r\n      <Date>2014-05-30T00:00:00</Date>\r\n      <DueDate>2013-03-10T00:00:00</DueDate>\r\n
        \     <Status>DRAFT</Status>\r\n      <LineAmountTypes>Exclusive</LineAmountTypes>\r\n
        \     <SubTotal>1.00</SubTotal>\r\n      <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n
        \     <UpdatedDateUTC>2014-05-30T15:12:45.257</UpdatedDateUTC>\r\n      <CurrencyCode>GBP</CurrencyCode>\r\n
        \     <Type>ACCREC</Type>\r\n      <InvoiceID>8b1c3462-2d4d-4345-b061-7eb6a86bcce1</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0041</InvoiceNumber>\r\n      <Reference>AB1234</Reference>\r\n
        \     <AmountDue>1.20</AmountDue>\r\n      <AmountPaid>0.00</AmountPaid>\r\n
        \     <AmountCredited>0.00</AmountCredited>\r\n      <CurrencyRate>1.000000</CurrencyRate>\r\n
        \     <HasAttachments>false</HasAttachments>\r\n    </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Fri, 30 May 2014 15:12:52 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/8b1c3462-2d4d-4345-b061-7eb6a86bcce1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="5JhSzJvaxJxJdXJ5xI9dZRjGB4iQAwKvqNPFNk07Y",
        oauth_signature="lKC2SqMs4V%2FgqoPX9FwE4%2FHBWAHs52MbBedLCHR84VX8tVoqvU0NGR0qwl9RlcxmMe45%2B7eH3PWcXsSYkI0bgIW9qnC43%2F94hDwbZFuLAJG2%2FlWOlKHHiNoMOggiohAyyM76GA%2F6XNpptWpglW41Y%2FakovDzsi%2FOBMTgDfTAXys%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1401462772", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>816eeb16-ed58-40a7-997e-f64e56e5ed13</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>WAT</ProviderName>\r\n  <DateTimeUTC>2014-05-30T15:12:47.5040129Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>1c893f86-08b8-4676-b56f-4dfca604b90b</ContactID>\r\n
        \       <ContactStatus>ACTIVE</ContactStatus>\r\n        <Name>Existing Company
        Inc.</Name>\r\n        <Addresses>\r\n          <Address>\r\n            <AddressType>POBOX</AddressType>\r\n
        \         </Address>\r\n          <Address>\r\n            <AddressType>STREET</AddressType>\r\n
        \         </Address>\r\n        </Addresses>\r\n        <Phones>\r\n          <Phone>\r\n
        \           <PhoneType>DDI</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>DEFAULT</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>FAX</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>MOBILE</PhoneType>\r\n          </Phone>\r\n        </Phones>\r\n
        \       <UpdatedDateUTC>2014-05-30T15:12:41.06</UpdatedDateUTC>\r\n        <IsSupplier>false</IsSupplier>\r\n
        \       <IsCustomer>true</IsCustomer>\r\n        <HasAttachments>false</HasAttachments>\r\n
        \     </Contact>\r\n      <Date>2014-05-30T00:00:00</Date>\r\n      <DueDate>2013-03-10T00:00:00</DueDate>\r\n
        \     <Status>DRAFT</Status>\r\n      <LineAmountTypes>Exclusive</LineAmountTypes>\r\n
        \     <LineItems>\r\n        <LineItem>\r\n          <Description>my fantastic
        invoice description</Description>\r\n          <UnitAmount>1.00</UnitAmount>\r\n
        \         <TaxType>OUTPUT2</TaxType>\r\n          <TaxAmount>0.20</TaxAmount>\r\n
        \         <LineAmount>1.00</LineAmount>\r\n          <Tracking>\r\n            <TrackingCategory>\r\n
        \             <Name>Sector</Name>\r\n              <Option>Public sector</Option>\r\n
        \             <TrackingCategoryID>fa620646-16e2-446d-a596-6298b1cd738d</TrackingCategoryID>\r\n
        \           </TrackingCategory>\r\n          </Tracking>\r\n          <Quantity>1.0000</Quantity>\r\n
        \       </LineItem>\r\n      </LineItems>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2014-05-30T15:12:45.257</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>8b1c3462-2d4d-4345-b061-7eb6a86bcce1</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0041</InvoiceNumber>\r\n      <Reference>AB1234</Reference>\r\n
        \     <AmountDue>1.20</AmountDue>\r\n      <AmountPaid>0.00</AmountPaid>\r\n
        \     <SentToContact>false</SentToContact>\r\n      <CurrencyRate>1.000000</CurrencyRate>\r\n
        \     <HasAttachments>false</HasAttachments>\r\n    </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Fri, 30 May 2014 15:12:53 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/TrackingCategories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="rnosrODbYo6791eOmvVw5ErI47UOy0pSBz4lwvX3Mc",
        oauth_signature="c8T03De42kAYx69I1q02LajANk8%2FCgys9ZSjNbeo9aRNB8hQGgn2P649%2F1%2Ba86yXtV9rwvy59Yc%2Byejl8VgMceGyZLfEmbrXSrPw8NWd4k51ee19GABcm01iKC96gmn2ndR0y2zh85PmpvUYQ2rMmEeZlXIJQjHtmSQcmNYk%2Fl4%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1401462887", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>b482abbf-61fc-4ffd-863a-9bf640b09f58</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>WAT</ProviderName>\r\n  <DateTimeUTC>2014-05-30T15:14:42.1684229Z</DateTimeUTC>\r\n
        \ <TrackingCategories>\r\n    <TrackingCategory>\r\n      <Name>Region</Name>\r\n
        \     <Status>ACTIVE</Status>\r\n      <TrackingCategoryID>9d8ad8f6-0d0f-41e0-8851-ef47e8b54ae6</TrackingCategoryID>\r\n
        \     <Options>\r\n        <Option>\r\n          <TrackingOptionID>dba3d4da-f9ed-4eee-8e0b-452d11fdb1fa</TrackingOptionID>\r\n
        \         <Name>Eastside</Name>\r\n        </Option>\r\n        <Option>\r\n
        \         <TrackingOptionID>34b9b859-07a9-451a-b4d3-effc9946634a</TrackingOptionID>\r\n
        \         <Name>North</Name>\r\n        </Option>\r\n        <Option>\r\n
        \         <TrackingOptionID>b3900cc6-3745-40ea-955f-9ef7b1c8cf7e</TrackingOptionID>\r\n
        \         <Name>South</Name>\r\n        </Option>\r\n        <Option>\r\n[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="2eLm9kgTPDtOcmA15n0MNWUvPIv39tO3BqqcHleZxk",
        oauth_signature="Syan6QIdCLq2dmgXxN%2BhMOYtFwSYcHujIAZoMa4PY8ljODlNZRNCrEqYM9rvhEFl4sGECSQRQI%2BWFvtwm9KwHlEc375H7gpikU0cqqp3YQkZtTdSZSeF6KZ8ku9ijTWbeTuqkqR4Ff%2Fgy9U6esauhUzbr1yKg2GYYFnrNwfywkc%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1401463046", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>0f28d5b0-887e-4310-b4b7-08f01ce33015</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>WAT</ProviderName>\r\n  <DateTimeUTC>2014-05-30T15:17:20.9357291Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>52129e59-9b76-412e-a2e0-d66608ebb012</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2014-05-30T15:17:20.92</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Fri, 30 May 2014 15:17:27 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="eryn0brRBlJUByIBRMoHYdmLzixkZoyH45p9LO9hw",
        oauth_signature="lS829df04b%2F6HolyOAFCha2wVsdjBO9I8yrqUAUCjfdKkkuN7MFD9em5X1ahTTms1lDKwCAxRjNwUom7KpY83onEPBoz2kU6w%2Fhaj54Q2[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E52129e59-9b76-412e-a2e0-d66608ebb012%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="e2rc702CuhcnwMgNUxfMtD3aUZRpqXcF9zVTinpSXM",
        oauth_signature="Kb8%2Bo1modQHl51XnFvGkwTOdILGKHQ%2FCTEFm0ThKuPddfE7KsBY9z5GSIRGElZGF%2F3MB0ujkgk95CVz2BcYcStuzngQq8fJjV7wltYy6qA%2Fz2E[...]
[...]
