---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%225daadc5d-5abd-49ab-8407-bb4474c9e4b5%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="48zViwvuu2ki2SbEQ3o0ltJq8oJ6mAwzukwFFZXcE",
        oauth_signature="lyVU5Lui98F408gpdyfhiLwK%2FlhEbewnEmnMseld5hjvssVLVkjIqVtA1jmV%2Bz%2BFQ21BhewXZJmp9LtoA4wnRxLCacsYkGz2Q7Rvk7xBgPywsqKCJ%2F88zMq3wBK8Sx5V07rDO%2FCpVr2jTTFh%2BrNQsKX1oMiZ8hbCK7h5pJ57x9Q%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1401461879", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>406cbfe0-eac6-4745-8aae-e04b74296d07</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>WAT</ProviderName>\r\n  <DateTimeUTC>2014-05-30T14:57:54.4320653Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Fri, 30 May 2014 14:58:00 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="dUwVGYsYwrxuc8aCxCT2W91PPPB9LifHABTOoEr0U",
        oauth_signature="D1v%2Fs6eyXWhENGTA2l0%2Ftdj5YAebqG5vGyP7xYD2OF74RZ5sqIsDPcKrIhhQuJqDJJYB%2FDs7RE0VFgIocDlL2c1IBvj7%2FNKmTeIzXta3R62nOuKMJSyp5DookXYtF%2BikWXJ6jmsMl3rf34aciyO%2FNgDTJAmpHXSv1lPPhh%2F%2FIww%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1401463057", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>c3472c3a-5572-42f3-a3b5-b837db5ab0f5</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>WAT</ProviderName>\r\n  <DateTimeUTC>2014-05-30T15:17:32.1993623Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>c4cea5a6-1e1b-42e9-a4a5-95fef0b1fab3</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2014-05-30T15:17:32.167</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Fri, 30 May 2014 15:17:38 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="HPUXGQEizLQcAlzGxjkOM0Hi7sh8829z5a0cNItOs",
        oauth_signature="Jso5uK5gC00%2F14O1BqlykLlKoiBnOebwXacIsBqEKEjjfAfFMTlaD3FfTjv0UZrU9oT1ajy%2FWShGkXNXb0dlCMwi%2B1OLhJKGpNoZjb6[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3Ec4cea5a6-1e1b-42e9-a4a5-95fef0b1fab3%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/TrackingCategories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="5UMh3LW1ColYNZk4DokF854BjgRHppSboka3Eq0cI",
        oauth_signature="ZeqhntBjq9i8Tx1H5XqSNceMou09nMybCWiQHX%2F2XpAXOpXpD252ybPpm4R60llfPfeKuVAwPYlj96iON%2BmNkYPL7ORNRPnWo%2BzOGAzWmlYw7MFS1LLqAJ0MhHIKfSesL%2FgoGsJXAC%2BGbmcFG9vOJcTKygVXwSbfGsmIzevqjYs%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1401463061", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>d00e3025-8b97-4e4f-b261-173b260a60e2</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>WAT</ProviderName>\r\n  <DateTimeUTC>2014-05-30T15:17:35.8811039Z</DateTimeUTC>\r\n
        \ <TrackingCategories>\r\n    <TrackingCategory>\r\n      <Name>Region</Name>\r\n
        \     <Status>ACTIVE</Status>\r\n      <TrackingCategoryID>9d8ad8f6-0d0f-41e0-8851-ef47e8b54ae6</TrackingCategoryID>\r\n
        \     <Options>\r\n        <Option>\r\n          <TrackingOptionID>dba3d4da-f9ed-4eee-8e0b-452d11fdb1fa</TrackingOptionID>\r\n
        \         <Name>Eastside</Name>\r\n        </Option>\r\n        <Option>\r\n
        \         <TrackingOptionID>34b9b859-07a9-451a-b4d3-effc9946634a</TrackingOptionID>\r\n
        \         <Name>North</Name>\r\n        </Option>\r\n        <Option>\r\n
        \         <TrackingOptionID>b3900cc6-3745-40ea-955f-9ef7b1c8cf7e</TrackingOptionID>\r\n
        \         <Name>South</Name>\r\n        </Option>\r\n        <Option>\r\n[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="f5ofFYpYAgES80PHo61t9gKgt91wavpEMZF41QTC0",
        oauth_signature="bAxY4rIwG2avtAm%2BqzoqcMLHhenZp4Ero7nP7Skw2bF2PveHKSTLinYFKn%2BypXy4p6TC1%2B1bOkDe2gL7bLvAng2bE3gfOxpXB%2B9IgQAdgm5pO%2[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22c4cea5a6-1e1b-42e9-a4a5-95fef0b1fab3%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="9KzMMa8V32ntD3OhDhbyLeYT8aVUNgcNnPzAkxuANxc",
        oauth_signature="VrljvxS3y062e45V0fXzO5Fh1ejXNnpyhABGTntMmRBNSlEkpmXWfy%2F%2Fp%2BIkUy3CRdZIurA7FZ%2BQ7xGaMSOcfX4G1VzYxszoCptKwznsUL9FcV4yGpyP7WBYQBWxpDuEwGP7HbkkCC2djFIduseS3iOKz00%2B3fkg39qipPNm3pU%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1401463064", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>372b3bb8-005b-4daf-a804-40aa99dda854</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>WAT</ProviderName>\r\n  <DateTimeUTC>2014-05-30T15:17:39.4692419Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>c4cea5a6-1e1b-42e9-a4a5-95fef0b1fab3</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n        <HasAttachments>false</HasAttachments>\r\n
        \     </Contact>\r\n      <Date>2014-05-30T00:00:00</Date>\r\n      <DueDate>2013-03-10T00:00:00</DueDate>\r\n
        \     <Status>DRAFT</Status>\r\n      <LineAmountTypes>Exclusive</LineAmountTypes>\r\n
        \     <SubTotal>1.00</SubTotal>\r\n      <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n
        \     <UpdatedDateUTC>2014-05-30T15:17:37.737</UpdatedDateUTC>\r\n      <CurrencyCode>GBP</CurrencyCode>\r\n
        \     <Type>ACCREC</Type>\r\n      <InvoiceID>200b3bc6-39ee-408d-9747-2723594374ac</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0045</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Fri, 30 May 2014 15:17:45 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/200b3bc6-39ee-408d-9747-2723594374ac
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="1uBwV4TQDurTljWwuRc6VV9WFKPr6F6aFjv2JBLrPAo",
        oauth_signature="mRXWC5qQZk3IpaYPFIlZr72HLY4VyWFKjnDTDYz59Cad5jEPafVSpe4NafhuvpUMhFgpGcj%2FqXPSIMDTnES2DeeaEFcQ9t3YgEU2YwF4ZL19jzkavZQ72UUlRc3fLfAs[...]
[...]
