---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="fpBKpO9niVmWYFzWCq1UK5Urc7rPoZE9T1ZHsPI",
        oauth_signature="N%2B6FhwLzfPcDmx7iOEqAPIaIFzdCwM6K2zcs%2B1TEKG6swufHZ8pW9GM6sAiC233K%2BGBlMb3CVuBqs980Xpr5NDQqI40v6EPdjaeszzVlCkTaUEtUZJ3O8LpizHcdWa6XBB4223MeYErsTpeWq0R%2BxCyjUGNXWR71uVlcEagDAGE%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473886", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>ec285b98-45f0-4814-9ccf-82226251510d</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:51:27.6829952Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>c7f697d7-2d56-40aa-a49a-c384600a1317</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-08-14T09:51:27.62</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:51:27 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="UezA4kpU6NjaTyBiSRQZrsEzFnEiGo7CIrhBVz9k",
        oauth_signature="MMRh5gtfsungDUWDWVsv1qM6K36qni8Iy7ZV3aFlhx0m7gJbdUikMRPns1XuEHcDXZyHYcGhH8CBIk1%2BpiCgMQyKb1oSVAtcjMzPK1ahQ%2F[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22c7f697d7-2d56-40aa-a49a-c384600a1317%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="3yNLaXTZ4g46dvBUDMpLOyWaN8ZGJN7XfoI9wFLA",
        oauth_signature="OCzt0HYg%2BjmuWhnsxaPh1cvI9rXvMXzYJEbhUrkSrJTCydzzruluzg5PN0R2Ssr%2B%2BfbB3W4ogSDdi8PBNpjQ69hZf2tY%2BLqtBZtMrNre0Q9Pi3GPdEo926Mt9KHdsMTCtlwS0ltfqRKUWzFoEXauPaPvOfFCILHOXpORk2upj%2Bg%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473888", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>461d3181-f510-44d1-947d-568fad1e71b0</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:51:29.0402126Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:51:29 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3Ec7f697d7-2d56-40aa-a49a-c384600a1317%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="eUGibllEQktVrrXwHbHDwycAixsvjbPt9CWwTxzirU",
        oauth_signature="cjCuxniq86u5lwuPyTxpJPYb%2BcewMbB7959XTmss%2Fdzql6VFmgPJlyxxik%2B9D14RbC%2B3hN6%2FHph%2FaN2f4yHIyvT%2BA4xHu3EhmrfQM3O%[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22c7f697d7-2d56-40aa-a49a-c384600a1317%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="aybErAybR1IAvRrPwXzhrMU6l2yEJiqLQsPYxuPryg",
        oauth_signature="eURQHkWoNEsDUFzmv4A%2FHTJEmRpyyB97vCAyPFnLTWs03N8i%2BmkQ3k9vPgstokLxGWpW6nivOd8L49WfzjAjtxLlzOdsPVK%2BTeFTdNJNuBBxrKyjeKI%2BSMJQ9eWZMA04BTlV%2BanPm%2FDIuXrNCccn6nlE7eOUaQbMB5WUmyl5kko%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473892", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>5d247576-ad95-4e46-a1d6-655ad25a5942</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:51:33.2522666Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>c7f697d7-2d56-40aa-a49a-c384600a1317</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-08-14T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-08-14T09:51:31.847</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>5f4f761e-9cd7-464e-b3a0-20a046ce7e94</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0122</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:51:33 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/5f4f761e-9cd7-464e-b3a0-20a046ce7e94
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="z27B9Ng4Pdna81zRSxphmv7AuSxABuqFq8Ka4psEE",
        oauth_signature="JX%2BuIt3RAPwb7U%2BXjgXdtW4wet%2F5qbv41Cwb7nrb%2BuuMzKhegGBh2vugM%2FyGppVEyClJ%2Bp8sdsYSmgA2IKshLzCYFCw7CJ2fZv%2FKpjvSFsytLorLOMmHLj[...]
[...]
