---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="KhgbZjXjgiPVkPHUyUdZimURDHsUau1UWH6lL0HeU4A",
        oauth_signature="UYy5t5WB1Y3tCdUKO8LXOOBQ2fC3%2BuTnw7%2Fo%2BWIXBQ53BdxX6bQgxmImGMyq2HBFwtBh7oEdrHnrAbZHVUBm5kvbiPD0leazpSkTqaUzMcm8T3Zq%2BWO3fhsmqXd%2B4t6b2Cn8oi%2FPGfcTUPxC4ZUA696%2BB%2BRoRm4lsgeaghLEuTU%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473878", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>a60bb793-deed-414b-ac44-8d8c9719359a</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:51:18.69728Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>4bbfc5e5-503e-4354-963a-941ba2dda89a</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-08-14T09:51:18.667</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:51:18 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="YZb9jrI1UoA3fQz9WWbdrIexJ8bmJhcqQvJhX3kVSq8",
        oauth_signature="LUotRFmbIk%2FJ2s82DsZFJgUuEG26AbbMSfkZv9hKZXDnw5iVnJsZMjBkz4mxws9ZE%2FPKOOUAbbhnsrjUNzJeaW%2FE70ekN5w7dBJX9[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%224bbfc5e5-503e-4354-963a-941ba2dda89a%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="uj8VLfG5Jx9tg0WZlAcsehHZwEB7BSBfqyI2TgvPw",
        oauth_signature="GT7M8i6hyQkcmBqPkhbuXWfPPln156VzDrf%2BxsHi7G8twBVmlwtZhr69SRJmSDy7Faq0evqpXKE482jms89NFBkSKooST9fU1FrbKSlghCOMiKhlCbs2M2HlOIUiARHlzPySA0aqxJBGrarldWAkh52L%2FrVq6mQgsFJiHzCMxjg%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473879", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>6ad14ea4-d418-4f3f-9097-72b6a98a90a4</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:51:20.0856978Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:51:20 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E4bbfc5e5-503e-4354-963a-941ba2dda89a%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="9yUtWrsnIyWMVWRLmpyDvr9TnSqJiqQEdKJDwswfA",
        oauth_signature="fmn%2B8dsKrmOXTFT8Sv61QXQdmId9D9zCeHGLJu0PskCyYmz0tgCIxLCGWIyTanoj%2Fvm%2B6HRUfpYQZrL9C4PVZ8aepX0VQTyE8FUNTzt3P8n94haur[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%224bbfc5e5-503e-4354-963a-941ba2dda89a%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="4geEZThvqnUTzQ1fAqSTmpZWMAvtz1ZPXjq09FB9bU",
        oauth_signature="bafDiehVBh0SQFzM5f3cFje9bPacxgX8hhYtPkSbKALgRDiKr9BRW0Bu4tTbXv1PlWdtviV3w1rGgkZQU6DjFnr7%2FBQHbEoMfgmHVUO2Jl3CzmZBVm2%2BrfeTAP4JcDW3coZUs0RNVVVqzQxzutg3KqtoFj%2B0GDlO9xL9dIJlyhk%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473882", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>2addf9bf-2930-48d8-b577-f6831a785866</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:51:23.1277368Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>4bbfc5e5-503e-4354-963a-941ba2dda89a</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-08-14T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.00</TotalTax>\r\n      <Total>1.00</Total>\r\n      <UpdatedDateUTC>2013-08-14T09:51:21.677</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>1c2bbe93-da81-480a-88e6-17fe5fab78ce</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0121</InvoiceNumber>\r\n      <AmountDue>1.00</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:51:23 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/1c2bbe93-da81-480a-88e6-17fe5fab78ce
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="x3EsfgXQlrXRJLFEMp0BijRkgHP2ABov0JId2p5bNU",
        oauth_signature="Kr0Ds3m8UmRDyeX%2B%2BzTQ6TYovvdE0lrAY9hR3nUnZiOJXk2OFnBpOFxKCDtETAsHslDnIlyD1EKH9qtoyBemPKJZO0%2FIYPA5M%2FUukgcXSqFefIsxzEe5i7%2BuC[...]
[...]
