---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="eaE1uw1eTO3epw4CXBBz5eCGeZ5cNfbleENtdGG58",
        oauth_signature="iiQFBdz8UoNQXrN7Sf1psyuubaK5wu9uumJmdz%2BSyU3h%2BRWDpQpZMoEq0f4MwKLKCizhAkzuAcSycMD7bg72Bz405aa4tNdmWJ0yXfqlnFUkpo7EeaE3wssbpCOlSZfIeQZpqhVBzPVkPV22JTZ2hmSsNTtnh7xZJYlw7gvFwdo%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1403257167", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>862aa1c9-7b8a-4361-bf8a-3c7e9f5d2cd2</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>YO</ProviderName>\r\n  <DateTimeUTC>2014-06-20T09:39:29.0727794Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>ba231a03-17d1-4e85-8869-6159930fc69f</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2014-06-20T09:39:29.027</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Fri, 20 Jun 2014 09:39:28 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="UBciJdErIW1grommHokHGnraRzuTflnbUps9LCgnfRg",
        oauth_signature="YkB1bfZZsv%2Bf7%2FV4HyVIsIuICNbopMIoRbipZJdFIUzXOTD8MBkadd1qmR6yf9Mhbhr9YVjlYNoKTxMRlvPv9nOtJ6Q%2BTfB2HRcHv[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22ba231a03-17d1-4e85-8869-6159930fc69f%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="Ee5PEQsGXk3bpWxq5x3JNc3tJM7OA82EExA1hTfA",
        oauth_signature="Qj7mkSu73y8dFFOIwjPA3V5Q27CFnF4aNtwQ1dV3nWLi6h81TT%2FXxORwq59qiE4oBLz92kSvLKUUnC6oA5Kwu%2FMZKwQUnnnD1L7S3iPpWsIwfdMNRmU9it8l0UOTr%2FCs4sWdXTCA7PHaZOtrv9uXy8cYpi4EuglaFQBx2%2FxlTYs%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1403257169", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>38536f9d-8ff7-49ae-a62d-5c5107127640</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>YO</ProviderName>\r\n  <DateTimeUTC>2014-06-20T09:39:30.4143966Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Fri, 20 Jun 2014 09:39:29 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3Eba231a03-17d1-4e85-8869-6159930fc69f%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="pSmzJAyISYYBegIhbci4VxYvo3X4wUp1MOkZKbIAKdk",
        oauth_signature="L5gS%2Fhz9pAPqYJEiIdZ8A6JzXHfPKso%2FGkEIXYnkmsk6AasayvcIuqTni%2BV080zxySDsuiROY0vixfCL0oOD5gmjcY3Z025b%2FM3H9fjCcPNvZ[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22ba231a03-17d1-4e85-8869-6159930fc69f%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="WcPGvciv00KhJzF3wVBYu0TOgeSGeTMjldN5zn5LU",
        oauth_signature="dDlc4AJNn6DQuuRqyfgPPrzA6vUHPMHKKcnnRvx9de%2FGogmNrT65mowHVELQ30OHAX%2F0i5nTXfwtg3W0OOLtLCu7Q0TmUGUlU3DZKEYOVltEjP5iP1741keRAVdEOwIJ9ZiL7FqjvoF8qumVjd5R5fI6dxdH5sStGx12zCXrdw8%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1403257172", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>d843ca8e-dc4b-4b95-a543-664f2636ad54</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>YO</ProviderName>\r\n  <DateTimeUTC>2014-06-20T09:39:33.2380328Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>ba231a03-17d1-4e85-8869-6159930fc69f</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2014-06-20T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2014-06-20T09:39:31.77</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>3c0584f7-cd33-44ae-91e1-32b9106f04b9</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0055</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Fri, 20 Jun 2014 09:39:32 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/3c0584f7-cd33-44ae-91e1-32b9106f04b9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="9SxIokrE4jOD7N4JeC4zSaxq5nRrWGqnZ1W8f0b6DSo",
        oauth_signature="X9yNZa5T6lRi35SYQn5%2FqZfA57pY1nzXY7846jfsZJdQHmG6I%2BeIApAgGOyRdfdEienjMRXOvyMA7jgmwzI%2FTTWQLG5ufkm%2FEU%2FYiZgBruEpMzkXXZtzfD2E[...]
[...]
