---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="3qAz7cMENHzwcZKxb5MtbQyyM6bUv9t0GoKvphIxtI",
        oauth_signature="ekqhsFgWdVkaYWjTBh2mbPp3DwR1LwCYOmBafXpRN53nHd9mNuRzaU9ilvMIsZTs2RzMHJYH%2Btqc0nyEq1UcmG3xb6LX0Cd0V9PoIrxUqDBncC00HLe0Ob8A%2FxyuY6%2BrrqYoAppTITxPWhIr4kDHAj%2Fp1nNl3OkTVnS%2B6abTDyo%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703315", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>947b1a89-fe69-4ae5-b15c-b3df2419ddf7</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:21:56.1044998Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>9b576d1e-6dc9-4be9-af4f-0210891b6c7b</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-05-16T10:52:38.87</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>true</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:21:55 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%229b576d1e-6dc9-4be9-af4f-0210891b6c7b%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="nuCza8V83NAyMDt83LNLDCAMIDyxd5U2qh58vq6qY",
        oauth_signature="Xhb%2BDPNjqYMLfhfxlRp6OX6tT3aXc1V8zKzizrEPFYmHbuquoayxXotsYSMKuCOQD%2FFUQ5%2B0rBth2hgjeBGYwGhG%2B1QCXm90HziL2eZqNW%2FM3AND2Tt08FKpe440G6Cr4mbg6RraDrpHTYpKKHyMBd1BPx4wOpmSBiO57tJF9tQ%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703315", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>933ac6f1-0168-4229-8495-30aae5d0397f</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:21:56.790913Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:21:56 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="u7bnYVaaUxuJw1xFiIsb31idvUnj2M9KKHFgghxPnKg",
        oauth_signature="m8do%2Fd7ZdbzCiDYLfQ88VB0QByi0m%2FQ7q9tyLP%2FLcXGRXb5yOVu6TsYMuDb8jis0y5hAt4wNuERoYoxeyrARB9XmIDHUUnls5dTFT[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E9b576d1e-6dc9-4be9-af4f-0210891b6c7b%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%229b576d1e-6dc9-4be9-af4f-0210891b6c7b%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="vpTwsCwgqHoxUWUKNUOWIV8qRXkoj9XXgEya5ouzS0",
        oauth_signature="aDnaVik4FLtqgupHvJ%2BOmUJ8gQEdWC8f%2BpV46d0LIkK2Kjno5h6wVzO5Y7J0Emxsq7G9NV4sfJH4CQJqLvqtzdZ7BC6At8RQ9DNMYZoT8xzLkDvmEz029LNcMF7aLBeWQsb6n%2B1SFsYbBChFv%2BzDHSIB0K%2BVjnvaubuyjPjttkg%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703319", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>5cfce71e-887b-412c-aa7d-cd647ad37203</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:22:00.846991Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>9b576d1e-6dc9-4be9-af4f-0210891b6c7b</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-05-16T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-05-16T11:21:59.413</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>d98d0081-0fac-4dd1-8b80-9e7fb808b334</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0061</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:22:00 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/d98d0081-0fac-4dd1-8b80-9e7fb808b334
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="fKRwrqowmkW6HoSmdWjuQfG7SjG4epqk6IJpx6VmLu8",
        oauth_signature="dXErmAeu%2BSdTVKY2MxTng2Y%2FQ0q18HJCctGZ%2F7akrIhaHELl2AcgdFQX5ng93bhOBguZRxU%2F1%2FelnfA8CH4GZVsZ6gPOIUsavmzd%2FoZ8vQrvtCJmIARVuu[...]
[...]
