---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="27OoaAJRVqLd5a809R7UPaBQd2mnQHbuNu3oKZQI",
        oauth_signature="K9G3Hhnc2jkFH6DUiVXvFVOvz1dw9%2FU2o%2FBtGTywkOnIR2B5vIk6bXTMI7ShnzTVc%2FmzMB23SsQiZ9B9yy5495%2FhpKKnHmJyMd%2F%2BNyRoiTG7hN9wsPelVpY8R9YDigjGpxF4fWjMDbuSsyPAKxoVXHsTR1iwUYkK0HAdT%2F7ncU8%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703322", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>f3f6a572-2a3e-4ef9-9b29-b1dc94ead988</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:22:02.9530315Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>9b576d1e-6dc9-4be9-af4f-0210891b6c7b</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-05-16T10:52:38.87</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>true</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:22:02 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%229b576d1e-6dc9-4be9-af4f-0210891b6c7b%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="Q376tWGJAwUArzsmUJYlg50DzEPH5y5PyjhF9xe4",
        oauth_signature="mgkhSsex40BGwe6oPOZ%2FDzDXZrrbmneyVCZsF8hx2SxsN%2B0R6weLSZuIcUOujYMM%2BJSDvoXh1RtosrcAQ3%2F1SsJUa%2FWkkxnMqtGyHNtH2sUZPev8ZkgZ8MtNGff%2FN0pHCP%2F5Z7pEZl85P13CQfnDiQgM0xw8HIsj0Y3BeoKssEQ%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703322", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>2ba99be1-86da-4d8f-9955-2fcf3290fda6</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:22:03.6394447Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:22:03 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="Y5dphuqKgg2q8iQPKrMNXckC74Xl8sQhfnONqeoohY",
        oauth_signature="EUGGFlk7gMVnwh8eJANImYkwLOcl7UwBtBoD0err9tsvNnAAB%2FiNUmXOidaMKv8GMVuR69S7XJCXkC7ZiF5%2F7FuyPpPIrPG9LhA%2FON[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E9b576d1e-6dc9-4be9-af4f-0210891b6c7b%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%229b576d1e-6dc9-4be9-af4f-0210891b6c7b%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="COka2eDwrcahjzygmbj0d7UXOi3GvSvSa1mTij3hg",
        oauth_signature="kkj1PqTSQOZTgWeTjbJ8X4OscV2uripw0%2BoYH1Rj1M%2F3E6g59ikPlnVuhQ2idRqG85cbP0yRTLyXh1Upk2Q5KZFamv9IiegH47lGkTX7WbCXbbMSFUP2xCkSQJWmZPJM7rFnL1l2RzMO11ha8Lmt9KwkR%2F507R2Ljm7urU8KORY%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703327", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>695de263-c4d9-4ba3-a551-a660519e1c54</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:22:08.803144Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>9b576d1e-6dc9-4be9-af4f-0210891b6c7b</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-05-16T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-05-16T11:22:06.4</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>b05a8c83-5ed3-47e4-89c9-4d7075989ad0</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0062</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:22:08 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/b05a8c83-5ed3-47e4-89c9-4d7075989ad0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="DOHoIqg2fu1EOhwcgwGuhBksgly9McnppxTLrPDAVnc",
        oauth_signature="p%2F%2BHk5LX06TZ2sOof%2Bg4H%2FAbASdkI%2Fz%2BreUbgFWYPLS7Hp7c73sQRYKFL5oWI4vRQma6D%2BCspBm4nxAGMdbY9iQiXhn5h0knwPG4nJXljaHLNoIbH732[...]
[...]
