---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="NTDuQHL4yK0ds84qmd6ekFfhINmEj5VKpRATNkLa8Y",
        oauth_signature="GwIONzeIErL0WTlqhzBL4a9QWxl9UJcu8xWCziF%2FmmZ4UJr2sPHvJ7xjkqzLrR%2BsERkPwZJTUxB9jENfbDN3qwW2gD4eQgME6VAr2VfT3Ruma6dbus2cs7G3CQNSppv%2BXKRnmFe2VNJOYd3RQCTNDxryAsDM%2F17UtYFuL4Q9LF4%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473560", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>2fc8c216-974a-4a2f-a0af-7f34cc0fb604</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:46:01.1533889Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>f9d7dab5-4634-40c5-8474-56abb51bab47</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-08-14T09:46:01.107</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:46:01 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="mZ1OasiMsqzk4ZU9S3qNvkwf8TlwVewZkXPsWmtlE",
        oauth_signature="LxeJShr5SpO6ZUyQGDYyBT3Gvbcvr6DwovIHWsApwkh0edgy%2FLAj2oGhpt7hnV0Vye8fEtP9tLRN69SqmRDJ1190TMkBR3Fk25vNPbPryNh[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22f9d7dab5-4634-40c5-8474-56abb51bab47%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="11lnVEJq6qOi4mh8OgOKIzU0s7PDvR8zln9LDMY",
        oauth_signature="KFFbV0Un6wheUTQjyM5Jo%2BPeTpOkbRvDEBbOho2eKtFpqC%2BSxja7sniDFcGnb583U7ikj%2FFatRVoSf5VtcTwrJKSGrghkRks2MUNot4hv6cLJEQ0BAVqNCnb9MY%2FfZELX7NxrNb02VrgzEcslBu74S513UK%2BrwcG8yJboh9VPQo%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473562", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>da836f57-132c-4e2a-8112-ee569973c334</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:46:02.5105976Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:46:02 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3Ef9d7dab5-4634-40c5-8474-56abb51bab47%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="9f4lss4ZBXDyRtXFk87CmZLgoBsiJU2GDd5f3aWkQ",
        oauth_signature="Xxw1yI7mZAAjUzU32%2Bxm9MoNr%2F7muGvP5P5cdDfx%2FzCw53nE7%2FxkV9VghwsZcp%2BGQ0nKfcyrlc3vgSOl28mBt5jz01z996Mfcm99je8wE6xDN[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22f9d7dab5-4634-40c5-8474-56abb51bab47%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="c0zCC6F48tiwg37D9VoKpCP8fXWZJdpwkZpGK9098E",
        oauth_signature="cZKmFDCpvRaEoH6xdauoMAuJTaFwCQcbxy4ZoRmYyLgxbPlDoQhrgAsyiEmGUodpArpM1olks%2BUZjRZI6gqB6k1Ni0le7XJdjpI54CjcJC9GkkwYWR1b0gYzH7OB%2FTVx%2BmsVRF%2Bq291e6uk6T9Zu6q7iAlRFpTG6%2BpVBe%2FzcSxs%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473564", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>340f4109-d7b8-4768-b68f-87da0b6efdc1</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:46:05.381016Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>f9d7dab5-4634-40c5-8474-56abb51bab47</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-08-14T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-08-14T09:46:03.93</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>207d5b09-5e0a-4463-881d-9724eb88b283</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0119</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:46:05 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/207d5b09-5e0a-4463-881d-9724eb88b283
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="iXbQlAvWbdfJb1fAjnMtHTGUQTeY9dNrVPMns12BJ3I",
        oauth_signature="V%2FSSwxoP5aZHlKKJlG%2FtjSHSsky7Fr3LVlFCeCk0zp2vDskRAyW3%2BbdMJl1wnvbksjdNSqUSu0saWpvnOHywuNwWrIziX8IcTuWVWq4G0jCBTMuNJS9hYenUNq10[...]
[...]
