---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="p3gX70lJGBXlpoaORRrBT7eiqR5z5GnP244cFPvD4I",
        oauth_signature="P5vgIy7lYudFC6oWGze5dujT16mbshVBsfQ4QDmFqOt%2BFPxzSHucZ%2BnRB%2BDM4S5i0dKISwLyU%2BwQP3fuNKzb9%2BglVSfTLpus74rfv%2B%2B4StKsVXKObcYF%2BCecIb4V64gnuslEvEmBWHS7PvxvwjlGpeou0okfI%2BOJ73MANWOAZBU%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703547", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>7556b840-787c-4145-b755-13b5b1253fc8</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:25:48.2057632Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>9b576d1e-6dc9-4be9-af4f-0210891b6c7b</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-05-16T10:52:38.87</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>true</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:25:47 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%229b576d1e-6dc9-4be9-af4f-0210891b6c7b%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="3ZYP9ulkEOsJ5kyypGXRhULw5vJR7FKinveXK1JBA",
        oauth_signature="gEFLmS3NLjFCTvvUHf62yVbCn38HGrF3ttl6GeGsrHaWPPKLjVrTJt8ksmK9iumGfgWUUlgkLJe6pM53Qzxpwwfhg5v7OKbvOsvjNTrVJWBDH7ra3EQWDfEy1TmpMIIz7ctudvPRxRGvx%2FU83Pb4YD2ZQsycMksAcFFjR6dzuro%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703547", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>6f052151-76ac-4f19-a093-8f33bda5aefe</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:25:49.0013785Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:25:48 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="T97DQIelA8tVltnGg24qd6ot3MRTsnondtq0vSot2A",
        oauth_signature="h166Dw89wJELlpG7UaXII5u8ziAmkMj88d%2FPpF6OwMYMddfBStzoiInw7ffPlkvjwd2VfcSIFYJPK79VEAtJuTT2eO13oRCISQPNYKI%2F[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E9b576d1e-6dc9-4be9-af4f-0210891b6c7b%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%229b576d1e-6dc9-4be9-af4f-0210891b6c7b%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="QiKHWO6xdGmDkNVOa7hPnywZZ3UqJkvQIbtj8inj3Wg",
        oauth_signature="XrQnvFw3v5tg9bvPDJBfRzT2QKyB%2BAMUSm7UuVKDkePuUS2ig1PnpxyJT%2F7WAsTfIzSon%2BixzW6ewT1CmjBmN6wrRvpjY2wSuUHNCbJIcwRUzJfkbA3fro5YbrFsh55SFDVdsdqI6XVGq%2Bak%2BBoDNwj4DslBWvOOOcI%2BR6zR6N0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703552", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>1c0723ef-a553-4dae-a272-6314a9cf1ffa</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:25:53.0418562Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>9b576d1e-6dc9-4be9-af4f-0210891b6c7b</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-05-16T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.00</TotalTax>\r\n      <Total>1.00</Total>\r\n      <UpdatedDateUTC>2013-05-16T11:25:51.67</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>9b1490fa-0c08-4ab8-abd4-611d46caa891</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0065</InvoiceNumber>\r\n      <AmountDue>1.00</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:25:52 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/9b1490fa-0c08-4ab8-abd4-611d46caa891
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="rSidin3tnPirbfcarxsRP3w0nW1hTJ5DM3vfgBZ2g",
        oauth_signature="i4GQp3ddY6E62PA5hRvz7uzrp6rBWAVibneA8eQ0owboPYPol80cSSm504hNL0oQWia7Jhtr0zOlM7FDypOIGXIN3ApeQDcm7J4tdq3nq8fS8evV2mbLhQf0puuj%2B%2BGH[...]
[...]
