---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="a7WKjDVrssa5dYQx1VqQyhxgdNQ8DVk8s1yQe3DJQ",
        oauth_signature="n1HjVXlQv9MuGJh411vSp062hPQMsd404bOmOM1NSBET10DqlfvFaeKcm7jgv06LlmTm4jeib6RtOHpOMoTfxTw6o72%2BDIk9Ebm8WBnojrroJq0zI6%2FQabBNwjEpkxmEL1b7VGgREQQeEfA1HhGiRHJxs7dNc6SpGsxst1xD4BM%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473137", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>73bb01ba-a2e1-4083-bd2d-7294b94c7b87</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:38:57.9905066Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>c216c6ed-51df-487f-ae4c-5b43691f44a3</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-08-14T09:38:57.693</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:38:58 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="8Z74Fs2nhJ1lCy7Opd0VakaZ3DopWsoDArvozAIr8",
        oauth_signature="gGKrebu%2FA7CFvL%2BMJh4QBTp2aE8L8Ednbhp2qf8S1EaEv1Tep60Vi4jNC2%2FB5Oe2EAajKrGwzthSVvD0fMMuZBYeqvPAJrmfNngQFaf[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22c216c6ed-51df-487f-ae4c-5b43691f44a3%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="RDAQVjcfFjwW9g3OIYOLhSb8xgTY4Fl33RcqcUUYiq8",
        oauth_signature="hP%2BOsyuYiqIQDOjHutCf2J3nEWlsgST9ZsI8YHZt%2F4QvPmkVdthofJ1XXtbkgBjeC%2BVqSjdMvJvkd9fjf5Iutcl8IHIt9FomkXsCoVji3DG8c8ilhdTCOVHvKJpYfVa30DF83raA71EDBA%2BELAzcHQBwylsJ6KkfQ2gXmqJI%2Fqs%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473139", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>d4fbe916-0c11-4947-a978-ff6786279565</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:38:59.3632802Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:39:00 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3Ec216c6ed-51df-487f-ae4c-5b43691f44a3%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="vXVRNY5qGiMpR2bdREGDIKOED1DBisMOwqwfBFY160Y",
        oauth_signature="TdAf%2FLMT5Hw8AB6MBATWbUEioV9ZsBpZtqq1t4GV7W%2BU373Ws3hGfk38Wk%2B1Bu9QP6a5U3hC2PHya3ioEBwwzHbhJ11705ycN3w%2FpefO5iqMX[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22c216c6ed-51df-487f-ae4c-5b43691f44a3%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="0MhuJ7ot4AcxjF8sa0Nz8WGShvk0ZIFmydLFir7LM",
        oauth_signature="j%2FL16NzDp%2FxIDYnZqhXI0Ao7gPLa4s2I7BTkJyIAAazfJ2JvXb84GrA3ST6KWmdbQtbxF460VTaIjiu2q03oVmPMV1PJkz577vwCwdgINnYMlm9EvJ5Bx8vcpIszNdfnVJeVlQq8wJT6ayy25RW6OtLTXLgU%2FdNyS7KXB%2FQix2s%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473144", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>9acf0c9b-22b6-4786-b875-feb01e147479</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:39:04.0743896Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>c216c6ed-51df-487f-ae4c-5b43691f44a3</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-08-14T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-08-14T09:39:02.623</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>1d69e7f7-3f1b-42c4-85a6-549372397fab</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0109</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:39:04 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/1d69e7f7-3f1b-42c4-85a6-549372397fab
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="LVA2ZkBTvj8EKqdZLQL9imlY79FV5LSFFj3H1eNq3Ts",
        oauth_signature="qOtnwKiMgEOuYB8fYjulGC6IJXGXc16EqZ%2B%2FCazwJclHLUDZN1OW4nt%2FLoJ1wD7ejeUS3oMCapiMG2EXChUtWrgU%2FCJMPZvcp9EA7nr3CPN8L9iovTNoyDyNiJ[...]
[...]
