---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="QkyjeqBL3MSTkeDtgE2NAONLuf1I1XmJ1r8yz0R1I",
        oauth_signature="fu02r92rUfYwRr%2FSVDoOBBgvSNnmBP9rzVOIckk%2FYXXFbTJQZQG3kMvNF8HZqUWwr8Z2KosWaB3UAsBATWYcI8zJ25fgIe3fU5cQ94Ylay4LYE1GTNApwtai3gAuVI8wYZV0Blwi8gv1d63ioZzYEZ6LcbWLBGHxdSS7sDPLL7o%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1362428207", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>d18284c5-2946-4a9f-91d4-8ad7aa08eb7b</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-03-04T20:16:49.33536Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>214814d5-64bb-409b-8000-764aa0da91df</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-02-12T08:29:03.76</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>true</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Mon, 04 Mar 2013 20:16:50 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22214814d5-64bb-409b-8000-764aa0da91df%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="W1WtP4YVgBHmv0QLDowmFjzPkiuPKTqVxyq73niNp9E",
        oauth_signature="oa5XlzgQ%2FNYgHpvDrx0ToPrOc9Lf6iDY9QtsAcDzjmt%2FaiiFXgVJJo1IgvB%2FbXjdb3EBUv9yEpgzyZ0NhSJg2d8%2BzRWDO6vam%2FZRyWi8wjwJ1qQYlYPOTKgRmHZ8ZisMKtoXa51wW3SqlWEuxvIBfbZC%2BkMr8tpkzqIVnjleBQw%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1362428210", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>953e4c79-2906-4679-944e-ef2c23cabff9</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-03-04T20:16:51.2541354Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Mon, 04 Mar 2013 20:16:51 GMT
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E214814d5-64bb-409b-8000-764aa0da91df%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22214814d5-64bb-409b-8000-764aa0da91df%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="KZcBOMUnGs7jcgQsWkdBeKDC7CqReMGLloTpOBxoHzY",
        oauth_signature="WKERZwrs4aFnoiBzS6itnauMT7qYD4nrjQfmif2wsaAeJ525lrQP%2FccbqSzvb0i19q1lctmyAMdAVGi81nXgJbaRbUL39fnjNTKPXSHx4RdfhQNAlmekhpRUGn%2BS%2FYAMVOqv6ljPi3jstv%2Bk3N%2FbNZ5heZN0Ms%2Fvc9rYY6H3sBc%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1362428219", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>271314f0-4fbc-4440-bb94-748701a22086</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-03-04T20:17:01.8775992Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>214814d5-64bb-409b-8000-764aa0da91df</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-03-04T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-03-04T20:16:57.633</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>b6d7f628-73d0-4161-b84b-d75f1a0d9a78</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0522</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Mon, 04 Mar 2013 20:17:02 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/b6d7f628-73d0-4161-b84b-d75f1a0d9a78
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="WEBpn3GyhiW6FXSp2MFU07Nn85pyTqlwA2xyJErYkM",
        oauth_signature="nnRh%2B33B9xLzheK7VoC2DHV88efRfTzTJECvHrD9nVS7EpLQcqFLqek8cWTPq5sjHk54%2B3OofG%2Ba958V5fnsh8UlQzKn9p9OwCWwzox7Bg7%2BgG5AmbqkBnVGz4k[...]
[...]
