---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="cQwuEyD39EHOhNZo7E7IOeaIDmNXsuZxRh3QXGIto",
        oauth_signature="rC8aBL%2Fxx47%2Bd0Tav4klvFM2r2wE4jWWvKn1PV%2B7Uq12GfUz9bDrbhpMknzGaZ43MwN076efaUGWc8M9Jlo%2Fl5vTvbxj5nPAMtlF9g9owHJzZKF%2ByVOsOwhp9XL2EhqGAB6jroWl2Mw8jHAqO2Ori9TO27TBy7Xf2iL5NN3ZAI0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1362428241", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>22e13bb1-c649-4b38-b332-2a6a9503612b</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-03-04T20:17:22.1885388Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>214814d5-64bb-409b-8000-764aa0da91df</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-02-12T08:29:03.76</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>true</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Mon, 04 Mar 2013 20:17:22 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22214814d5-64bb-409b-8000-764aa0da91df%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="TfoVsY1Iw8SEyfADK9vHRFmKmwAylkqUmWTVpibTW8",
        oauth_signature="sFjqVadceWBlVy%2F8W3NoeTTSuxKI224BFoLjfp7xAAqYxIx8d%2BlHmOz7tDTRaoC5E0A83JJiZyq0UbS4kEV%2BPx1EzvtNgWf32zS6FKzVnE7omPbmgILNBgcZxctDRen1N7ZaU%2F4r55An%2BWZwnFN7YYjKQ9U7sqYhGhCUKGXdduc%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1362428242", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>b65ccedb-da3d-4281-897c-33c390eb3e61</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-03-04T20:17:24.0917144Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Mon, 04 Mar 2013 20:17:24 GMT
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E214814d5-64bb-409b-8000-764aa0da91df%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22214814d5-64bb-409b-8000-764aa0da91df%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="i6jvhIvlI1eUVIGcZzDHq6dM400CKl6hda8r3zuY",
        oauth_signature="bluud2Iox%2FQ9pluZm9YmeHB09jinKPvkIHk8FS8G0amdVh%2BKH9Nf6EoGJz0fI3XGawfBDQeLe%2FtFMr6X5ttR43Gbj5NMjIBgPbPdsNFrQM7%2FeOS9LQwxftr5BntCTJyU59ZMPgtbmi1Gyr63kUIiczdH59taFrfbaIgH6hwM3so%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1362428254", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>131a3c61-9000-4dad-8b0b-6db48709d37b</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-03-04T20:17:35.4171692Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>214814d5-64bb-409b-8000-764aa0da91df</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-03-04T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-03-04T20:17:32.967</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>aafdec29-0834-489c-b272-0bc4ee9c0c83</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0524</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Mon, 04 Mar 2013 20:17:35 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/aafdec29-0834-489c-b272-0bc4ee9c0c83
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="QKYn78lwrtFAF3GWzJzlQm5bkuIaRArXwTjFRO3Xx0",
        oauth_signature="B1OcqYlWF%2FztoQdx2OEz8sNJFt6cDu4CkyK9CuNYdLfjIgTkrFsqFbbWA%2BrclRHyl%2BLX%2FHq9kWMplGVRKVDtRrNlfLR4VhM6FyitXpJ%2B9Yob3S3BArBnPDvzl[...]
[...]
