---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%2B==%2B%22Existing%2BCompany%2BInc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="3dL5Ev6VNNUQCcSCPYbOx8NMDHhUmmz0UvpIUSRQM",
        oauth_signature="I85ci2GrujVk36h3B8YFrVVauDZznhSRem8nH%2Fslq2AVOfm%2BjfZhUBMX1O1TJO5Js4JhvUzdMjLfw8oxlk4%2BJQ7nzqnCJIUyvGYram5t%2BiEgteuc0R22LBmOZsKYzRGQj%2BCcG7LWMs9gBj%2B%2Fks9YIiNEXQH1ZJ6ZUqOKrJj6SJI%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1362156867", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>726995d0-3376-4b93-8383-8567eb5a7923</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-03-01T16:54:20.2650555Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>214814d5-64bb-409b-8000-764aa0da91df</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-02-12T08:29:03.76</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>true</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Fri, 01 Mar 2013 16:54:28 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%2B=%2BGUID(%22214814d5-64bb-409b-8000-764aa0da91df%22)%2BAND%2BStatus%2B!=%2B%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="Ms5pkSN5KU7PAUjJT6arl7c4WvKyAyFhG17ddBtoUIg",
        oauth_signature="dwZVhw4w8c1sj5%2FyA1IabMMN%2FtvH5F4SM%2B9ZByj3C9fpBLmTWXql5AK7Hbjq3okoXgM1pXjtwxtC%2F0PEzSGNmF74qNh5%2FKCxUpDPyQevamDKPHqHpfSctnoePYJc%2FQZusmfI79cjcM%2BRy9%2FnVojhiFwyNr0YlGrBxfYegbfP8Zs%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1362156868", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>711b1a85-e795-4515-802f-7da69d8db4e3</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-03-01T16:54:21.3726697Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Fri, 01 Mar 2013 16:54:29 GMT
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E214814d5-64bb-409b-8000-764aa0da91df%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%2B=%2BGUID(%22214814d5-64bb-409b-8000-764aa0da91df%22)%2BAND%2BStatus%2B!=%2B%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="XKT0P2RIJMyYQon3xqialkfKSPS0KP6WwZxOB7bEJ6Q",
        oauth_signature="JoEEl9uXpdWKzJeVPL5Svf5l1nBKeY%2FHK%2BycmfDdIi1ftI6EYUm1pJUCGHzf75EETZCNHfs%2BRY6kKrtCSpkBxTVnW8kCITStXIj%2B4rCQUR8N6%2BvCwyh5TZ55nLvGFAUov9KdPq3aQF%2F2IdwdHVVcZ021wkyB2fd%2F%2BZaCpcuMENw%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1362156874", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>b4591cec-b8d7-4cb8-92c0-13aea531f2bd</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-03-01T16:54:27.4099471Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>214814d5-64bb-409b-8000-764aa0da91df</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-03-01T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-03-01T16:54:25.18</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>7adede11-79ef-44f8-bfbd-26a37f7d3b7e</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0502</InvoiceNumber>\r\n      <Reference>AB1234</Reference>\r\n
        \     <AmountDue>1.20</AmountDue>\r\n      <AmountPaid>0.00</AmountPaid>\r\n
        \     <HasAttachments>false</HasAttachments>\r\n    </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Fri, 01 Mar 2013 16:54:35 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/7adede11-79ef-44f8-bfbd-26a37f7d3b7e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="g4l3sOGUcuwhCOrm3jB4LsMnrhkv3shtJYzXvnkTw",
        oauth_signature="Rsrx8uL9qSg4BOI2SudIljTexrZ3fpudzD8BMMu7jgX2lLIg6ybVAvTe0cYJk6xj8ekKguV%2B5F%2FT2OjDa7FrvdAgtzLb3BOLZTaUNkGgkOCgUR%2FGv1GFo6eNrQvuzj[...]
[...]
