---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%2B==%2B%22Existing%2BCompany%2BInc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="tWJUa2Ih1J80lFQ63sDhXKu9IQbznPK17V732ST5w",
        oauth_signature="O%2BN7bTtAcrJqiDi6FQ4Q1%2Fum3s7B%2BGF4v4GfMYM9rzb8sxN7%2Fk2Kn%2BfiXaIMGoyQ9MAj4datEbL%2FTPLY31BHQQQdbsYyNQnNwPD1KsHilSlaKZeP6U8dvlGWdm%2FvW6AS2NxcXvmEeQquqNEFZNyAehh%2BoUV8meJVlVr5pAq2m8g%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1362156877", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>cab936ec-dc0f-42db-947d-d70c4e3390cb</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-03-01T16:54:30.4051855Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>214814d5-64bb-409b-8000-764aa0da91df</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-02-12T08:29:03.76</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>true</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Fri, 01 Mar 2013 16:54:38 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%2B=%2BGUID(%22214814d5-64bb-409b-8000-764aa0da91df%22)%2BAND%2BStatus%2B!=%2B%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="Kx63e9279lpMu83HVxxfTypQhnErYqbqsexqbXRRMhE",
        oauth_signature="kyV2OkZvr7xBAuUhOX9zRqIn5xHDsjtZ7QfH1G8UtU%2FTVkFSJ6LRpS3nKGxAyNRVrV3UPHCfbnR6hCWPwtS3jNIj%2Be3BqRxOBuM%2FRQkGjGInR%2BCsQ8yoXnMpGSD%2BnxP%2B%2B91TydFc16GcnsG9L%2Be33nZIoFS%2B%2BEmeOT5jlfB%2B264%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1362156878", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>b817f422-53a9-4799-b8b8-2cabe01b92d3</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-03-01T16:54:31.5440001Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Fri, 01 Mar 2013 16:54:40 GMT
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E214814d5-64bb-409b-8000-764aa0da91df%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%2B=%2BGUID(%22214814d5-64bb-409b-8000-764aa0da91df%22)%2BAND%2BStatus%2B!=%2B%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="E06PxuR5NRj1wE5YLLH4M1QvOqRQnWPx45xoNdlzU",
        oauth_signature="DkrIWY30vE9w%2FgoeZxrNQ5xQw2XJRp4GPZpOIJ00QYBAJLM0SpTUMOreLTmqI%2FTqK%2Bf0KDA47nj5BW3R30du2U1%2BMgar91HlmOZ5R1EgmT0HaJUQb8gvWqU5uCnnAZ6YpyD19DU2Mon%2B%2Bav3AYQut%2BjsmN5PCpRuQ2gTgs9c5%2Fs%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1362156885", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>eac8a0b0-3935-4899-810b-43ec76c98300</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-03-01T16:54:38.5796903Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>214814d5-64bb-409b-8000-764aa0da91df</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-03-01T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-03-01T16:54:35.99</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>ce62fa84-5fd0-494f-a78d-d9ee8e43b306</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0503</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Fri, 01 Mar 2013 16:54:47 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/ce62fa84-5fd0-494f-a78d-d9ee8e43b306
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="C3cO7aOckpdLBlXEHpsyL4jSvfsMOCRx9H0937sBo",
        oauth_signature="L68vZ99Zb0ghhIWTI3YETXh61NVC%2BNIgL5GNCxEr7QN6pat3A7T1n2jTQv%2BdRdVTvuqFtGZFp2SUA7tWGpDRltIK5WkhdDLlj7PGdGMt4eMZMV%2FOVxwTi%2BcasT1o[...]
[...]
