---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="qc53KNTV3C4Q1CYCbHoPGtbAIPWtjxKpPJLLJst2QQ",
        oauth_signature="cNcJIafvJaFJP42kaNSbFMRWhXxOf2TOvFNhb3vvX57lE2rLO%2B118UghMZRO5Qp39ErM2lC06OStBv7ujxKsNw0awd0GFBxtZZLB91HAFCsqOooiqsGQCS1cuj2s6Gcub4PkFcUyVMix1Eve6uFHxasmOrL1kiVQ4s3kVcI4Uxs%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703583", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>b8ce729b-bf97-4165-8cdd-b08f0b10a149</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:26:24.0708529Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>9b576d1e-6dc9-4be9-af4f-0210891b6c7b</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-05-16T10:52:38.87</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>true</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:26:23 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%229b576d1e-6dc9-4be9-af4f-0210891b6c7b%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="P0MY6sd0KO4T5jKyIDSXTMMjmOWLNPfmYMu1N2BJSM",
        oauth_signature="bqxaRnaYLlAMNjj%2Fw503TPulgQT0%2BS6tDX0GDByAd3dNHgK9FdbBEpUZNSn0Wq52AeXU9qJmp5FnhS76KLYlsFUS%2FAQRi3zezQo9il7vel3pcRct7Cd0omiKfXy1ecgfUQSzV6PaVGIve%2FSFHqhOjudjXm8Y%2B%2FFHJ5dxbZC4iDs%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703583", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>79358ab1-48d9-4600-9714-cd756fac1088</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:26:24.7572661Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:26:24 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="KmV9kdYnkhaTozq2jZ1mghGQJhTHQRdohp0e1yzOAE",
        oauth_signature="AtBm0xs6kCYVgPOCH23tdSSwtxyn8AxDdBLs8KPf7TcwxZapuxdyjL11VHpUn58YCLmMvPFcJhihceJXGlMDvPwKdAd0BnF1VH1XkmDsj1e8[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E9b576d1e-6dc9-4be9-af4f-0210891b6c7b%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%229b576d1e-6dc9-4be9-af4f-0210891b6c7b%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="cFRkIUzKSgLgJXXMwYD0WFrTQlJBoeU43Xi5mwdCgCg",
        oauth_signature="NCFhCc2gtBVkWak3qzeBJblAWB%2BANcBIWc9bPngAkLCIUTenAwcRwsuAE0HKt6zqmJ9C%2B8Vi3dTEIb3deJOeZh9yZwg7T1MdC6Fzn%2BOUyE8xRjxE1Tf88htGn2fRRPraRqdvy8tzcESxAvpVCVika56DB8suNwbsQT4lovnd8L0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703588", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>3e0c5b47-0469-42a1-bd44-7c6489b1dc63</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:26:28.9381465Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>9b576d1e-6dc9-4be9-af4f-0210891b6c7b</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-05-16T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-05-16T11:26:27.533</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>8d75cebf-f405-4cd6-96e8-82f12922188b</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0070</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:26:28 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/8d75cebf-f405-4cd6-96e8-82f12922188b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="KlLtJez7NjDf0x7tsIxROd4aCq94TQ3lyAs6xzQQ",
        oauth_signature="m8PiMjBdcljhPAhtdOQ79uO1nD4rf9AMYBGzHJwH9tFXZSho0frq3tFInQj9fBrKJVzSLBarnTw0%2Bu%2FxRI2j3JbO01H1X8CIS8rA21XyO9KO0RxyvQjXTBDg0TYyHeD%2[...]
[...]
