---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="jfeRVSmnbPy6EBcMbCa8BwnBmUQqyPV0OBAPtOFcw",
        oauth_signature="dH%2Fmht%2FNB0nhFo52SfZP231nDkmmw%2FjcNfsWHQW7eJSOB%2BYJd9zx8gsdvIotgoHaZOjW6avqWru5g%2BWBNgJlrmcSigo9cOWoN7LLBzH5ggEyadtyBKNcNJSb9Et1pqUOuohXACWSopbC0hdoK3SoYp3j%2Fxkr1m3tjPzpLs9%2BjAw%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703575", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>df8e7340-3f38-483d-ac41-dbfb040cfb5c</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:26:16.6607104Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>9b576d1e-6dc9-4be9-af4f-0210891b6c7b</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-05-16T10:52:38.87</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>true</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:26:16 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%229b576d1e-6dc9-4be9-af4f-0210891b6c7b%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="X22kIi675hAZjj9jwTAM5FuFUc799z5WKC1YgxixuU",
        oauth_signature="qByLTB6emx5b5aQ%2BkfDt2iyOLBx0xI70qDtV4yLMN0HlKpGfSmUYBEMBk4wZaNe1gXkuqMktsxQRgCbo2to1N1iRgwRYjCu7UAhtdThF7owwMKW%2B4wIAg3pHJCJChdoz0QGCZX2bWe%2BkcKTy0madk%2FRSRI1iTpFPpXyZA%2Bw5R4Q%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703576", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>fcfdfb50-c7fe-4110-8cb1-dc6efe4b8332</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:26:17.3627239Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:26:17 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="bVXfFmcSeTaMXySPlgIHgrPQKp0bnKTJPUOCSyCNng",
        oauth_signature="MMFeDHO9gGZGknEGE3iApxQCLmd8Aig9S%2BGUpif4J5eWibhg5JaK6kXI%2FKM4DTctn68akNhdpOg1LswkfFzQA4DS%2FcgnZedt1WMvOU[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E9b576d1e-6dc9-4be9-af4f-0210891b6c7b%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%229b576d1e-6dc9-4be9-af4f-0210891b6c7b%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="U2dduSLB0vW2YmL6FMAHu3m2ecwEcZzlDKt612w",
        oauth_signature="HAjaIZrtgBafDLUl5ymyJ4UmsDYSv%2Fr6eaE8SyhMzis6MncbOt0UzQtzZJ5qQs18oWM%2BknUQUygjQmtGhJhayvQuDbnt9WLdRzZ2wUmtdzZXDRzrYJYAiKYzSHLoJGIfhDW9PbyvqiUUbROmTuvJ9bgxZe0bq8dkWlveJmg%2Bjm0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703580", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>a29ec832-8c1f-452f-82f9-1e054ec97d26</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:26:21.6060055Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>9b576d1e-6dc9-4be9-af4f-0210891b6c7b</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-05-16T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-05-16T11:26:20.06</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>84c392f1-77a7-41d0-9bf4-eb7a324d4bb3</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0069</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:26:21 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/84c392f1-77a7-41d0-9bf4-eb7a324d4bb3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="YNOmhp80w8QyngLE4qAVt9NxgWo9vPqCPwnrntzhwN0",
        oauth_signature="mm7mzBbIjrsAaqqY3mypbQN9jXoRLppht8MtxLrCQkV4VEChbyT20bl06JxmiBnMe8bVbFSb5h0GaZmzd5il7EFrpG6aqXhjXGgcUp3gsIW5lO%2FNrtrYW2U%2BHZLzNu[...]
[...]
