---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="np28jgmmt2MLX6MUL0vnO2QnPUoF7HAr4sWgGojLIs",
        oauth_signature="fAo5vOlEQ2O8Ds%2BFwmmX8gso7i%2BabVcCf4lRK5BbjNMMR3d86cTjrGdc52m1DykaoQeMaYZc%2B%2FOocDKCnWTk1%2BJhn0Ct1VJPweytbXkpfW4gTOE2OcQvSjWq2JdPKqmgkjJnxlpZsCwgmatc8LSzOlUxly2cBJZdFvSunXZ%2FZvo%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473147", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>88bc7ee1-af12-4c3a-89d0-0e0e7009532a</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:39:07.7559188Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>fcb8ed07-459e-49b8-82d7-3d4f87434e29</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-08-14T09:39:07.63</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:39:08 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="wyP7KyD3wePUL8YdoZ2yPWC5tcbDzqwrtVABcW8DA",
        oauth_signature="f85n7uqlZFbpSrqORYvMTnxIZVF43M6JBnOBiS4Y%2BqPH62UN6RZfNnB6%2B%2F5fXMiMYB7yya1SQc1nPMYNrqOk5VXbnxMsDTXq%2FNSmb[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22fcb8ed07-459e-49b8-82d7-3d4f87434e29%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="UJD4DTY4ZfuJn36TcvwdueCgdRoXh2zj8P5qzcEoG4",
        oauth_signature="ZYvbkn5qoaqD0WDdlcj7gCQRL7KiG%2B3Z7qmJ91%2F3Ci3bjytaXjagfuMYQZj4kzCbQU%2BGOF%2B8s4z9P5PYuD0UKmYxKh30kNQHJYcqbSA634YhOXaOETgGcv%2BAhP6oM5lt2kYY9%2F0PCJbfGhTbFaM6aKwlaAB1QvbVsbs8Dc3BgP0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473150", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>a564f85c-6f64-4a53-845b-4ce1d37847a2</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:39:10.345469Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:39:11 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3Efcb8ed07-459e-49b8-82d7-3d4f87434e29%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="TDDsG3pXMpr51CeSFdQs2ZmdyLG2eo0qIeKD13QXXI",
        oauth_signature="AMkU%2BKL9k9HoY38Nvj5%2FtX9qeno1SFRkitR3bMVto0vM0IW9I6l%2FQcXi%2FX3wdGVj5fD3gdw%2BFM3HG1q%2BLVC0KOA7M4voAwiP%2BLVCuU7H[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22fcb8ed07-459e-49b8-82d7-3d4f87434e29%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="01vsosWGx6uxabrH6wqqDU4u2ts9blUglVqbjQvsWQ",
        oauth_signature="rFjfafcHA78xd5uRXRBl4tt7kM8Lj0tZTzqgzUpANUcbcLLXj0ule6BvHnvBMrIjF31iVm%2FK2ydOvrxNBqFTv9SDAmrsz%2FVmtyHEK8m2H8zm6ZfcnLPjUJEP3GWJWlC%2BNoAhBZUnjLPvvnYpLTksNjHvgGtRbN63X%2F1BOCia1B0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473153", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>8a7ea90d-6efb-4aac-8987-a51af54c62b5</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:39:13.5122081Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>fcb8ed07-459e-49b8-82d7-3d4f87434e29</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-08-14T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-08-14T09:39:11.967</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>aac8a151-775b-467b-ada2-e48af2542215</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0110</InvoiceNumber>\r\n      <Reference>AB1234</Reference>\r\n
        \     <AmountDue>1.20</AmountDue>\r\n      <AmountPaid>0.00</AmountPaid>\r\n
        \     <HasAttachments>false</HasAttachments>\r\n    </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:39:14 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/aac8a151-775b-467b-ada2-e48af2542215
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="PyeAzLUSpl8RMJlObmiaOUUuXBnItHeAf0itW4yWA",
        oauth_signature="Xuf7KELdVW4YA6PvaIiGsPVYnnk7ACzKKshJtsj6Mb42Pju92TB9s7hIX5PnphF%2FlGTUdpaK4aECaALhsdHzuqvq6FoLacfAg5hmLZHzw27nuzNWSqsIo0RVrPIMW1TVpQ[...]
[...]
