---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="BoLVeWrcWjdteiPvfSES0iJ0sDFsKNAN78BfKIujE",
        oauth_signature="dNMuB4m8forYYRgtwmK%2BjZtJQHRR%2FGWYQ8cWDAOaI3V%2FdZx3tsuxsF6QhexwpY021aq9nGkiDLHpm9MqSaLttStfX2DczcnuWG8KkEueFvmyL26gyQ3tjhqg%2BxLVcXFdAuNS3hYOHZyshXLfKNpS9NsKOVmT%2FnFPJGs8aYJJTWU%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1403174728", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>9a573f1b-6ac7-48a7-852f-ccb6034abba7</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>YO</ProviderName>\r\n  <DateTimeUTC>2014-06-19T10:45:30.647568Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>d7ce1421-78e8-49c5-9e7d-53e3db2c6756</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2014-06-19T10:45:30.43</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Thu, 19 Jun 2014 10:45:30 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="WOKrdBtCeB7aHKgeJCC8WS8QLfugrA91CtnvcE7Ia34",
        oauth_signature="EFA3o8jL4V0bn6q3Yf5n5YU2aXvNk0ZQvYUyTF89kWnHc0n8hu9pRh6BTmoqFXKlku6yirN58MpWY7qGJkoX9RRcyeUrXlaxVnY%2Bs0WP%[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22d7ce1421-78e8-49c5-9e7d-53e3db2c6756%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="4uGCgX645YOSGA4zf8eGnOo6s4fGEjclQA7ABjG5o",
        oauth_signature="mX8RzozSRDKQLgNkOVnQ6U5FNGQ%2BHs4EcIewLR3L%2BvOFvlS%2B3%2FY1vNn4f%2FuErLj1m4rGj%2F3YEcDJcyq1WNwuSiCDmo6q6%2B6phI9zH%2Bg50lUEzaRt%2F6lUv0HcJM7C5R2hV0qeFwyutBOR3JYDVFURO7mucxtBPdiG8EfqcMYqjSw%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1403174731", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>30ac0156-7dc2-42df-b8d9-55bc42baf58c</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>YO</ProviderName>\r\n  <DateTimeUTC>2014-06-19T10:45:32.753622Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 19 Jun 2014 10:45:32 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3Ed7ce1421-78e8-49c5-9e7d-53e3db2c6756%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="LqVGR0NFxaeBHV9Ups2gkq3FSsbvJzf5I4ALTumD44",
        oauth_signature="v9RLbOe88ZPIJ18oFAgdAv7iZJdXcS3Ar2C6Ov%2BJl22B2sg7y2eT0Ch2iXT0Zo6J%2FAOpLrSPB48VfhD1gs5d5SVgJJicWIIV4acbIIudTLw54BodqZ[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22d7ce1421-78e8-49c5-9e7d-53e3db2c6756%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="m69qXhtRRQBJL3cQRKXm6o0Sv0KI6lgsMEdRvHI",
        oauth_signature="Nmc75ibga9dN8kqfg9R8QT%2FGq9vaQuQRYeksT729sLP0KuiDTmAlBLWTWzE8kOeGWlIkSO1o9Vkg5KEaTg0MzXWhouDOoFppOAme1ixTrMbuU4jcs3d86skhEWblBu%2BHZybWhz0i4nsEGnuYbad7wZ3ZnMAbJG%2FJ03Vwa3UP2bI%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1403174735", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>eec1267e-ee32-4def-9a93-64ab74de462d</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>YO</ProviderName>\r\n  <DateTimeUTC>2014-06-19T10:45:37.2309368Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>d7ce1421-78e8-49c5-9e7d-53e3db2c6756</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2014-06-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2014-06-19T10:45:35.327</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>cc714c15-b4ce-4349-bdfc-fa9f120947a8</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0050</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Thu, 19 Jun 2014 10:45:36 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/cc714c15-b4ce-4349-bdfc-fa9f120947a8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="HEMBHP2pyNbBqiPnli3NmnJM2UEhndwqYiJnqdUcA0",
        oauth_signature="j51xLfp0iUrLCJrWDMPn0ZlVXG6AC3lw5fGxpOwiQJsy3DY3vQs0TRD9uo2grAv0%2Fjhc5VA%2FhlN1M5p%2F27SNKI0SBQ%2BdYyQNT10hsJMgfKrfvGg04vtJBVSVRgK[...]
[...]
