---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="kuf6TiMl9qYHTJrGuxxD10ZnXJz36rTejXCqSlj0",
        oauth_signature="BnEBQ2vDpB86BEgOftdq1lhREzl2jewxXX6IExol0Bb%2F21OyMESaw9QAjLPazZfZruP0n9StEM5aWwsGGL7vlWZfrdclduM4TjXW85Tx1rRNFCcj4kuSU8x96lOpDAm3Timak%2F%2FRUTF8sV2mYoxo9APs5tfCSo3rNxeBKp3GWPM%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703332", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>b1e23f8b-7994-424f-99bc-dfd864b34179</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:22:13.4052325Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>9b576d1e-6dc9-4be9-af4f-0210891b6c7b</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-05-16T10:52:38.87</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>true</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:22:13 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%229b576d1e-6dc9-4be9-af4f-0210891b6c7b%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="u8AhmWSEGACHPeWm3e4m1QOs22hFx0C42i5UMZJM",
        oauth_signature="kmRjHmH5tU%2Bx2QQn0gaftlyYZvhBC5OiM2ZldnbsICpmTWgILDUChBN6S6uPG5ayBuU%2FA9JmuYDiAVFDEacbFSpN1QCsfarto8TT9EiCP6eabM%2BNSS7tBPTRe%2FAONNbZSxsGoBG%2BcZ%2BjsxvtqpoP46BNk%2FdkcqFxndQQRnaUYqg%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703333", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>30e9baa4-30a4-4a11-a846-9ad699d863b3</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:22:14.0916457Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:22:13 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="J1GquI6ensjbvBs9yErW68mCV87d6Foa8ckVg4Y",
        oauth_signature="nJ7Rb2L3wEDl2NLBMGUrIz0icXcPs2HuMFVCiiDKoSUm3WyE6q5dmnyNIhp%2FhwcMHjMZPryPm7lU5qoXqk5DIBx2f7JPVkNkC%2FoiR3bqR%2[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E9b576d1e-6dc9-4be9-af4f-0210891b6c7b%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%229b576d1e-6dc9-4be9-af4f-0210891b6c7b%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="f6y1tbceapIT0xsNGqsMFwnih6UH3xbHOZFN3DVwMc",
        oauth_signature="qx0KN1w2FiD9i1VmjSiTEJwCRRyVnY%2FCsTrDeRI2N3HmHHk33X2G7wRBZd2Cbf9icd3jDGQXKOKeoT1CaxuuKnbKB%2BobhyKhMs6VwhXsr%2B9Oxz8vPbofM4%2F5ZBMy7gBicCR1v5c%2FynbfMWM%2B8YmY9MLR3L0CDOLhLA3Z49qsu14%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703337", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>9bf0d65c-8d31-464a-8ef1-61efc5ec51f3</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:22:18.2101249Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>9b576d1e-6dc9-4be9-af4f-0210891b6c7b</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-05-16T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-05-16T11:22:16.807</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>593ed058-851b-4361-9411-8249331c86d2</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0063</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:22:17 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/593ed058-851b-4361-9411-8249331c86d2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="TrCgvDcZkxN2PwelgVv4RqDGlOzVaU35hHG4XCj3o",
        oauth_signature="YW2uah33jKDl3QMzGm7j7LWC7yJwiCSXZ2T6nxSdzyRAndTweQ%2BsVt1UsNxGt7%2B%2BemDiTeLcQWpl%2FIomLrMAQBG50NYvVWcYeIixXdQ8WAM1KRKZv%2F6kMATEwX[...]
[...]
