---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22ca89f909-3141-409b-ad2b-bde4ab0fed2c%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="o2v1WhxUIxdie7MTG9qfJDS3xNAohsrdLZbDsXfAsg",
        oauth_signature="UiRFLFsMLr%2BCYQnHkX6cfjpVglOPGhDlKzF3vRljL0CSB3siLnzgLv4VFBGX2yyVaHOWZwu6EdU1WBw8jLTSItO5fEAW3ABF3j%2FzxXnKQU2t29%2BcIiDmsoAJpUDhZfhCdjfP1VH1K6snaoer6nltv0fq6OlOTempy66ZT2BY5Es%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1403257144", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>758c3745-88bc-4949-9bdc-887ce1c1b56c</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>YO</ProviderName>\r\n  <DateTimeUTC>2014-06-20T09:39:05.563278Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Fri, 20 Jun 2014 09:39:05 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22ca89f909-3141-409b-ad2b-bde4ab0fed2c%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="etmvyaeVizP4tc4wapMTPwKzsAI7KIhqs52KuIB0",
        oauth_signature="a%2Bho6ykau86HNL4EqReoj5kG6PBjZrVElRADMgiAxpbsW5Qe4dlIkI3F0YIrBGDCWRcZDHtvk078eT4X6GiYHpgVc4kq8%2BEtP4JFRmVcjfYlI90hpeFtU4v5KOa636Td95er0R5wdxhyhrh3dnOV1NGB2NkUp8pyJQe0y2gpPxo%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1403257147", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>6eb6fe49-86de-4fea-8679-1aba768b0e3a</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>YO</ProviderName>\r\n  <DateTimeUTC>2014-06-20T09:39:08.7925194Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>ca89f909-3141-409b-ad2b-bde4ab0fed2c</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2014-06-20T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2014-06-20T09:39:07.263</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>607847a2-178a-443c-b879-a15456cf1ed9</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0052</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Fri, 20 Jun 2014 09:39:08 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/607847a2-178a-443c-b879-a15456cf1ed9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="ekraMH907HhalnciCeC2MBWzBLDaQXrjN1t4QyYo",
        oauth_signature="L6DgQ3M%2F5BYEQSzu3Zo3839x4FH1sU68kFZ7DJ0tzQ6G%2Ft1ke8ce5Eov9DAJYbzIkZtj3wfL%2B0zycpQThHHOP89TxdyFab5xb83r9eJNqTzVUZPCjAtqtRF72QXC1RzB%2FRx6zY9M8nx0GQ3hDMWCwB1XcF9i1Ik36EDkfR6lMKM%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1403257148", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>e6659777-f430-445b-b806-d109ac54b27f</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>YO</ProviderName>\r\n  <DateTimeUTC>2014-06-20T09:39:09.9937348Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>ca89f909-3141-409b-ad2b-bde4ab0fed2c</ContactID>\r\n
        \       <ContactStatus>ACTIVE</ContactStatus>\r\n        <Name>Existing Company
        Inc.</Name>\r\n        <Addresses>\r\n          <Address>\r\n            <AddressType>POBOX</AddressType>\r\n
        \         </Address>\r\n          <Address>\r\n            <AddressType>STREET</AddressType>\r\n
        \         </Address>\r\n        </Addresses>\r\n        <Phones>\r\n          <Phone>\r\n
        \           <PhoneType>DDI</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>DEFAULT</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>FAX</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>MOBILE</PhoneType>\r\n          </Phone>\r\n        </Phones>\r\n
        \       <UpdatedDateUTC>2014-06-20T09:39:04.113</UpdatedDateUTC>\r\n        <IsSupplier>false</IsSupplier>\r\n
        \       <IsCustomer>true</IsCustomer>\r\n      </Contact>\r\n      <Date>2014-06-20T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <LineItems>\r\n
        \       <LineItem>\r\n          <Description>my fantastic invoice description</Description>\r\n
        \         <UnitAmount>1.00</UnitAmount>\r\n          <TaxType>OUTPUT2</TaxType>\r\n
        \         <TaxAmount>0.20</TaxAmount>\r\n          <LineAmount>1.00</LineAmount>\r\n
        \         <Quantity>1.0000</Quantity>\r\n        </LineItem>\r\n        <LineItem>\r\n
        \         <Description>PAID WITH PAYPAL</Description>\r\n          <UnitAmount>0.00</UnitAmount>\r\n
        \         <LineAmount>0.00</LineAmount>\r\n          <Quantity>0.0000</Quantity>\r\n
        \       </LineItem>\r\n      </LineItems>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2014-06-20T09:39:07.263</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>607847a2-178a-443c-b879-a15456cf1ed9</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0052</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <SentToContact>false</SentToContact>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Fri, 20 Jun 2014 09:39:09 GMT
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="CB3Ft6DHzEDD85bz6EJoZSDXgWnZMsslZcF358erI8",
        oauth_signature="ZtyqjROe19hHU5bd%2Fn%2Fa5TgydMSHiW2XAtLjeTofk0vf3Qj%2BzXGwYlWsvbpZSMv2VeEm4x6dfOZGT85xSNGSCra35POalywu2IztH0zDbuudA7tFQ9NucVbVzx%2BuRjCi2JKfNLG58slr94oHyOVCeFwJZfcyvISmFbJNBO19og0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1407416030", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 505390-O1VMAP05
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>7d3ab464-b7c7-4b7a-993c-793de9430979</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Beardstroke</ProviderName>\r\n  <DateTimeUTC>2014-08-07T12:53:48.5339811Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>1d0e0130-fa73-4b97-ae11-e336dcbea246</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2014-08-07T12:53:48.503</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Thu, 07 Aug 2014 12:53:54 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="9Nzwv0DcrQ7Z0s9riwFzdhuAI94rNqGVCvzWYwLY3KE",
        oauth_signature="TeM0xEqO9TNZxlMrpe3fX%2FXIJSlAfV%2FN%2FMtlf8ea9Hnk11jS70QZJh8kb43i1jjBY13inIP0KGtmi0yt6gPElCBvVS93O6%2BMX5X[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E1d0e0130-fa73-4b97-ae11-e336dcbea246%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="1uChdzw1DWntpzQjM5dSrCRmMhCRDcfJubBoFVNyJEA",
        oauth_signature="ahjatGKSu0b8QFf52RyLNkbEMpGs6QGTiOnlOBnMxnhvwuTdqzP2uDgR%2FTMaQjZgbQ1fWTNhtB8jl4H%2FVphTNqdC%2FBb0P0bxEXC9Awtc%2FrgNq[...]
[...]
