---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="lhz5cL2OeDsP2SYzGl5uZT6oKuIciWQaMB8jQa87sI",
        oauth_signature="UQH7QIlmSOXBqLSYm2DxVaeLJRUIh8xvbR8pPaLtSllVneqsAg4SQ2m01SDo%2FaFfbUUMR6tsk7DBeu7zmK7sxQ3gtqJmtTqlC8svv6OSOjNSxixihwft7M%2FXidehEGiETURH1%2FNtwRADo4AfCmsyMCdN2e72Q6SwcFXEgnRkBnI%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473181", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>7c0af928-9d73-43c2-8c3e-2286c9619909</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:39:41.2952738Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>2edc151e-152f-4733-a411-c335a24f4475</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-08-14T09:39:41.25</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:39:43 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="5moKxH0OLN1hHgfPXitYyCdxUcGLtTOSgmnIQn71s",
        oauth_signature="C%2Fdv8ghR5R3DH2L6EayNX2spFEReB8fkYa6TPQS6z8ZiQI2l40%2FNmHIV4sM9TuJ7T1R8%2BlHHJbjsIYo98VQZ%2Boc2XGPk1ARj3YDPO[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%222edc151e-152f-4733-a411-c335a24f4475%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="WhsAbAw3tNKS0R6XJSHcP9wdH7eIfN4u8YCHAZY60y0",
        oauth_signature="Ae6ghLDFH1sqdbXn7AaY1psMnuR%2FhnTGKxjQoQgJPfiKOBRNTOuH0xLoZyP5zONZhfmssmFU%2FUrtC3cIsxWu0cswpgo2yhTcu8eZ%2F44IuA8w9lcMhTAmTh1YruqbtXio615AJDlBJ6LRlEmSZnxfdk1ACJcJ766PoT8W9i68RMk%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473184", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>e7f825f9-53d9-473b-ae61-a32b94701a4a</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:39:43.884824Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:39:44 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E2edc151e-152f-4733-a411-c335a24f4475%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="40YtRTN5tW2gsChrKspqiazhfuym23vtAWvYozZuSqw",
        oauth_signature="WefQULsL14mHyO6zcODVt8XZoKNHVJUdII07EgauCX6cS%2Fog638bb6TgR1SnDgXgWQSmZmOOSYDNSQQyOUjCIugYKdOoC%2FCUJ9BHkVhmT3F3jtHok[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%222edc151e-152f-4733-a411-c335a24f4475%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="o1y8DFuHz1dra3F6dMdUKS4AuhtWAWCGgukof7AI",
        oauth_signature="CRvtETjDoGTN7m2m8CtZZLLNWuIwh0oB%2Fga2xtvKECRdgSp0mj56ngUhJn8XJzBhESKCOiyWLEse0H%2BkgwbqVW2P%2BS9DI0pimxUBGGWMDfaIz5uxjwRFa7jWiYM5HguFYK6ZeMMbXtX2ZVtPUmbItPx6uVFDUiPakHnT7bRF8nw%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473187", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>a2137090-7c24-492d-a4d6-4cfbe195aadb</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:39:47.0827625Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>2edc151e-152f-4733-a411-c335a24f4475</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-08-14T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-08-14T09:39:45.57</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>bfbdbd1f-a15a-4dc6-b9d7-8f08fd3998f9</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0113</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:39:47 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/bfbdbd1f-a15a-4dc6-b9d7-8f08fd3998f9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="1xkZhwgCncR2lSaVdcrASgnr29M6zg4vcgfbieG3do",
        oauth_signature="AKu%2Fn0zA4fY7jQ%2FD34lm7EhIbJZIgF%2F7hWPR%2BCFxLcRbia1vIs8hIC12ZJD28r4e1suuB%2BjMIgFywLPR3KoSvTQoan0rdi5JVj7mcddoIr67fiAes8KOvBytG[...]
[...]
