---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22fcb8ed07-459e-49b8-82d7-3d4f87434e29%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="UJD4DTY4ZfuJn36TcvwdueCgdRoXh2zj8P5qzcEoG4",
        oauth_signature="ZYvbkn5qoaqD0WDdlcj7gCQRL7KiG%2B3Z7qmJ91%2F3Ci3bjytaXjagfuMYQZj4kzCbQU%2BGOF%2B8s4z9P5PYuD0UKmYxKh30kNQHJYcqbSA634YhOXaOETgGcv%2BAhP6oM5lt2kYY9%2F0PCJbfGhTbFaM6aKwlaAB1QvbVsbs8Dc3BgP0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473150", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>a564f85c-6f64-4a53-845b-4ce1d37847a2</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:39:10.345469Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:39:11 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22fcb8ed07-459e-49b8-82d7-3d4f87434e29%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="01vsosWGx6uxabrH6wqqDU4u2ts9blUglVqbjQvsWQ",
        oauth_signature="rFjfafcHA78xd5uRXRBl4tt7kM8Lj0tZTzqgzUpANUcbcLLXj0ule6BvHnvBMrIjF31iVm%2FK2ydOvrxNBqFTv9SDAmrsz%2FVmtyHEK8m2H8zm6ZfcnLPjUJEP3GWJWlC%2BNoAhBZUnjLPvvnYpLTksNjHvgGtRbN63X%2F1BOCia1B0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473153", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>8a7ea90d-6efb-4aac-8987-a51af54c62b5</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:39:13.5122081Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>fcb8ed07-459e-49b8-82d7-3d4f87434e29</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-08-14T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-08-14T09:39:11.967</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>aac8a151-775b-467b-ada2-e48af2542215</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0110</InvoiceNumber>\r\n      <Reference>AB1234</Reference>\r\n
        \     <AmountDue>1.20</AmountDue>\r\n      <AmountPaid>0.00</AmountPaid>\r\n
        \     <HasAttachments>false</HasAttachments>\r\n    </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:39:14 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/aac8a151-775b-467b-ada2-e48af2542215
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="PyeAzLUSpl8RMJlObmiaOUUuXBnItHeAf0itW4yWA",
        oauth_signature="Xuf7KELdVW4YA6PvaIiGsPVYnnk7ACzKKshJtsj6Mb42Pju92TB9s7hIX5PnphF%2FlGTUdpaK4aECaALhsdHzuqvq6FoLacfAg5hmLZHzw27nuzNWSqsIo0RVrPIMW1TVpQ%2BR7hk8c5CBbva0nNLZ6tpC3%2BZ8aRvj9WNWqPIaf5s%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473154", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>73e1f97c-786e-432f-8f10-0d93f4c571d8</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:39:14.1361961Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>fcb8ed07-459e-49b8-82d7-3d4f87434e29</ContactID>\r\n
        \       <ContactStatus>ACTIVE</ContactStatus>\r\n        <Name>Existing Company
        Inc.</Name>\r\n        <Addresses>\r\n          <Address>\r\n            <AddressType>POBOX</AddressType>\r\n
        \         </Address>\r\n          <Address>\r\n            <AddressType>STREET</AddressType>\r\n
        \         </Address>\r\n        </Addresses>\r\n        <Phones>\r\n          <Phone>\r\n
        \           <PhoneType>DDI</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>FAX</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>MOBILE</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>DEFAULT</PhoneType>\r\n          </Phone>\r\n        </Phones>\r\n
        \       <UpdatedDateUTC>2013-08-14T09:39:07.63</UpdatedDateUTC>\r\n        <IsSupplier>false</IsSupplier>\r\n
        \       <IsCustomer>true</IsCustomer>\r\n      </Contact>\r\n      <Date>2013-08-14T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <LineItems>\r\n
        \       <LineItem>\r\n          <Description>my fantastic invoice description</Description>\r\n
        \         <UnitAmount>1.00</UnitAmount>\r\n          <TaxType>OUTPUT2</TaxType>\r\n
        \         <TaxAmount>0.20</TaxAmount>\r\n          <LineAmount>1.00</LineAmount>\r\n
        \         <Quantity>1.0000</Quantity>\r\n        </LineItem>\r\n      </LineItems>\r\n
        \     <SubTotal>1.00</SubTotal>\r\n      <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n
        \     <UpdatedDateUTC>2013-08-14T09:39:11.967</UpdatedDateUTC>\r\n      <CurrencyCode>GBP</CurrencyCode>\r\n
        \     <Type>ACCREC</Type>\r\n      <InvoiceID>aac8a151-775b-467b-ada2-e48af2542215</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0110</InvoiceNumber>\r\n      <Reference>AB1234</Reference>\r\n
        \     <AmountDue>1.20</AmountDue>\r\n      <AmountPaid>0.00</AmountPaid>\r\n
        \     <SentToContact>false</SentToContact>\r\n      <CurrencyRate>1.000000</CurrencyRate>\r\n
        \     <HasAttachments>false</HasAttachments>\r\n    </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:39:15 GMT
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="mQNRt3jb99cZVb2Vv1Eg5Nze84AgwFhipDQtKxDl8M",
        oauth_signature="Mpkts2G6r1uig3UkW7tdTepX52F%2FzDrv1Yo4xAnK9nWwzQpbdOlIUG4C8EpXl%2FXMupgEK4HfbGYo6786VnA4cqmu14pIhlxJi4054T9Hw2X%2B%2FRjvitqDYWa3ojEr7c9hpwriNCv2L%2Bnm%2FIsbx1qQjzCn9K77wm6kEknAcDJ0HUY%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1407415728", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 505390-O1VMAP05
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>e7ce76d3-45d5-4d41-8cc6-8f9e6ffff0ee</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Beardstroke</ProviderName>\r\n  <DateTimeUTC>2014-08-07T12:48:46.8397794Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>a11e6426-63cf-48cb-a407-cc7b8d60a8a6</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2014-08-07T12:48:46.81</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Thu, 07 Aug 2014 12:48:52 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="vxpZHNZ4QkdVX0odKicWIwkx09qmWfKeCiiqQfEFN4",
        oauth_signature="CY0MyIDAW2ds4yCckA3LqW7HOSH0GB1L0M1PrjUXlm%2B4yjt9yNlGRFv418aqkzYJial7x%2FC40EuDwNP4G3NhCwrufL6fyKa5zAhjiVab[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3Ea11e6426-63cf-48cb-a407-cc7b8d60a8a6%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="JPvS7YEeCAyJn45Lt05tiKPfJTxpc8p9ffpvqZr2E0M",
        oauth_signature="baLB6iitSuty0KMxv0HNmju2qq24i97%2Bl8Gzjal7RoN9pjUiyaUe8vINzyvq435kse%2FAkbUPLH7hMeFMn2lB%2BMSYXSYWyhdIU96SMuoNwqE%2FO[...]
[...]
