---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="3Gb2A3324ljB94nTtCVEmh3JliISsZFtNC8iczKDFQ",
        oauth_signature="oyibYoZXLt3dTORLlHifdcuqOmgcRSDaHzEdHQTBHibWc3UNRW7VvbDvVoMC%2BZZj%2FSa8SLZZCqidK3s0dCPqNJcPKiYBaJPtTNgcPF%2FuhOuxY4cjnXP1e53en4G1r8iCT35La9w3ia1g2tGOD5GweYqhoVy9cE%2FCAiwGQTAqSoQ%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1362474768", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>0c646853-e14e-4199-8749-95f306104e0f</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-03-05T09:12:48.1597305Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>214814d5-64bb-409b-8000-764aa0da91df</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-02-12T08:29:03.76</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>true</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Tue, 05 Mar 2013 09:12:48 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22214814d5-64bb-409b-8000-764aa0da91df%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="2tSyTZiVnmv6YqXiw5GCz82KUThhLRfeRoEf96Ao",
        oauth_signature="a86kLwwBDVpzStlO0e5PN824po2ab0tXOH%2BkIDIBOlJyMCP0enMwqHGhgMnXKFBvI%2FEWvhp5NdCTEt9yWK2DKjddRpt6rkx%2BLqlwJ7EdYLEyW%2FVAByJzaP25DYjQVSxEAEsGbS9XfHz56jx9HAEm5I7rkHn2dcR2SPbSLt9XB4E%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1362474768", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>8f04723f-64fb-473e-85c4-aa87892b4130</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-03-05T09:12:49.3921463Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Tue, 05 Mar 2013 09:12:50 GMT
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E214814d5-64bb-409b-8000-764aa0da91df%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22214814d5-64bb-409b-8000-764aa0da91df%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="VeoA64sndpShDp8kN4Q3pdmwP6YFxFGwNh0sqxdgjU",
        oauth_signature="lM0RlfWBOSdwaXJnuCgtvg7aArCmJ7WQAKhx97R2osurb%2B8kTwuUw1wHSCwMbhhjsZ43NY7t3zBY5P0aC3VcRAqChv%2Bm6cdwTE%2BC1Y3DAyY48a7bgPFS%2FFchg65PuaU4E8OZ1gCE6VEg9uXPK7VTEcpCLlYuJ2shTNiz%2FyXtFKc%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1362474774", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>e66ef5b1-6656-4224-8692-98ee68d0d884</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-03-05T09:12:55.1486201Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>214814d5-64bb-409b-8000-764aa0da91df</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-03-05T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-03-05T09:12:53.323</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>1ff0bfc6-7aa0-49a1-9c5a-933e8e05f2e8</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0533</InvoiceNumber>\r\n      <Reference>AB1234</Reference>\r\n
        \     <AmountDue>1.20</AmountDue>\r\n      <AmountPaid>0.00</AmountPaid>\r\n
        \     <HasAttachments>false</HasAttachments>\r\n    </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Tue, 05 Mar 2013 09:12:55 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/1ff0bfc6-7aa0-49a1-9c5a-933e8e05f2e8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="Pau10OJzb2k9sooPKtf1SGEG70JEbnQTJgRuOSxbI",
        oauth_signature="XCphjguu8YDkrqZ7UwH%2BpYYJH9YBh80G998vvaQ7kGXXuAAJ6bNV1Ko6427gxp9rMEAHr3n%2F8K25ZkYLrfVckIF%2Fhpa8UFK3zGx%2F6FW5%2FBWeqLHR0eSNdaWGgZ[...]
[...]
