---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="ECKiBWV6DdpXdBVJ1tLCeIfcopxSztx2y2Y8C3hMLmo",
        oauth_signature="P7LAH5KKohsLwNkfUyVDWR5fTNoQmZ7ZqNfuWsdcdHptQDynXAHz9X6vuERY8G38cDzD1bJOvloICc0ANQuyOFyx9hmI4GhuE7k0lce2EBmaQ7%2BMTGrVB11xF%2B4KMRg8u8TxUoqxq8acO2drdv5yo0Hs%2FYDIr6n%2BU4S%2BAjY0uiw%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1362428281", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>97e54917-c57c-4996-b514-c1c8ad44c884</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-03-04T20:18:02.2020258Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>214814d5-64bb-409b-8000-764aa0da91df</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-02-12T08:29:03.76</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>true</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Mon, 04 Mar 2013 20:18:02 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22214814d5-64bb-409b-8000-764aa0da91df%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="80avgmcHAFMPVhyWSNhA8TCADLYE7obqd7giW8Ayho",
        oauth_signature="hJtIUDMwN3Hrx0c5aSrosh0pHSlEejMjLl0VMnSF%2BPe8Vee68Nn0KiWoWbMsRNOFyFcMrrbL1kcS4t7HAS0nR35P8eeyKABJYBSX6m1GhwfwL9iCDw8TVaxsDBTfLe4nmvxexae1YL89WyiPsa6dYFV%2Fmp3n4YAx4d3zCBE62ic%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1362428282", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>7428198c-3bd8-4d0e-bfe8-d81d8cef3990</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-03-04T20:18:03.0756146Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Mon, 04 Mar 2013 20:18:03 GMT
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E214814d5-64bb-409b-8000-764aa0da91df%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22214814d5-64bb-409b-8000-764aa0da91df%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="6E7YXjsJXMsjh9kS60QaBUCIosvhoyfhr4FYNy4s",
        oauth_signature="Ttgc3khjBFQK0N2%2F44PBQWRs8%2F2drGg6IE47Z%2FIGCGL%2F43dVcvP53LCU64ZnVDYOUHBfO1BOIWkqToFl4fbTdT6LXO%2FIugSYbU2DXn8wrIISlrYnLPyEy2J5yOP2rACNm9qYLuQokCz0Q4Qzz9UO8V9US3XcSub1N5sjC716AzE%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1362428289", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>809cb15c-ee01-4b11-85b6-1f0ad1b022be</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-03-04T20:18:09.986326Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>214814d5-64bb-409b-8000-764aa0da91df</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-03-04T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-03-04T20:18:08.207</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>44a4aa56-8f66-49d2-92e7-bb2f735cd13a</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0526</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Mon, 04 Mar 2013 20:18:10 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/44a4aa56-8f66-49d2-92e7-bb2f735cd13a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="uEycc51TyaTVSJ6tIZAQ0euJqY1e0bQbTDa1sv4X8",
        oauth_signature="juUglk7liVbD9SIFp26fwKjtlQgQEfSBjBRfyRNMvDN%2BXw6BS226eIkhfB7rVqB5nKIRyDQAXSEzFhYfX53ZO3v0gjDyPgx0uSs7YV6%2B5KsO%2FO6HM1hmEe0UM97idm[...]
[...]
