---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="GDS6mUa9eP9xfdxLHEYMF9ElhqORtUpG11J2qFV7I",
        oauth_signature="I29haUbJr6mQbVS2JGR6sXX%2BmBvuVr5825fw35NJmJE%2BVOsqOkuFOoOBz5tPLXvGIS12Niro6LBVw7yTDC3iE7zqknHu8psd9H9PcnUARln%2FvG5CpyGEkQrCMbtvl9xga%2BrQjuqJbLvhHTN2gBSsRF1CGZLELjI2WFfh5yKfJoE%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1403257159", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>31a5a0f3-f511-40d9-9ce9-65cbce132898</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>YO</ProviderName>\r\n  <DateTimeUTC>2014-06-20T09:39:21.0698768Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>751b899f-e745-4441-ad9c-f7ea61c43ae8</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2014-06-20T09:39:21.023</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Fri, 20 Jun 2014 09:39:20 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="VIBTU6lmTShwDGDYT44jgvlD30acgtn0Y3uTxr5E4",
        oauth_signature="a8qloiPGSD3lIaSXiKIOBkW3P7R9BQLREhEr7%2F%2FdphiWelxo2J%2F2axa5S0mYlUKrr6VttPnZS9%2FDKWTQ9NmenVjQTx8b6vcjLKKkP[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22751b899f-e745-4441-ad9c-f7ea61c43ae8%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="DWRBJv1pYO0FccAjDOqmZr7wukx3hHh1mqt8ojZ47o8",
        oauth_signature="XazvNPC%2F86OZsuuSFpxdc4m8VNij2UsiI0gMpZl3jMW9CicvNrATVgF%2FEVnqfsU6DVoV7918afzNrnUflc46afBzxKrTA1%2FtF04T50Vh7pVvVeY%2BAsAuc3p1qHgXFYBuZ6k9GU3wO9JLxRFryCGPdp3CvvfrB%2BOmSTDgg1%2Bee%2FM%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1403257161", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>78194937-6b87-49d7-b556-a729943c8a31</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>YO</ProviderName>\r\n  <DateTimeUTC>2014-06-20T09:39:22.4738948Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Fri, 20 Jun 2014 09:39:21 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E751b899f-e745-4441-ad9c-f7ea61c43ae8%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="VLi31PJNFBZ8mtPD2OJD8ZjJFna0gh8xFnnRpQmk",
        oauth_signature="QbFbcvNGn4WYhwO52wP%2BsD8R4OUxSMu4XgN9LgcTxpED7mRfvM37eBEK8woIWL%2BZMN9Q8yGiLOXWXvJbGC1GnzqJJLJ6wbVL3oE1hZmDEbG2nj4uEqza[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22751b899f-e745-4441-ad9c-f7ea61c43ae8%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="bzTzGymhOOKeiMgSSO5PbBIRYr6mLHqnaQdZUF1jw",
        oauth_signature="Tn0PBITtboJd%2B%2FEBRtPnX4WE5txpjjoHQxvl87lc3wfiVgzZSZ%2FW8L6hddecQDXTQ0c8wK1YzEqEKfWqcyrSezxXkbXjQ8R4OX4fdaCR5Huzw9vGa5FhclwZM%2FRJVwkIr0Vpbl0AyJ4UA3yz80s9VLXxbt5dGRdQoxGyGx4eJ%2BY%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1403257164", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>f6b28ef9-b8fc-49ac-bf43-8c851598bb92</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>YO</ProviderName>\r\n  <DateTimeUTC>2014-06-20T09:39:25.4223326Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>751b899f-e745-4441-ad9c-f7ea61c43ae8</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2014-06-20T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2014-06-20T09:39:24.05</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>d6af313b-19f2-4f3c-8a3d-bf82a51f3f22</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0054</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Fri, 20 Jun 2014 09:39:24 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/d6af313b-19f2-4f3c-8a3d-bf82a51f3f22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="WclXpRhCnay4vi0h5WtROasHnfmRRtrmiuLlSY51xk",
        oauth_signature="iL6Vm%2F99BleIxaPTIU41fgfNMgtGipnTjM3gk8DeqO7VeNv4hDq9ViGDa0QrufQQNPELXBnIxzOa5eaBuwip3eDvwBljKhptNRHiylw1ruQZhyVEaQ6%2BVfJrDWVE2aZ[...]
[...]
