---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="UBCa73GsDSaNM7Zvjtu5Yag4NfDUVoo9DWAeKvsfQ",
        oauth_signature="Wc7cuHL8B8Ldxwov%2Bq8IG%2FfpsN2BtgsoG5thsqJHfGZWF2Eho%2Ba2fSFUYZKocO7vRTrRRwSe9vfuUk3o%2BDS6SUhqoRWAb%2BQWLxYXSdW6iSteNN9eL0NvAuuO54BRdzCdcB%2BqKoi4WE5%2BRZl3Eo5nQNtPmztb9ZFISdbvE%2Fd5Fro%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473156", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>99e073f9-a8d6-47d9-bba7-21c022facea9</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:39:16.9285424Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>d6691b13-f9f6-4d6d-8bc4-debf3c832db1</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-08-14T09:39:16.883</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:39:17 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="s92zZfHiVMRlBLbhfxNJxE2z0ErIRei7DXirEasGtI",
        oauth_signature="NnBUuxMgaI3ROiOQ2mtHtb67SlJBxw7aP3KJHAM4CbT1zU0OPt%2FtGevzwpdwaTLViP%2B4teJ6Zk04G67WmAk53idZ1CaVVWsavz00b070[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22d6691b13-f9f6-4d6d-8bc4-debf3c832db1%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="AoRyLMV044QkkIg5BXRWzvzN8QP1OWtjUKuxGG4vk",
        oauth_signature="Ki%2BUAkz1C9zO8WuWCNGObUsD8ntnpDs1cmK58jA0uuV6Dq6Bcl3CjX9z45xB%2BTkLh9MbCxzOVV6EwZ7%2B3tVPcmU58bfEqdWUfE%2B7NyozrW0X%2BssKvdsXIZIXawfUmeG8joD5NX8kEPwLAoiYeEhgf1zwvHN6cgBUPzpe0Mrv8GQ%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473158", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>c08a557a-87ca-4b39-943c-3ac5d83b107a</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:39:18.3169157Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:39:19 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3Ed6691b13-f9f6-4d6d-8bc4-debf3c832db1%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="6FOaqXL7meUVaFAAlwPdvNdqFKzKirMhr8Wt057G8",
        oauth_signature="PEU1DOmIOOjXqOnTeT5Dkpo2EDJsx6KJQu5%2FR6JVTKtwk4zkkIFJHcGB3Zn0Y60B1azXEoQ1gxdltKrJMYqbSJH0aPVTP%2Fz0OjJmBQu0CdFORsSdqKA[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22d6691b13-f9f6-4d6d-8bc4-debf3c832db1%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="YXScQCZGifwEy2J5w7zxcXIrFsaD7064cLcbbPMwsPI",
        oauth_signature="OcS%2BRD9cs3U65g5NpOhDOF8Dybj7g9Rj95LnqqRDPwBDEmi3NmUoArkoTVh8uf9Pjs5lbi4JxT3%2FbjY5nNyRZk1fGeaYboo%2FBI1SuQ%2FGGEUuT9U9zkCWqW5oHEy6dy5W2qoNxq0s9BxfcECuyBjdyHDGGnvMGknMHQWYVgKibJk%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473161", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>3a83f392-f50b-4d86-82d7-85967b817e23</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:39:21.4992545Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>d6691b13-f9f6-4d6d-8bc4-debf3c832db1</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-08-14T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-08-14T09:39:20.033</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>63eccf7c-cce9-4231-97e9-407ddea6ef1d</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0111</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:39:22 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/63eccf7c-cce9-4231-97e9-407ddea6ef1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="cutYe3sZ6Bbrlv6utmftx1098ts7ahgbwt87lA6cNI",
        oauth_signature="K9iiViYGr1jxdlbgpY%2BmOGDEFMUZePQjYS%2FwDaigu2GgaA%2FDr%2BkawYtF6MsNrnTXG9cWXeG10qkvhgCoHJ%2BF7NtIzs4bD0Zltjw9iotID3VomgAXxMiWoMVNb[...]
[...]
