---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="gaQANck2vc4pVxqBO5yBGQmkUPITBQoIIUwqY1DbLGc",
        oauth_signature="ZSNw85vjG12X8spb2hTyLAZWdM%2Bh%2BpPuPrxa8yMPfkC0283vsUsPJCHTiyeVJiKkNMAlDiokG0E6khwxsfmKBfFiOj%2FV380MWUIGjV%2B3XwD7UC5N5DSMgQM1EH1XSO0OCI7iXLUw3uA%2Bnj0hYNIIqSCyPiQUxYU%2Bo3DlUyuZfwI%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1403101207", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>0731edef-b078-40c9-bf39-925069ce9f9d</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>YO</ProviderName>\r\n  <DateTimeUTC>2014-06-18T14:20:09.2993878Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>2db80545-464a-4978-928f-02bf758c7c24</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2014-06-18T14:20:09.267</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 18 Jun 2014 14:20:09 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="mDSn9GYijZPgl8MFoCXEugzgF2BDqEApIxwv7oKpyA",
        oauth_signature="ruGwLq77MPu0Mqk2igb08lb7kWAFgskAd1SI1iXWD7dxYmqLGvrjIPp%2F%2Bmo90vFmbZEtMNAnJr4jvwIJKsE2mrXAFRi36mD8YLTrTsf9[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%222db80545-464a-4978-928f-02bf758c7c24%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="YOuUpbR2C3paWTOCRUYqqSB7rkIWTN9Y6eBmXfSh58o",
        oauth_signature="j5cIZSmaLMTASVBCvYtULYZjnbIcWCCdL6Rjc3UUIDzogyGXo9vId5XAdaGhVgugK0eZsrn93BMN3w0ydCeGjSwTak34Ds3GlfnGAj8jrfeNpRjXFMJf3H7B6NmWWrRessLXX8Ox2f%2Beo0Vzw4bnqxCFV%2BOhveSuBBZ0JTpAgaE%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1403101210", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>3b8a03b4-ec69-4256-8a5e-897e09016b33</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>YO</ProviderName>\r\n  <DateTimeUTC>2014-06-18T14:20:11.0934223Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 18 Jun 2014 14:20:10 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E2db80545-464a-4978-928f-02bf758c7c24%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="LgRJ9wT9rBLFS0JejzQo9xNO2cmdTCpUWczvnOupxE",
        oauth_signature="X6lq%2BjIDj%2BVpFALzlH1jzV9mpDgxhlIo%2BunQ3gJ%2BpA6VReBwv2kdsODF8lJ5ABWgBlqiI%2BpMctrBRc7gOAeZwkWQEmGHx%2B7rtcwJke%2B0[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%222db80545-464a-4978-928f-02bf758c7c24%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="8CaijrWznW485nSBVQXl53TMEW403yRDWNhMIILEnE",
        oauth_signature="EsPkleU0ImX0xppu8DgNe5cWgv%2BEPG4rZirkx7aTEtmykspxWeWGBpYnZWCUH2N4wcJaDNL43HXlucxTujF4OpClZHeHNk3olQFpvN%2BOSgf4C9vDChudHn1cbsyDcAbq8lQPhWKIjpy%2F44z8HNSV9JmKDZj%2FtuvmLyZrDIk3IeM%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1403101213", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>4bdcac06-f33b-4589-b8d4-03faaa0fa411</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>YO</ProviderName>\r\n  <DateTimeUTC>2014-06-18T14:20:14.4162862Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>2db80545-464a-4978-928f-02bf758c7c24</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2014-06-18T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2014-06-18T14:20:12.763</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>1cf8ec4d-0822-4955-a480-61d2a38a12ac</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0048</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 18 Jun 2014 14:20:14 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/1cf8ec4d-0822-4955-a480-61d2a38a12ac
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="tAEPHK17srjfZHIVkrCoOpddJP5Ogh7Ct8O1wVHWIE",
        oauth_signature="jCUMbm0mNCKHLB0wUpM%2FpcP8X%2BD8y5uEmVsxfk87%2BYWlcsPWtdFa4e52ie%2Fl%2FYUqazKwJQAW5FTV2dEF%2B49%2BCYyKZ6NZzLQZoI9rWEvTx%2BRt01Ka6Lr[...]
[...]
