---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="E0696MeA0jRGIpFKhRWCR3wN4Ju9uonqHIvhqDhdog",
        oauth_signature="HE9ZfskgNsZ3jmhJ0UHM52GbQtLibAOUY0UXxfGSJIKKue6vmqR7WcCzljDopgYvoaMSh%2BazAwXkyYee10T4g3VzMzsp%2BLjwuzQM0w9moT3hRoXiXU5gD2kiYQL5%2FPPDkzaotUYpF%2FGGqa9lOifnw8u2pttNZT%2FQgIxdX6Y71%2Fw%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1362428224", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>c73c9ea4-417e-4654-9ae2-29d7509a9310</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-03-04T20:17:04.8883606Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>214814d5-64bb-409b-8000-764aa0da91df</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-02-12T08:29:03.76</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>true</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Mon, 04 Mar 2013 20:17:05 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22214814d5-64bb-409b-8000-764aa0da91df%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="CkBpa5fXISlaT7wwM3qc2y3rMUKODSRknyTdRAClSs",
        oauth_signature="dK0T2EDu8p%2B%2BBGfXZrYMwEvktKr84fWh4XpLQjoa0hslzZd9JUnlbwtjDWk9J1DSL5HQAMl%2FOLTuOKHy%2BcnSmAZvmnJYQztcu5bChzqtAC%2BCJsW%2BUxq0WzRYOY8TtuiLOzm8g8hP9j%2B%2F7%2F60d%2FhNs5umh7PKwhr4wodkZhgTk0s%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1362428225", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>caa898c3-d745-4a36-8a46-6ce7bc06c024</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-03-04T20:17:06.963134Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Mon, 04 Mar 2013 20:17:07 GMT
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E214814d5-64bb-409b-8000-764aa0da91df%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22214814d5-64bb-409b-8000-764aa0da91df%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="sBwDnwmohpbqcOs7HOpiB4hkPI6LbPj4xPGF1LQ7hg",
        oauth_signature="S%2Br8AtKq0UgJD4li1a65yIxFWlaxU3BoOHjmbaDgCLwqwSlCmKs0v0bSGdrt1iXtnGD58ov5ywoJRYdQhziT6gEc08xwy3bu%2FP31C4Z1JPnuPx5juIMTKOEvBUbwiKWIFaZnu%2FB4Esd7MFzVVhmJXUdJKXYj3MvE2epYF91ZcrA%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1362428237", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>efa1f4d1-1ef4-4df6-a4b9-0f77a54b703c</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-03-04T20:17:17.7425958Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>214814d5-64bb-409b-8000-764aa0da91df</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-03-04T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-03-04T20:17:15.573</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>c8dc3ebf-2c44-43a8-9889-39c9f10797d2</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0523</InvoiceNumber>\r\n      <Reference>AB1234</Reference>\r\n
        \     <AmountDue>1.20</AmountDue>\r\n      <AmountPaid>0.00</AmountPaid>\r\n
        \     <HasAttachments>false</HasAttachments>\r\n    </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Mon, 04 Mar 2013 20:17:18 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/c8dc3ebf-2c44-43a8-9889-39c9f10797d2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="qrM1FQCXo50hKJm4u39Oa4cxcCPMyRLjF47C87w7jmM",
        oauth_signature="lzw4PnIflRNBe9NKUPMZ4i5A9SOuNJN8v6Lm%2BwkmulfL%2BAImGYzLGu9DR%2F%2FyxtjU6dx3%2B3UYnN2oeNP4aop1Ei3wLu3Nb79%2F1zhNeePviFk0e%2FdktHS1[...]
[...]
