---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="DgUlG8t4VtB90wFFamuYva5cnKwjzIQDRwSkSIP8",
        oauth_signature="HbtNYXknS0sxbr6fLnCa77i4uQehw6ZaR6lJmPsSXOwbTL%2Bhnp1tQ3zSK2yy4sQ5lip%2FIaKp5UsJbtPxHh0VXEop4Q7AR6PYkX6l7QO%2B%2Fo3InHsFLx4pyJv0WoG0AvPgx1Wt4bhmPhYdkX00QlAEwhJ7QY%2FGJZ%2Bb0No8%2ByzEiU8%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703299", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>f5a8adcf-a0f5-4ce4-b635-ddd112247c91</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:21:40.7850052Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>9b576d1e-6dc9-4be9-af4f-0210891b6c7b</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-05-16T10:52:38.87</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>true</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:21:40 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%229b576d1e-6dc9-4be9-af4f-0210891b6c7b%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="eK2pD6FlNckLV36oiAqBuQTjDE08z4aixsHE1DhdMPw",
        oauth_signature="m4s9EueG1xVF%2FuePAgdiGrCV83rIbJxRCFy6t%2BCJtWhDQByEFcc3%2F6UrOAEVTden2Y2dn8%2BtFgRAFdtNIQvqzMxCFalapn%2FBjqtKrPNYTP9MIPV%2FYJzWxxgQWWAZVzlCbNyb7DEwL4GawNPSHQl7IGKr4eTCMZqaOeBhukWH%2FQw%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703300", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>a2392a71-ece9-405b-978c-db3b38a8d969</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:21:41.4870187Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:21:41 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="ynSWnah1rn3WLzTyFDyIOpkRcsFlQlFStAksLtWfI",
        oauth_signature="Hk2sTQdPYYnHEnnkOV%2Fr%2BDRVjJThdL9p%2Fcq7E9uIwqlcrHqd10DExXT8EHW5f9jYcvGkfGdtGdRuBusPyH5ViWifTymOSKIvauhyaSc[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E9b576d1e-6dc9-4be9-af4f-0210891b6c7b%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%229b576d1e-6dc9-4be9-af4f-0210891b6c7b%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="vFkwOSoSK0iEI45QbBP6NZCay9E39AUNdtaHJJzwb7E",
        oauth_signature="JjyTJVcMkb976KtIT7BP%2BxFh5MJ%2BBBXhtwzizg9luVr%2B6xp9fR1hNwPkD28c%2FIadga89Z1tzNDvAxNu4to%2FIs33CawJaesKPvDv4wDuR0Zcpxgk%2BSsK%2B%2FXIzlX7iov%2FUGUCZpPca%2FVQ8eR68zajY8M7oX0kggW75ug%2BP4MqUMMw%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703304", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>78d06d24-c0b8-4e17-bc74-b7a4d80ce137</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:21:45.6210982Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>9b576d1e-6dc9-4be9-af4f-0210891b6c7b</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-05-16T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-05-16T11:21:44.233</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>7716b893-8f43-4711-bdba-614066d54916</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0059</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:21:45 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/7716b893-8f43-4711-bdba-614066d54916
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="eFuuCB7WujqveL6xRHblVGazGJI3NELxFsIa2BhjWsc",
        oauth_signature="fI5%2BhR9%2B3P4H5Kk2IfrasLkvvYhd2Y%2BuPz%2BFeL%2BOFi1yo3IWbmZs4YCwktd3ZNwnNCMvCKc2gwIPbrMotQoTauDHw49SJkz5FONEQva5TQuJxseIGzPkwTxL[...]
[...]
