---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="N6r77tI77tjsQ5oiGvy6Exh9xormVPh4RZCiu6dCj18",
        oauth_signature="q8W4ESPM6SZXvICxGpHw3OSVEqmdP7RrfmFfOcY8J4mu4s%2Fw1uCWP1poN7iXGBkLpdi8AlOH9YwCiKhmvUhOVoS7WdJcZtDq4eYQdYu2izvHRWbQRQSQoX0ShfCfxdAWYJ2sIZwXGwo9dL8gAKJSRb5Cu1ZiJx9pTLymYQy2k9w%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473165", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>c5c75073-7855-4038-a2e4-e60be7468f16</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:39:25.1807837Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>1f2352ac-aed9-4e7b-93c3-ffa57f25a0f6</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-08-14T09:39:25.12</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:39:26 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="JvppkOGDPX5kv56GRE3P8b714lCuC2iJN74YFhq2VPk",
        oauth_signature="jYtHd01ePzkCuEdmTDLQ04E1Z0cPFsC465GjvFjB2gsNrJ0P6A4m9x8eCO4O%2BRYIPmJkxU3VMGDxHKLdrCP2ykxbCJYjchzeoNAbIfBEG[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%221f2352ac-aed9-4e7b-93c3-ffa57f25a0f6%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="KwloQqdGXLcOUBCMcMZW2C2ZMPiblFyWJS0CyUznEU",
        oauth_signature="OOZsnybTt2YbOUL4EUdYCp8zj4suBy7Onyesb40780lLwHpATJI8%2FkVLJ3q8%2B%2BUg%2FHHcP4XibdEPr4woMIRTR7N13JS5MZ0MXrTIW4U6n9g%2F2OT82YvfMx3DsYr91L9rXr%2FSPzIiQccteu%2BZurWFlfsDrssot5Rj5XL8umpk6O8%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473168", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>7aed2b79-3713-460a-8610-9e8d39246235</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:39:27.8015333Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:39:28 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E1f2352ac-aed9-4e7b-93c3-ffa57f25a0f6%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%221f2352ac-aed9-4e7b-93c3-ffa57f25a0f6%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="9lYJH8VKyFqkbLnbu2NBiGNZTx436ZCEHsTkCdu4",
        oauth_signature="E08CGZb4YqXIDTbe2yeqXLUuK136hR2X0bS3L1ZAVt2xJhH7ytXcvQVpyix%2Bsy64jcuvN6XbdovndPhwJNyAc59mm1XyiziXYYS7VuJpf10u3bxM00%2BcRSV%2ByyCLFtnJQ%2FIuXSj5dHJ%2BIsy7%2B6G01%2FjFJA1LaeJ6EE7Ge4q9Gas%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473170", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>3e95054e-d5fb-41db-afd9-0a15a69fb254</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:39:30.157088Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>1f2352ac-aed9-4e7b-93c3-ffa57f25a0f6</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-08-14T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-08-14T09:39:29.44</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>04e15d5d-9016-43bd-b1e3-431c88e88491</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0112</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:39:30 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/04e15d5d-9016-43bd-b1e3-431c88e88491
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="Qrj02xO78YuFMAb0Krp69LQVMROLR22IWcbXHa3w",
        oauth_signature="rfkcW7r5e8GeiW6sPWuywI%2BuD4XNNo%2BwGwhHZDUjStm%2FT1WE%2B5yqJ5A%2FolgQ7pWWZwFy4L3lSiJiIUxhQV62ihZWGVUn8NSZ7bS8QRy8HxWpFHQ%2B6U1tJTa1W[...]
[...]
