---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="sAGrK0KjMlM9ry4FBastrroOzr0izj1dURZsofB1iU",
        oauth_signature="rnjA%2FUfiJDKhiTGzeRaTIJmz5U990NClsssIVMzeo5F9OQhqeoM%2FhOiPzVaiUSeqdM6LttkXC2Yid%2BWhPyWdRpZdjFn0qAE7iwpXXGD1CgfMAhwRoHS8UZr1xWFPMSUsFJhCr8NeuDmtCf%2FRmlp9eF41Yatiaisrj2c3hdNmHE8%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1403257142", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>626399a5-3ec8-42b1-b2fa-3b3627f4bd3c</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>YO</ProviderName>\r\n  <DateTimeUTC>2014-06-20T09:39:04.15926Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>ca89f909-3141-409b-ad2b-bde4ab0fed2c</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2014-06-20T09:39:04.113</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Fri, 20 Jun 2014 09:39:03 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="0fLicBlhfTQxA2Kbuu2jte04690RpJKVMKMh9I91UI",
        oauth_signature="G%2FPk9W9sLz%2BZCBro1qQgBwzdX%2BriwDwcM5X8QCVkiCNKE%2BTr3KOcl7BCa%2FpOnOMJ79UgTMcz%2FVG2%2F8UYw644FFpsvGGv53[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22ca89f909-3141-409b-ad2b-bde4ab0fed2c%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="o2v1WhxUIxdie7MTG9qfJDS3xNAohsrdLZbDsXfAsg",
        oauth_signature="UiRFLFsMLr%2BCYQnHkX6cfjpVglOPGhDlKzF3vRljL0CSB3siLnzgLv4VFBGX2yyVaHOWZwu6EdU1WBw8jLTSItO5fEAW3ABF3j%2FzxXnKQU2t29%2BcIiDmsoAJpUDhZfhCdjfP1VH1K6snaoer6nltv0fq6OlOTempy66ZT2BY5Es%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1403257144", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>758c3745-88bc-4949-9bdc-887ce1c1b56c</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>YO</ProviderName>\r\n  <DateTimeUTC>2014-06-20T09:39:05.563278Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Fri, 20 Jun 2014 09:39:05 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3Eca89f909-3141-409b-ad2b-bde4ab0fed2c%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="qxNKYunALFM7dd4biCeomue7VBOKVncxierK8IRCg",
        oauth_signature="Ah5pl%2FRCNc4dxoXtxOLxsCin16yi3WmHQI32zbUx7MKpPys5fheDxE7J0Y37CQQVhKbpKbM%2FlCneMeQmzLA%2B2Ai%2Bm4KL7cYwAIiSZIELIEOrpQy[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22ca89f909-3141-409b-ad2b-bde4ab0fed2c%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="etmvyaeVizP4tc4wapMTPwKzsAI7KIhqs52KuIB0",
        oauth_signature="a%2Bho6ykau86HNL4EqReoj5kG6PBjZrVElRADMgiAxpbsW5Qe4dlIkI3F0YIrBGDCWRcZDHtvk078eT4X6GiYHpgVc4kq8%2BEtP4JFRmVcjfYlI90hpeFtU4v5KOa636Td95er0R5wdxhyhrh3dnOV1NGB2NkUp8pyJQe0y2gpPxo%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1403257147", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>6eb6fe49-86de-4fea-8679-1aba768b0e3a</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>YO</ProviderName>\r\n  <DateTimeUTC>2014-06-20T09:39:08.7925194Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>ca89f909-3141-409b-ad2b-bde4ab0fed2c</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2014-06-20T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2014-06-20T09:39:07.263</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>607847a2-178a-443c-b879-a15456cf1ed9</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0052</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Fri, 20 Jun 2014 09:39:08 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/607847a2-178a-443c-b879-a15456cf1ed9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="ekraMH907HhalnciCeC2MBWzBLDaQXrjN1t4QyYo",
        oauth_signature="L6DgQ3M%2F5BYEQSzu3Zo3839x4FH1sU68kFZ7DJ0tzQ6G%2Ft1ke8ce5Eov9DAJYbzIkZtj3wfL%2B0zycpQThHHOP89TxdyFab5xb83r9eJNqTzVUZPCjAtqtRF72QXC1Rz[...]
[...]
