---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="uoOdCbrwFcNsvPzKHpcc45LUHMHxLwDhXSaIUU0j0",
        oauth_signature="jQIXmBGBg5TNNmTYObBQO%2Bde1kFhiJ6kgX7gK%2BB%2B60EVNqmy%2BV%2FG3yvn8eiwIGCBYHcBU0JUiqHRS%2FMXmO9%2BI8PRkRsaIWk3tC8hwhY44OuPSfxlJqyWpFpZN4LDt7lworUsOac7VeMdlbEiTCx%2FjkZu2hPPZsM8iSAuI%2BuW4NY%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473552", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>ea975740-514a-4dd8-8b2e-970d159ac395</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:45:52.8541357Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>c7103d74-e7a6-4108-b104-388cc5c0ea56</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-08-14T09:45:52.823</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:45:53 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="RkC1RFT8KkDmVaOOuN6AIomtgBEsFqizO46QvXX6l24",
        oauth_signature="Y1CdogRp2L1Yfpet50%2FESipR5jBvyaRp9IiEyX71FLBnJLnMYF8g%2FkZApgDiTsFTNkHgqTmoFcuYM2J38ucMWNisfrbdeGpplK%2B%2[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22c7103d74-e7a6-4108-b104-388cc5c0ea56%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="CJ2NV5hCtl6eptLwlwlHTOGfHD9O7X7J2FMq6s97sE",
        oauth_signature="CHzNfKQqv1JEOQhXKxNXKsAkX6B93uQv16EqWQakqv4J8EzJdmHgdYr%2F1%2FliJ36R17x1JmYmQrlOGMmdsZpOzL7%2FVnxs%2FmZtmbUzWC6hQw4bFzMRuGcevXXm18CreTF6DMLiiK%2FsqassIhV34r88a%2FKaxmCWgpvONMzrQQUU0dM%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473553", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>904bf910-3e96-43af-8084-ae851cc3e665</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:45:54.2737448Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:45:54 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3Ec7103d74-e7a6-4108-b104-388cc5c0ea56%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="O0umpre96BYEaMOsLAOGLzBCp3SM1Npga2EyB9fMY0",
        oauth_signature="KT5JjxbfQ151TRIH5TAxO0p9eMjsSFbQFsPHqq6GO5Cc4ik%2BytD8QPUhvAuLpxfKNuWDHcZ2yD0NZ%2FpngxwwMHXX8TAjThb%2FI%2F%2BtPyy%2BiM[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22c7103d74-e7a6-4108-b104-388cc5c0ea56%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="2Cr4zX7oH7cguocvmqAwQinwwJ9GVdMqlVMS0bS9jFU",
        oauth_signature="n5%2FV3SuOQHxKweOXAVhJDp01z5oF35Zw895waniYPBPPWp0VSxe98M0vgQGJ345bN3h%2F1kyL%2BLdJteh%2BS4i9LPNqwGEdQrLCjsvA1YyFqbSBzcplYKdrU5tFUNohreoNejLClFnH1Q5%2B5P63rXJXaVUPw%2Fx7JCCgZm%2FQ28EFS9g%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473557", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>48460590-9e2d-4a0a-944e-ce19c1713800</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:45:57.5341657Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>c7103d74-e7a6-4108-b104-388cc5c0ea56</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-08-14T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-08-14T09:45:56.083</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>53429162-932a-48fc-a98b-9e0487f2a5fb</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0118</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:45:57 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/53429162-932a-48fc-a98b-9e0487f2a5fb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="gubvbRWrMwsy0BdtYfNK3uuEujAMKdb9op0uFDERs0",
        oauth_signature="VSuBWVARy2eCLNV1RJAkoHvEbL3UHjkikNQDHWO5L9TmKZI%2BH2SzWDHZw7tbIND4R8GPVp38xSwEthiftqSVoNewUFhB6zSuZTQDK9wez%2Bnba0a3pfv2av67Hy0XAhT[...]
[...]
