---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="FutdsfA5zJlLlCVhk5mQMrIb5HrsMMP03PIxGOu2b0",
        oauth_signature="Wi2lWOWG69rsZQekLRXPG%2BOeYkxNJS%2FRtW5a7RUXLjS341g%2FN4rSv5Ayn4DrIemQpAPKy8%2Fhxu32D5GZqEUY40iLy%2F6APddVxiRvgUz63BJ3seuftwVR6Fk5JMDCRcU5KXw5j9D%2BvRqllgqZ1EV1wxwpd8r7lkij9yCp3OPc1Zc%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473539", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>6744c270-bc4c-4b6c-b9cc-4e06094a1a2f</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:45:42.0588665Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>19ec9fa6-e528-489f-99f2-26793a95cd4b</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-08-14T09:45:42.013</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:45:42 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="yCtJEROJqeun0VfUhBNYrn9xKkJ9WJxvI0ABHjUaZys",
        oauth_signature="Z%2FTJ0EvaZ7U8YRCwD1sodn9GPJyFcihuKPB%2FrQEJ%2FiRGfon8UxEf6%2BGZMuczx6xmCTbwzA9jyohpY7ursOS8EVSA8yRNEORu%2B[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%2219ec9fa6-e528-489f-99f2-26793a95cd4b%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="WoeGDm7koeFU0hjOVxqfZCEnpD08uBjnWhLbznA3z4I",
        oauth_signature="SuXF8I2Z8TTw1qLdlnLDwCL%2FuOVMaXCW2b0xWpLhQCF566rpn2DntxguJQXJ5h5WF92c7e9mQGi6MZW2nhI4nIurLGrp9pRDf%2FyzNOGFj9ERlSFlW7PIE0rUZVe63Rt5NZfmtYUUsqckDZzE4lJCVObpP%2BnuHJtse01QEkyLuUU%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473543", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>d11ad29f-4b45-4ad3-a2fa-34453b7260d3</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:45:43.4472754Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:45:43 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E19ec9fa6-e528-489f-99f2-26793a95cd4b%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="dmUeQoug4I2BQ5NM3z8LX6111ywleohu6EyjMeYxU",
        oauth_signature="G65ephHk2CL4CqBqZgrpxe6EaYpRDmAn1gtSiytfNz0VFkg8rJEdJFPi8uMCta%2FWG7XIu%2FHMvsYZxihedb3MtDDreKH7%2FwOX0RvfDQVIRPV4JED%2[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%2219ec9fa6-e528-489f-99f2-26793a95cd4b%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="AhuwszVB517zG3txfH534l5wopCxLuJBA8TZ0ZClBtA",
        oauth_signature="S4AGRSaHgqg5xUYww5X%2BFAwt82%2BPbdN%2BbgnL%2F8s%2FletsJpprEABAPfJf%2F5eSnkAdzbwyKs%2BqFllywYIqKcaJgvaDiuZrrzA2eBuW2CXTL0am1%2Bs%2BQYJnW9xZyFNVUJKvRjTV39gcsJ4IqPhsxrY5iFM3PJzD8puljhExqBqIkaI%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473546", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>95d798d2-248c-4aa0-9e4e-6080120edf6c</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:45:46.4424946Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>19ec9fa6-e528-489f-99f2-26793a95cd4b</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-08-14T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-08-14T09:45:44.943</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>f08523e3-89e5-4591-a1c8-61c9a85db932</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0117</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:45:46 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/f08523e3-89e5-4591-a1c8-61c9a85db932
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="8r3SpIjKYa8Ft4kOhmiogTbzn78cr7ewC7B5jevCJJs",
        oauth_signature="TLTujQeBYARuNH1j3ZHszrIfwYmbmNR6xHHRJBGFBBsH5w8JEomeTGJ0R5vwzRJbhuO4pKqXH1cAklqnb%2Bqsrw%2BsbIXr3wOKIfX8S9Wi%2FcJJVlH%2FZgXaKjeSqi[...]
[...]
