---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="6WB5OfsB4jB6OzuHk4hEyZ6FZIMOwukbuAMWcS7xKI",
        oauth_signature="qQ%2BdTaYpDzP7a8z1pGXWPiFpirC4YwUG7uvuvkoy%2FWzYIlGFHb8QhyPppmdbPp%2BkDlzbTf6Xbt7Ot8zDuBF3x1wQ6sdB12cicQ5gioYaYnB%2Blr9hwe%2FgIs3nWYBRPr0K53t%2FlNoLDWFB8HoFuWkPobtZNJOKJl9XyziE5BdHFbs%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703568", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>49288f65-e60c-40f5-9995-5aa6963f9c00</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:26:09.7185769Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>9b576d1e-6dc9-4be9-af4f-0210891b6c7b</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-05-16T10:52:38.87</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>true</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:26:09 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%229b576d1e-6dc9-4be9-af4f-0210891b6c7b%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="ln4SZ0VxJk5dxjvLr508IFgmOgunNkrFoabudvt13eg",
        oauth_signature="GbZNE5A3BDHgqBogA9IEJg%2FZuYfZy7j44fo1gnn2KiSUNC%2BvNgRzx7xdcTItWHIYgDzqe0KTBmPipEKU7kxD7ekN81%2BExGm52f0rKYJg%2BeKHZ3LMUDs3fbUZVB09XDuBGLG6pZLqnHl8pnTaJ9HQLYk%2FfaZDUaQXzQYtTh0S%2Bzg%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703569", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>0050798a-f2f8-4a41-8f24-5ab30abec555</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:26:10.4049901Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:26:10 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="NGor9oKccz8G90Jzap6LnzpWPhAA2jI97NRBNuI0U",
        oauth_signature="htPsA2QmlBVC5EYQwoa7iWlGsKczel9pweiKLGyeEefFeBsTW%2FxPgGMwkoYm5onHnl8en4KNR5xt%2FUkWvw8lkXUMOtLr8i4hqWRqf7xV2[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E9b576d1e-6dc9-4be9-af4f-0210891b6c7b%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%229b576d1e-6dc9-4be9-af4f-0210891b6c7b%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="nQYUXgNLZQmqr3JxksUSe19soeiCHhoEzYczOXBOI",
        oauth_signature="i10XQEsn4Fmrn9APr%2FIBZqlh5umyAF0jQDeVDcfZxBDzF4fxejMrQo7A%2FA9Ee9mQw68V6l0hborS36ZMdMcTCM5UTimjDiLEWPUgDM85rfPtuwWiRQ00H%2F4ZArTpdNEGqtttky9T4qVOizeCBQ6nI8v5yj5itJbQy6A53fzvYmc%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703573", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>236488db-dca7-4193-a0db-c1b951c14e2e</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:26:14.5234693Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>9b576d1e-6dc9-4be9-af4f-0210891b6c7b</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-05-16T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-05-16T11:26:13.137</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>27cb44b0-3bc0-4b3a-a738-0b4a90fdb821</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0068</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:26:14 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/27cb44b0-3bc0-4b3a-a738-0b4a90fdb821
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="JDqESp2ut5RFotMCZXLlCdMzZIHUDr2nQf5Y5PhNI",
        oauth_signature="FysinZee%2B2kIdFEyfX030wJ6WGbkMV2ywJ3DLxk2CzLYhZJv2MLSvS%2F%2BJtWvl9s2%2B1TmRRe3%2BJ44uAM7iH%2Fr8scNpXWuA9E5%2Bqv29xFNJkdYCjqGjPaFBJ[...]
[...]
