---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="4VGidYK7zgavNllz1VajRT2pj4gJVrjw3BWeaqxypM",
        oauth_signature="p9bGMwOTpdBcNZ38SXTDRWuJU2KjX3pfnh9dCScc6J7RFz5aw3PiCkJVAPU9nvPhG9xMyKuUfFKK%2B0sEN6SQu0Ug6SGznsng8Th3g11Mp2xxZBQ3BnPxlYLSHNrhAio9SD0zo9BLlzw4rJuo%2B8uSv6T0ctV%2BHAp8YsdRktvjRXo%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703561", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>91d94e62-f552-493e-9d33-e23e618f85b2</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:26:02.3084344Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>9b576d1e-6dc9-4be9-af4f-0210891b6c7b</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-05-16T10:52:38.87</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>true</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:26:02 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%229b576d1e-6dc9-4be9-af4f-0210891b6c7b%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="HuNTX4NtThKReEz4ioZD7QrZKC2GUONCgVoccJE7VY",
        oauth_signature="atTBbZJntNvvPHKw6dmkAfUBcoLPE5M2O5Zgx%2FLOI7hqccbrnoC1jCYPE58GAUh2DPWuoxnGJV1nXzZ1sNblwrR3gIXnbFvBf%2FgPsT5qvN4GCPQSOc1uzY%2FnC5gt%2FNz7LohE%2B3QRLDWy79zMDQN8GcEL65hJpmGnwwBuL7aN824%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703562", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>9fa734bb-ab26-429a-8588-e0e83d965d68</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:26:03.0260482Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:26:02 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="qyVqf6JD2FLRR3YN3KaMJpRNEgJukQxdBYQJEjnOA",
        oauth_signature="e7rM0E%2BKHPUGzKC1PuyJgTYO0DEfaSiZQxUmduaQDZPWuMZwKf97783HlGfkzYVn7BFBYH3oFVJiEq2o%2FgMmEqUYZGYl2x9xrzQQ38w9B[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E9b576d1e-6dc9-4be9-af4f-0210891b6c7b%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%229b576d1e-6dc9-4be9-af4f-0210891b6c7b%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="GSlZVOIqBUWfg98qXCeis6dJ4XbCuu7sg7vouORQlOA",
        oauth_signature="R4A3li1thTJpj69ESwnCdlMljAOMYejEg0vIQTjfACL1%2BJe%2FxNrrgXNNQTEBtA4tJrxGoavokDvZi15d4wQ5uI4YvZvJaqt%2FpRiGEnafJXWY%2F5wDKmUoZW2qL5%2Fw4oex6NQogp0KXBamXxbR8GeLT7Icq8bKXifjwNWWR0%2Fc9YA%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703566", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>676b6f04-6ea4-44c5-bb9d-3f5045cfd27c</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:26:07.5657355Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>9b576d1e-6dc9-4be9-af4f-0210891b6c7b</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-05-16T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-05-16T11:26:05.99</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>f040c66c-3307-4e60-8964-c40bfa2ee868</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0067</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:26:07 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/f040c66c-3307-4e60-8964-c40bfa2ee868
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="m8zzbq2i0hoeE1PMjGM77mmXX1z4AECNRtehb63c",
        oauth_signature="JlLe36PEAWPdNKXP20KFLHTmn7QzYd9mfe2JEwvFpEiEJObwG3FGV1ScKs75m4IPwpBK5z%2BdrCDcF3wd55Nr%2FDr1f1B%2B%2BV3TdT89bi6bGAEZm48oDSU4WW9r58D6c[...]
[...]
