---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="EH54hrxmLLOUFsyj7WtuKxdCBRMOV2awYplRuYouXs",
        oauth_signature="L61Y%2BWLxxeV2JgMp4COyLAM%2FO9YWbBHMEZ5n%2FPbOED8aNwmiMhvgtRUGwGpUzjm0Hgfofu%2FtqPAGbYgXhPf792veX9KmXUhCUfnFGaLT2ZD7KiR78eAYeGHIprFDSpUJyVQbX37g1hWiMSlpP8X0%2Bv2GyYfQEHrc5byoANkRblg%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703554", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>40bb3e56-5d79-4963-b27d-8c5f8ab3b251</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:25:55.1478967Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>9b576d1e-6dc9-4be9-af4f-0210891b6c7b</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-05-16T10:52:38.87</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>true</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:25:54 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%229b576d1e-6dc9-4be9-af4f-0210891b6c7b%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="tYS0sVyEpGWosAe9emOYY17bR6BMdBJncS8JicTtY",
        oauth_signature="HLO1II3b0%2BsHfYEqUkcxqCVXxPYurwZwPGai6O7jpwivkFiKTpEKXu7zkMAI2OwEi22CMhJxtFlAuQGmr%2FmP%2BtMCY7%2B4hjds0jRf3hCU9%2BboDmcuVzqKmB%2BJ229tGrQjaOIseWI6VaKOh6n2rOKNAOCSzNmXgcrqag%2BfKtSnOCk%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703554", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>5d74d06e-36ec-4de7-8c08-372860b620f1</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:25:55.8343099Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:25:55 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="bcED8SrVkSQvaAu8wnrRj7ZBxVnfIZYmLMR3kStvcU",
        oauth_signature="fD%2BU6z0nNdKpAbiJgcu7SrTTd54bUBeVuvktS4nf%2FIBToQvO15IFFwDg6PArNV2AUGv8tsZTpnW7e0PfLF0ghORrPGvvUBiyXtvuX7xH[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E9b576d1e-6dc9-4be9-af4f-0210891b6c7b%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%229b576d1e-6dc9-4be9-af4f-0210891b6c7b%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="uPWIawh8pewtDdD9DaAmTC7itlIzY7H1zgxKGsnWYUc",
        oauth_signature="C3gaKnVM907MfQKdpJjbPXGcgUVjsocuFlL0Og6fGepUUa3C7ViZDNd0tDzgC2Z32YuZQzlY9MVvmVntyiYg9DhAC7EVbQ8JJgzY19QXc%2BUT9j4R%2F1hff53HT43IScFE3v7ifXkSYJfr0rOzIWFrkBnri96UNyiRqTXrL4CxFWU%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368703559", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>8d6a97f6-28b5-49f0-8853-4aae97809a4f</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:25:59.9215885Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>9b576d1e-6dc9-4be9-af4f-0210891b6c7b</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-05-16T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>2.00</SubTotal>\r\n
        \     <TotalTax>0.40</TotalTax>\r\n      <Total>2.40</Total>\r\n      <UpdatedDateUTC>2013-05-16T11:25:58.533</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>3b4452d9-1f32-4fe8-aee5-90b5c74f96df</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0066</InvoiceNumber>\r\n      <AmountDue>2.40</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:25:59 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/3b4452d9-1f32-4fe8-aee5-90b5c74f96df
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="drj8wvdP5QARRKDoYBAACu8nR9kbY9gCvRL0jo16Ss",
        oauth_signature="fhHyZ0KmQdWMRrMcJSAoN67Xt8zVfATHnPi5nBvKkxpkmjS22zo62pVZKLYLSrfHgV9Uu9t3McjGMXja0sFyeCUr%2Fh0pmuVlLm150%2FOjyToIIHuwJOIBZfhjlNM7YNG[...]
[...]
