---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="ClOEA9vNBgS8SEkGgiXtQFhrqpCCSASgkoJwZApWaM",
        oauth_signature="qTnk89FW2rE3c5iiHd4GSnFQUX2W1PFcaxAFT2SQBEnyPDd8d4MGrc8%2Floxh7dcyxP5wxruy%2BTyPy2prC%2F9k6Mg%2BnGWv%2FRX8cOfUzOdXbpsNMOoHZbsonCNHZpJIvDdn6sphJUa8WVjkLY5b4Fv9Jr7esFu3anGEVUJ%2BQJmhSOM%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473522", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>2723318f-8016-487b-9de3-26b03566ac23</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:45:23.1515453Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>9a4e9e39-3058-4b59-a578-4acb22d82f3e</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-08-14T09:45:23.073</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:45:23 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="ZOSdyCM7xARCSiczuXxqGFO2VM4EwKFshpBGTUX4wo",
        oauth_signature="ihxPsLCG0%2FVucQzHSU99CYJbyNASAfnhvdLOPxoluIrkG%2FAFYO6E5cEDqYpU267uLFWl0Ar5GwXmvxCkuMFxn4laelISTpHiuE7T3j%2[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%229a4e9e39-3058-4b59-a578-4acb22d82f3e%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="J6AEWZ6nAmCa68ogG1MaVktOibOcmTFojX1aKB3dXA8",
        oauth_signature="jBweGj4rbxcGIXS9CVv0Np85k1jLWqoYCPTogH3GKlw5M9awBcazzVyiIYShLL2F0L8kJWOtzvkc0EJpupNE418IdOGt9HKoAA7P3APayQCmK76ljyrDFr2In2ClMgjr4yCGwcaj2aKs5JlYIxQutesZJFTOak0zz8zfkqhm1pc%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473524", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>7951477b-952a-426a-b9eb-7e8886afc536</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:45:24.5243541Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:45:24 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E9a4e9e39-3058-4b59-a578-4acb22d82f3e%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="C47BcwRqy32iZSq0Fp9HfqQ6hqpMUNlkROBKXmaGg",
        oauth_signature="sQDPyVVz5vV4slYbq9Lj0iyIx2mDojiT4MXRlaQTjfJ3sWdVAthcbXY35BaO26ceOEE8Wtkux08Wk1VhN1lZfnCTmeUAhuRiHMta1LEkC1Csx5Ya8pPdzKD[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%229a4e9e39-3058-4b59-a578-4acb22d82f3e%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="5U1ZFnWbU0xaVrhfmzw136rH0inIiTTYbj7kt8beA0",
        oauth_signature="irVa3nT2jI4Z4p2DArEEFZfHm9l%2Fz0pZmlkTuxsMHJRx%2BuJE3%2BFSLfgWkIQlvJk%2FrAPMW6a6hOKULj6633JuP3Wxk7gezQVVomMJ0a4zvOtoXTiMR8ijX%2BqGtJzvK2I5jcOqDHD%2F9mIhOI1QdtoC49yEhmZYtvAXE1%2FWFzx57Kg%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473527", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>0035e394-5a49-4ca3-8c21-ec25386ac655</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:45:27.4415728Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>9a4e9e39-3058-4b59-a578-4acb22d82f3e</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-08-14T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>2.00</SubTotal>\r\n
        \     <TotalTax>0.40</TotalTax>\r\n      <Total>2.40</Total>\r\n      <UpdatedDateUTC>2013-08-14T09:45:25.99</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>80f394ac-7999-4061-b7e3-9fcc9656c5ce</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0115</InvoiceNumber>\r\n      <AmountDue>2.40</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:45:27 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/80f394ac-7999-4061-b7e3-9fcc9656c5ce
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="sz5zoOgertk97iL5KCkfI4rjKTq4dXFjO2ALv7cGM",
        oauth_signature="SF41pR1vEai0DNUUnSEQbwOEclEURutgyb5Y74sxxWsBqhnbZL%2Bhgg%2F2Nwa3a94A98vJF2pGguxmQDGFALgHaDa88hU6ZKmP0gXVWpVmQsw5%2B7SAgzRoYavZF%2FNb[...]
[...]
