---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="FcjG6CXGccs9UyNoKsKvRg3ijh9V4IP9yS1EvePzRUk",
        oauth_signature="jeTZlF2oZGATRi9j8Z4M%2FU7JaxtcGn7SKjGPxzohatL1Uvofh7hTIXRxF9FDmDZxcHQ1QfMlbUhQHegJTqB2DvvgetJAH9W2d2BV%2BRbHWZi4sNNYCozH6SOyOZX6iVxM6Chb0yJrQKWouku4xKSHt0RcTNe6204irdmFF00%2B23A%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1362428338", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>c87af25d-833a-4306-86e4-f5142c9ab9f3</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-03-04T20:18:58.5953028Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>214814d5-64bb-409b-8000-764aa0da91df</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-02-12T08:29:03.76</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>true</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Mon, 04 Mar 2013 20:18:59 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22214814d5-64bb-409b-8000-764aa0da91df%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="cqd3OqXNPqn1xS39nCV2ut5F1X2OVnvxdOEoWnTPEU",
        oauth_signature="i1Cwrkz2vZZHcDW7Uhg7gw%2FxSntQWMbSNIKcsHI%2BwpXeOTB4aoyEltgdDYORyTmNuamKWhD8Xc22N%2FnnRhXDP9Xv3%2BIwRAp9fiOZPVdfEwT8hFRvYG3o3eu5aunAhfOYLYb%2FVbVw8B1nLgbcUrwMGehYnuMJx91ZEnXd4NF5Vy8%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1362428339", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>887522d6-d75f-4077-ac9a-df1828d7f43c</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-03-04T20:18:59.515691Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Mon, 04 Mar 2013 20:18:59 GMT
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E214814d5-64bb-409b-8000-764aa0da91df%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22214814d5-64bb-409b-8000-764aa0da91df%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="uhl7k3WvdynGm0lgvwCe3JyjNoL9Wgew4JTQ5XOvugU",
        oauth_signature="jhdfZaccHxARF2%2F2mX1EQ57m%2F11U2vxpgLTY2saIE1pjrH%2F%2FHHwmShRyjwmepLG%2BEF7T3wF4HDGcq0vgUixQaJxixEH3a1SrhdQ1VqGW%2FUF9ZzYhBJO73nKMrn%2Bhmx7RL0u3ZMpl%2Fv2jTxkWLTsV5rphXz0ZEfwmlspRmEkoSO0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1362428343", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>e93ae11c-56b6-4aa9-bec1-0c6bc391c4dd</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-03-04T20:19:08.7039732Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>214814d5-64bb-409b-8000-764aa0da91df</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-03-04T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-03-04T20:19:02.697</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>eb988019-5ab0-4fa1-88d7-8b3053a55c79</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0530</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Mon, 04 Mar 2013 20:19:09 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/eb988019-5ab0-4fa1-88d7-8b3053a55c79
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="Jop1KmkrrkXKRFp0g7wBU57J0nDxhfFR4z6GsvRX4",
        oauth_signature="TAEwFCbtIYmWkIUVE23sWDuIEzdu9ENDXzaBNmhwQpe0flM6PFNNETX43%2B15si0F4a2%2FIo6%2BHTG%2F6571pT5lU5U09x04H3RbaH8RVU%2BTuocdQof8hK%2FzWscw[...]
[...]
