---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="vClNGFtSlEqMKkLW1o0py45t5wLwu8WoWq7o3jazmw",
        oauth_signature="Bs6Xa5ten3Tr43wH8yuTsEg4R5wiLu8AVEAfMd%2FvqXX5%2B3H1FxFe3425aGvB5CzLkl944HX6m4K%2FqBsYFPJk09AyCscRGwuuaAQvDGwIdbmk0nuDiBGtmy3zUTPK5ek%2BdcVawyImym3fs5PcS%2BmnLVnuxWXILDr45w5SKqWJYOU%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473530", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>d6b665ec-be51-4bf2-a2d5-dce052896bba</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:45:30.8891949Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>cc800824-51d3-476e-9522-22d38545bd96</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-08-14T09:45:30.857</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:45:31 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="6x8FlTPP1Qz2hBjDAO4QEmjlt88Tabdd0txZNsLWSdA",
        oauth_signature="DJQqzYWYZ%2FsgDYY1bF%2FlJQRt8HIHpNd9qDP0FcPcX%2BrBTCCHOcLWH0wF7Ibcuk059SS5ha0TrO41j85SGD4PFQz8cL6uc70TRJ1Pp[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22cc800824-51d3-476e-9522-22d38545bd96%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="ak66tZXd2ZoWJvfV64ryO42e49gFoQmSPzsiDE2aqRU",
        oauth_signature="d3GsIf5vFfqseOhn%2FZEkdexfvdefNCNTySRnH4PZQ4iItE90YTR5uLnn4JG5bLeNn5BEnpcglDKwmiojUafoMeU7U1o%2FHsLagd2nLWkWVjsTZBTyCI7zAzh4v%2FVuVOqKDNVHWMveggxVsN6oi1Qsm4WgASeUsNT6b01iL1o9it0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473533", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>cfc33cff-e238-4907-9622-c0ca72c5c151</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:45:34.1496158Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:45:34 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3Ecc800824-51d3-476e-9522-22d38545bd96%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="LunDPCP3ElIoTEfRVRpCEWPGRvpbBoSh8ka9yOfRtM",
        oauth_signature="noHTcMO5%2BRR3j8o7CedhheXXnfmfMpIP2XrH2ZPWkZWRWJh2d7%2FcdrThYO9MC%2F3czvZ15JexVfPbI6WsjipoesVRfLgAF9zFqsOHmn58c9YUYLUU[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22cc800824-51d3-476e-9522-22d38545bd96%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="r58aynnWBnu9VvOrnJPwoeodoo9TQoYF7OaPHUGI",
        oauth_signature="aoQr%2FgUAQ5BIAfrDGGNbXXyM849AlcZdkDcbf0d07NEv39rDt282HKg5THSNDpn8ZW%2B%2B4mnnKcfv2RfDAI8kJqdfpf0ljoJ%2FKyC6VKFwh%2B4Y5ebq2PUf5gePhYoUlyMXlVZ8KoTQpLoBZs2nbPt2Mm%2Bigd%2BHOM1g7kEnLM0luIg%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473536", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>cf25c45f-3ed2-4faf-ba67-2871168a9a45</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:45:37.0980347Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>cc800824-51d3-476e-9522-22d38545bd96</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-08-14T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-08-14T09:45:35.647</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>09f82624-feef-4c48-b1b2-17ef1e31531c</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0116</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:45:37 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/09f82624-feef-4c48-b1b2-17ef1e31531c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="veAgffsK9RMWRL3WJRrUkkdkvccd9N1ideyNAjtdE",
        oauth_signature="Ngi2RIOIGg7JzI%2F27MX6b4CiBx1TCZ4eY0WlvNlhkcEyTkf0nE3dUZXFifdLWrpb%2B2YRFBv5jCRpB7EnGrf8y8yl7gLkZv77JDMxpeg9vxuJgdNg7POrQcG3INURYcA6[...]
[...]
