---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22214814d5-64bb-409b-8000-764aa0da91df%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="aKPLeMO6TKve96yOeZq0WIHdxRBU72VjsZC93lmoI",
        oauth_signature="CasQh7Hm%2F0ZyIxWIS1l7zbhWvAslP2DUoRZEAhm2P0ARQtZz8SSi6O6adSroA88%2F07pF7tdWdHZacFIshApDkspufTPTtYBWJB6XC3N4gGBiWxj%2Bj93hUCEgS%2Bp2mYpKQwmmg2lg30IgZ7oQiDdI%2BuL7gyNicIhoXieVHB9L2uA%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360770555", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>f817adc1-4115-4a73-b522-6342323e95a9</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-13T15:49:12.0714841Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>214814d5-64bb-409b-8000-764aa0da91df</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-02-13T00:00:00</Date>\r\n
        \     <DueDate>2013-02-13T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-02-13T15:46:38.587</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>db5df219-a075-4080-8a4e-b3b0b3195dc3</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0254</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>214814d5-64bb-409b-8000-764aa0da91df</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-02-13T00:00:00</Date>\r\n
        \     <DueDate>2013-02-13T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.00</TotalTax>\r\n      <Total>1.00</Total>\r\n      <UpdatedDateUTC>2013-02-13T15:49:10.997</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>5f09075c-efe2-4cb3-ba54-6d97645ae968</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0261</InvoiceNumber>\r\n      <AmountDue>1.00</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 13 Feb 2013 15:49:16 GMT
recorded_with: VCR 2.4.0
