---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="v0pT9pJmB9NGEjdhXrxHvcBwNsBRIAU9d8NdKpNy4",
        oauth_signature="JxgX9aTlptsi07DIkj4UuyyAQiz23VW%2F8Syi1Dxgqda9%2F6x7twYBQOtyf44RMAnf9Nj4U5QrRAMcp7xb%2F2g7pVWBoTlMBgNSsGUVIoWY70PRDpsoJIbS6DHNw1CTP05%2Bmwtu8nNJ9Q%2BSv5PxXuGfyMaM%2BIt6MC2%2BjhOijI9mK7M%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1446646049", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: ASCII-8BIT
      string: "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>8da57c9f-5ddb-47bf-9fc2-3011eeed9ad1</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Just the worst</ProviderName>\r\n  <DateTimeUTC>2015-11-04T14:07:29.3567792Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>eb3f2a4d-b27e-4980-a78f-edd30a5dfe29</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-11-04T14:07:29.293</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 04 Nov 2015 14:07:30 GMT
[...]
