---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="BoSDjqZPdbnQ9z5xnBCNZzpPNKMzKJJemhbf53shvF0",
        oauth_signature="Q4aBDuKbAZpY2Xc9BfU9KMY2teHmKYaZA03wLnSVEAo5T8y0FfHi3Nta5CAdJkpGufVAf%2FxGUg8RGAHA%2F%2BhzBA4f%2FvfOBhT5vrtiQVOVxE9dYbby5HaDKh8qxG2sAEk1Xmtxwn%2BhTOHM7DEtxIKjVWXxgMmqKdPtysne8kDaQVs%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1378811433", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>25326447-f600-4503-94d1-1a7e86a63880</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>testing</ProviderName>\r\n  <DateTimeUTC>2013-09-10T11:10:34.0921141Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>5781f655-9ae3-4d33-9b27-b7bf4b4a92a4</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-09-10T11:10:34.077</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Tue, 10 Sep 2013 11:10:35 GMT
[...]
