---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="l9EhU4GEBSxDgc8qS8Gm5HVMe5NTwhac6rF8PfXPgC0",
        oauth_signature="KpYYwV5QExFvsf1uwOBVNJtDY9ylWgbrxLL6ud1ZCRjwP5wgA8880RdNJsWnarhFzfvPWC64h90%2BAdJ4z4JOkJXZsDgeZgXkWVu26rnI9zn5Kfr%2FEzhmmJXqE8zsNfMzHdpA%2BRq9lcb7WePRMHEmBzgZZW5fx368Sq3ckARQh0k%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360769153", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>bc8484ce-8b28-4a1b-9b53-dc55c9f3b3fa</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-13T15:25:50.1163876Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 13 Feb 2013 15:25:54 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A++%3CName%3ENew+Company+Inc.%3C%2FName%3E%0A++%3CEmailAddress%3Efinance%40newcompany.com%3C%2FEmailAddress%3E%0A++%3CPhones%3E%0A++++%3CPhone%3E%0A++++++%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E%0A++++++%3CPhoneNumber%3E01234+5678910%3C%2FPhoneNumber%3E%0A++++%3C%2FPhone%3E%0A++%3C%2FPhones%3E%0A++%3CAddresses%3E%0A++++%3CAddress%3E%0A++++++%3CAddressT[...]
[...]
