---
http_interactions:
- request:
    method: post
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A++%3CContactID%3Eff9ac025-e2c3-4f2c-abfa-e440189b5c62%3C%2FContactID%3E%0A++%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A++%3CName%3ENew+Company+Inc.+ff9ac025-e2c3-4f2c-abfa-e440189b5c62%3C%2FName%3E%0A++%3CEmailAddress%3Efinance%40newcompany.com%3C%2FEmailAddress%3E%0A++%3CAddresses%3E%0A++++%3CAddress%3E%0A++++++%3CAddressType%3EDEFAULT%3C%2FAddressType%3E%0A++++%3C%2FAddress%3E%0A++++%3CAddress%3E%0A++++++%3CAddressType%3EPOBOX%3C%2FAddressType%3E%0A++++++%3CAddressLine1%3E123+Random+Business+Park%3C%2FAddressLine1%3E%0A++++++%3CCity%3ELondon%3C%2FCity%3E%0A++++++%3CCountry%3EUK%3C%2FCountry%3E%0A++++%3C%2FAddress%3E%0A++%3C%2FAddresses%3E%0A++%3CPhones%3E%0A++++%3CPhone%3E%0A++++++%3CPhoneType%3EDDI%3C%2FPhoneType%3E%0A++++%3C%2FPhone%3E%0A++++%3CPhone%3E%0A++++++%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E%0A++++++%3CPhoneNumber%3E01234+5678910%3C%2FPhoneNumber%3E%0A++++%3C%2FPhone%3E%0A++++%3CPhone%3E%0A++++++%3CPhoneType%3EFAX%3C%2FPhoneType%3E%0A++++%3C%2FPhone%3E%0A++++%3CPhone%3E%0A++++++%3CPhoneType%3EMOBILE%3C%2FPhoneType%3E%0A++++%3C%2FPhone%3E%0A++%3C%2FPhones%3E%0A++%3CUpdatedDateUTC%3E2013-02-13T15%3A25%3A50%3C%2FUpdatedDateUTC%3E%0A++%3CIsSupplier%3Efalse%3C%2FIsSupplier%3E%0A++%3CIsCustomer%3Efalse%3C%2FIsCustomer%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="Q7j24ZRAAs9qbzt7YHw1GK69CbosNC1l5om1ozeWc",
        oauth_signature="nVFVPQWUKjkr2g%2BUgB8PlT3%2BDwu%2BOEYlkuGm7XFIgWUJLpA6xbHVJO9gdxETrjrKNyDYY23d4T46qN74Hh4mjzt7SM0KCSrKpJ0szlJ5pLTmifjoahCJ5WIYhqzXn6CTX00tGnfy8KrHREsnDRGRGJtVO60Q5B5BSkZtakYpsb8%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360769156", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>011a7a52-12bc-40c9-8781-88a7528a1d76</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-13T15:25:53.7512342Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>ff9ac025-e2c3-4f2c-abfa-e440189b5c62</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>New Company Inc.
        ff9ac025-e2c3-4f2c-abfa-e440189b5c62</Name>\r\n      <EmailAddress>finance@newcompany.com</EmailAddress>\r\n
        \     <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \         <AddressLine1>123 Random Business Park</AddressLine1>\r\n          <City>London</City>\r\n
        \         <Country>UK</Country>\r\n        </Address>\r\n      </Addresses>\r\n
        \     <Phones>\r\n        <Phone>\r\n          <PhoneType>DDI</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>MOBILE</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>FAX</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>DEFAULT</PhoneType>\r\n
        \         <PhoneNumber>01234 5678910</PhoneNumber>\r\n        </Phone>\r\n
        \     </Phones>\r\n      <UpdatedDateUTC>2013-02-13T15:25:53.703</UpdatedDateUTC>\r\n
        \     <IsSupplier>false</IsSupplier>\r\n      <IsCustomer>false</IsCustomer>\r\n
        \   </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 13 Feb 2013 15:25:57 GMT
recorded_with: VCR 2.4.0
