---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="Yh0Zp1cxxi327eMlAhQnq6x1OzFkMTPtYfqz2nN6Q",
        oauth_signature="ou4mVVfgwob46GQmUTpwlNZ7wI9ydSr2XBSgWETUhaU5Avhp%2Fcl5GIoeH7wMEo5%2FvwWATsOLtnZ%2FQ8ECrX3GVOCvF2TS%2B4NoRFqlh203EbqDqpfIkTl6cQapOx3cdNFcZCbBjDOuoaDP3J9XJS0JN%2FoBl6WSgjHoCQCSqg9G9f8%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360769152", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>260dcdae-bbd8-4792-a6c2-f27b670c6890</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-13T15:25:49.4143786Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 13 Feb 2013 15:25:53 GMT
recorded_with: VCR 2.4.0
