---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="MB9RPsiUN4ecIOJJx7r4T5tgH55I55lnDFZIO33clOc",
        oauth_signature="GpNMj%2FbW62qshWfUHTXgkr1F8uZrVFDJwY0h4QpjCUfSkJh%2F0SG%2Bqjdj%2FJth6p7YJDMIX6gwelOkhlf6VhP%2FrGiKQimsONDSYWtwPqAVNDsj1njSbvq%2B2HslTnX%2BgY%2BfaLKao2iLA6bo3t1mvs6u7%2B%2BWQFJmsXyE0tsVNgepo5Y%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360769156", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>0de8c20f-57bf-4aea-b765-fe48bbd78dcf</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-13T15:25:52.64362Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>ff9ac025-e2c3-4f2c-abfa-e440189b5c62</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>New Company Inc.</Name>\r\n
        \     <EmailAddress>finance@newcompany.com</EmailAddress>\r\n      <Addresses>\r\n
        \       <Address>\r\n          <AddressType>STREET</AddressType>\r\n        </Address>\r\n
        \       <Address>\r\n          <AddressType>POBOX</AddressType>\r\n          <AddressLine1>123
        Random Business Park</AddressLine1>\r\n          <City>London</City>\r\n          <Country>UK</Country>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n          <PhoneNumber>01234 5678910</PhoneNumber>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>FAX</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>MOBILE</PhoneType>\r\n
        \       </Phone>\r\n      </Phones>\r\n      <UpdatedDateUTC>2013-02-13T15:25:50.88</UpdatedDateUTC>\r\n
        \     <IsSupplier>false</IsSupplier>\r\n      <IsCustomer>false</IsCustomer>\r\n
        \   </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 13 Feb 2013 15:25:56 GMT
recorded_with: VCR 2.4.0
