---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="EkfFAx6t7zwNu37gsAjF8sOk7uDdjDakQwbkVEVoco",
        oauth_signature="awITe%2Fo1EJsaxOQcn%2F7MkDjUn06h5YqEyviUAOhMwld5qiFdGRPtDNgPGXn7EG%2B4bA%2BTea%2FD4HkW0CZnO02%2BL6iC3J%2FquLSrqr6W4RWmFTngmX2j7UoKdMicDAU%2B96OHL6SKlUzTtDBdr3W04digTFk04v6xaaK9pJYUnbPIj2k%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360771613", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>aef6a7de-ad93-497f-b1ae-b21e5cce749e</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-13T16:06:49.0458133Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 13 Feb 2013 16:06:53 GMT
recorded_with: VCR 2.4.0
