---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Bob%20Fish%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="UvGgWZtqmX88axy8n8lIth44EYEKeq3EJOqI4QzRlXM",
        oauth_signature="LABag1AlrFccVAGPY2seBvaubcJ%2BN3nAOGaU1AyMIyBSNX26iVd%2F4PF2Aeu9UEkOQaQlKV5VtV58mJTHI%2FtHX%2BXDz8iu7lo6ZuRmSrpDH0%2F%2BAinAoZPNZM2tWpNJj3VQmRQMsLmreebCgRYbGgtJ97r51DNq%2Bti41jhnRyX1bKE%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360768256", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>f14bcccd-97e5-45db-a667-312a2ee01b65</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-13T15:10:53.3005559Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 13 Feb 2013 15:10:57 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A++%3CName%3EBob+Fish%3C%2FName%3E%0A++%3CEmailAddress%3Ebob.fish%40example.com%3C%2FEmailAddress%3E%0A++%3CPhones%3E%0A++++%3CPhone%3E%0A++++++%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E%0A++++%3C%2FPhone%3E%0A++%3C%2FPhones%3E%0A++%3CAddresses%3E%0A++++%3CAddress%3E%0A++++++%3CAddressType%3EPOBOX%3C%2FAddressType%3E%0A++++%3C%2FAddress%3E%0A++%3C%2FAddr[...]
[...]
