---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Bob%20Fish%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="oekBUjPaAemvjeHJR9L4MSAwLy5TnOIaURPqNHkY",
        oauth_signature="ofnGAgOMLV0zkHuo59Cw5foO6Zg52PFLmW6bae1hWEi8nM4nlz%2BaRIdNbR4Zzz%2BD%2B%2BBFku6b7c2pvn8rdi2dMe5gZstngsy2NxaB9oVn28EgGXftVjZq3NFL%2FyRv2i3EJmbnY7ZiE8mbRU01aH3ju13aOVTgTC6VyApZDoEAMKk%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360768255", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>8fff9a22-ddab-4d83-baa1-1818032269a5</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-13T15:10:52.7077635Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 13 Feb 2013 15:10:56 GMT
recorded_with: VCR 2.4.0
