---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Bob%20Fish%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="5r5iHASfc1w5OnFUc0k1Agt72DaYSZOSfF3vjb3U1k",
        oauth_signature="bOH5XNCj9V0YFJGBhWMYFk7UrB5kGJYk%2F50%2B1B4fiaXz6cRebG9wSiCW80vBh6pws0QHIJigI9Y7XDtyuKQxk6hkxPTSuQ%2F%2F0uUWbnY83%2FO3QfwKKDxjcefCMlC96BTfs6zzSaWxa3HmARHZ1Zx7mblECpg8YRb2mL9tz8qJOGM%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360771603", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>4a29329e-3b22-4bda-b69d-28e2861d1b0f</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-13T16:06:39.51403Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 13 Feb 2013 16:06:44 GMT
recorded_with: VCR 2.4.0
