---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="3CTnSX3C2C4LEiHMTN5PkpyrYNJjdYYE5TjO95YZs8",
        oauth_signature="ETGfWEKI2W6GYZ3JDANL3xerHXip1ACklaGlSi73TjWCA0aK0WC8SxFR4vSmgF91Rgii4xcieXsoZi3ln3L%2B2Ok%2F9szlbww%2FygAcq%2Fh8mDmj7KmfOq81FgxMU0V4jx%2BPO1Pbbu0P50PsQl9C%2FaeH1zcoT9huBs61L8rzHbI637Q%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360769148", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>990a7840-1ed2-4a07-b68b-dad74d92d1c5</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-13T15:25:45.155524Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 13 Feb 2013 15:25:49 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A++%3CName%3ENew+Company+Inc.%3C%2FName%3E%0A++%3CEmailAddress%3Ebob.fish%40example.com%3C%2FEmailAddress%3E%0A++%3CPhones%3E%0A++++%3CPhone%3E%0A++++++%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E%0A++++%3C%2FPhone%3E%0A++%3C%2FPhones%3E%0A++%3CAddresses%3E%0A++++%3CAddress%3E%0A++++++%3CAddressType%3EPOBOX%3C%2FAddressType%3E%0A++++%3C%2FAddress%3E%0A++%3[...]
[...]
