---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="xbfT6x4DONsRUPwlzkJSPGuqvE3BTE49jMaO8uPE0",
        oauth_signature="rSsu%2BvvPE3EiOcsF97KNJlShSLXMkrgWDzBUa%2BBRH%2BBojPatq2RT90V7gx0ORDwOH3oPE%2FHFixf9yRUFwG67FjcgbOuI34WMx%2B8sZ8ItHVaxN0MbJwfagoFlkgiBuiYtUnsHOo8BWfcvr2Xp3VSd2i1gv%2B7iILkX5DMMTCoj3Kc%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360771608", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>31c67ff7-3ce5-4538-9d67-e364c115a546</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-13T16:06:44.8805332Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 13 Feb 2013 16:06:49 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A++%3CName%3ENew+Company+Inc.%3C%2FName%3E%0A++%3CEmailAddress%3Ebob.fish%40example.com%3C%2FEmailAddress%3E%0A++%3CPhones%3E%0A++++%3CPhone%3E%0A++++++%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E%0A++++%3C%2FPhone%3E%0A++%3C%2FPhones%3E%0A++%3CAddresses%3E%0A++++%3CAddress%3E%0A++++++%3CAddressType%3EPOBOX%3C%2FAddressType%3E%0A++++%3C%2FAddress%3E%0A++%3[...]
[...]
