---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="W2H5weU6Npc3RU7zMMPnDkwkv6L9YlV8bwtubZYaZI",
        oauth_signature="e%2BWDtJa6FtJoKtvNDEZKAvUXIk%2FLhun1eG7UY2%2FYd4bcExFh6jPF0xZjwyoBfs%2BoH9t7T5LeeHGZL%2FWNXOLZhhceeWjRfyGLyoTX4n7t76K%2B4VoFGLP8skHFl5f%2BoOoduDv6sgj96b7hUTNwvqncYldltCBI5%2BKHDeexagJqb5E%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360769147", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>c8652ae6-a943-4af1-8171-f7e16a02e0d3</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-13T15:25:44.531516Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 13 Feb 2013 15:25:48 GMT
recorded_with: VCR 2.4.0
