---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22New%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="qvIP8n2tXwyHB6ACyTlQKZFMsqoAFjD6oXU4CO8Es",
        oauth_signature="keg%2FJ4CzZyyQ0igR0Xbeh4c2kLvhizj5Fh9TK%2F4KGeXJKx1BWbjiV4lnKREnA367w%2BE5lsCke%2Fnym6NfYe%2BanK9PkrwGkSuGokLIgQtSkjQbS2Lmg3SqLwqF1ytVeDuwqztL1twhrJr6t5bQkjUfVqwy%2FpejnE4EuEolziGTPqA%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360771608", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>42ca0f18-305f-42d4-abe2-8ed94c5a18d8</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-13T16:06:44.3033221Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 13 Feb 2013 16:06:48 GMT
recorded_with: VCR 2.4.0
