---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22c1e5c2ec-3ce4-4b4f-8ead-3ce395523717%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="UWhswVFfA3iX0wwsHUrWSvpBRtArGHyUKtwkNIGTJiI",
        oauth_signature="hZq4sIufoDMbtXew1TGJBhIv4bWandnbLBrvPkAIlOiWuoPZbvdzWSof66sXd6tEzveXImakFSqiBni80ALN2KSYT6nVoguqPMGzdnnzwynNCLuYri9gkt7VHQ8L8xgJxX5XPSXhni2levLPEWpRpp4q9sgegSphgDvKmzItdoY%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1403257153", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>7b49aa66-4c84-46b9-bdc1-297a3e705863</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>YO</ProviderName>\r\n  <DateTimeUTC>2014-06-20T09:39:14.377391Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Fri, 20 Jun 2014 09:39:13 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22c1e5c2ec-3ce4-4b4f-8ead-3ce395523717%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="8PbBsTO6C8KnRLZyHJSHjukPOCIRwGfnIJrdGpiM",
        oauth_signature="u9MY0%2Fr9ymoJxLUrO06Qf1NVOdJ6prQuBmZ2HpZ1brJdZrIlkfBV3rD%2BAeCZQBbsrGholNKDA%2FqlFmMIGONxpxi9FRLTlXHz8duKIVW0FZxxv4eCZPfnjF%2FXWqz3Um%2FT4Osxti3eAcqTmmvljZ4G1WjYAjKEeMD1hkSMsHDi52A%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1403257156", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>c8a9c498-80ac-481c-9d62-28a9a75dfa65</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>YO</ProviderName>\r\n  <DateTimeUTC>2014-06-20T09:39:17.341429Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>c1e5c2ec-3ce4-4b4f-8ead-3ce395523717</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2014-06-20T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2014-06-20T09:39:15.953</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>b3be8a96-018c-4fc1-bf76-f10d211684b5</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0053</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Fri, 20 Jun 2014 09:39:16 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/b3be8a96-018c-4fc1-bf76-f10d211684b5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="qYt4v8R6aT8RhRsYSkxyQQbUWJAyut2rEayTQSEIZ0",
        oauth_signature="ErUkXCBdqrfsTooYaTAeVAx9OCMrj0kzVMiD8cn1Xddl4PEBJK35t3wHEXbTeHtIZN0RnVc8XA6gSGL1pY4FUfo40Q95tqxuQ5JFKrKAPWg2xfwoUj8kqGUGAE941fM%2FIqzK%2FkEClNT1brjovkwkZx9oXFs8yXmr1h5n2hZW8x0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1403257156", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>22acba8d-72d9-47d4-9832-de923d4b846e</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>YO</ProviderName>\r\n  <DateTimeUTC>2014-06-20T09:39:18.0122376Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>c1e5c2ec-3ce4-4b4f-8ead-3ce395523717</ContactID>\r\n
        \       <ContactStatus>ACTIVE</ContactStatus>\r\n        <Name>Existing Company
        Inc.</Name>\r\n        <Addresses>\r\n          <Address>\r\n            <AddressType>POBOX</AddressType>\r\n
        \         </Address>\r\n          <Address>\r\n            <AddressType>STREET</AddressType>\r\n
        \         </Address>\r\n        </Addresses>\r\n        <Phones>\r\n          <Phone>\r\n
        \           <PhoneType>DDI</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>DEFAULT</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>FAX</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>MOBILE</PhoneType>\r\n          </Phone>\r\n        </Phones>\r\n
        \       <UpdatedDateUTC>2014-06-20T09:39:12.91</UpdatedDateUTC>\r\n        <IsSupplier>false</IsSupplier>\r\n
        \       <IsCustomer>true</IsCustomer>\r\n      </Contact>\r\n      <Date>2014-06-20T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <LineItems>\r\n
        \       <LineItem>\r\n          <Description>my fantastic invoice description</Description>\r\n
        \         <UnitAmount>1.00</UnitAmount>\r\n          <TaxType>OUTPUT2</TaxType>\r\n
        \         <TaxAmount>0.20</TaxAmount>\r\n          <LineAmount>1.00</LineAmount>\r\n
        \         <Quantity>1.0000</Quantity>\r\n        </LineItem>\r\n        <LineItem>\r\n
        \         <Description>PAID WITH CREDIT CARD; reference cus_12345</Description>\r\n
        \         <UnitAmount>0.00</UnitAmount>\r\n          <LineAmount>0.00</LineAmount>\r\n
        \         <Quantity>0.0000</Quantity>\r\n        </LineItem>\r\n      </LineItems>\r\n
        \     <SubTotal>1.00</SubTotal>\r\n      <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n
        \     <UpdatedDateUTC>2014-06-20T09:39:15.953</UpdatedDateUTC>\r\n      <CurrencyCode>GBP</CurrencyCode>\r\n
        \     <Type>ACCREC</Type>\r\n      <InvoiceID>b3be8a96-018c-4fc1-bf76-f10d211684b5</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0053</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <SentToContact>false</SentToContact>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Fri, 20 Jun 2014 09:39:17 GMT
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="bc5RIAAA6NKhlx7LhHPi3GgyWnVRuSIr3wB9k4yAkc",
        oauth_signature="Fw1DBg%2FK0hjh4%2Fo6aWe%2BZCORJuv5DAQNqASZeuqamBlKN%2BSPl6Gwu7g%2Bbx6Rt37t2EQjNHRB9w01oA2j74pqNun%2B6%2FDpIF4CaViKlS%2BFcPHT46YVdyx6XZo30L2XPyn9rcO%2BO9AhaPkWZYeN3tj%2BivSD2MvwLPA3hL%2FPY9V%2B4y8%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1407416060", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 505390-O1VMAP05
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>2b582c6c-ba6d-4324-871a-b7ca59fad5cd</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Beardstroke</ProviderName>\r\n  <DateTimeUTC>2014-08-07T12:54:16.9889283Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>9e953043-5a38-4f97-b408-21e3d80a1af0</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2014-08-07T12:54:16.957</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Thu, 07 Aug 2014 12:54:22 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="z1iAcqGylSx7xQK46hnvfU1mfaPuZsE5nWmPExXqus",
        oauth_signature="inNnjVQVsF613QV%2BTqLYyLJrNvk2fTFsRaZQtq64rkXjWZZHw71s4107upnQ3Smc5hhomeNlRnErQDGh5WLK2mqQ2dONRP4eW68nPJr5Pf[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E9e953043-5a38-4f97-b408-21e3d80a1af0%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="h6Hrazj8Ml2s58tLSMJD5hi6XCezmwJdfGKk2kVwY",
        oauth_signature="mWdDy5FHVfr2fyopQKMhKLsITpt5QH2IkwzeH5AidaUN%2FuzOdisj7p8UYYis3s6PjW8lK3656xvuY3AXdES%2FPFTaxlwgk9cVhMgC82ikiUWPWjrdQX5[...]
[...]
