---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/boards/B5MnBDfR?key=<TRELLO_DEV_KEY>&token=<TRELLO_MEMBER_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Enc<METRICS_API_USERNAME>ng:
      - gzip, deflate
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1396969206281'
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"id":"5343be8b0876eb6e19c59ba7","name":"Tech team <RACK_ENV> board","desc":"","descData":null,"closed":false,"idOrganization":"50ffbc0438d1503436000edc","pinned":false,"url":"https://trello.com/b/B5MnBDfR/tech-team-<RACK_ENV>-board","shortUrl":"https://trello.com/b/B5MnBDfR","prefs":{"permissionLevel":"org","voting":"disabled","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true,"cardAging":"regular","background":"blue","backgroundColor":"#23719F","backgroundImage":null,"backgroundImageScaled":null,"backgroundTile":false,"backgroundBrightness":"unknown","canBePublic":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"labelNames":{"red":"","orange":"","yellow":"","green":"","blue":"","purple":""}}'
  recorded_at: Tue, 08 Apr 2014 15:00:10 GMT
- request:
    method: get
    uri: https://api.trello.com/1/boards/5343be8b0876eb6e19c59ba7/lists?filter=open&key=<TRELLO_DEV_KEY>&token=<TRELLO_MEMBER_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Enc<METRICS_API_USERNAME>ng:
      - gzip, deflate
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1396969207203'
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[{"id":"5343be8b0876eb6e19c59ba8","name":"External outcomes","closed":false,"idBoard":"5343be8b0876eb6e19c59ba7","pos":16384,"subscribed":false},{"id":"5343be8b0876eb6e19c59ba9","name":"Internal
        outcomes","closed":false,"idBoard":"5343be8b0876eb6e19c59ba7","pos":32768,"subscribed":false},{"id":"5343be8b0876eb6e19c59baa","name":"To
        discuss","closed":false,"idBoard":"5343be8b0876eb6e19c59ba7","pos":49152,"subscribed":false},{"id":"5343befa1f417e5919345429","name":"Done","closed":false,"idBoard":"5343be8b0876eb6e19c59ba7","pos":114688,"subscribed":false}]'
  recorded_at: Tue, 08 Apr 2014 15:00:11 GMT
- request:
    method: get
    uri: https://api.trello.com/1/boards/5343be8b0876eb6e19c59ba7/lists?filter=open&key=<TRELLO_DEV_KEY>&token=<TRELLO_MEMBER_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Enc<METRICS_API_USERNAME>ng:
      - gzip, deflate
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1396969207981'
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[{"id":"5343be8b0876eb6e19c59ba8","name":"External outcomes","closed":false,"idBoard":"5343be8b0876eb6e19c59ba7","pos":16384,"subscribed":false},{"id":"5343be8b0876eb6e19c59ba9","name":"Internal
        outcomes","closed":false,"idBoard":"5343be8b0876eb6e19c59ba7","pos":32768,"subscribed":false},{"id":"5343be8b0876eb6e19c59baa","name":"To
        discuss","closed":false,"idBoard":"5343be8b0876eb6e19c59ba7","pos":49152,"subscribed":false},{"id":"5343befa1f417e5919345429","name":"Done","closed":false,"idBoard":"5343be8b0876eb6e19c59ba7","pos":114688,"subscribed":false}]'
  recorded_at: Tue, 08 Apr 2014 15:00:12 GMT
recorded_with: VCR 2.8.0
