---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22214814d5-64bb-409b-8000-764aa0da91df%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="WRFfQjcaxkEtKcoskxAhjzTWQd8Se7vYgmgyRZGmis",
        oauth_signature="G0rrMpwXqFlMcYowV8OJg14knBJoDaTbRPA1RPI2HHIrS3w1KcuXDnHwkB00y6YrzLzcsgDF2UNtQsj%2BzjBjKCMIHV1rrWKr65InsNBckoWNAJUOtgr82B%2F2hLYGWfTxUBmQgX9oPq3j2mbk6hbYBB2E4STZ3lTY%2FpymNwZX32w%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360770550", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>74b3c773-b6b7-4916-8e89-adb55d3c9129</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-13T15:49:06.4087567Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>214814d5-64bb-409b-8000-764aa0da91df</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-02-13T00:00:00</Date>\r\n
        \     <DueDate>2013-02-13T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-02-13T15:46:38.587</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>db5df219-a075-4080-8a4e-b3b0b3195dc3</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0254</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>214814d5-64bb-409b-8000-764aa0da91df</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-02-13T00:00:00</Date>\r\n
        \     <DueDate>2013-02-13T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-02-13T15:49:05.583</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>1b972bc0-8a1c-4f7b-b839-5fdf2bccca17</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0260</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 13 Feb 2013 15:49:11 GMT
recorded_with: VCR 2.4.0
