---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="AjNI5c2Nn9WAxOWMBe9tQ1fyq1nJEWvDbEOKmOz1cyo",
        oauth_signature="bpRmdk0SNTRx5zyG75oYOM6%2FH4LH%2BTa6XtT5zedHP68mdGl9k%2BfGSu1GBrsNQ6VJvLQ9Gn3VtH%2B9Pb%2F%2BYdY%2Fl4VDu4Ai%2FQvn6jH67FefRBsCAEQfSe8l%2FeA78rHUqCYUQcDZcvmSKfpS1Ev0J4v919WquJrZKJhRoS24lQk%2BcCk%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360772356", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>9cc10817-43db-42e2-b56c-86d15b9cc2ad</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-13T16:19:11.4148153Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>214814d5-64bb-409b-8000-764aa0da91df</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-02-12T08:29:03.76</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>true</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 13 Feb 2013 16:19:16 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A++%3CType%3EACCREC%3C%2FType%3E%0A++%3CContact%3E%0A++++%3CContactID%3E214814d5-64bb-409b-8000-764aa0da91df%3C%2FContactID%3E%0A++++%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A++++%3CName%3EExisting+Company+Inc.%3C%2FName%3E%0A++++%3CAddresses%3E%0A++++++%3CAddress%3E%0A++++++++%3CAddressType%3EPOBOX%3C%2FAddressType%3E%0A++++++%3C%2FAddress%3E%[...]
[...]
