---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="KP1cneaQRwgrgxOqQ6gBYs09WEkr1uYQqzKwxLdM2jI",
        oauth_signature="CwxJSaLpOuMM%2BKMfOuCwxKny8Re17mUrcMneGdDA%2FbulWfRj%2FBo1%2FLExA%2BR7niXKy9dRermwI9qw9x7wfbmw9l4s%2BLZvj0jE2GMZAZplgQno8AeWYJYcdvzFtFO3ElKq9eT%2Bf2fnkvI3L4EYAoipOsyboIyQJoFezDZ8PwhFNYI%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376474106", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>a6e228ab-9c0e-4849-89bc-cd617c706cf8</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:55:07.177438Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>0082b38a-f4d9-4cd7-9a2e-14c83499d059</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-08-14T09:55:07.117</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:55:07 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="SMAHDcL1NyCq3tQwDq1wNpGie7dXYjkcre2vPrwx608",
        oauth_signature="AlvrhDR5fsvZX3NHJEt6frTu%2FQjxcMXewtHQeEFmzFcN%2BUa5zJ9IYbGlg96ogo%2BC4lT1cmSEe7B363QWCS%2B7yMfjewhlsJ6y6q3[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%220082b38a-f4d9-4cd7-9a2e-14c83499d059%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="2GndemS8v0YbaQc1vJPBYNAP7p4wRZlahTapBXxJyJk",
        oauth_signature="ZpqVjxO0obGWA3rhyGZ13PxO07tOopzGGpY6hhFfuz1OtFZoW3Mib44qDiF6B8jajko84p%2BtDxsNUAX%2FapT7lYUqZYCGPBsbNVC8kZ0MChj8YSx5iTCY%2FewiptRkTHoXIAJIRaLsZb%2FGxivfI3SSu%2FysQQFhBDIAkc3uPtKGmgw%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376474108", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>06e602e2-e00b-49ba-9ecd-e441760aa624</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:55:08.581438Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:55:08 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E0082b38a-f4d9-4cd7-9a2e-14c83499d059%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="ggmN6kWYI6vRHZ0Jxacw4BhhIrjZRcOEzmTyFzC9aw",
        oauth_signature="I206bD7gx9hiaiDDyhkVehL%2BID1ub7FUEC4xCXVZ0rWHUsTumhcJAjmAsqiY2b2KBKOnhadv0LCU%2ByAF99gN5JiiOW3j%2B%2BJZbyY2x17FLIhDyh[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%220082b38a-f4d9-4cd7-9a2e-14c83499d059%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="YK7oHwd0M66wiZNMMbOauGVzp20J09LEasY2iEPPbM",
        oauth_signature="Z5MhSGPPAP9zOoYskVhT3iQmV6lIrcO0GISdFzH3SY4KMFnvqK2hC1nCy8NXn3%2Bbw3Vvh%2BgGg31I%2BNswnUoJN7mmbytrRjG0G0ICXWH1U5V7o3Bk%2B7d2dV265rg1F0BpMEu6kVF24uTE9AUK%2FvvjTEa34McWBG4Yx02NL4p3t8E%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376474111", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>2a733b16-c6dd-4a52-ba9b-f072e2982abf</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:55:11.779438Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>0082b38a-f4d9-4cd7-9a2e-14c83499d059</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-08-14T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-08-14T09:55:10.313</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>a935b864-5161-4147-be17-fb64a817eabb</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0123</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:55:11 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/a935b864-5161-4147-be17-fb64a817eabb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="GXWOlqpRMS1fmoQQ5XDBT3RNIqWxow3Ut95ia0kzM",
        oauth_signature="AVsVn8pq9jCMG4FU687G1pLZsUjbAgkBldadJRFcrnoEPDDvi4PcZuDpdrL%2FIYBnhni6VtpKJVqlQ1oNU16NwclIXjKIIhrVtIZS0Q3mVYRFRIdlz07C1vYhLNvmLQSy9X[...]
[...]
