---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="ZY1y1sHWy52xCr4Cm6IhWMJBYHaBT4P9ABMlxPpu8U",
        oauth_signature="O5u2C8OUefsjdsYmB3DOSaltGwC8mPAn%2F5vYxBMS%2FiAUmKtyMeOgxZBIFjWSGmnJjj%2FrwiiERd4Ch0o2vBkWhyY4JckQP1IdsQiC1%2BC4IDkiE0D1BQYXu5niETPuk1YMpnpWbDBYnDQu%2FsWZtiWiELM7rnNIhtx2o1dkb3n5po4%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368702484", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>8a3c823f-dd55-43f9-8694-5447620bf414</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:08:04.9865138Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>9b576d1e-6dc9-4be9-af4f-0210891b6c7b</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-05-16T10:52:38.87</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>true</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:08:04 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%229b576d1e-6dc9-4be9-af4f-0210891b6c7b%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="ikM6JtUUaAgkMI6EKvTXFPL51gha94G79WtUf47eyc",
        oauth_signature="Q4Txn4UhARMex5rWj06I1v6Y%2BspQs9N8ZE0xzzqLycGONWLrTbh5oM323%2FeThCi%2BCbVYstkya24Wurldf%2Fp%2F6bAv6wDqwndejL3oSJfeLjwABueRtM5Ao32bwUCJblmIN8nWs%2FIQDpIDe0d06mo4eLFTYI0zAsD0lT9wXbLLE1c%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368702485", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>4b3cff83-cbe8-4204-8fcb-23fead229272</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:08:05.704123Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:08:05 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="O1LLTcrp7n8Jba4N7A8VDsDx2dVQuDPZOAg49oVp2o",
        oauth_signature="M30gacdhepmbMQtzSZuNIszDT%2FR%2BYVqCWj%2BgucebCOCY%2FlClOBOd9dO%2Fgh3lpLPi0JZKZna4XQvmVU%2B1OCYfiFaev1QfBLaM[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E9b576d1e-6dc9-4be9-af4f-0210891b6c7b%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%229b576d1e-6dc9-4be9-af4f-0210891b6c7b%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="jfoZDfojxoM7fA5Q97B5ozVkzR5hXVj6DM6MomxHI0",
        oauth_signature="larNIU6HqCbLtkSQ5i1hqu4vuMTkKVL9lSk0JmiVEYM3OS%2FJ8HiyOOuF33aCoiWw6nPP1NX6elQ2O3lT0xrPj%2BjsHm%2B3k5dCA7hdzc7jX5IUq0YeErIbxoWE45XtrdsheeZIKpHLSfN4urKV3KuZVF9cjYcVYZQ34WABVQ4MM2U%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1368702489", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>1cace91d-a93a-4c3c-bade-2b50e1d39840</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Spong</ProviderName>\r\n  <DateTimeUTC>2013-05-16T11:08:09.9785778Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>9b576d1e-6dc9-4be9-af4f-0210891b6c7b</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-05-16T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-05-16T11:08:08.56</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>c5e24ca2-386d-43e2-813e-654550114caf</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0045</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Thu, 16 May 2013 11:08:09 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/c5e24ca2-386d-43e2-813e-654550114caf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="ts3NIxeTdCxsjH38yVrydW3y4M6mxNxK2de2xh1fg",
        oauth_signature="P%2BbDGcN1q%2B4hpH%2FSPbboz8Z5bi30yggVoPIw%2FTWQvVBpmC8vYRtDiPuaPyLbVukIQrnrUa93MK0GwFtbH0IGL0b2H%2FpB8cmIOalIfExHHcaCW74eFkrEg%2FC9[...]
[...]
