---
http_interactions:
- request:
    method: post
    uri: https://beta.leftronic.com/customSend/
    body:
      encoding: UTF-8
      string: ! '{"accessKey":"<LEFTRONIC_API_KEY>","streamName":"<LEFTRONIC_JENKINS_HTML>","point":{"html":"<div>WAT</div>"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: Success!
  recorded_at: Wed, 20 Feb 2013 23:57:45 GMT
recorded_with: VCR 2.4.0
