---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="lc7Uq5yrGcJV1X1KVWfSzlP9OUrQUEoGPqE8poks",
        oauth_signature="WfBsdJZL6ELkF2yqlOpgLeiitmnQ%2FuIh%2FeNXpmC9PmYcNEdT6ugpBrEnn8wQ5mhV4yIGG1YbKFb2Z2uSGnT7eXe8CLkYaRBS8FfQYixOtyM3XXs6fgFvcgP1kuGerIVJ2lzcLkku00QBdCQ8pSKAyAILoBOS0FwRvNxrz0P3DMQ%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360927033", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>a9af4e59-7213-41e4-b4d6-200fbdd19512</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-15T11:17:07.8316813Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>214814d5-64bb-409b-8000-764aa0da91df</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-02-12T08:29:03.76</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>true</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Fri, 15 Feb 2013 11:17:14 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22214814d5-64bb-409b-8000-764aa0da91df%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="Q8fMuNj6LFPJCyCvDl6OTp18izsfN7dfMw8trZGu8",
        oauth_signature="j6YduNBePyQwqAdsGOTLGKBlzWbCxw3JUMMuLmh%2FeQ%2Bb8N9DxeViYwThN71flJ1xl9xg0iRxDwCwEAvLcznivODb30i0t%2BRBr2jcPwGH30tCUljfeYoSvHmJWylf5LWW5JkjZvQCSS6Yopq8TlfXGaeVsWyXAnMWkJQGq5HoepY%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360927035", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>861c7d40-1dff-4a1f-a1a2-d98d8318e931</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-15T11:17:09.5945039Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Fri, 15 Feb 2013 11:17:16 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E214814d5-64bb-409b-8000-764aa0da91df%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22214814d5-64bb-409b-8000-764aa0da91df%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="AeejYbnjMuaAQl4zS0BP0N0C2lAHAvuEJ5NFyuFss",
        oauth_signature="NBULkDBQlyxJduHcwWDU%2Foe5tX9U3xOutuNlufjpFMCGIxyDVSeXeTUryWURdpwvMKGYMneYvp6wK%2B26cUBDAz4ddjKDTM343CS8y639fVXf8kiBl2g4%2FBtLd3Ri2tkXx0tt1a4A9X8dcTSp4Wg8bcpQHqcJC0O9RrajywDGVrk%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360927039", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>7bb22726-43db-4d57-be6b-cbf2695405ab</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-15T11:17:13.4009527Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>214814d5-64bb-409b-8000-764aa0da91df</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-02-15T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.00</TotalTax>\r\n      <Total>1.00</Total>\r\n      <UpdatedDateUTC>2013-02-15T11:17:11.39</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>71fcf0d3-ea47-4738-b5d9-0cbf77c4beb2</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0375</InvoiceNumber>\r\n      <AmountDue>1.00</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Fri, 15 Feb 2013 11:17:20 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/71fcf0d3-ea47-4738-b5d9-0cbf77c4beb2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="COzUsfxCig69MnIiRjVfNmEFAUTeE6LOXdslM6Ej6A",
        oauth_signature="oqEMafhq43B%2BoMnXUmrVKaaio6vP9QhYgEDhBs%2B145m2uLxqazsqZpLxBu2%2FjfRHsgiahv2St88TRRZ88ETWFxb0k0PbiX6%2B2oEJX%2BMgJV60ZBVoMmeH3tEvU[...]
[...]
