---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="d284p9d6kr9Lkn3KbOBFkvxIg36LOiXKuipitn409sU",
        oauth_signature="gWvNwbdKuO9Mo0W3riLCP3uWiKcTI%2F9n4%2BJGbD4ypBZs%2FEZcgQYCHNb82nGcmw7Q6e%2BIqOuk9m%2BH%2FQZ6brxWQEONpzbPu65nZyIJD%2FoBjOVwoyKocBOlTJ%2BaCQIrsWmwI5ByyKC4k9FWc7Uz2gMnNDc%2FgGZEMsO7p%2FVjITAPa2I%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360831311", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>9803bb78-cdf2-432d-81ea-bd1933525553</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-14T08:41:47.5991307Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>214814d5-64bb-409b-8000-764aa0da91df</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-02-12T08:29:03.76</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>true</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Thu, 14 Feb 2013 08:41:52 GMT
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A++%3CType%3EACCREC%3C%2FType%3E%0A++%3CContact%3E%0A++++%3CContactID%3E214814d5-64bb-409b-8000-764aa0da91df%3C%2FContactID%3E%0A++++%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A++++%3CName%3EExisting+Company+Inc.%3C%2FName%3E%0A++++%3CAddresses%3E%0A++++++%3CAddress%3E%0A++++++++%3CAddressType%3EPOBOX%3C%2FAddressType%3E%0A++++++%3C%2FAddress%3E%[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22214814d5-64bb-409b-8000-764aa0da91df%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="emokXIZGxyS7LalaK24UaXhWlwHkapViUJu6qKSo6U",
        oauth_signature="J6wuMMf8DrzdjscHxQLLWwtc8tOOhrkibP12J40L0m41cHyel1lrs%2BdGjEXkl05aUMyDJMgSZt9KUjvDM7yfGOPGTHaHV2FIblcT5WKWSrRo5qbmuwKhoEgyYw8U%2BfFuN42fbmGF4Eugz%2Fylcvrz7%2FpJmGcvywTpNVo137uewPw%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360831315", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>d1111887-c458-49e5-a30b-30770c8123c4</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-14T08:41:51.4366815Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>214814d5-64bb-409b-8000-764aa0da91df</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-02-13T00:00:00</Date>\r\n
        \     <DueDate>2013-02-13T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-02-13T15:46:38.587</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>db5df219-a075-4080-8a4e-b3b0b3195dc3</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0254</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>214814d5-64bb-409b-8000-764aa0da91df</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-02-13T00:00:00</Date>\r\n
        \     <DueDate>2013-02-13T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</Total[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/8849192d-9bca-478e-aa31-141aa3be4fc3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="kgOvJVLZPAeSaqUsjL4YtemvG1OIjzPgUMiyfEeEuNE",
        oauth_signature="FI3RNHWRL%2BXuzxYIjHOL5SfW%2FlhzRY7iRYMpjUaxaggdhYxa%2FUNUr5qhJBgoe5LGckmcN%2FQK2IdtdEtSGVVB6v9%2B3N4twaP2E9y2wCn%2FSig0ToO8y36vZJ[...]
[...]
