---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="o2ZJMuMarBkHtDEiY5Bb2J3ao5MXN2uAB2tup0pdw",
        oauth_signature="Qx4GYGuO8odjsamuyotg23O9AWsnnpokA5Zy0VIm7PxexnY0JHIFkyom5L06JK%2FC1P5L2zyOX%2BArDfSE55Vtx3Jb8xc5jV7%2B1Uhg0i%2FvIGPGxqKaqYwLl8wcmIALl8QMi2YBCBtYS%2BN7gttisKtWqJf6etqCigcMa7B1jOuzWwE%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360927128", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>5770e665-935f-477a-8de4-5a3005a2dca9</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-15T11:18:42.2596919Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>214814d5-64bb-409b-8000-764aa0da91df</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-02-12T08:29:03.76</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>true</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Fri, 15 Feb 2013 11:18:49 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22214814d5-64bb-409b-8000-764aa0da91df%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="mldBjsVIPeki7fuInWyLqRy7vgrmzfJHtfEp9QgYOI",
        oauth_signature="kDDMhqBUv9ymMsOAELWuj67RIfcRdK2c%2BDi1nLZUMyC7c%2BT6caXoxBjTBHceJBD068JKtkxLfby3EEXhHvROHRhPvRh4HYRFWZVqmTBheAonDxM6vMpZ6ZKTWx8jME8lKz9s5Z6MfyLYjhE%2Bkeb%2FQXB%2Byie4jVcEv8sXX1%2BUoXQ%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1360927129", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>0a564c6b-f354-47b5-83ea-ebed7c660c26</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>open-orgn-services</ProviderName>\r\n  <DateTimeUTC>2013-02-15T11:18:43.6949103Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>214814d5-64bb-409b-8000-764aa0da91df</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-02-15T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>2.00</SubTotal>\r\n
        \     <TotalTax>0.00</TotalTax>\r\n      <Total>2.00</Total>\r\n      <UpdatedDateUTC>2013-02-15T11:17:38.033</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>1746463b-f39e-4e8e-a410-8b7cd54c6596</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0378</InvoiceNumber>\r\n      <AmountDue>2.00</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Fri, 15 Feb 2013 11:18:50 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/1746463b-f39e-4e8e-a410-8b7cd54c6596
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="YaMKGaoycOXSpnf7OAmcnQ1byftrzk7NY1AarfLDj6E",
        oauth_signature="nXZ7KEGs%2FKh%2BhYYyUvXrcapo2tHz2OK5b040cGXGGJ16IJpYClFGWI%2FXeHX2LyDBOpvjh5NWDzyHA9OMjTfAHN4BYWAx2S%2FbiQ8%2FDoMZaxacHlSvJJ1fpYf%[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E214814d5-64bb-409b-8000-764aa0da91df%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
