---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EBob%20Fish%20%28bob.fish%40example.com%29%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="znk8SKB6oIx4G3y40wQUuXyvM7mI3iRiNTe1x4I4",
        oauth_signature="NBdvkK3LueubJEjDcTirJVVk%2BPCRGBTgHmL9JNA%2BgHcl6IWGe7Lq9AS%2BHQXJUA36zfKcm37tvO3ZrcaRVvhmIrRXox%2B9UEmnNHow4TSN4Uxs42qAHiiOUpdhHFaTOBs7sz7rLUi2hBpTRYuL3PUGQjz1WBT0ZbXYjT6%2BMswsmUU%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376576617", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>82d474e7-0285-42ed-a80c-8c097e92745a</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-15T14:23:37.8399191Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>880f06e2-7b0b-45ec-a9d0-3a6fa38db95e</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Bob Fish (bob.fish@example.com)</Name>\r\n
        \     <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-08-15T14:23:37.81</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Thu, 15 Aug 2013 14:23:38 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22bob%20fish%20(bob.fish@example.com)%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="Jpnua1uK4EsrxWDYijpFdMdRpuw2EjQjBZ3B0AhdB0",
        oauth_signature="UIiopp%2BFXTHAKMfmebdDIueloKSlrtUoIm%2BLeDodeOzo2w7Yt7kQ8eWPDnnw2O2JlvURFowBEKfQlco%2FmLXyCtFn4vHH[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22880f06e2-7b0b-45ec-a9d0-3a6fa38db95e%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="FV7ZXS0aExYcpbSBBkiHbLl9moNTaNtfPkXejVa7h0",
        oauth_signature="r04Iyre3aaXlefbrWe6%2BBfAwb2qg1Oydh4ZQpdnVzfykg%2FvYzJm0a0qFEZalucYDNYcpNf68i7tllV%2BMS8q%2BfdGlvDNhuMBSBzdsU5o7lvtsiDBtfP1FzsWIdn1NTkXPE0D1T6AIUwqqLOKe1zIFlig28FkNJEitqevLUraNVGc%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376576618", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>e1fd3b5a-5aee-487a-97f3-b41e87a184f9</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-15T14:23:39.3063191Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 15 Aug 2013 14:23:39 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E880f06e2-7b0b-45ec-a9d0-3a6fa38db95e%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EBob%20Fish%20%28bob.fish%40example.com%29%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Bob%20Fish%20(bob.fish@example.com)%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="bK8K4yFAKS7G8XNRTosERCxIzBlxLMnjLaGHdGeECpM",
        oauth_signature="nreK1B5FHtxiVmtgq3BXTusix0RfKgEhOt1RcfILGidoWtGCWfgjRincVVMAF1AKmIUS9lEO70eCdpdtJag7yapRXog6vaG352KJsRB2QHH[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22880f06e2-7b0b-45ec-a9d0-3a6fa38db95e%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="lb2nVNSyfTN8pTPkvZ7VKaJHwOU8e5U8ZAKTmtZe1g",
        oauth_signature="VctAa82QrfK0aTBTJlU7xDM2FR5owVEHwwlI%2BIr2gjR3ADVQv6FeNM0vpRoI%2Fgl68x2jeXFh5AcjjZVxoODC9v3MLO1HcPCMMEHy%2Bd%2BFN7mPme0BN81fFJNKWMfp%2BaCfTUFteKcxSlwO8pmLxfe7Vxzd3E3cd7UoqZMDRwTTlk8%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376576621", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>a7377560-7ff0-4fe3-b98d-6bd7562a3e84</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-15T14:23:42.3795191Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>880f06e2-7b0b-45ec-a9d0-3a6fa38db95e</ContactID>\r\n
        \       <Name>Bob Fish (bob.fish@example.com)</Name>\r\n      </Contact>\r\n
        \     <Date>2013-08-15T00:00:00</Date>\r\n      <DueDate>2013-03-10T00:00:00</DueDate>\r\n
        \     <Status>DRAFT</Status>\r\n      <LineAmountTypes>Exclusive</LineAmountTypes>\r\n
        \     <SubTotal>1.00</SubTotal>\r\n      <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n
        \     <UpdatedDateUTC>2013-08-15T14:23:40.943</UpdatedDateUTC>\r\n      <CurrencyCode>GBP</CurrencyCode>\r\n
        \     <Type>ACCREC</Type>\r\n      <InvoiceID>eb16bab8-1876-499e-bfdc-f87b75279e05</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0138</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Thu, 15 Aug 2013 14:23:42 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/eb16bab8-1876-499e-bfdc-f87b75279e05
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="dJmtQpRy7rOvz33itxKkPF9mO6VjUfNxNRfVPS69GwY",
        oauth_signature="BIIQAPcTR8ow%2BniiM1Tktx%2FGhIqzItBVFtk%2BnMoQg52ikh9UMZk6iebLWNB4K0MtLk6cLaWkYEkll65dxW5ul7kGaE5cM1%2F7iPRij0ttlMHB1r8iCSVBx7jl2g[...]
[...]
