---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EBob%20Fish%20%28bob.fish%40example.com%29%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="abYNmxNhBmzFgc51wthN4kBQYRGyUmRNuad5zmLV8o",
        oauth_signature="PaW%2BLYqvTz0JDxz4wUw%2FZM85oS8iZjyoxHo5qWb3xqRzoGh0zRL8kcKoqqF6YQ2zI7HNTKXJLfvi1I5bw4GJeyEOzIwqzfwxqN6FZG5aAL75TsTPZom3JhUB0JQDiibPNbZaNdAd%2F2uxHvLTjzKBCSUOcp6nBgVig0j%2Fr%2F2L0iY%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376576738", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>63ccc675-4b98-41cf-b5d3-6ac37904b06e</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-15T14:25:39.3327191Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>dc2aec5d-0c86-4ffa-8451-3cb6d3b7106f</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Bob Fish (bob.fish@example.com)</Name>\r\n
        \     <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-08-15T14:25:39.3</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Thu, 15 Aug 2013 14:25:39 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22bob%20fish%20(bob.fish@example.com)%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="neYFg3ax5CP1Avljaf3czbueTahZR66diB6bffbpQg",
        oauth_signature="FT839UNUZe2%2B%2B4c3aFFMcHkU4l8Uk2bZ8ME2mo0nqwhFHYimMvb%2FTMObfTGr4GyEMRlFC%2FbGecZFvf8KcqXCVeu3J%[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22dc2aec5d-0c86-4ffa-8451-3cb6d3b7106f%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="xMzEhr6mgLE3nf4SUvbMLv0JvhKp5Q6b5CB7PpWY70",
        oauth_signature="KMo4qRdEyurWanS%2BuWJyWu%2BpWZobJD4PvO2X33SDGYlUiqwlhRvIkzqREz%2FD%2F6b7IDd0cXQH%2FOCT8DwqNNn7xwbPZMvIVJr65tgmkN5iDQqujIt%2Bt1DzPc8HMCwVmV%2FiS9VlHGKRY%2BEmtQczd2GOvzrKnW6B754pBskgq%2FMKx%2B4%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376576740", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>9e8a3b40-35c9-4493-a308-bb75b547b042</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-15T14:25:40.7367191Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Thu, 15 Aug 2013 14:25:40 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3Edc2aec5d-0c86-4ffa-8451-3cb6d3b7106f%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EBob%20Fish%20%28bob.fish%40example.com%29%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22dc2aec5d-0c86-4ffa-8451-3cb6d3b7106f%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="DEqOCPtf7iyci0XheNeMuZwI3qgAexYr1xY1DD27qA",
        oauth_signature="bGmB2f6gSyoHyouW12pDODBdhVVNfr0UpJKi0YHM8oPms%2Fm%2FOaN795wYtpWJHpJ%2B6U2jbVbBzx%2FF%2F%2FhKvL%2FNbKGXTppFGM4XbKbUZet91TkySI7v%2FxWcaqVrZB3BC8QzxOoxYzRdDwfJWcLU6z7%2FCyksqFijaqr7GhPztEptNjw%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376576742", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>4c9d9ec0-88b4-41c5-86b8-4966f4471a51</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-15T14:25:43.2015191Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>dc2aec5d-0c86-4ffa-8451-3cb6d3b7106f</ContactID>\r\n
        \       <Name>Bob Fish (bob.fish@example.com)</Name>\r\n      </Contact>\r\n
        \     <Date>2013-08-15T00:00:00</Date>\r\n      <DueDate>2013-03-10T00:00:00</DueDate>\r\n
        \     <Status>DRAFT</Status>\r\n      <LineAmountTypes>Exclusive</LineAmountTypes>\r\n
        \     <SubTotal>1.00</SubTotal>\r\n      <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n
        \     <UpdatedDateUTC>2013-08-15T14:25:42.453</UpdatedDateUTC>\r\n      <CurrencyCode>GBP</CurrencyCode>\r\n
        \     <Type>ACCREC</Type>\r\n      <InvoiceID>c1665fe0-8f08-4b4b-a429-00ef732c27ab</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0139</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Thu, 15 Aug 2013 14:25:43 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/c1665fe0-8f08-4b4b-a429-00ef732c27ab
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="Je6Lii9RlAHwTWCDvY5plAmjz8pcdIuLp8ayIVvFR4",
        oauth_signature="iQOKzBgdw0R%2Fh2ErD3ReG3u62RVOG%2BDsjgXJ7iJFSK69%2B4fmVUTp4m4qNxJ%2FkYDEMG4x0Z0YjTTAkYrnxzx%2BI79vUuQmtQ8CV5wiFL%2FGbEhM98pQc07PLp%[...]
[...]
