---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="fnjyTgpXzXW8hRWa33ny1Zgx1UU1byTPCFL8dE8QU",
        oauth_signature="Jydq3%2BP1SStT%2BA3%2BsB17HsClRUXbZSSSorGC1SxXNS8hswjJgql4Gee3NW%2BpdWTPhS7IvCc0DOE3hD5eO2BjkUeyzZMi5liQI4PpKbeyrhiL0eCheLcGhlA9H4wlvi8hcohv1vYyAEMzrw9pegOSL%2FGsFDzxO6UiRq8E50gCr80%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1379086743", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>9bb3a338-a50a-41e9-8c63-475642694a88</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Grrrrr</ProviderName>\r\n  <DateTimeUTC>2013-09-13T15:39:04.7328816Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>278f2597-4bd3-4017-b459-e4872018b4be</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2013-09-13T15:39:04.703</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Fri, 13 Sep 2013 15:39:05 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="ViUMpHeZguZ342v4GrizLz82F5VwaP7iDb7z5ujGbE",
        oauth_signature="rwihR0yPJyGBqjeKtCTUKPjAJ1F3XOuiAW1DfHd2NOXJDoyHQEEQkxFdIicGqYFsW6e7Lpe3IcsYbv4%2FUb3yE4J2PIH2vmMtZhmhvUlqDM[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22278f2597-4bd3-4017-b459-e4872018b4be%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="tPKD1z2DfhQbNzWOK6LvFy3cv0DAJA2UgEziLfNQ",
        oauth_signature="HlJacix9jymk2gq4OQifKt1REOgsEjW1WuJKK0LCzs8pjRRwbi5%2B275o1jZqxF4de5gLH1bhVlNWfC80J0atF5a70jYDF10to84eQBFGinVThmXhRjC3x%2BLkC%2F51ZXyqZpopXsq0IEd7BAUTun%2FvzZkXkaEnDE2FKDea5ZPjCyk%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1379086751", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>54f74a83-ecc1-45ae-a636-4cec08f316a8</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Grrrrr</ProviderName>\r\n  <DateTimeUTC>2013-09-13T15:39:15.4654752Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Fri, 13 Sep 2013 15:39:15 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E278f2597-4bd3-4017-b459-e4872018b4be%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="fJV3VL50enS2n2bRIfC8WYm1WwYypjqSgRtWrRiaYZE",
        oauth_signature="ZVg9CUGal8sUVrQP%2Bawf440XDT%2BhKsHktkcJpbsl4GDF%2FMFsF6PNLOSeUuUDXrPjGQBKC2dKA3z0FNeBMrJ8qpto92XVyXC06FeacuFtvlhZ%2F[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22278f2597-4bd3-4017-b459-e4872018b4be%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="lFTHMxQvZJijxeOWyWqoWi2M1HOhPidysFpQpnZuT4",
        oauth_signature="ibSqxrf4vbln%2FFl%2Fd0lHjBIsQHiW4i2%2FalXuRd%2BHxso%2BaJNLALUnv%2FK%2FWU2EJBlWrda420oULwmX0zE0gdcpqcdbJgVvy2xawCcIqQaiLEWHIu2gPlri7y8h%2BDnJRybQ3OQl%2FEuidENWw%2ByQFVnDxSh1EUBWLiz3AKu8wLu1yqs%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1379086762", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>f2d9e540-95b4-4e48-8454-4188105f6518</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Grrrrr</ProviderName>\r\n  <DateTimeUTC>2013-09-13T15:39:23.4213222Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>278f2597-4bd3-4017-b459-e4872018b4be</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-09-13T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-09-13T15:39:21.173</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>e923cdff-9f75-4359-8499-c116ef6adaa6</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0041</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Fri, 13 Sep 2013 15:39:23 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/e923cdff-9f75-4359-8499-c116ef6adaa6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="iHFeSO5eDPWTIssBnTpARn2JGdfDdvniZs5APCNhM",
        oauth_signature="n1wV0Nuj04UIZxMtLBQSZlLlrjAqKnXeJzRo5LhYRZTKsj9qjjNb6kBcD%2BDpNaS1F41QQcESI53WYv1aTBQTr5xkDGt6p1onCrSuEqjLbBSgKUovZ6QGbjz7DRT2gHBGBA[...]
[...]
