---
http_interactions:
- request:
    method: get
    uri: https://www.eventbrite.com/json/event_list_attendees?app_key=<EVENTBRITE_API_KEY>&id=5441375300&page=0&user_key=<EVENTBRITE_USER_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Service:
      - djc
      Transfer-Enc<METRICS_API_USERNAME>ng:
      - chunked
    body:
      encoding: US-ASCII
      string: ! '{"attendees": [{"attendee": {"ticket_id": 17042456, "last_name":
        "Fish", "suffix": "", "ship_region": "Berkshire", "ship_country": "GB", "tax":
        "0.20", "currency": "GBP", "prefix": "", "id": 181778454, "first_name": "Bob",
        "order_type": "Send an Invoice - Payment Not Received", "event_id": 5441375300,
        "blog": "", "email": "bob.fish@example.com", "notes": "", "event_date": "",
        "eventbrite_fee": "0.68", "amount_paid": "1.20", "job_title": "", "website":
        "", "ship_address": "29 Acacia Road", "ship_country_code": "GB", "order_id":
        142052968, "company": "New Company Inc.", "barcode": "142052968181778454001",
        "answers": [{"answer": {"answer_text": "123 Random Business Park", "question":
        "Billing Address (line 1)", "question_type": "text", "question_id": 3493380}},
        {"answer": {"answer_text": "The Rough End", "question": "Billing Address (line
        2)", "question_type": "text", "question_id": 3518668}}, {"answer": {"answer_text":
        "London", "question": "Billing Address (city)", "question_type": "text", "question_id":
        3518682}}, {"answer": {"answer_text": "Greater London", "question": "Billing
        Address (region)", "question_type": "text", "question_id": 3518684}}, {"answer":
        {"answer_text": "UK", "question"[...]
