---
http_interactions:
- request:
    method: get
    uri: https://www.eventbrite.com/json/event_list_attendees?app_key=<EVENTBRITE_API_KEY>&id=5441375300&page=0&user_key=<EVENTBRITE_USER_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Service:
      - djc
    body:
      encoding: US-ASCII
      string: ! '{"attendees": [{"attendee": {"last_name": "Fish", "ship_region":
        "", "ship_country": "GB", "currency": "GBP", "id": 181781836, "first_name":
        "Bob", "order_type": "Free Order", "event_id": 5441375300, "ticket_id": 17042304,
        "event_date": "", "email": "bob.fish@example.com", "ship_address": "", "ship_country_code":
        "GB", "order_id": 142055824, "amount_paid": "0.00", "barcode": "142055824181781836001",
        "answers": [], "discount": "", "created": "2013-02-15 01:49:13", "ship_postal_code":
        "", "ship_city": "", "ship_address_2": "", "modified": "2013-02-15 01:49:34",
        "affiliate": "", "ship_phone": "", "quantity": 1}}, {"attendee": {"last_name":
        "Fish", "suffix": "", "ship_region": "Berkshire", "notes": "", "ship_country":
        "GB", "currency": "GBP", "prefix": "", "id": 181785692, "first_name": "Bob",
        "order_type": "PayPal Completed", "event_id": 5441375300, "blog": "", "ticket_id":
        17042456, "event_date": "", "email": "bob.fish@example.com", "job_title":
        "", "website": "", "ship_address": "29 Acacia Road", "ship_country_code":
        "GB", "order_id": 142059188, "company": "New Company Inc.", "barcode": "142059188181785692001",
        "answers": [{"answer": {"answer_text": "123 Random Business Park", "question":
        "Billing Address (line 1)", "question_type": "text", "question_id": 3493380}},
        {"answer": {"answer_text": "The Rough End", "question": "Billing Address (line
        2)", "question_type": "text", "question_id": 3518668}}, {"answer": {"answer_text":
        "London", "question": "Billing Address (city)", "question_type": "text", "question_id":
        3518682}}, {"answer": {"answer_text": "Greater London", "question": "Billing
        Address (region)", "question_type": "text", "question_id": 3518684}}, {"answer":
        {"answer_text": "UK", "question": "Billing Address (country)", "question_type":
        "text", "question_id": 3518686}}, {"answer": {"answer_text": "EC1A 1AA", "question":
        "Billing Address (postcode)", "question_type": "text", "question_id": 3518688}},
        {"answer": {"answer_text": "finance@newcompany.com", "question": "Billing
        Email", "question_type": "text", "question_id": 3493382}}, {"answer": {"answer_text":
        "01234 5678910", "question": "Billing Phone Number", "question_type": "text",
        "question_id": 3493384}}, {"answer": {"answer_text": "AB5678", "question":
        "VAT reg number (if non-UK)", "question_type": "text", "question_id": 3493390}},
        {"answer": {"answer_text": "9101112", "question": "Membership Number", "question_type":
        "text", "question_id": 3493388}}], "discount": "", "amount_paid": "1.20",
        "created": "2013-02-15 02:20:48", "ship_postal_code": "NT4 3HG", "gender":
        "", "ship_address_2": "The Posh End", "modified": "2013-02-15 02:23:36", "affiliate":
        "", "ship_phone": "", "ship_city": "Dandytown", "birth_date": "", "cell_phone":
        "01234 098765", "age": "", "quantity": 1}}, {"attendee": {"last_name": "Fish",
        "suffix": "", "ship_region": "Berkshire", "notes": "", "ship_country": "GB",
        "currency": "GBP", "prefix": "", "id": 181778454, "first_name": "Bob", "order_type":
        "Send an Invoice - Payment Not Received", "event_id": 5441375300, "blog":
        "", "ticket_id": 17042456, "event_date": "", "email": "bob.fish@example.com",
        "job_title": "", "website": "", "ship_address": "29 Acacia Road", "ship_country_code":
  [...]
