---
http_interactions:
- request:
    method: get
    uri: https://www.eventbrite.com/json/ticket?app_key=<EVENTBRITE_API_KEY>&user_key=<EVENTBRITE_USER_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Service:
      - djc
      Transfer-Enc<METRICS_API_USERNAME>ng:
      - chunked
    body:
      encoding: US-ASCII
      string: ! '{"error": {"error_type": "Request Error", "error_message": "Not a
        valid API command.  Please check the documentation."}}'
  recorded_at: Thu, 07 Aug 2014 15:09:26 GMT
- request:
    method: get
    uri: https://www.eventbrite.com/json/ticket_get?app_key=<EVENTBRITE_API_KEY>&user_key=<EVENTBRITE_USER_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Service:
      - djc
      Transfer-Enc<METRICS_API_USERNAME>ng:
      - chunked
    body:
      encoding: US-ASCII
      string: ! '{"error": {"error_type": "Request Error", "error_message": "Not a
        valid API command.  Please check the documentation."}}'
  recorded_at: Thu, 07 Aug 2014 15:10:16 GMT
- request:
    method: get
    uri: https://www.eventbrite.com/json/event_get?app_key=<EVENTBRITE_API_KEY>&user_key=<EVENTBRITE_USER_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Service:
      - djc
      Transfer-Enc<METRICS_API_USERNAME>ng:
      - chunked
    body:
      encoding: US-ASCII
      string: ! '{"error": {"error_type": "Not Found", "error_message": "No records
        were found with the given parameters."}}'
  recorded_at: Thu, 07 Aug 2014 15:16:58 GMT
- request:
    method: get
    uri: https://www.eventbrite.com/json/event_list_attendees?app_key=<EVENTBRITE_API_KEY>&id=5441375300&page=0&user_key=<EVENTBRITE_USER_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Service:
      - djc
      Transfer-Enc<METRICS_API_USERNAME>ng:
      - chunked
    body:
      encoding: US-ASCII
      string: ! '{"attendees": [{"attendee": {"ticket_id": 17042456, "last_name":
        "Fish", "suffix": "", "ship_region": "Berkshire", "ship_country": "GB", "tax":
        "0.20", "currency": "GBP", "prefix": "", "id": 181778454, "first_name": "Bob",
        "order_type": "Send an Invoice - Payment Not Received", "event_id": 5441375300,
        "blog": "", "email": "bob.fish@example.com", "notes": "", "event_date": "",
        "eventbrite_fee": "0.68", "amount_paid": "1.20", "job_title": "", "website":
        "", "ship_address": "29 Acacia Road", "ship_country_code": "GB", "order_id":
        142052968, "company": "New Company Inc.", "barcode": "142052968181778454001",
        "answers": [{"answer": {"answer_text": "123 Random Business Park", "question":
        "Billing Address (line 1)", "question_type": "text", "question_id": 3493380}},
        {"answer": {"answer_text": "The Rough End", "question": "Billing Address (line
        2)", "question_type": "text", "question_id": 3518668}}, {"answer": {"answer_text":
        "London", "question": "Billing Address (city)", "question_type": "text", "question_id":
        3518682}}, {"answer": {"answer_text": "Greater London", "question": "Billing
        Address (region)", "question_type": "text", "question_id": 3518684}}, {"answer":
        {"answer_text": "UK", "question"[...]
- request:
    method: get
    uri: https://www.eventbrite.com/json/event_get?app_key=<EVENTBRITE_API_KEY>&id=5441375300&user_key=<EVENTBRITE_USER_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Service:
      - djc
      Transfer-Enc<METRICS_API_USERNAME>ng:
      - chunked
    body:
      encoding: US-ASCII
      string: ! '{"event": {"box_header_text_color": "005580", "locale": "en_GB",
        "link_color": "EE6600", "box_background_color": "FFFFFF", "box_border_color":
        "D5D5D3", "timezone": "Europe/London", "organizer": {"url": "http://www.eventbrite.co.uk/o/<METRICS_API_USERNAME>-tech-<EVENTBRITE_ORGANIZER_ID>",
        "description": "", "long_description": "Just here for the testing...", "id":
        <EVENTBRITE_ORGANIZER_ID>, "name": "ODI Tech"}, "background_color": "FFFFFF",
        "id": 5441375300, "category": "", "box_header_background_color": "EFEFEF",
        "capacity": 0, "num_attendee_rows": 8.0, "title": "[Test Event 00] Drupal:
        Down the Rabbit Hole", "start_date": "2013-06-17 19:00:00", "status": "Completed",
        "description": "<P>This is the description.</P>", "end_date": "2013-06-17
        22:00:00", "tags": "", "timezone_offset": "GMT+0100", "text_color": "005580",
        "title_text_color": "", "password": "", "tickets": [{"ticket": {"description":
        "", "end_date": "2013-06-17 18:00:00", "min": 1, "max": null, "price": "0.00",
        "quantity_sold": 1, "visible": "true", "start_date": "2013-02-11 09:00:00",
        "currency": "GBP", "quantity_available": 100, "display_price": "0.00", "type":
        0, "id": 17042304, "include_fee": "true", "name": "Free Ticket"}}, {"ticket":
        {"description": "", "end_date": "2013-06-17 18:00:00", "min": 1, "max": null,
        "price": "1.00", "quantity_sold": 7, "visible": "true", "currency": "GBP",
        "quantity_available": 100, "display_price": "1.00", "type": 0, "id": 17042456,
        "include_fee": "true", "name": "Cheap Ticket"}}], "created": "2013-02-05 09:08:12",
        "url": "https://www.eventbrite.co.uk/e/test-event-00-drupal-down-the-rabbit-hole-tickets-5441375300?ref=ebapi",
        "box_text_color": "000000", "privacy": "Private", "venue": {"city": "", "name":
        "The office", "country": "", "region": "", "longitude": 0.0, "postal_code":
        "", "address_2": "", "address": "", "latitude": 0.0, "country_code": "", "id":
        2959410, "Lat-Long": "0.0 / 0.0"}, "m<METRICS_API_USERNAME>fied": "2014-05-30
        05:38:28", "repeats": "no"}}'
  recorded_at: Thu, 07 Aug 2014 15:47:07 GMT
[...]
