---
http_interactions:
- request:
    method: get
    uri: https://www.eventbrite.com/json/event_list_attendees?app_key=<EVENTBRITE_API_KEY>&id=5441375300&page=0&user_key=<EVENTBRITE_USER_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Service:
      - djc
    body:
      encoding: ASCII-8BIT
      string: '{"attendees": [{"attendee": {"ticket_id": 17042456, "last_name": "Fish",
        "suffix": "", "ship_region": "Berkshire", "ship_country": "GB", "tax": "0.20",
        "currency": "GBP", "prefix": "", "id": 181778452, "first_name": "Bob", "order_type":
        "Send an Invoice - Payment Not Received", "event_id": 5441375300, "blog":
        "", "email": "bob.fish@example.com", "notes": "", "event_date": "", "eventbrite_fee":
        "0.68", "amount_paid": "1.20", "job_title": "", "website": "", "ship_address":
        "29 Acacia Road", "ship_country_code": "GB", "order_id": 142052968, "company":
        "New Company Inc.", "barcode": "142052968181778452001", "answers": [{"answer":
        {"answer_text": "123 Random Business Park", "question": "Billing Address (line
        1)", "question_type": "text", "question_id": 3493380}}, {"answer": {"answer_text":
        "The Rough End", "question": "Billing Address (line 2)", "question_type":
        "text", "question_id": 3518668}}, {"answer": {"answer_text": "London", "question":
        "Billing Address (city)", "question_type": "text", "question_id": 3518682}},
        {"answer": {"answer_text": "Greater London", "question": "Billing Address
        (region)", "question_type": "text", "question_id": 3518684}}, {"answer": {"answer_text":
        "UK", "question"[...]
- request:
    method: get
    uri: https://www.eventbrite.com/json/event_get?app_key=<EVENTBRITE_API_KEY>&id=5441375300&user_key=<EVENTBRITE_USER_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Service:
      - djc
    body:
      encoding: ASCII-8BIT
      string: '{"event": {"box_header_text_color": "005580", "locale": "en_GB", "link_color":
        "EE6600", "box_background_color": "FFFFFF", "box_border_color": "D5D5D3",
        "timezone": "Europe/London", "organizer": {"url": "http://www.eventbrite.co.uk/o/odi-tech-<EVENTBRITE_ORGANIZER_ID>",
        "description": "", "long_description": "Just here for the testing...", "id":
        <EVENTBRITE_ORGANIZER_ID>, "name": "ODI Tech"}, "background_color": "FFFFFF",
        "id": 5441375300, "category": "", "box_header_background_color": "EFEFEF",
        "capacity": 0, "num_attendee_rows": 11, "title": "[Test Event 00] Drupal:
        Down the Rabbit Hole", "start_date": "2020-06-17 19:00:00", "status": "Live",
        "description": "\u003cP\u003eThis is the description.\u003c/P\u003e", "end_date":
        "2020-06-17 22:00:00", "tags": "", "timezone_offset": "GMT+0100", "text_color":
        "005580", "title_text_color": "", "password": "", "tickets": [{"ticket": {"description":
        "", "end_date": "2013-06-17 18:00:00", "min": 1, "max": null, "price": "0.00",
        "quantity_sold": 1, "visible": "<VCR_DEBUG>", "start_date": "2013-02-11 09:00:00",
        "currency": "GBP", "quantity_available": 100, "display_price": "0.00", "type":
        0, "id": 17042304, "include_fee": "<VCR_DEBUG>", "name": "Free Ticket"}},
        {"ticket": {"description": "", "end_date": "2013-06-17 18:00:00", "min": 1,
        "max": null, "price": "1.00", "quantity_sold": 7, "visible": "<VCR_DEBUG>",
        "start_date": "2013-06-13 18:00:00", "currency": "GBP", "quantity_available":
        100, "display_price": "1.00", "type": 0, "id": 17042456, "include_fee": "<VCR_DEBUG>",
        "name": "Cheap Ticket"}}, {"ticket": {"description": "", "end_date": "2015-07-31
        18:00:00", "m[...]
