---
http_interactions:
- request:
    method: get
    uri: https://www.eventbrite.com/json/event_list_attendees?app_key=<EVENTBRITE_API_KEY>&id=5441375300&page=0&user_key=<EVENTBRITE_USER_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Service:
      - djc
    body:
      encoding: US-ASCII
      string: ! '{"attendees": [{"attendee": {"work_postal_code": "EC1A 2AA", "last_name":
        "Fish", "suffix": "", "currency": "GBP", "prefix": "", "id": 180266750, "first_name":
        "Bob", "order_type": "Send an Invoice - Payment Not Received", "work_phone":
        "01234 5678910", "work_country_code": "GB", "work_region": "London", "work_address_2":
        "", "blog": "", "ticket_id": 17042456, "work_address": "123 Random Business
        Park", "event_date": "", "email": "bob.fish@example.com", "job_title": "",
        "website": "", "order_id": 140827650, "company": "Existing Company Inc.",
        "barcode": "140827650180266750001", "answers": [], "work_country": "GB", "discount":
        "", "work_city": "London", "amount_paid": "1.20", "created": "2013-02-11 08:02:47",
        "gender": "", "age": "", "modified": "2013-02-11 08:04:16", "event_id": 5441375300,
        "affiliate": "", "birth_date": "", "cell_phone": "", "notes": "", "quantity":
        1}}]}'
  recorded_at: Thu, 14 Feb 2013 08:34:56 GMT
recorded_with: VCR 2.4.0
