---
http_interactions:
- request:
    method: get
    uri: https://<CAPSULECRM_API_TOKEN>:x@<CAPSULECRM_ACCOUNT_NAME>.capsulecrm.com/api/party?q=Bob%20Fish
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '3991'
      X-Ratelimit-Reset:
      - '1435754547'
      X-Ratelimit-Limit:
      - '4000'
      Content-Type:
      - ! '*/*;charset=UTF-8'
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><parties size="0"/>
  recorded_at: Wed, 01 Jul 2015 12:02:54 GMT
- request:
    method: get
    uri: https://www.eventbrite.com/json/event_list_attendees?app_key=<EVENTBRITE_API_KEY>&id=5441375300&page=0&user_key=<EVENTBRITE_USER_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Service:
      - djc
    body:
      encoding: US-ASCII
      string: ! '{"attendees": [{"attendee": {"ticket_id": 37192604, "last_name":
        "Fish", "suffix": "", "ship_region": "Berkshire", "ship_country": "GB", "tax":
        "60.00", "currency": "GBP", "prefix": "", "id": 551572443, "first_name": "Bob",
        "order_type": "Send an Invoice - Payment Not Received", "event_id": 5441375300,
        "blog": "", "email": "bob.fish@example.com", "notes": "", "event_date": "",
        "eventbrite_fee": "6.50", "amount_paid": "366.50", "job_title": "", "website":
        "", "ship_address": "29 Acacia Road", "ship_country_code": "GB", "order_id":
        436354296, "company": "New Company Inc.", "barcode": "436354296551572443001",
        "answers": [{"answer": {"answer_text": "123 Random Business Park", "question":
        "Billing Address (line 1)", "question_type": "text", "question_id": 3493380}},
        {"answer": {"answer_text": "The Rough End", "question": "Billing Address (line
        2)", "question_type": "text", "question_id": 3518668}}, {"answer": {"answer_text":
        "London", "question": "Billing Address (city)", "question_type": "text", "question_id":
        3518682}}, {"answer": {"answer_text": "Greater London", "question": "Billing
        Address (region)", "question_type": "text", "question_id": 3518684}}, {"answer":
        {"answer_text": "UK", "question"[...]
- request:
    method: get
    uri: https://www.eventbrite.com/json/event_get?app_key=<EVENTBRITE_API_KEY>&id=5441375300&user_key=<EVENTBRITE_USER_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Service:
      - djc
    body:
      encoding: US-ASCII
      string: ! '{"event": {"box_header_text_color": "005580", "locale": "en_GB",
        "link_color": "EE6600", "box_background_color": "FFFFFF", "box_border_color":
        "D5D5D3", "timezone": "Europe/London", "organizer": {"url": "http://www.eventbrite.co.uk/o/odi-tech-<EVENTBRITE_ORGANIZER_ID>",
        "description": "", "long_description": "Just here for the testing...", "id":
        <EVENTBRITE_ORGANIZER_ID>, "name": "ODI Tech"}, "background_color": "FFFFFF",
        "id": 5441375300, "category": "", "box_header_background_color": "EFEFEF",
        "capacity": 0, "num_attendee_rows": 11.0, "title": "[Test Event 00] Drupal:
        Down the Rabbit Hole", "start_date": "2020-06-17 19:00:00", "status": "Live",
        "description": "\u003cP\u003eThis is the description.\u003c/P\u003e", "end_date":
        "2020-06-17 22:00:00", "tags": "", "timezone_offset": "GMT+0100", "text_color":
        "005580", "title_text_color": "", "password": "", "tickets": [{"ticket": {"description":
        "", "end_date": "2013-06-17 18:00:00", "min": 1, "max": null, "price": "0.00",
        "quantity_sold": 1, "visible": "true", "start_date": "2013-02-11 09:00:00",
        "currency": "GBP", "quantity_available": 100, "display_price": "0.00", "type":
        0, "id": 17042304, "include_fee": "true", "name": "Free Ticket"}}, {"ticket":
        {"description": "", "end_date": "2013-06-17 18:00:00", "min": 1, "max": null,
        "price": "1.00", "quantity_sold": 7, "visible": "true", "start_date": "2013-06-13
        18:00:00", "currency": "GBP", "quantity_available": 100, "display_price":
        "1.00", "type": 0, "id": 17042456, "include_fee": "true", "name": "Cheap Ticket"}},
        {"ticket": {"description": "", "end_date": "2015-07-31 18:00:00", "min": 1,
        "max": null, [...]
