---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="VcUwKB9EaKkXWNhweDeaTJBExMJhLEphbkvmYWj4",
        oauth_signature="rtdfLc4fuFMWCqbTZ%2B%2Beo5D284k5ovFXriPMS3TkfMNJteP%2BXp368qPs%2FHJCTqCd5AP9wUv3yd98eFycmLevy9lbKANJmPg8fNzXtF2g9nOCAkioksj4dfqV7aYKvFWeEBaJTRSDk0jHGoj%2FDGSgf%2B1IUh8lv7u2HtGkA0XoVUQ%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978944", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>20573821-1e23-485f-9a81-b496b3356c2f</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:09:05.1428931Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>0b56d886-8b6e-48b1-9716-fe7367384c72</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-19T10:09:05.08</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:09:05 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="UXLSYj7PZWVtUSo91UM7dZZPfMCks90jEPnrq5ULE",
        oauth_signature="vEX9QmWdJG%2FFSP%2Fz6BTZ2%2BHxc4swgdC1QhLm80IfN5HhsVBxul78JFiALUdhyFj8yswAmgsFH7bJdYFY6gxSjNkBbBbxVZWzJfhDphC[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%220b56d886-8b6e-48b1-9716-fe7367384c72%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="93DVWofc5ovhdfcVNHoSUfQtDiRxXChwVzaWaWFIw",
        oauth_signature="E6P5%2BA50iXmDUXqhELibn%2BS7KnVXcyCAFF9pLPBTBMFsiC0Qc1hgVD3ey5IQ9ccOSVWjwL1%2B3%2FUYj8DCef%2FnzHHq4XcQzxAGY%2FmDvkQ0d9pYsJvKE%2BEkfey%2B6QPqlV1zVVLphU1fmXrZYFXmpF08sKg9PZucBsEvkisyIRXt4Cc%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978946", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>9595239e-7446-45db-8eb6-191ac4345419</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:09:07.2719486Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:09:07 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E0b56d886-8b6e-48b1-9716-fe7367384c72%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="PJnJ1wjuHLP1pauTRGByuDcz2TrDDBHwjxbFLxDXE",
        oauth_signature="XBu59yxb9lv7byW%2F2XEgEceolTujKkWbE7doVKFZ2MsZ4lyn%2BhGOe7UK6NHewKhln7GW%2FJF%2F0wAwk6HwFTi7hBAySm2suh5XWlt%2F0bI9ShCwF[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%220b56d886-8b6e-48b1-9716-fe7367384c72%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="5uyMQGndtX0OkmpcxKUYINq4TQ2qFUkc32zEj9NlE",
        oauth_signature="lQ2uLWHsfDZ%2BzjEjJ%2B7SKOo5CsTeuW4Dp8ZfKffX0NWM3ZzjL82GLjfprn1%2BZFHBRkvg5zZVZwOCwBLnUrkh9JGYXbFMGTfHPyAW3uyhrFIhmaPNR5IKSp09PQ88DZ4siqDOx8Oub7l1cubKdM7UgfsKOZe6PxEibEhJ%2Bewvm4E%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978953", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>09d339ec-3f87-46ac-9fc4-4d820cdf5df6</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:09:14.6593201Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>0b56d886-8b6e-48b1-9716-fe7367384c72</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2015-08-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2015-08-19T10:09:11.01</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>20c9a519-7b3b-46e2-9e5c-1daf91cf3d59</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0328</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:09:15 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/20c9a519-7b3b-46e2-9e5c-1daf91cf3d59
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="txAhxEHaG2CyA2saXPt5gBDLjJwYvUNZx3upKIjzcc",
        oauth_signature="CAqgg%2B1LSsFz2sAvflTs4Uj5C7vWlcafnMw72JA9QXa%2BCGmb1LRIBzZktHmrA3gNPgM5y1RtpvKwCpIjdx%2Bew1FFrly54LzUY7yX6%2FGVDOJX2BgtMGBWjpZ4k7F[...]
[...]
