---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID<TMUX_PANE>0=<TMUX_PANE>0GUID(<TMUX_PANE>2c7f697d7-2d56-40aa-a49a-c384600a1317<TMUX_PANE>2)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="3yNLaXTZ4g46dvBUDMpLOyWaN8ZGJN7XfoI9wFLA",
        oauth_signature="OCzt0HYg<TMUX_PANE>BjmuWhnsxaPh1cvI9rXvMXzYJEbhUrkSrJTCydzzruluzg5PN0R2Ssr<TMUX_PANE>B<TMUX_PANE>BfbB3W4ogSDdi8PBNpjQ69hZf2tY<TMUX_PANE>BLqtBZtMrNre0Q9Pi3GPdEo926Mt9KHdsMTCtlwS0ltfqRKUWzFoEXauPaPvOfFCILHOXpORk2upj<TMUX_PANE>Bg%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473888", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>461d3181-f510-44d1-947d-568fad1e71b0</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:51:29.0402126Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:51:29 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID<TMUX_PANE>0=<TMUX_PANE>0GUID(<TMUX_PANE>2c7f697d7-2d56-40aa-a49a-c384600a1317<TMUX_PANE>2)<TMUX_PANE>0AND<TMUX_PANE>0Status<TMUX_PANE>0!=<TMUX_PANE>0<TMUX_PANE>2DELETED<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="aybErAybR1IAvRrPwXzhrMU6l2yEJiqLQ[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/5f4f761e-9cd7-464e-b3a0-20a046ce7e94
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="z27B9Ng4Pdna81zRSxphmv7AuSxABuqFq8Ka4psEE",
        oauth_signature="JX<TMUX_PANE>BuIt3RAPwb7U<TMUX_PANE>BXjgXdtW4wet<TMUX_PANE>F5qbv41Cwb7nrb<TMUX_PANE>BuuMzKhegGBh2vugM<TMUX_PANE>FyGppVEyClJ<TMUX_PANE>Bp8sdsYSmgA2IKshLzCYFCw7CJ2fZv<TMUX_PANE>FKpjvSFsytLorLOMmHLjvNrYIqHsUUfaoeBfh3WH53h4A<TMUX_PANE>BucYkc6iv8KvIzNRQK2<TMUX_PANE>FuDPkC848%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473893", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>78f19bf6-3867-44a8-99df-b8d4a7bef044</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:51:33.8762746Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>c7f697d7-2d56-40aa-a49a-c384600a1317</ContactID>\r\n
        \       <ContactStatus>ACTIVE</ContactStatus>\r\n        <Name>Existing Company
        Inc.</Name>\r\n        <Addresses>\r\n          <Address>\r\n            <AddressType>POBOX</AddressType>\r\n
        \         </Address>\r\n          <Address>\r\n            <AddressType>STREET</AddressType>\r\n
        \         </Address>\r\n        </Addresses>\r\n        <Phones>\r\n          <Phone>\r\n
        \           <PhoneType>DEFAULT</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>DDI</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>MOBILE</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>FAX</PhoneType>\r\n          </Phone>\r\n        </Phones>\r\n
        \       <UpdatedDateUTC>2013-08-14T09:51:27.62</UpdatedDateUTC>\r\n        <IsSupplier>false</IsSupplier>\r\n
        \       <IsCustomer>true</IsCustomer>\r\n      </Contact>\r\n      <Date>2013-08-14T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <LineItems>\r\n
        \       <LineItem>\r\n          <Description>my fantastic invoice description</Description>\r\n
        \         <UnitAmount>1.00</UnitAmount>\r\n          <TaxType>OUTPUT2</TaxType>\r\n
        \         <TaxAmount>0.20</TaxAmount>\r\n          <LineAmount>1.00</LineAmount>\r\n
        \         <Quantity>1.0000</Quantity>\r\n        </LineItem>\r\n      </LineItems>\r\n
        \     <SubTotal>1.00</SubTotal>\r\n      <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n
        \     <UpdatedDateUTC>2013-08-14T09:51:31.847</UpdatedDateUTC>\r\n      <CurrencyCode>GBP</CurrencyCode>\r\n
        \     <Type>ACCREC</Type>\r\n      <InvoiceID>5f4f761e-9cd7-464e-b3a0-20a046ce7e94</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0122</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <SentToContact>false</SentToContact>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:51:34 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()<TMUX_PANE>0==<TMUX_PANE>0<TMUX_PANE>2existing<TMUX_PANE>0company<TMUX_PANE>0inc.<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="FtNDcNZnPagtKdBIUodnmWlNsTxQXox1anUMUrdU",
        oauth_signature="ZAdwhjK46EBSulR0q6J8nYvXnRe9<TMUX_PANE>FT0nStqXdBIpzOuKW<TMUX_PANE>B6mdYuUIO6kQcfiCKJbi5XhRAnwFoht4ANh2OuO9AZJ5QOY9SF2MLXt6i17Gz8SRsNZxbLHIzsvJ2Z7mWRjFAsclZLzF3COSD2llsBR8Eysz66<TMUX_PANE>FOLD5AbgRe2ixlkA%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439388782", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445760-O1VMAP03
      - 445761-O1VMAP04
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>f15af664-dc84-4829-ab5d-18878952c693</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-12T14:13:00.8379906Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>04a798c2-a329-42c2-a87a-c837695c138b</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-12T14:13:00.213</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 12 Aug 2015 14:13:03 GMT
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A<TMUX_PANE>0<TMUX_PANE>0%3CType%3EACCREC%3C<TMUX_PANE>FType%3E%0A<TMUX_PANE>0<TMUX_PANE>0%3CContact%3E%0A<TMUX_PANE>0<TMUX_PANE>0<TMUX_PANE>0<TMUX_PANE>0%3CContactID%3E04a798c2-a329-42c2-a87a-c837695c138b%3C<TMUX_PANE>FContactID%3E%0A<TMUX_PANE>0<TMUX_PANE>0<TMUX_PANE>0<TMUX_PANE>0%3CContactStatus%3EACTIVE%3C<TMUX_PANE>FContactStatus%3E%0A<TMUX_PANE>0[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A<TMUX_PANE>0<TMUX_PANE>0%3CName%3EExisting<TMUX_PANE>0Company<TMUX_PANE>0Inc.%3C<TMUX_PANE>FName%3E%0A%3C<TMUX_PANE>FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="wMsYChHSGmay88LPimx14xbjisLm[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name<TMUX_PANE>0==<TMUX_PANE>0<TMUX_PANE>2Existing<TMUX_PANE>0Company<TMUX_PANE>0Inc.<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="EAjVDK0WWgXgZoWiHNzy4DK4OduJwtHsFm5lmt3kDEg",
        oauth_signature="JLYiru4qTsciVIulrgc0elfz5avUcApPm8mpvE3JVTS<TMUX_PANE>FZDRNGWal[...]
[...]
