---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="5LdaFYHELiJnaLHcX4USa7aCZvEMSQTriwrudfudQc",
        oauth_signature="UR2L5QOO%2F65t3WHfzAXSEntjau5taPaSOcUvUk7jgtVXH4NJnSk%2F5WQ3cDCi0Eysms7F6OP4xnm4lz6Q7Ev6CUnhlK4ohEFdFyzRQVaz6XpKw4pVOsLcpjkf6W%2FASBWk%2F1JupcEjdlMsIxKUuY5DXGcmcfhMVJKOvc4hwbrhZU0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439981076", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>85247ade-ea10-481a-99e2-258a17c47fae</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:44:36.8352964Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>9727f864-42a0-42ba-a926-4d54b9a0172e</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-19T10:44:36.803</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:44:37 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="oJs5p3DBdngBpba6Vt2X4qybVcYg8B95mcDHoZOa408",
        oauth_signature="bSnAGG3w6aV1N7hci0a6ywggUisNJPA6GRR6MBHpZmUC1HKyDxnYFwjSoz6vp7rUhzqzWcMmOOY%2Fqki%2FeO7EjVd7fwNAZ%2B0WaPUrD[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%229727f864-42a0-42ba-a926-4d54b9a0172e%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="SI2tkrPPO8CjW32Wav7mxUv6eir7b1spypJdT0C6o",
        oauth_signature="cnZWeJvNSjsqhEHEF5P35JojZnIIaV2oh86VxP261wSwRdnOz%2BcG%2BiIqkR%2BAKVsf6TAGdbTe8LQURD%2BgDcsx%2BAxr%2FzOL4FcodsatpjmdUhBVc8QqCOvS79%2BzzKQpaTm8plt14Lf9IHm7veS6QxHQb6YB5h1XFdosgFPdeTZCgyM%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439981078", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>c9f3669b-10f1-44bc-b4af-2ded9f38d019</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:44:38.4733489Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:44:39 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E9727f864-42a0-42ba-a926-4d54b9a0172e%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="64H4PVA5hZXWhwdI9dpkCFbLEu94OwOdOa6kxEyh4",
        oauth_signature="O%2Ba40HhXDhmjzpn1sTQaZiNkgWwE5mGt3DV%2FQmxPb2VRRw2bUi%2BBqPLWelhYyh6q99liUJa4C2%2BIqQ7n2VdFr1gDt9QmWV5hXoiIcEdycaobIm4[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%229727f864-42a0-42ba-a926-4d54b9a0172e%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="ZqPRkX0XF56vdS634FaVqoB48WVg5X7HD2mq9eimn3o",
        oauth_signature="O8WrECYRLTEX3G0%2BGDheMcDKdQxTvKSHieaNP%2BFNSEy1j6dt%2Fi00XTJK0h6nqj4PlKR7djRcEvBHgEud1ENSDOb3uk1Gl17wIhzaaELZBWbUuDUdd3txwJ7FzJNmodfUuKCYO%2Bqncv4wh1RCHE0kmr4il0oE%2F%2FJ60zdEpQeAzfc%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439981082", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>3440fc1e-d3eb-4e11-95e3-8eac523315c4</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:44:44.1519309Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>9727f864-42a0-42ba-a926-4d54b9a0172e</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2015-08-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2015-08-19T10:44:40.533</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>088b12d2-ee60-4270-b7ab-7a6e3ee19e42</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0346</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:44:45 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/088b12d2-ee60-4270-b7ab-7a6e3ee19e42
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="jIkRWDeqheZtEUmp69xnPokqVCvXBuTGiiengc7wY",
        oauth_signature="n1cgtKBnkFvQRFnne5ixlLXpkEcDD23SN28QnUhhAPuNNdieuD9%2FDIemB530inNeSVn0lTJAantTssKRsUvliMqiT9h5Kp2UaIHasqNnovysNvuQBpXw5449%2BiWGR9qb[...]
[...]
