---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID<TMUX_PANE>0=<TMUX_PANE>0GUID(<TMUX_PANE>21f2352ac-aed9-4e7b-93c3-ffa57f25a0f6<TMUX_PANE>2)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="KwloQqdGXLcOUBCMcMZW2C2ZMPiblFyWJS0CyUznEU",
        oauth_signature="OOZsnybTt2YbOUL4EUdYCp8zj4suBy7Onyesb40780lLwHpATJI8<TMUX_PANE>FkVLJ3q8<TMUX_PANE>B<TMUX_PANE>BUg<TMUX_PANE>FHHcP4XibdEPr4woMIRTR7N13JS5MZ0MXrTIW4U6n9g<TMUX_PANE>F2OT82YvfMx3DsYr91L9rXr<TMUX_PANE>FSPzIiQccteu<TMUX_PANE>BZurWFlfsDrssot5Rj5XL8umpk6O8%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473168", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>7aed2b79-3713-460a-8610-9e8d39246235</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:39:27.8015333Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:39:28 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID<TMUX_PANE>0=<TMUX_PANE>0GUID(<TMUX_PANE>21f2352ac-aed9-4e7b-93c3-ffa57f25a0f6<TMUX_PANE>2)<TMUX_PANE>0AND<TMUX_PANE>0Status<TMUX_PANE>0!=<TMUX_PANE>0<TMUX_PANE>2DELETED<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="9lYJH8VKyFqkbLnbu2NBiGNZTx436ZCEH[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID<TMUX_PANE>0=<TMUX_PANE>0GUID(<TMUX_PANE>21f2352ac-aed9-4e7b-93c3-ffa57f25a0f6<TMUX_PANE>2)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="BjMJKPXh0hoz7DTNYsQZw9yPZl9qT8eXrqbgc5vqo4I",
        oauth_signature="i<TMUX_PANE>BFjuyr0Kp3NG6X8JfTsNDTlKJ8jJDaBIt3BM6uKQHRSqvea<TMUX_PANE>BEau5bygnQQqsGJACZTxhK0NiRtU1m0jShYwOfaNxL4P<TMUX_PANE>FKrC1tR5FN1u0YzxQdsbjE8KP7<TMUX_PANE>FxsNGENsErlPFBqwu9MySDDuIct83OV7wdiQxy7XeRe<TMUX_PANE>Foqgdc6oc4%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473172", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>3c3e4cc9-08cc-4b68-b773-8e95cd061598</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:39:32.6998391Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>1f2352ac-aed9-4e7b-93c3-ffa57f25a0f6</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-08-14T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-08-14T09:39:29.44</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>04e15d5d-9016-43bd-b1e3-431c88e88491</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0112</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:39:33 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/04e15d5d-9016-43bd-b1e3-431c88e88491
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="Qrj02xO78YuFMAb0Krp69LQVMROLR22IWcbXHa3w",
        oauth_signature="rfkcW7r5e8GeiW6sPWuywI<TMUX_PANE>BuD4XNNo<TMUX_PANE>BwGwhHZDUjStm<TMUX_PANE>FT1WE<TMUX_PANE>B5yqJ5A<TMUX_PANE>FolgQ7pWWZwFy4L3lSiJiIUxhQV62ihZWGVUn8NSZ7bS8QRy8HxWpFHQ<TMUX_PANE>B6U1tJTa1WE7pLgL1j2JbYpL8UHxpYyY25LUHQYvhDV7bLYt7DubpcL<TMUX_PANE>BRDPk%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473173", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>500125e1-2c2a-40e2-b145-d09db617d24f</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:39:34.5562034Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>1f2352ac-aed9-4e7b-93c3-ffa57f25a0f6</ContactID>\r\n
        \       <ContactStatus>ACTIVE</ContactStatus>\r\n        <Name>Existing Company
        Inc.</Name>\r\n        <Addresses>\r\n          <Address>\r\n            <AddressType>STREET</AddressType>\r\n
        \         </Address>\r\n          <Address>\r\n            <AddressType>POBOX</AddressType>\r\n
        \         </Address>\r\n        </Addresses>\r\n        <Phones>\r\n          <Phone>\r\n
        \           <PhoneType>DEFAULT</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>FAX</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>DDI</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>MOBILE</PhoneType>\r\n          </Phone>\r\n        </Phones>\r\n
        \       <UpdatedDateUTC>2013-08-14T09:39:25.12</UpdatedDateUTC>\r\n        <IsSupplier>false</IsSupplier>\r\n
        \       <IsCustomer>true</IsCustomer>\r\n      </Contact>\r\n      <Date>2013-08-14T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <LineItems>\r\n
        \       <LineItem>\r\n          <Description>my fantastic invoice description</Description>\r\n
        \         <UnitAmount>1.00</UnitAmount>\r\n          <TaxType>OUTPUT2</TaxType>\r\n
        \         <TaxAmount>0.20</TaxAmount>\r\n          <LineAmount>1.00</LineAmount>\r\n
        \         <Quantity>1.0000</Quantity>\r\n        </LineItem>\r\n        <LineItem>\r\n
        \         <Description>PAID WITH PAYPAL</Description>\r\n          <UnitAmount>0.00</UnitAmount>\r\n
        \         <LineAmount>0.00</LineAmount>\r\n          <Quantity>0.0000</Quantity>\r\n
        \       </LineItem>\r\n      </LineItems>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-08-14T09:39:29.44</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>04e15d5d-9016-43bd-b1e3-431c88e88491</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0112</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <SentToContact>false</SentToContact>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:39:36 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()<TMUX_PANE>0==<TMUX_PANE>0<TMUX_PANE>2existing<TMUX_PANE>0company<TMUX_PANE>0inc.<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="G6dzq2C12B5boP6vIHqZ1bhvmxoq9U7fUdR9RuCa4a8",
        oauth_signature="n<TMUX_PANE>FHdGypYfCPklta6A<TMUX_PANE>FtedAd6DpT7NAagRyCN7jM<TMUX_PANE>FNy<TMUX_PANE>Fd7ZM1ijRVZE6vN4hywmGB9XPn84FrV<TMUX_PANE>BZkJ91yWGqQiwCs0e4AMilwIjC3AIq67dIJaep4F6KKxreAMMvzA8NvuG<TMUX_PANE>B8v0oh5BOHB1KSimLDaJ7r0f4<TMUX_PANE>BdKMkH8Zy8GWrYD4%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439388665", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445760-O1VMAP03
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>2d8ce6aa-e0ea-4524-a01d-bddf181b0398</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-12T14:11:04.3281944Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>2c4b03bf-2533-40ff-8d83-f1f55092bc4c</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-12T14:11:03.537</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 12 Aug 2015 14:11:06 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22e536dd87-0eb9-47a3-91df-0f3ca86542eb%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="TNmfrkgTtiU58PGrT08zcC5dZsvRFqXT82fZA0wQ",
        oauth_signature="Ip6rXabD%2FteHs%2BS7YPEWsqmHIJkEuEP4ID9EBd%2Bk2wyBvan53Sx70PSzh%2F3XpxIHc1%2FgknejfcqnGkNlny6zkci3Rumb355QfbnN5r9mPmcIx7%2FzjRdMNio%2FY2JAzM27rvsJDIAHm4rxO3ffaDYP7UE4seCRS6KIbDuKQbZTrgM%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439542993", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445759-O1VMAP02
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>f4adcf34-8524-489b-bdb7-d1bda41279ec</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-14T09:03:03.9567656Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Fri, 14 Aug 2015 09:03:14 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22e536dd87-0eb9-47a3-91df-0f3ca86542eb%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="CM75eMiaoOSoMpSh9RSe89qHz3SgblYO7nSeqJNfdEs",
        oauth_signature="MJ8rMqo2XWU0Pm2Ypj4hoKjyq7Gje%2Bp2nAxpQrXoLg%2B00P3Y[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="BSKa1JMbU2pU7N7XuoHvVg8GImSh7xWujShcXaajEAU",
        oauth_signature="tPtJGHMYYUN4Q1AV3fO8GgoCC8WZ65%2FYWEfR81j2TFHx6Sp6bmh7KotOOfnrQ8wRlSQ8OLXvXXh82lcRGlOf5wPWJsAY4XZKrw9vvrvyv9CShUo5[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E<TMUX_PANE>A%20%20%3CType%3EACCREC%3C%2FType%3E<TMUX_PANE>A%20%20%3CContact%3E<TMUX_PANE>A%20%20%20%20%3CContactID%3Ec91f451f-4fa2-408a-bc88-fb61e9d7f13b%3C%2FContactID%3E<TMUX_PANE>A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E<TMUX_PANE>A%20%20%20%20%3CName%3EExisting%20Company%3C%2FName%3E<TMUX_PANE>A%20%20%20%20%3CAddresses%3E<TMUX_PANE[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E<TMUX_PANE>A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E<TMUX_PANE>A%3C%2FContact%3E<TMUX_PANE>A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="88wy9RJ2T69gNtyRWcSH7OVIDBv3KkOHeg1K9UW0Arc",
        o[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="EkzDMJyMPiNP7NOs6AXTzcEJpPcUeu4Tx5t0XgS954",
        oauth_signature="ecM%2B4Gz8giBOOooi8Pur8mF6WR80J0M8qagCIsK%2B1sSop%2BHpfKOQgLOhqoyZEp3yLlnP%2B%2FEvjWBO0CVEoqMp4J8pMn9mMSc4PQ[...]
[...]
