---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="WMGy7MDlGPPIynnROVOQ2yScipAZ6zZYzjmEwmJ3odM",
        oauth_signature="U0yvQKbk1e8EvpDNMLk4SjyMQTb%2FowUnZmpJcYMv4UAQnqkgMf0lFczGd%2FX3TTIYPv7YWpHwWG3UWzl%2BWfGojMhxERZ5F6SyFSxo1lJGNknB0v5VmtnJQPIOQCyI1KkDrJsfnF3NYSnZ0ciyX5AM%2B91XplA1J0NbHRVPMrekBoE%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439980873", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>d486a0fc-ba5c-41c1-b327-896240ab4b56</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:41:13.810632Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>414e863b-4032-4b91-8c39-4d3fb8f7b2c0</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-19T10:41:13.67</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:41:14 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="aYfTItbXl7YTkQvT9OBvYFaGIOOPi2DY7VB3mFCA",
        oauth_signature="kDvf%2Bt375nesogXZHbucjbfrja2XKAgPt1JCuvDfaJPju47zeFjcLXEE0xpnnUf0Ff7l8t9bNMXZ%2FCDtIc2IgJTkW0evMpfZDWOezdvBCa[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22414e863b-4032-4b91-8c39-4d3fb8f7b2c0%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="0FKPV6jk2O8juuks9TquziB1PvOtJ4NwpZGxeNkikHk",
        oauth_signature="bBslzecO9PXbtlm2Y4R0K%2B9vdH4K324m56jxD3RmsCgjHFrtaDAqWh1KskA0WoihK8Zp56mOKLqvcsoBJ0ub4S4wmAsy%2FigqHa4REM2OGIQr98oPoBzXKReltYgrX4TByHvXB2%2FxeDEAahStkJYjBDQz2zK2olnv5T66zwmUAIA%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439980875", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>3d7e0828-9da4-4dfd-b1db-de4f4af0479e</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:41:15.6515146Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:41:16 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E414e863b-4032-4b91-8c39-4d3fb8f7b2c0%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="KF7p9H5fGSXv1hqRSm2wNlu8Op8mCwBlR5VUFWw4wU",
        oauth_signature="utIeX3cFErN%2BhgA7s2Yfmh%2F1%2BIOy0J%2BKGAtBXvr1iWzQlbeXlwB3Q8qfxCzCgK50oASJxZz5D6T10gTZbYXLDYuqcIMOno%2BxggL5Y1TR3JaD[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22414e863b-4032-4b91-8c39-4d3fb8f7b2c0%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="KURKHPdJzB9P3z0t2mRxdRyheEeggBi8dENf3B3oM",
        oauth_signature="d6gkkthqF%2F%2BZGBPGI1TkH9w3WV0P2oIWskaavkjm1YfgOVtVJaz0pvuVut516qNKyrvPsrHIm69oX3dTSh5kuWuc5Xt2CbNujdDx1JG5ktugt9m5gUu2oEhTGNBpny45nSKMjuuoknZnWjQS5zVe6NOVI0LxnTv9ofDG6lZ21BM%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439980879", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445761-O1VMAP04
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>a195acb0-51f4-4e37-92a4-b6a2d6ae51cb</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:41:19.8708547Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>414e863b-4032-4b91-8c39-4d3fb8f7b2c0</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2015-08-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2015-08-19T10:41:18.343</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>70f9bbb6-0ce9-499d-a209-126aa9cf0118</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0333</InvoiceNumber>\r\n      <Reference>AB1234</Reference>\r\n
        \     <AmountDue>1.20</AmountDue>\r\n      <AmountPaid>0.00</AmountPaid>\r\n
        \     <AmountCredited>0.00</AmountCredited>\r\n      <CurrencyRate>1.000000</CurrencyRate>\r\n
        \     <HasAttachments>false</HasAttachments>\r\n    </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:41:20 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/70f9bbb6-0ce9-499d-a209-126aa9cf0118
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="n2XmR59FgFsiI8gbFL2CeD4iqtjDu1q62KAoKB8Go",
        oauth_signature="YzXMd6bI%2Fxb6WdKUS7BDgZPSek5sxeZmA5M0POH9nKExGO9yQwvmBpCc7B2ZQMQaJQV03a20GQxJZlR%2Flp94pxMB2w%2B1ygjmJsY7UgcCAhNv8rrXsjTDNIaMmuvS5E[...]
[...]
