---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="AZiC4yaxaTOV3eY81r3rbybt7jssx9UGzAlFFTjt4",
        oauth_signature="YOZ2%2BlyulIX%2BOfcSXElMB6415MdBkEfZ7HlJOj%2FwsVyRY2CQMNKL3oPT5D2HFGFfEi1jwlvhHk6ZKS8hiChBWKyPBAbxeLLx5vaCSPtLs2xDiacwMdH0IDzEREdMsR%2F5PYzB1%2Bcij4uIfh30CIIeXdwg79v7lyAOKKCzJUeinzs%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439980993", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>f747dd6a-63d7-40ac-bc4c-16a8732d3460</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:43:14.1682469Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>92338b8d-f585-442c-bcbc-9f0a4e6fe4e1</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-19T10:43:14.12</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:43:14 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="ZfC3QZbt0iOLlnUGOQB7FLIerjM2L1B9491raQWkk",
        oauth_signature="Whyfd8Bwkx2srUMCIHOMY3pBtkpRs45OcjlLRWwV6L8AqBs%2F%2BYvPJsA6747QzhmJ7SrAUaxan2zBfYC49KzV7wk3iOFCilBmFQ%2FdQQX[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%2292338b8d-f585-442c-bcbc-9f0a4e6fe4e1%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="Mii9DgMBdJlTcGMTZLkrLkQAJ40LjiRWMubdyv3X5Ek",
        oauth_signature="Mf7kvhNRJ7cemqMUaAAzOnjkGRDf00utCkhaNa%2Frx3ryZLZ2Xm80nU1EdDCWhohCvusDJE8S9v2ODEr055bd0uGnwGgDACKa6i%2FOplva48eFfKKRcB6RZd%2Fu7UhmTAWIil8ZexsEdnH3WdEKqL4gg%2F4dPM0BXxNGV0yjWpeE%2Bwg%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439980995", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>13f00b81-67d5-4827-b56e-6b88a373cd84</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:43:15.6658949Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:43:16 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E92338b8d-f585-442c-bcbc-9f0a4e6fe4e1%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="SsQ07tMRYkcS4mUelFAoO43ofrJSGsXOwSUoLp1TGg",
        oauth_signature="gjpP9KysbFU775Ta6V%2BWST%2FW6BfNxDfPXUv69M280809CA2SQYZcvjowcrqt0tGoBu1oMB%2F9Sc5KfKepB3P8mUN45vHMQ3b7EAr3GT8mEUYzBvls[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%2292338b8d-f585-442c-bcbc-9f0a4e6fe4e1%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="M9yp6T9Fp3B4vsv94K16sgKj8JxcHBOKc1VqQEts7TI",
        oauth_signature="L6J8YCsSzKHRwzjUbk33oh52sXndRj1vypuIg6euWAWCBeqR49G6yWRy9Ra%2BMxC4cw%2Flc%2B1iNRvTdpdHOZ9%2FwoZuviVpEqKpLX5NbNhf9h1phRHNQQFMe1VB2nFrgKfdzfwOUdEnP%2BE2A9mNMUd5wyJYEiHXNjYIwlgq8019mC0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439980999", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>1bcde231-0aba-4748-a352-6229e2f4f453</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:43:19.3632134Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>92338b8d-f585-442c-bcbc-9f0a4e6fe4e1</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2015-08-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2015-08-19T10:43:17.68</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>a7347787-47af-44c0-b7c4-1cdcc2950300</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0341</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:43:19 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/a7347787-47af-44c0-b7c4-1cdcc2950300
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="SsJ4WLiADzPOjdGD9UJOyffWjLGXkxBVlBFI86hI",
        oauth_signature="nrGKbq1WRz20ncdyRCRgJw4Uaj27Izz7Dp4Id1I2JKFubQwzfwcTWoiA4EWBY8uMJY5V6vYSijPc8JAXLCPFISXqAoswXmfPBz2OvW74Zt%2FqjLcAuZkUF2HbMXNi%2BemFh[...]
[...]
