---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="1S02z9jwbtxylDfL7CLY8fn2i1h7MP7ewTfhLR4Lw",
        oauth_signature="ujMNpPfUdxiR7tZqb2KjIggoXdhUCymRER%2Fr9i9mn%2FhFkc%2FKDe8oqrLCy50YIgumw%2B8GRNuKF3EOHd0xdAFDPWZ9TZuTHUXHSGSnys1XKeMQSyFI938M2BIVJClSz253f2yBUel6%2B7c7UrQ09VkE8UOFA%2FZY39ahVKBfLpq1mmc%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978877", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>4f336467-2597-4a43-aa80-1841d99ba6ae</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:07:58.2626922Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>1628c5ae-9516-4c14-b18c-c1112e12704a</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-19T10:07:58.183</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:07:58 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="iMIKOAid4zn0aohchmVojVf2bsCtPP24Q1aXGm0EU",
        oauth_signature="bHVnKUMa9W2EP3OsL9VeyRz9DhsaijJ81JHWGLnb57%2BHVxEmHNBSkxIX8TrqZXLnDDnvqUaj%2BQ65E9rbCuFp90dnBPt2vs570QQlviiPI[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%221628c5ae-9516-4c14-b18c-c1112e12704a%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="JNbovNNuiuKiyWKr50L5xhLtVLK93NGlQsCk6SJRC0U",
        oauth_signature="hOoIMBiGK3a0ADp3%2B%2FdUaCg0OLmXpCypqfME%2FETRnSWGwD2oQvxVstC8ReaWr3EMUK9yoNtmq5WylwTykkoxVLvLm3ZQjzkesBKqPJfKz%2FWzH7Fg6GJAL0dOQEjWCASjGdSd2JSo0t1tzaQXwOEhNVM0KMo38VBuaG7Xv5ds6OY%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978879", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>694dad8b-548c-4f4b-b5b1-ae67601255b7</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:08:01.1176203Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:08:01 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E1628c5ae-9516-4c14-b18c-c1112e12704a%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="iqUMrIYrXl5WVg2XSneYLaTFvhQ4Yt89HNAVgs1jQ",
        oauth_signature="PqeKJdAfkh2LRRQpwQIF6fzU9o7vcIomCBSjUqWFLXfv8j9%2BeACiwvT9HuYBZBLNzYMBqrnjlc93dHGqc1tI%2FaSVBl%2BSW0P7tSmV%2BXRiv1U31qx[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%221628c5ae-9516-4c14-b18c-c1112e12704a%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="t1kbzVLkI8gfpVaYzuhwgjGv7enRbEUe5eVLcvzPAk",
        oauth_signature="sEVaKQtj6RiYTwnc8KSKastdQdXUx3q0ZL%2BGVimX0oBYt7snKiHXjKn3A6QI2bk7LibB7s3rhNvgnuBHGo0fEeQGc8qNNIsuXssIpjXu0EGseeAIHoA8eyFel9WSa02SGyG2gGOiuWZ1B%2B%2F1WRQQgUlov9OctNoop7Q8FCKuVNU%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978884", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>5f6920ff-387d-4cb8-a3bd-f9efd81ba6a7</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:08:04.8379472Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>1628c5ae-9516-4c14-b18c-c1112e12704a</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2015-08-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2015-08-19T10:08:02.78</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>0f44fc69-bed8-41d3-8d20-34c6704e60c8</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0323</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:08:05 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/0f44fc69-bed8-41d3-8d20-34c6704e60c8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="prHmH72PDRPjmUxhQYIV6m5GpObLxLoZQEAlr5O4qHo",
        oauth_signature="JTbC6Ek06mmyHl167FDisn8lTWeqiLnGxYqX2%2FHjhowvRtdmoIaJQ5p%2BclkhxQtCfoGfaGVPPEFgWkgn5n643X8N%2FuH44coC%2BsrXkOEbXy5eyvIaOplejAuZFM[...]
[...]
