---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="S0rwJJa8OQUTohBTbcJJCajPqkkLXYUKX7BbovKo0",
        oauth_signature="vD1gqk%2BhIClw6sa%2F4Bx2qkeQMNBMalGvjdfpsVG%2FXuGbL%2BAwWzupAr1OAL5Hz0j4oxzZIKwhlXQD9rWHvfFeFERP5TTv8Fz%2F%2BVNgVtfNumF5DpWAibhmA9IotrwKGgzVOrYtVB0HcEL6bv1lHBjtIZedAdgDt5VJlNaqjKi1DWk%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978782", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>9f5b44e8-d48d-4ecc-904a-487d9db1c122</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:06:23.316832Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>b985bfa3-9a12-441b-b6da-e9ff9aef1983</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-19T10:06:23.193</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:06:23 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="ToKKQknmsXoQFRBr2OWm2iNokkzR1PMPw4hGowdQZs",
        oauth_signature="ORsqvvk4HrcGuUQJE6GoiX9uqKIB3ttHfRBcIx19Dgac24LlQvudnaKslLZ1PiaY6br2Y8OeF%2FdG1MeaACze%2BDKIhL6I2tRXjJWbFzT2[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22b985bfa3-9a12-441b-b6da-e9ff9aef1983%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="fJ0napxD7TgtHIRprjg5t1exm2LAG7VaUWAxROOes",
        oauth_signature="RRSLtaP%2F0YtSZ%2ByEeHTXGhs3NKhJjZMzRGkGDVVqAER3rEdFMTy9mWgsr%2FUE4cpOUMgwFtEPXb75VVMarpu2OCJG8%2FBC85%2FXOG%2Bg5MfYPeqqrGcMF5yGjMNrI6L3wl6Ik5qW%2BpjiFiexhouWld7G3Kvc6QvGHThbzbrC3osgV28%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978784", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445759-O1VMAP02
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>504f53cc-d888-4ada-b1ff-31625cd8d170</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:06:24.7942359Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:06:25 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3Eb985bfa3-9a12-441b-b6da-e9ff9aef1983%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="3pTBPdZICP6OemfYG4WLV4Y0Inm6gP6Dc9bo4b6k",
        oauth_signature="TKKiBUs1Fy8aI3Gh%2FUQWYtsU3eSMiZX4FFgZCsOyJQLUFe%2FtjcaoWialqsu9HLDfgw9oc57cLPOMsa%2BKsqAh%2BbWslmKtGAfWl4fzWHftcqdJwq86[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22b985bfa3-9a12-441b-b6da-e9ff9aef1983%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="LLcPdPl0hGX1G4zIHpxNk8dzdCTAOEpTgjacdsLGng",
        oauth_signature="efRTsHF7q2di2J6Wb1gYF2cz%2BWk%2F7j9IukS%2FJfftCYBc%2BO9dnbe%2BwJBWq8R9Ly5CNKzMw9Zab84vvVEeo6C9W7r4G%2F4V1XrqOYModNf32bcxlej47GVmVKL88WCidalBwFfshIQdVv1RHHc6nmt36Av67kApzzr7vGzgmZJKDRA%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978790", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>afc26295-7256-47c8-a05e-d3550d702120</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:06:31.0703799Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>b985bfa3-9a12-441b-b6da-e9ff9aef1983</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2015-08-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2015-08-19T10:06:26.803</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>ab80d60a-8702-4de4-9b9e-78f7e7279313</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0316</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:06:31 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/ab80d60a-8702-4de4-9b9e-78f7e7279313
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="ZBIXZSo4eYRSfqp2pHjkgil1Fnc4rhKM4vribFHPzAA",
        oauth_signature="hyyLhv5YojBOr7rDzpmplvcJtB31ELqu%2F09%2FrX4VlNFIVoRZRLPVElUIHqBBuD3Ftk7%2B9GNoN8LvUmZG1Um4A75qM54RSf9bRaxZb7OpMLw9c8W6%2BkhwcOot8q[...]
[...]
