---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="zytJ3VrdamlMPeyDr9IoP3vFmGYbY2agGmPCEM7CO0",
        oauth_signature="QfoffcbHuYONNVVYpFiiUKGN%2Bx9dTUG4OLARfgLtXL4771Z7ZivE%2FFYTks3VxtiNcCG5EwbLSqBorpdljW27KypQvofeGcq2fcGBq4v0Ku%2FeKIdeeoN3612%2Bxac4Al0FMir89Zd0d%2FMWTLDHc7FfrjCbIorusCMaQgb6qtbXo54%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439980922", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445759-O1VMAP02
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>2e275bb0-792f-47e8-b97a-856935b91cc0</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:42:03.818967Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>46c4fb50-46c7-45aa-ba53-3e1dbcdddd0e</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-19T10:42:03.773</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:42:04 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="gS2WNTNpRjFJxw3dkw9ztEL7aekwlGXutC9HJ38bRg",
        oauth_signature="vGMC5xtcsLD%2BL7kdUYoXO2EFwyqUHTALvgUptV3XqbVK4n5wJvVnXni8Q6httb7YqG7XI4rOae%2F1KuSG0h3j4XmzVrXPEd6h2o3k%2Ba[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%2246c4fb50-46c7-45aa-ba53-3e1dbcdddd0e%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="KlxgoUlUgrAcnBhyYROOJ5Wz46gDIh84rs8sOV5x5Q",
        oauth_signature="k0OG9im7Erti3f2HWTQLlVeR0lZH1kkzOVBav9b4gVdpO47P757WnMVgqITyZVHQU%2BT12pDUL7q756KpVOmRaZFtSBHJ8Te4joMJ6PWRlw%2FI3HiutvUZne%2FaCGvdJL73TQKhvCSN%2Fb88cyjCwLGAyqUSfpD1WoHGwtdjeWxm2a8%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439980926", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>14dbacf3-17bd-433b-ad07-4bbe00fa4a04</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:42:07.5229109Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:42:08 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E46c4fb50-46c7-45aa-ba53-3e1dbcdddd0e%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="YRt0mRh2WTBGtIdp5V93cpxmreuYcdvyohh0XT4I",
        oauth_signature="ErITQDyQjWJGQWJPGRiTxTShVdgj4Onz5xwllGQRTSiCE0k0STPPaqQY9hp67Uif8z34YbRHSAujIN0k2RN9IhDeZ4kx9yyq9ViPZSsAVS3p82ySrLzG645J[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%2246c4fb50-46c7-45aa-ba53-3e1dbcdddd0e%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="URuqjiC8zTZxbgmeoTFxBHiAsy4yoh1njXWYlnwLnEA",
        oauth_signature="UkvMRWjm8f7jJ7TP7Cl7NqfYKAP%2FS2eJgv0AClLDQGK2zxBmceY3ToOGfli4Ih2Fd8vhrzDbQolr3IDnEPtNPeEgnF3tcunxaPP3JACpU4YSpGhINOzujwMFhdCJ2YfbVlIBiucrgYUKJC4KdjnBuGrNqGiFl0Qni63YfnTkWjc%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439980932", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>e5484e83-d648-4234-b2cd-4bc745d79dd2</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:42:12.7490784Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>46c4fb50-46c7-45aa-ba53-3e1dbcdddd0e</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2015-08-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2015-08-19T10:42:11.033</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>466fab04-0a70-40e9-b2a2-d9fbcf0501d0</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0336</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:42:13 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/466fab04-0a70-40e9-b2a2-d9fbcf0501d0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="v6oiYGq37xaARHFqy0IhMTYLyWQBPmNhaOhjZo",
        oauth_signature="ThKmero8SsVn4xFWgFAgGC1Fz6yGVkVYn8LbnPhOVfgdptROfHMia3LA88NO3oApBocoE3szSj0uVMW1E98lVSDrbK73jxLy621pP%2BbaIk9IixplTPCzGYIGdtRvprmki4foV[...]
[...]
