---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="pAesaZ2Ovi0qCLTI84vk78uLRFSz1SEwJ85VWkxQ",
        oauth_signature="f5umUbTgX%2FvE4UHegvks%2BT2vslEW8PNDMcaRzSIJsDQwjAxwNwcbgS3CjDzG5bMdFPkBklsUTPQ%2FfGbVrEj3upylmxHqvl8D%2FZ4t2koUGXoaoSWQ70PLBbCH33UNl730pgYc8AAGvWKiveRgeZLx3hANwiy82ptT2RP4Fv9l%2B3o%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978824", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>88d45f7e-ee8b-43be-96fe-3effcf3f167b</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:07:04.8926975Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>db5499d2-ce45-4916-9ae4-fef8a316ff66</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-19T10:07:04.813</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:07:05 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="L57cYCj4nrAPm4FoYkGgvxGH6JI62PCrgR3Lo5I",
        oauth_signature="THT0JhTVhGtbxMMvLtQeknFE8c4kcXvxdi0mU3WzGLbS75Eh2gtL2xN%2Bh7ogJdTMtrEHCWEk0UDZ6TXA7POWvylRwpgO5kV5V4l0AzPZ2syVP[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22db5499d2-ce45-4916-9ae4-fef8a316ff66%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="Zq6CsBkyqVlLJSBYz84rwc0kFRMZdl5IJupj5stH7o",
        oauth_signature="kH%2FVfkepHdJKISJ2DHO%2B%2F7EwIRFvZ%2BqsuBON6B83FvdfAhPcmPhS0fGv9ufblI7Kil5JDNHlgeadabjbhYbx3V%2Ft%2FoC9DLbiiSyjEzG%2FjEmbBxj%2Fbsf3PwG60Ye2pIRzhgOcWmAJ%2BECXogAsslxkradVQNrFq4U%2BRPT8%2FnDx%2BQc%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978826", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>c40e8d40-a292-4c8f-8fbb-80ed5dd95a4c</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:07:06.3123612Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:07:06 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3Edb5499d2-ce45-4916-9ae4-fef8a316ff66%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="Y6A3XUrWHgva7JO8Da1UzsQZ282ustJ0wsuLLoRa4",
        oauth_signature="SAdjX%2BSP4T2CG0RgjMN305H5ihB0d1egvnZwBvCcjk0O35LPQCtQfX3LuWdjzlbdwhmY73ZhfETVQAgoLH%2F7GDsIUwIFfGOVRO%2FSwvJr95emLHp%2[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22db5499d2-ce45-4916-9ae4-fef8a316ff66%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="X7Vodgf27sOKSrv484DGEWgVT3e4nBZlL0R1oJKTQz4",
        oauth_signature="Z2VyUqjf7c6CEvuESww0UHaiF6oMhmzdYgXX03AVFjTKC%2Bw05AJdO6Gdq%2BOOD4GInO%2BNEELkyGZ329Efb8%2BuLmFEnE02vrV4OOIfSVO825E6Bt9p9IF8PfzxW02nAPJi3l062jn7ue7D9IYVy7D2R4NsYbWuKA2VeaE%2BW8UoZmQ%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978833", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>3b92af63-bb6a-4524-8aea-9326d0152bc8</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:07:14.5412904Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>db5499d2-ce45-4916-9ae4-fef8a316ff66</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2015-08-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.00</TotalTax>\r\n      <Total>1.00</Total>\r\n      <UpdatedDateUTC>2015-08-19T10:07:10.463</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>de101131-e846-44b3-8fda-21067793d7e0</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0319</InvoiceNumber>\r\n      <AmountDue>1.00</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:07:15 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/de101131-e846-44b3-8fda-21067793d7e0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="lEjCXjIDSsjnAZYLk2yhBNvuWzU9afNhGGWl78I5E",
        oauth_signature="g22pEczERkFRmDX2A5nEk%2FNzuVOj%2BVoYVq7Tdjq4GxP3izWpdm8mQtQKLi0WryZEwBgxnZVZXfxuDM%2FcBPJtrPtW07iR5BiX4a9%2BoqmAuAS%2B8kqJSXXHjB%2BK[...]
[...]
