---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="K3546YiWxz1wKOyoke0VLMcOyVdR1xoL4HsROaCCL8",
        oauth_signature="SAV5Yqla%2FrutmBLhwEJ0SRX7aIf9GCsEAKpO9YUKsPQU8DBHdvv%2F3%2Bn8nKBVg9tlMRs%2FUtlK4QMB95p%2BjQkkRP%2FP6k7d8XwI%2BUyekRbbqGxSZWXqxPC%2BtgEQsOuDx8P3GFQeFeNfaIxmbua62ewEGGCy%2FbGQaw%2FgSR1Bzda7s9c%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439981039", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445759-O1VMAP02
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>ac8d8fd2-cff4-4c8b-afd7-9d135e59335b</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:44:00.3093939Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>ad868955-92e5-4e57-a6a2-8276e7b51b07</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-19T10:44:00.263</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:44:00 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="OSq5EtkVfHRJBCOMascPU7LMSgRy9GtLAJp51tu6Xc",
        oauth_signature="Bk9NPY%2FSICnjnphnZY98kmfMuaugVveuNpIqbpZXY%2FoVxJVw9gdKAcCtcvKtfx%2Bjdggp57N2gFmpFKasmVRdfNu4RGVH7Vr1TeSxmm[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22ad868955-92e5-4e57-a6a2-8276e7b51b07%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="2MyPFxhq1aKGNNON1H4g2YpZSoYcn9JKjJrPjbCnQI",
        oauth_signature="kDMqU3WOtQ6QnSe0T%2BLeS5d3ZhdoIooo8Zl%2Fg2UE0Gr3BDP%2BHpSkaiaedQq3i%2BDrno4Dfp6rBUiWiJhSB3iEpJ7pWbtj0FEy8sxJOGmzUIhdbfQ1QepNYrKhieJM8e9XXjqbVvl5Qp0SzovpIOR%2F%2Bgql%2BP%2Fulqb5KvBSeuoqwAk%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439981047", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>0073eb5d-7b2a-464d-945f-f4c7a3af386f</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:44:09.0352054Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:44:09 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3Ead868955-92e5-4e57-a6a2-8276e7b51b07%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="yYgQ4AenfWuqKZsTdBmEujla4oe7IERxEfE37GLnk",
        oauth_signature="ceeluBCa3xUxEi5E3c2yjMMJZ5GH0%2FtPWHLSORxSDgZzy6QRmATXRs%2FUVn6DrARPddoVStdOdJ6r7b7zVd9XsEgFAx1hWzLArc5kh7%2BKVhkrjEr0n[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22ad868955-92e5-4e57-a6a2-8276e7b51b07%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="xtcXR3DI1MkrlaDGcOXaPFATWND5VrlD41nrgC0lgEk",
        oauth_signature="ue%2F9rDZv5gudqebdE4M6h45Ebqbtc6gWemPZKdIz2g%2FbfqI33hHxABsIvtHpjrmnqqLhnTk4HJFN94sRaJ2rwmgwc5DJ%2F9PGvcXGT1q4Iq6LLgDNdF4UzUQWq8dp%2BNbZCXge%2Fbo5q0XwK%2FcZSC0cvXXn%2FnQCBt6OwLWd4VSeLlQ%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439981053", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>857d2a8b-1e72-4d62-972c-6911bca21165</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:44:14.8229909Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>ad868955-92e5-4e57-a6a2-8276e7b51b07</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2015-08-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2015-08-19T10:44:12.063</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>bd33e72a-bb2c-4bfb-8867-4c2ae47ba278</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0344</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:44:15 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/bd33e72a-bb2c-4bfb-8867-4c2ae47ba278
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="0P2lygE3NuXc7b6UMcDSWyXGNJuER0RiuHNn9pvkYo",
        oauth_signature="LUpk8VUd5ZJgTLuLtMGH%2BlJ16kmgwXWyj%2BEve5BXv0OORqrEjum%2FK7a%2F2qFZ8IbImAnr477XgAXRM5czpYQjq9Ez%2FM%2BzFQC6LJPlN5T17jK2vuGkNAK%2BE[...]
[...]
