---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="0sW8cVhQcjgfqYGjZgb5FCQSjxMuqJDAESKMimZVcsY",
        oauth_signature="qqw%2FfVydzaQWoCSxzhVvrWXyBhk4WigWxD7uUHcJFqSe9dTnblEdkpXAhWbWO5IUXxlXOd8HsuMpTRtWhbYCCmIUQQafCd4mroM9%2Bqvn3qkPMoUhgCRIXVlzXI1GI16fAezin%2FuauBZSgrfR10bRETyZ2sy3o0YQOBa7zxGNgCY%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978768", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>4dc64e64-fe4a-4ffa-b8c8-6c6d892ce2a8</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:06:10.6490636Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>f2048843-1081-40ed-a1d9-09b2d7896623</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-19T10:06:10.617</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:06:11 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="2BIzl72w6Gxg5CTw5u0mdeirZtNwnYQEG7Vx6E08dw",
        oauth_signature="OImdqKu40K26%2F6IQwMq%2FMjFtwUHOErEDET2OvicNQgmrqjmV99lohcAyFGG5jPjPZv0wXjYVE1V8C75xT2zquzaSk257QtuBwd6si%2F[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22f2048843-1081-40ed-a1d9-09b2d7896623%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="cPLxR5n29l2WY4Bj6xmCswfwOOW0MeueKu63DcUnk",
        oauth_signature="wmdwgf5WZuGi2g9Q6o5co4LQsNajSnapt9JpkV22w5sz0QH4UbigiUf3XKs4vJyIjoRnny5KllqP3ZVY8kR6z2NQ2poQLoR5OQBm%2Bt3ELYPKwQG9HaV69jtnIovmP75ZKtbUWxAZMCwpz6C%2BQcHMYyY4J8YC1hNdwjbFzqv5hf0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978773", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>a2b82f6c-3b39-4da8-8f7d-3ab321ad915d</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:06:14.3381891Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:06:15 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3Ef2048843-1081-40ed-a1d9-09b2d7896623%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="3V12R6Gl3dLbN48i97v7000ly0wBRrntYTDsFIUEkY",
        oauth_signature="lmQZLq0Q6UeMPUKwEdmFdAOw9jZWNZW3XjK861PvLlimFza0LngVul%2FOZwC6Jz35%2BWc8HTv5OOEdiCbclGcaBhXN8DY0hZatjow2IDhRXG9RGbSJU%[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22f2048843-1081-40ed-a1d9-09b2d7896623%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="EubGKnwsLM3rAyggUow3WJfW60mglMYBVUVmRlr9w",
        oauth_signature="Ijh%2BdsVMR%2BOdPkWztXGN7GmvbSFDQc1%2B3GCut%2BWkUp%2FlkrbjyV4NSpbQzf5UArB5PbVhbyBeg07lt%2FGpp0T7Jh57c4cebsD2PZyCPGPxMntTdUMcp9CRol7hifN%2BStkJS9lUi7K8V6VFqVXCNiFRSw9ZSRx%2BJSf%2FT6b3uKRnMNc%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978779", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445759-O1VMAP02
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>5dfc2562-cfcd-4eb8-a0ee-76aa27a33169</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:06:19.2872594Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>f2048843-1081-40ed-a1d9-09b2d7896623</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2015-08-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2015-08-19T10:06:17.353</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>581c7a7f-3efc-47ac-8954-17f2b5fb76b4</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0315</InvoiceNumber>\r\n      <Reference>AB1234</Reference>\r\n
        \     <AmountDue>1.20</AmountDue>\r\n      <AmountPaid>0.00</AmountPaid>\r\n
        \     <AmountCredited>0.00</AmountCredited>\r\n      <CurrencyRate>1.000000</CurrencyRate>\r\n
        \     <HasAttachments>false</HasAttachments>\r\n    </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:06:19 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/581c7a7f-3efc-47ac-8954-17f2b5fb76b4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="NLQzdhD5ZTXUBoGLGsuuBYxMauWcqMRm6y0FXUWvmM",
        oauth_signature="F6i60E2malai9unFNUJGLJxg8qbZbpW4COGM6Y2j1ARJy6n4u%2BRZGo74wzdEEs3XmZk4wXjGIjTom0QH%2BEeSdhkOMI3PwhcnGIHHcadyJn7kAWGr3MXhb8AmnznXkjo[...]
[...]
