---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="wkdcHtaD20BV1YkJxb8pSZQqNll7h5YDQqN4vsOQ",
        oauth_signature="GjPqDczf8VEbVpOREAwNMvDHsPnQzMQAoDOuEnUSk9b%2B%2BoU9skFj5xTGotKnX92Izp0tV5qms0H%2FXk01MqHisYfxhuuHZ7jaMaVxzWt9uxuNr8LAQw4eTupP2stgE%2FFCVSjijnk%2BgwsYXi0FQCijUGtTnasKle4cTfIiE%2F%2BnTOw%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978931", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>486ab4f5-57ab-4808-acef-ce10415c7d05</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:08:54.2692052Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>21a809cc-7ab3-4109-9160-7def4e9bc9a5</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-19T10:08:54.177</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:08:55 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="nyHMmWf9M4xWQFkgH7sWuRzRI0WD4estIfStSXub4oM",
        oauth_signature="Dbx0Trs66HN6KzaWWgpiPkdHgibyaK2Ry6uGy1lgoKA0PbOp%2B%2BG3mMd22lHExrRshuqIla6hXjiFhQDJUNH%2BcwTUP6x1zVohD3RYg[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%2221a809cc-7ab3-4109-9160-7def4e9bc9a5%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="bDxR9Vu1VB54gks7A2oX3XJ6mvssXC3JquOjxeuk",
        oauth_signature="F9CzcarHE9Q7QsqYIwF50JPvOINioTk2FMuqgiWI3iarYg61PEiDOW53Iy%2FtuDwcpnOQBgyMA5iplCqNgQtBMUvTJQvvMkiZ%2FmKsRdO4zUeEtY89B9KKHkCejDV4waVmLDDCtMOYnPDV49OCGcQOuMuDMt6%2Bw2%2BPW%2BJFaLvK3r0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978936", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>fa67eee3-f96e-4e0e-9bc2-edd94dcbd0ec</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:08:57.162695Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:08:57 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E21a809cc-7ab3-4109-9160-7def4e9bc9a5%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="JSsyhvoDhV1HtX1Aaf6sqLHCUuw69KmmGRFoC0jI3k",
        oauth_signature="KRH8ZXR5UlX1em7h6xKZ%2BQ1z6fbZqKhfSBgeIWQYN2EhoNkZGPs4ofx2lZctEgMYncKukby32%2F%2BqbQgF4nJajXA9%2FTqdqeXhpcuNt6U7qnpqfN[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%2221a809cc-7ab3-4109-9160-7def4e9bc9a5%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="xC7jPw02tVxYmWKVLMAmb13RXOkdF7Icoc2ZkT0Kg1k",
        oauth_signature="mHQsEOn2nn0vaahoT9dAfPJdFoGfsG4KBx%2BNX5z9u5l4JnrdBUSAP6nyBUeyqWkUmKxRunTb0h0uvX0DxklQFkNKsDu9fvY5WNtLR3MX62n3Fl9Ip%2BISCxJzTpyRwA6QaABYl9M0eS48cr0m6W%2BTwePXsCVmk2idSLVJ9xklBxk%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978940", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>3b43a1ab-595a-4415-8679-388602b6f893</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:09:01.1179125Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>21a809cc-7ab3-4109-9160-7def4e9bc9a5</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2015-08-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2015-08-19T10:08:59.603</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>0e134e06-578d-43df-993b-d07645f29dda</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0327</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:09:01 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/0e134e06-578d-43df-993b-d07645f29dda
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="uIUbMC5vbOM4TMXw5LFHVb3o6QcUk1gnHpHSDIho",
        oauth_signature="Tkw1HLZIg1dVBnkweqlY%2BLKpJ8J9oHxrdtdY3Mq2rPBZi69EzdK%2FZT%2BqJpUfF8bvofPiBART8UIWJpSnZ2zeP0YnoqWpOVlFZghl%2FzjtwJtP2bSquq08L38gd3k4K[...]
[...]
