---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID<TMUX_PANE>0=<TMUX_PANE>0GUID(<TMUX_PANE>2751b899f-e745-4441-ad9c-f7ea61c43ae8<TMUX_PANE>2)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="DWRBJv1pYO0FccAjDOqmZr7wukx3hHh1mqt8ojZ47o8",
        oauth_signature="XazvNPC<TMUX_PANE>F86OZsuuSFpxdc4m8VNij2UsiI0gMpZl3jMW9CicvNrATVgF<TMUX_PANE>FEVnqfsU6DVoV7918afzNrnUflc46afBzxKrTA1<TMUX_PANE>FtF04T50Vh7pVvVeY<TMUX_PANE>BAsAuc3p1qHgXFYBuZ6k9GU3wO9JLxRFryCGPdp3CvvfrB<TMUX_PANE>BOmSTDgg1<TMUX_PANE>Bee<TMUX_PANE>FM%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1403257161", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>78194937-6b87-49d7-b556-a729943c8a31</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>YO</ProviderName>\r\n  <DateTimeUTC>2014-06-20T09:39:22.4738948Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Fri, 20 Jun 2014 09:39:21 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID<TMUX_PANE>0=<TMUX_PANE>0GUID(<TMUX_PANE>2751b899f-e745-4441-ad9c-f7ea61c43ae8<TMUX_PANE>2)<TMUX_PANE>0AND<TMUX_PANE>0Status<TMUX_PANE>0!=<TMUX_PANE>0<TMUX_PANE>2DELETED<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="bzTzGymhOOKeiMgSSO5PbBIRYr6mLHqnaQdZUF1jw",
        oauth_signature="Tn0PBITtboJd<TMUX_PANE>B<TMUX_PANE>FEBRtPnX4WE5txpjjoHQxvl87lc3wfiVgzZSZ<TMUX_PANE>FW8L6hddecQDXTQ0c8wK1YzEqEKfWqcyrSezxXkbXjQ8R4OX4fdaCR5Huzw9vGa5FhclwZM<TMUX_PANE>FRJVwkIr0Vpbl0AyJ4UA3yz80s9VLXxbt5dGRdQoxGyGx4eJ<TMUX_PANE>BY%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1403257164", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>f6b28ef9-b8fc-49ac-bf43-8c851598bb92</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>YO</ProviderName>\r\n  <DateTimeUTC>2014-06-20T09:39:25.4223326Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>751b899f-e745-4441-ad9c-f7ea61c43ae8</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2014-06-20T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2014-06-20T09:39:24.05</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>d6af313b-19f2-4f3c-8a3d-bf82a51f3f22</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0054</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Fri, 20 Jun 2014 09:39:24 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/d6af313b-19f2-4f3c-8a3d-bf82a51f3f22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="WclXpRhCnay4vi0h5WtROasHnfmRRtrmiuLlSY51xk",
        oauth_signature="iL6Vm<TMUX_PANE>F99BleIxaPTIU41fgfNMgtGipnTjM3gk8DeqO7VeNv4hDq9ViGDa0QrufQQNPELXBnIxzOa5eaBuwip3eDvwBljKhptNRHiylw1ruQZhyVEaQ6<TMUX_PANE>BVfJrDWVE2aZaJE4ViLJFeJdzqUpni06gSQWI7EeNOmFNXrxdiA3r<TMUX_PANE>BiA%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1403257164", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>bd428dd7-060d-49e8-8dc6-7abf413422b1</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>YO</ProviderName>\r\n  <DateTimeUTC>2014-06-20T09:39:26.077541Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>751b899f-e745-4441-ad9c-f7ea61c43ae8</ContactID>\r\n
        \       <ContactStatus>ACTIVE</ContactStatus>\r\n        <Name>Existing Company
        Inc.</Name>\r\n        <Addresses>\r\n          <Address>\r\n            <AddressType>POBOX</AddressType>\r\n
        \         </Address>\r\n          <Address>\r\n            <AddressType>STREET</AddressType>\r\n
        \         </Address>\r\n        </Addresses>\r\n        <Phones>\r\n          <Phone>\r\n
        \           <PhoneType>DDI</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>DEFAULT</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>FAX</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>MOBILE</PhoneType>\r\n          </Phone>\r\n        </Phones>\r\n
        \       <UpdatedDateUTC>2014-06-20T09:39:21.023</UpdatedDateUTC>\r\n        <IsSupplier>false</IsSupplier>\r\n
        \       <IsCustomer>true</IsCustomer>\r\n      </Contact>\r\n      <Date>2014-06-20T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <LineItems>\r\n
        \       <LineItem>\r\n          <Description>my fantastic invoice description</Description>\r\n
        \         <UnitAmount>1.00</UnitAmount>\r\n          <TaxType>OUTPUT2</TaxType>\r\n
        \         <TaxAmount>0.20</TaxAmount>\r\n          <LineAmount>1.00</LineAmount>\r\n
        \         <Quantity>1.0000</Quantity>\r\n        </LineItem>\r\n        <LineItem>\r\n
        \         <Description>PAID BY DIRECT DEBIT; reference cus_12345</Description>\r\n
        \         <UnitAmount>0.00</UnitAmount>\r\n          <LineAmount>0.00</LineAmount>\r\n
        \         <Quantity>0.0000</Quantity>\r\n        </LineItem>\r\n      </LineItems>\r\n
        \     <SubTotal>1.00</SubTotal>\r\n      <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n
        \     <UpdatedDateUTC>2014-06-20T09:39:24.05</UpdatedDateUTC>\r\n      <CurrencyCode>GBP</CurrencyCode>\r\n
        \     <Type>ACCREC</Type>\r\n      <InvoiceID>d6af313b-19f2-4f3c-8a3d-bf82a51f3f22</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0054</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <SentToContact>false</SentToContact>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Fri, 20 Jun 2014 09:39:25 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()<TMUX_PANE>0==<TMUX_PANE>0<TMUX_PANE>2existing<TMUX_PANE>0company<TMUX_PANE>0inc.<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="sYYIG8e2H2BHq1MeuKhpsFWemvHdAaHzrJxQGbA",
        oauth_signature="lB6rUowekGjFUjgPpbab2OeuKWgvOIVmRB8kDLhRnlVw4gooMWHpGTw3S8H9wsMvPa0H0YWtfSvNGqLV<TMUX_PANE>F0gNf1ELzx3U2FC8Te215Rq<TMUX_PANE>FdNwean1B<TMUX_PANE>BjTqpINXDJdmKp4XZYG<TMUX_PANE>FyG9IQs9pP3oR3K<TMUX_PANE>FYha3yuPqd547v8hqts9rGQFw%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439398608", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>1f34dffd-356c-47bd-bbaf-226f88c8b863</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-12T16:56:46.7354568Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>4dcbf080-4b26-45dc-8078-2bf470da8e69</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-12T16:56:46.143</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 12 Aug 2015 16:56:48 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name<TMUX_PANE>0==<TMUX_PANE>0<TMUX_PANE>2Existing<TMUX_PANE>0Company<TMUX_PANE>0Inc.<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="pEoE949auWcrPHiroWfg2FLJdfmFjZBxd7uhtzWxdQ",
        oauth_signature="hZLJF<TMUX_PANE>BvynYKVxZzuK0kBT3IyaZvJTOvnt<TMUX_PANE>FW1cm22iL[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%222109717e-e8b6-4079-a022-b3eef7d7b6c3%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="iQQZoBwEeoGHDN1G8PQcdQ2hJkUTrolYgfVyNwhAE",
        oauth_signature="RM2OY7yJQ%2BZbB%2B75aks1Gdpbc3v3yD7E%2FohrvoSL3f8fdD1lWJvBDgKgFTaFod4t58KVdcjrGcMKrO8hQQn9gAXPK3Y5YZzuXT4DWt9P5H9vZyohZMyvMpQ0IFrfptCqF1kC0haqmcMDQT5QOReUH%2BUhJMDvo0mB1jjUic8bmGk%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439543068", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="165.120.48.19"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: oauth_problem=rate%20limit%20exceeded&oauth_problem_advice=please%20wait%20before%20retrying%20the%20xero%20api
  recorded_at: Fri, 14 Aug 2015 09:04:29 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%222109717e-e8b6-4079-a022-b3eef7d7b6c3%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="HEKFmxYXsOb6PKeweZa0Xse0uPpIW5CZtM1awBxv0no",
        oauth_signature="IJVwq6lgJaAthLyc9TpWVKTK6vNEpx%2FrUVGaKnYx50Xr0HJQ1A[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="YyrXP8FipsjKvu5V2nPNOHUFC2QHc1tqax2cUxsBo",
        oauth_signature="jwExRpTiZQLEYvB2wbQa9DDSzGqfl%2FNBtkNpCowXiTBZbaWSHBLhSO5%2F%2F5XSBU%2FP5SteB%2FNT0AS%2Bby6sEGOISJXlWT8ekk%2B3IS3WfQ[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="fSnVIPfMOwmUpE39OTdjtEXUV05kqmy4g8rIGR98W4",
        oauth_signature="elOLHysHVvKl%2FWRXhH7w2VP6Xa2oCm7b35FHtzYDQL3wMumdmwlukf5XzOkqd%2BQDM4pKgc7S6WZwzWnzu9UEPITCFMcK46eVKiaeugwpsvzE0beeEoGkwMr1w[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E<TMUX_PANE>A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E<TMUX_PANE>A%3C%2FContact%3E<TMUX_PANE>A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="JoF09ob8QGog1SvQYBPnV0daeALr23IjuOC8n85GXI",
        oa[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="GIzeDGDhvu0kHxfggteIlfCXByIQOrQS9tOImGFSAk",
        oauth_signature="fp7TkNHvXOmOCBDSc1Gwu%2BTnUZlF54MzdU2oAka0EFAsLq4O3v4N%2BBlk3RvTVf30c6GQN1KHLHGK6oEXdsXRL8E05%2B2OrTejncykwh[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E<TMUX_PANE>A%20%20%3CType%3EACCREC%3C%2FType%3E<TMUX_PANE>A%20%20%3CContact%3E<TMUX_PANE>A%20%20%20%20%3CContactID%3E7687830c-a3fc-438d-9e53-1058e9ce7837%3C%2FContactID%3E<TMUX_PANE>A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E<TMUX_PANE>A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E<TMUX_PANE>A%20%20%20%20%3CAddresses%3E<TM[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="MxpHCz2EIAawKlEuw8lLghoPS7ZYCyfVoAL0AszTw",
        oauth_signature="azJMaDODlhZtyFu00LgAX69uD6GuDOOWDMYhjaKbAE%2FtlSt4A%2F%2BfaPYjCAc2lpY1sTkxQNqXlGR2bIEXj0aRqJ5UxhT%2B1o7Q3S3XDlhRlnY%2Be[...]
[...]
