---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID<TMUX_PANE>0=<TMUX_PANE>0GUID(<TMUX_PANE>2fcb8ed07-459e-49b8-82d7-3d4f87434e29<TMUX_PANE>2)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="UJD4DTY4ZfuJn36TcvwdueCgdRoXh2zj8P5qzcEoG4",
        oauth_signature="ZYvbkn5qoaqD0WDdlcj7gCQRL7KiG<TMUX_PANE>B3Z7qmJ91<TMUX_PANE>F3Ci3bjytaXjagfuMYQZj4kzCbQU<TMUX_PANE>BGOF<TMUX_PANE>B8s4z9P5PYuD0UKmYxKh30kNQHJYcqbSA634YhOXaOETgGcv<TMUX_PANE>BAhP6oM5lt2kYY9<TMUX_PANE>F0PCJbfGhTbFaM6aKwlaAB1QvbVsbs8Dc3BgP0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473150", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>a564f85c-6f64-4a53-845b-4ce1d37847a2</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:39:10.345469Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:39:11 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID<TMUX_PANE>0=<TMUX_PANE>0GUID(<TMUX_PANE>2fcb8ed07-459e-49b8-82d7-3d4f87434e29<TMUX_PANE>2)<TMUX_PANE>0AND<TMUX_PANE>0Status<TMUX_PANE>0!=<TMUX_PANE>0<TMUX_PANE>2DELETED<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="01vsosWGx6uxabrH6wqqDU4u2ts9blUglVqbjQvsWQ",
        oauth_signature="rFjfafcHA78xd5uRXRBl4tt7kM8Lj0tZTzqgzUpANUcbcLLXj0ule6BvHnvBMrIjF31iVm<TMUX_PANE>FK2ydOvrxNBqFTv9SDAmrsz<TMUX_PANE>FVmtyHEK8m2H8zm6ZfcnLPjUJEP3GWJWlC<TMUX_PANE>BNoAhBZUnjLPvvnYpLTksNjHvgGtRbN63X<TMUX_PANE>F1BOCia1B0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473153", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>8a7ea90d-6efb-4aac-8987-a51af54c62b5</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:39:13.5122081Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>fcb8ed07-459e-49b8-82d7-3d4f87434e29</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-08-14T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-08-14T09:39:11.967</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>aac8a151-775b-467b-ada2-e48af2542215</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0110</InvoiceNumber>\r\n      <Reference>AB1234</Reference>\r\n
        \     <AmountDue>1.20</AmountDue>\r\n      <AmountPaid>0.00</AmountPaid>\r\n
        \     <HasAttachments>false</HasAttachments>\r\n    </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:39:14 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/aac8a151-775b-467b-ada2-e48af2542215
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="PyeAzLUSpl8RMJlObmiaOUUuXBnItHeAf0itW4yWA",
        oauth_signature="Xuf7KELdVW4YA6PvaIiGsPVYnnk7ACzKKshJtsj6Mb42Pju92TB9s7hIX5PnphF<TMUX_PANE>FlGTUdpaK4aECaALhsdHzuqvq6FoLacfAg5hmLZHzw27nuzNWSqsIo0RVrPIMW1TVpQ<TMUX_PANE>BR7hk8c5CBbva0nNLZ6tpC3<TMUX_PANE>BZ8aRvj9WNWqPIaf5s%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473154", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>73e1f97c-786e-432f-8f10-0d93f4c571d8</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:39:14.1361961Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>fcb8ed07-459e-49b8-82d7-3d4f87434e29</ContactID>\r\n
        \       <ContactStatus>ACTIVE</ContactStatus>\r\n        <Name>Existing Company
        Inc.</Name>\r\n        <Addresses>\r\n          <Address>\r\n            <AddressType>POBOX</AddressType>\r\n
        \         </Address>\r\n          <Address>\r\n            <AddressType>STREET</AddressType>\r\n
        \         </Address>\r\n        </Addresses>\r\n        <Phones>\r\n          <Phone>\r\n
        \           <PhoneType>DDI</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>FAX</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>MOBILE</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>DEFAULT</PhoneType>\r\n          </Phone>\r\n        </Phones>\r\n
        \       <UpdatedDateUTC>2013-08-14T09:39:07.63</UpdatedDateUTC>\r\n        <IsSupplier>false</IsSupplier>\r\n
        \       <IsCustomer>true</IsCustomer>\r\n      </Contact>\r\n      <Date>2013-08-14T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <LineItems>\r\n
        \       <LineItem>\r\n          <Description>my fantastic invoice description</Description>\r\n
        \         <UnitAmount>1.00</UnitAmount>\r\n          <TaxType>OUTPUT2</TaxType>\r\n
        \         <TaxAmount>0.20</TaxAmount>\r\n          <LineAmount>1.00</LineAmount>\r\n
        \         <Quantity>1.0000</Quantity>\r\n        </LineItem>\r\n      </LineItems>\r\n
        \     <SubTotal>1.00</SubTotal>\r\n      <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n
        \     <UpdatedDateUTC>2013-08-14T09:39:11.967</UpdatedDateUTC>\r\n      <CurrencyCode>GBP</CurrencyCode>\r\n
        \     <Type>ACCREC</Type>\r\n      <InvoiceID>aac8a151-775b-467b-ada2-e48af2542215</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0110</InvoiceNumber>\r\n      <Reference>AB1234</Reference>\r\n
        \     <AmountDue>1.20</AmountDue>\r\n      <AmountPaid>0.00</AmountPaid>\r\n
        \     <SentToContact>false</SentToContact>\r\n      <CurrencyRate>1.000000</CurrencyRate>\r\n
        \     <HasAttachments>false</HasAttachments>\r\n    </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:39:15 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()<TMUX_PANE>0==<TMUX_PANE>0<TMUX_PANE>2existing<TMUX_PANE>0company<TMUX_PANE>0inc.<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="wLJVA8KlL15STlalgxuvbVvc7koSqSCVFOSSF90mugg",
        oauth_signature="rBzV7NPDBOS5kdh8iA1OosWu2UFekPPryPoYofa9xPVVTznS7tiGv<TMUX_PANE>FE62nQ0IlW7Wh0VM2ZwxiSEfgCHQOuYYfJTXEPx77TbTQzS<TMUX_PANE>F97GnbLUYm0RRNSBN<TMUX_PANE>BvpF<TMUX_PANE>FVjgk628qqKb0Yz9Va4QM5I9Qo8g3ZPmWY6LR<TMUX_PANE>B2w5FgCKOy<TMUX_PANE>Bew%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439388855", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445760-O1VMAP03
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>ebcd42e6-9f21-408f-ac02-6d8c1eb5a7cd</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-12T14:14:13.4710812Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>59b9e469-42a1-40da-aec7-da838730e59c</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-12T14:14:13.38</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 12 Aug 2015 14:14:15 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name<TMUX_PANE>0==<TMUX_PANE>0<TMUX_PANE>2Existing<TMUX_PANE>0Company<TMUX_PANE>0Inc.<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="QT8Qw9wfHb2bMcopJwy6vqgxzRt93F4agarSWpEzo",
        oauth_signature="DVJGQWWFGvZX3bUfpR4VCwdyA3eKabeSBC2jrmQYKLQpqGDA05zzH25ddX<TMUX_P[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%225717c9bf-7c58-4787-a189-db693f7a3032%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="9iZunACPDqk1jVcMi1arS1ksyTZq8uLVyK8NjF3WE",
        oauth_signature="Kxu3JLudrYH%2BMPq8olNdEl2RY6xDLlPor9jNM5fdC9rLpbTPJknNvoJHqjDqzpJtXu%2FjT5Qubf0Mm7x7PRaxyOMUXz5aXGCIjoG8Tu%2FmLurSh1nLZq6yH3kDwgA1eyTT7hPv1lAkcHqK%2BUOBKiRmXPId6SSYCJjXH1c2ONCQXL8%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439542978", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>e575b987-e940-4069-9f64-0c46d14b999b</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-14T09:02:49.2322639Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Fri, 14 Aug 2015 09:02:59 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%225717c9bf-7c58-4787-a189-db693f7a3032%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="065XRAgw1KMsAL9rCpA6K1VtUPELBhlB6f0GNVucXbs",
        oauth_signature="XfQST%2BMhm%2BqYoj5IrjOK6z%2F6W6ugVJ2oEIqXoOCE%2FT9J[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="KTLPL9iEwHHY77pDNuCRkDtWTu7o9kvW3dUTWeto",
        oauth_signature="EVzIEpa8oFgx%2BX%2Fk2xpI7JWOoSpexdKKWlLePQNOogBxKk41MzO3WSoa8Vens5t5BfcLgGthaxirGApBcZt6SPCPYjE57Rc32%2FLSJFc6Q1FIgll[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="B4QdSjIhgAKkX4W4LsnzlzpyZpUwvXetqBj8Rrfp80",
        oauth_signature="pg7W9Q0GbJWsZ%2BFezn4Q7QQKujcaPqs3dUpNKb3YxLBlcRn5Guj0QPs1U%2BsF0ZnKeH8pVORdFquFT1%2FKt9ZYoa83FtmMbVSji%2FuJKb4H1sHTn%2Fd7pNb[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E<TMUX_PANE>A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E<TMUX_PANE>A%3C%2FContact%3E<TMUX_PANE>A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="QNSA7TqjCmlxf2e2buObMCG9xuvbbQqwBQyUB1RgZak",
        o[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="quWM2Xt9YDUzDHOfwFzO4sPUw065lgFIDJqjubhVB44",
        oauth_signature="c48HUqCZD1Jc5UfFmuQVoIiDg22f5BegT%2FG5fpO4HN9c4X%2BOK0cukP3QSeKpODoABo8U8Jlo0HOk5fCq0rYhgME5m3GzapTEtMT4Eur[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E<TMUX_PANE>A%20%20%3CType%3EACCREC%3C%2FType%3E<TMUX_PANE>A%20%20%3CContact%3E<TMUX_PANE>A%20%20%20%20%3CContactID%3E51f7fd13-07aa-4418-ac5e-8596dbb59397%3C%2FContactID%3E<TMUX_PANE>A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E<TMUX_PANE>A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E<TMUX_PANE>A%20%20%20%20%3CAddresses%3E<TM[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="HdxXW93OXA9URmukB2H83nQbsu2AOH37ZBl3UppciY",
        oauth_signature="i69TxoLsA3x%2FQILBUkWgnn64wBStmUb7O8MJ3Jdpzk8Lg2lLwp%2BVfz8qmQ5x%2Br%2FN6eXh2%2FfkhRONSLYXywxgSsIdIXWylFjxc8VUgVc3uuPE[...]
[...]
