---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="x0eZcxKG0a8KDCC0pi3mLWeaJTAu0FFmathjCdp4Ls",
        oauth_signature="rAo7vGPCoaVxEOe7vdwuWaemD2H3bZEiJ3mBtb%2Bd9q%2FTe8kcDWE6uWO8hStgSq3N5Eb4004R0XnhZrlXmV7%2B9gYMznemCiVypAoZWC5KZQT7wybt8TOf0JzJZL24yeKrPnHvNSfTethHc5oljMbhePwslGlpTLOXBuunQN5NEkM%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978889", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>06e52cbf-2d74-46be-82c0-02b232545cc2</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:08:11.6866545Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>079a5753-5b11-4429-bc77-f3c0ebcab106</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-19T10:08:11.67</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:08:12 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="44s5N69ShySgpGKBGkXxkhTjrhyevcSzuqFX7DZq7e8",
        oauth_signature="c28x36C7TVTFm8A3XjGalYf3XsauyK5TY01%2F6VOXLuT8hsEwXpzzhTeyMEAy7%2Fb%2FVMMUtAFBudcDepGRq1iUatt%2Bk3M5Ev0jRr9[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22079a5753-5b11-4429-bc77-f3c0ebcab106%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="OE3cQFMm3bhceVGnqGg1WigQUgmnPhr4I32x2ch8HIs",
        oauth_signature="OYWCHKD6ES2WNLCb6RTQ3QfEMBEuD1BJXqGA6WbE6ax%2FoZjUtR1W0GEi7UW6TvSNwDLNxV7O6aKDHTwwCOng0HyrebYYK%2F%2BW5DDlp9OW6Ej2dPRXhq81kXR%2B6nj3bDXl8372YdIfl%2FlKJInv5ShxSXu%2BkCDE7b2K0uAbWTb5T8g%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978894", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>02259116-4b9e-4330-9520-b483360ef84d</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:08:16.6247161Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:08:17 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E079a5753-5b11-4429-bc77-f3c0ebcab106%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="mbFMBC3zwOK4gdvyMJX116GLCHn7i5KG9Lz7DwFPs3o",
        oauth_signature="GGo3pt5RHE%2F0xix8%2BpLmGKs0qlHR8zkGwoFOc4yeYGGbaMYlwJNYkaPJTjU5iTjjKiquH6HJbnHpeLpHO39N4JR5MHCj9mNQt1WeZsTguW3BjHRyu[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22079a5753-5b11-4429-bc77-f3c0ebcab106%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="h4JWn6thrcyblbyOITm7VDhsZdl9OGLhqJFkMZ9QA",
        oauth_signature="CioyqnB8cid0vFYdKiSn0lCRNm7IWEqex3XzNM68LFVn9iD6ndnyYoAykzYsk3ltE2r%2Fuq5sQbLpQ3um%2BA%2BuKPtFrSZleFvOGB8G6aHkVOMw%2BfSPbHmF9PgejuEwDBOnsTx%2BLjE%2FtPE8zb369XkkSAi2ehjmI0f8yyPOy4PwWSU%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978900", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>c4080dae-e295-4094-be91-85f404f6ef5f</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:08:20.5248911Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>079a5753-5b11-4429-bc77-f3c0ebcab106</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2015-08-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2015-08-19T10:08:18.35</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>17aa0d07-711d-4be4-805b-d10f9e6380a2</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0324</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:08:21 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/17aa0d07-711d-4be4-805b-d10f9e6380a2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="ALo9cHzPBeXQKd8kcH4S2W2xuthLrP9pXdKZbq3hc",
        oauth_signature="YYbCWmZmvf%2F9qSONR4SuDmmmrN6Z8J7o8uPpHCgJW5lHWLHR8nh9W0hDZNuuYFSUQl0loEadrX6i1u84N6E8VOs7daqgeThkUPdTjei9lmhYdLLSr%2FFwsejzBwWSxzel[...]
[...]
