---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="LdfbiY7bopN0X8QIovo5WL1IvEd7y4KPuROyEy8",
        oauth_signature="WGUxfAsB%2F1%2FWlgLGe7mNlrsoWzLBXDe9Mslxtrq6dj8LT6IVfk%2BgxFZUFWpzGwcTYY%2FQGO71sUy1RF4VA7moWhfAfWUrA%2Fomm6yklzjvsCrvjDykujth9UuCXhUC0%2BENTBcmwfrbfClqPK4seE%2BxLptmdOxYMrQfLsBfULFLKy4%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439980886", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>d3ead4bc-7f05-4ae3-bb4a-0b67fa9804e9</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:41:28.2880816Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>ebf0c728-0d96-4ece-8bbe-f245eefc75c4</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-19T10:41:28.24</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:41:28 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="uE2BliIhDOnNXL40QwrweBiNXKFkrZZJvrxLg3toI",
        oauth_signature="ocmbwECPXC2NXdZ2xl7vbBGBIs2yoH1pmdt9fm%2FV%2FwiZJoVHAR0a5X8U%2B0lOUahGjISf1w6yWaXlO1%2Fo7YtzsP%2B%2FgQamcH9%2[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22ebf0c728-0d96-4ece-8bbe-f245eefc75c4%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="ExIJY977IkjEODeMNZL5OaR0BZB2nYs2eZvVjmDo",
        oauth_signature="hBUcz9EogCQ5dMmM89x6vvK64mkKBSOhM25SKISPvIw%2FsL7FlHqF1x5dFW%2FcBMjyrJvhaixXbkyGrzfV%2FyLlfUPlLyZQWPySRg62DPH3lWfrLdgwlP4aJuzCA09Ke8tjmwp%2FnnDycgQBou9TrvR0Dpz3bAtMR19lOg9b7CsPKik%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439980891", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>5c1e4990-1732-415d-a32b-456030e0c6e8</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:41:31.8294405Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:41:32 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3Eebf0c728-0d96-4ece-8bbe-f245eefc75c4%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="mWguDEx2IYwYn6h5V9956GNMX32durn5XeUwXx0Ze28",
        oauth_signature="vZ2Cf7ByxA13PtsieUTxvIk7fwcYVVJKp7reZRGVHK8UX6RfNo7yQWCLw9a9TC5SPVpuPr%2FWLvjvlEI2GS%2BVkUZ9oTLH5aUjYYfbIt6cXUmyqAGWS[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22ebf0c728-0d96-4ece-8bbe-f245eefc75c4%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="3KSDgC6zVlgqvJXhNUGUl5V3ONdtgitdqhYcWNdlA",
        oauth_signature="ibLyA2qJ%2F4j9OzJ4tjffzT2beWTMjYCUMWQEmDvQIuSiQqFS2Y%2BpgXcbkv%2BAj21AYnCovm6gTsxThKAN4xL9WigcQPqiiAvv0ZdW%2BO3VE5Hk4Vny99zbi%2FkqkAPYIbgsRRttnMMuv6QYlUJJhuohqMmCadEekq03W%2FqTwhuGP48%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439980895", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445761-O1VMAP04
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>832ab15b-8711-45d3-847a-798eed7e3ca2</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:41:35.6587631Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>ebf0c728-0d96-4ece-8bbe-f245eefc75c4</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2015-08-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2015-08-19T10:41:33.833</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>be93da27-e19b-4429-894c-b6d2992563a6</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0334</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:41:36 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/be93da27-e19b-4429-894c-b6d2992563a6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="rD7gF0VGsZdn0YXiUtNQQTiFDvWcKvzfqa23qw0Nw",
        oauth_signature="qByZopOrv5ceQ35DCChe1Xdxek6bviFVnj3sQiObp6Hmh4PMVBGQFF2TsvWcTI7F8J7zRqSC5Upx2ruT%2FFFtNyvvrGmiwhelKWepfQ3TZf5gAv9Dg7%2F%2BYLbpvevhuV[...]
[...]
