---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="DllWXWiuLppqFi81b1yZWt6YcPzq03HiCQpohlrNqU",
        oauth_signature="ormoi%2FZZHjLV2KhyA6AXkWVi0qWUAKv9xTuZ%2FS%2F2yHBW2%2BfjEWjhXkiZa1CmR8Hr0c6sH7NFAUZlB%2Fz9fl5JiBRHWO47yLZchhXR%2BVgSylhgdNpAPy4xVDhaKbpq3dXa9tkJVB4a37swkxfaPolFi80x%2FNJF%2BTae3pQmXfC78RU%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439981062", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445759-O1VMAP02
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>b6d70b54-d3b3-4dc0-9c35-b82d64fd0873</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:44:24.381274Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>31d5fc5c-ae5b-4fa9-8446-294a232b88d8</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-19T10:44:24.333</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:44:25 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="Jfbg3hMZ0xUeMbgrdkTHRZE6ryGZiWDMglx6NFOp10o",
        oauth_signature="X4boq0hmrBWJDvB25S%2B26OcqdTUIcKQ0n69XM048kvMmBsIuovolJb3o9%2BLcmN4wYVWk9KOTloHvuyThsbIAbiZ7Wt0UNrVANrjKL8k[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%2231d5fc5c-ae5b-4fa9-8446-294a232b88d8%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="gOe9pHaKwYGWnZtOV030YbWlCZOzUrF2Jw8trniaz4",
        oauth_signature="iUYw2dzEjba1OZJZK%2BzMSEAM6wiyKUqgj6azpbPYE6%2Blha73noRSTXizWIVavD8utaNVTEuBJP0F1nWDLHUqqng5ccfR2MPkLdFU42KWvskE7zyb21p38b%2Fv%2Bsk6CR5YLdR0wdibGM68LdFu3wMe652Td9dthRZo2wbu9VOH85M%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439981067", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>2f186e1a-30e7-4d0e-a8ac-b23fb034285f</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:44:28.3954259Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:44:29 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E31d5fc5c-ae5b-4fa9-8446-294a232b88d8%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="yLq1wGeZOrspToYW7i8FU6oXvre5phhRTwvMVhs",
        oauth_signature="ZOJ23YqUSjMxjBykiHtuJnTWy22ZEKo%2BFmVfNqQgSKMRkJBG1FWPKf5u7yR3LJswhr%2FoCxjMtdJJfXQKsuwhGcDTnpDlxY%2BtxtVLZzpTR00DexLE3Nv[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%2231d5fc5c-ae5b-4fa9-8446-294a232b88d8%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="El4OHqykb4fLeFjjBFtgVHAeyNKL1lifI2NaainIg",
        oauth_signature="UAUX8fKu05%2BgA6pxXWigSPeZiitEcqtyClptpmeQRo9pQunUo2tX6Ukr5GM9KulRPzVgTpR8QNPaFq3E0arCLCd5IfOIjLILQZdsZJ3rM7O0J9r2Bm6STQ8Z%2BgRSOJDLr9ihgFkJkhYpLKmwixz59wrg1XLvOCSsCjl1r1zRGyg%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439981072", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>5db507d3-d881-4177-a3fa-03f06562c5c5</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:44:33.0131739Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>31d5fc5c-ae5b-4fa9-8446-294a232b88d8</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2015-08-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2015-08-19T10:44:31.187</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>175f2007-0413-483b-bdb0-f3a9f0828301</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0345</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:44:33 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/175f2007-0413-483b-bdb0-f3a9f0828301
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="LnL82SgTn6Uvm5dK7I8V8YD0riR0LmUG8xoXavIusWU",
        oauth_signature="bDih5bji09%2B7HmpC64jB6TFsVm%2FGXM8HcTB4RCNTpnyMi%2B5w8KNk2sFDdcfSRSfr%2BKBhooc0IgPZLLm4%2BCz0wQUMvJ9i2GPKGEwZwEr6CtMZr9uq5p3koUum[...]
[...]
