---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="ZjNfcDrzhe3RGmeNg1YlFXz3yonSFphhk425okSviPg",
        oauth_signature="JaJJ1mYVQvkq7i%2FNJtO%2FPhyZk9ky4zZkKBbBJsElWQ2DyHNmO54OksOT9aXOIwMTvsmT%2FawHJHECr3p3yChXAGqj2uieSveLBXHdE3Q9c82ubmqoxo5JO2q0kzGh4pbZFH6l9R1v4itpZDCqHbJKOWhP8D%2BGmyV5BvY%2BljgjVhg%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978757", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>7a54bf41-bbd2-42d5-a378-5ea3e2e9e8d2</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:05:58.6989274Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>462bb84a-0fd0-4e52-b9bf-b79bab11e699</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-19T10:05:58.653</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:05:59 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="k2skL1jFr8wrynyacfCvFSMfFpOQUARsIKJu05Yuw",
        oauth_signature="ZLg%2BQrJPS%2BW%2FHjj1U9bhPnM282YsEvH%2B7%2FoMFC67oaUFTNH2kdK%2B4xXBy7OJc5TLEf2fh2Pk09Hr6hIvz4P4itEdrc32%2F%2[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22462bb84a-0fd0-4e52-b9bf-b79bab11e699%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="dE0cbOAsQfttWaaXNdgvihSBCyJZBkCsi7PS5wsSmcI",
        oauth_signature="Dxi8FwyJWI9G0iUucYXJz%2FjMLm3QNw%2FZvu%2F7K77zXv%2BwLBHeYiRIJOp%2BaVjUMlF5LqorwOrBN7hCVxj3sozCck12L2AtxdWQFmkejAStR8wq1N8oo%2FYUU7VTFwHHOBnkGD5EHgs4CReAio%2BlByF9Zoq%2BNtli5RG6a5XWU2z%2FHrA%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978760", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>1d4805da-9756-47c1-8776-6a19a70be6d9</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:06:00.8206226Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:06:01 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E462bb84a-0fd0-4e52-b9bf-b79bab11e699%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="iQxCPfcGGv27DpeTWPm9tW5S91j8b6eBbxCC3rvDdY",
        oauth_signature="GQmkE3gyqoP6Zc3zZFKJCTuYzyfxdGNUv3VqrVCk9FPhWQA4w9uaC%2FsqlnMNIAQaVPXm6O3tJaXrhv%2BXdN05ce2EUrrwaQg2Gl1bfhMKaS9nUGfmES[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22462bb84a-0fd0-4e52-b9bf-b79bab11e699%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="cEUpSJRnN6zG44VywDhQbtfsiESiFXP15W56bJ8dQXM",
        oauth_signature="vLRsgUlW1R4pcfehbJ5OO6auQB9bWlikNu0r7WBT1lKaJw44O4acC49LIBzPjesOT9Yg8guyXtAcvrtHlA%2BCg5%2Fn8BCzXtsBm%2Fb0Na%2FmlMIXmfGKCNP2ksLbR98ZM7DZgBxocf4LcKTFuaPwoo8KG9ECdck776GQvDKHwkT3pvg%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978764", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>def9c39a-cb10-437d-9597-a4e8f5766c50</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:06:04.3849425Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>462bb84a-0fd0-4e52-b9bf-b79bab11e699</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2015-08-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2015-08-19T10:06:02.653</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>ad12cfba-bdbb-4616-98fb-fcc8b1a91498</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0314</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:06:05 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/ad12cfba-bdbb-4616-98fb-fcc8b1a91498
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="hKcrEoDfKv66bojfafpuMaF7y3uNVRl909T5HLhEKW0",
        oauth_signature="OXuwLKe9PpWAmJa0VMoIj7ExJBi9Gaqq%2Fjra2g6n3iG%2BrAmrgZYZbAyFdliLS3W5E%2FSaYMBgKhVfQohGDU2kaXXTSVsM6BvjYw6A62R2%2F4KCqVNtBH%2F02MCL[...]
[...]
