---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="FVOyYLv3saMRClFScvd7An1kas35FCA6qiwRwONxY",
        oauth_signature="mRksaVxhBiXT0OW3KxNE%2BeegTakeRG1dvJbRk2lvHih6w2Kg%2FSX%2B599P9FvZTrog2XhcTYrYEkLSvXe0A67op2mruUVvZBqOR6LSGNRd9gwZ3xXT1aS%2BC1NnKFyD9YmrbByDI5GAlLjkxKG%2FOsNL28mwQP6uQlyD3XkWGjoT548%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1461057957", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 505390-O1VMAP05
      - 662486-O1VMAP07
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: ASCII-8BIT
      string: "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>d3fbdf51-45fb-4c40-83a0-ce265c03fe7c</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Sigh</ProviderName>\r\n  <DateTimeUTC>2016-04-19T09:25:59.0021493Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>55f39c4f-cd2e-4b7d-af48-48e6e274aa84</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2016-04-19T09:25:58.813</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Tue, 19 Apr 2016 09:25:59 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="eDWSkej8lZ8qXVsBLjEAwz3JFTBM4g9Cv8xqWN1e8",
        oauth_signature="mUoi0Kv1VsEF%2FOHREIpgt%2FoEfNNl5cvZ3aM8xfgq%2FYH5SAcs%2FhyGGaeP%2BJ3%2BCXO%2Fxzg%2FNB1ibrRZCENTcmznlLO63eDvn[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%2255f39c4f-cd2e-4b7d-af48-48e6e274aa84%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="pPNYiGUHMjt8k0LmDPIQSWWCrMAWCIB9WU9U2Lcn24",
        oauth_signature="kFppgCZaIuF7%2BuKuHkJM3Swi0iWPBeaUd5RHG8uf3du08eh8HBLR0YEIQzTxz9yCiK%2BigON2f6NP%2BRU1%2Fmf2LiQhnU7%2BgQuLB4wossFbJ52mdhfmE%2Fxw%2B%2BRx4rSaiVX0KeBHf%2BuEXjnyHyo3LUcG7FDOej00KvmmDVQOrs8yAos%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1461057959", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 505390-O1VMAP05
      - 662486-O1VMAP07
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: ASCII-8BIT
      string: "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>55d12285-6f5b-4413-80b4-bb84b63f214e</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Sigh</ProviderName>\r\n  <DateTimeUTC>2016-04-19T09:26:00.3437837Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Tue, 19 Apr 2016 09:26:00 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E55f39c4f-cd2e-4b7d-af48-48e6e274aa84%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
- request:
    method: post
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E55f39c4f-cd2e-4b7d-af48-48e6e274aa84%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%20%20%3CAddressType%3EPOBOX%3C%2FAddressType%3E%0A%20%20%20%20%20%20%3C%2FAddress%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%20%20%3CAddressType%3ESTREET%3C%2FAddressType%3E%0A%20%20%20%20%20%20%3C%2FAddress%3E%0A%20%20%20%20%3C%2FAddresses%3E%0A%20%20%20%20%3CPhones%3E%0A%20%20%20%20%20%20%3CPhone%3E%0A%20%20%20%20%20%20%20%20%3CPhoneType%3EFAX%3C%2FPhoneType%3E%0A%20%20%20%20%20%20%3C%2FPhone%3E%0A%20%20%20%20%20%20%3CPhone%3E%0A%20%20%20%20%20%20%20%20%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E%0A%20%20%20%20%20%20%3C%2FPhone%3E%0A%20%20%20%20%20%20%3CPhone%3E%0A%20%20%20%20%20%20%20%20%3CPhoneType%3EDDI%3C%2FPhoneType%3E%0A%20%20%20%20%20%20%3C%2FPhone%3E%0A%20%20%20%20%20%20%3CPhone%3E%0A%20%20%20%20%20%20%20%20%3CPhoneType%3EMOBILE%3C%2FPhoneType%3E%0A%20%20%20%20%20%20%3C%2FPhone%3E%0A%20%20%20%20%3C%2FPhones%3E%0A%20%20%20%20%3CIsSupplier%3Efalse%3C%2FIsSupplier%3E%0A%20%20%20%20%3CIsCustomer%3E<VCR_DEBUG>%3C%2FIsCustomer%3E%0A%20%20%3C%2FContact%3E%0A%20%20%3CDate%3E2016-04-19%3C%2FDate%3E%0A%20%20%3CDueDate%3E2013-03-10%3C%2FDueDate%3E%0A%20%20%3CStatus%3EDRAFT%3C%2FStatus%3E%0A%20%20%3CLineAmountTypes%3EExclusive%3C%2FLineAmountTypes%3E%0A%20%20%3CLineItems%3E%0A%20%20%20%20%3CLineItem%3E%0A%20%20%20%20%20%20%3CDescription%3ELine%20Item%20Number%200%3C%2FDescription%3E%0A%20%20%20%20%20%20%3CUnitAmount%3E1.0%3C%2FUnitAmount%3E%0A%20%20%20%20%20%20%3CTaxType%3EOUTPUT2%3C%2FTaxType%3E%0A%20%20%2[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="S5F0SbzNFlifYODcwcPmnO7J928rnayu2rhqxq6NI",
        oauth_signature="H4Rzji68HP0aHDge6rzPflHkwYbKvvk8vQnKr4gp9vZnpK%2BCxUJYP%2B6xP8mCCDpl0txwFJS0XRBy68SHIQ%2BnDfa9z3jQ2ShPzL5KSjd3fvmmsnsez[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%2255f39c4f-cd2e-4b7d-af48-48e6e274aa84%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="IAuAw6MfVXRa2BOqKz8lij4W0Wc0hZfFbx3jZJitu6U",
        oauth_signature="sFX2gp%2FsNkRA%2FW7ZEsmrYkqxd1aKRwO237yukzypC430Dwtq0G%2BgPLALgNwVY4xEt5Z%2FsbCoLL%2BuMgzy%2Fhz7lE104rI2LlJbMTDwHS%2BxDdTWBM%2FFX%2Fwfmosd%2FMVaCXJut60y0S%2B%2B5edkgyq1vwkxMcJ7Tae5R95rQOI9DlFhul4%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1461057963", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 505390-O1VMAP05
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: ASCII-8BIT
      string: "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>c71ca000-9ba6-41fe-a09b-9118d95686be</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Sigh</ProviderName>\r\n  <DateTimeUTC>2016-04-19T09:26:03.5845991Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>55f39c4f-cd2e-4b7d-af48-48e6e274aa84</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2016-04-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2016-04-19T09:26:01.873</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>c6f267a9-3b74-43d4-9daf-6bba32d0187d</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0002</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Tue, 19 Apr 2016 09:26:03 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/c6f267a9-3b74-43d4-9daf-6bba32d0187d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="WKENhjk1ZXNTSlYYUMVSBxos1ylP03TEigBBw1Ec",
        oauth_signature="fhlqnvUlPgowuQwjmneU3JbLq%2BppDwjHu9SCFfAwp%2BTKWOdPUwsOrPxQjCa3xwtmFEU%2BTk9i%2BsDot7eNY3u%2BbbWlUz7U6RlE%2BwPlGgaM4oVRB42BUkx0pR9ze[...]
[...]
