---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="xeptkvYr88zfX2VtugW6cZAW4mP42NP2NaQKO2og0Uw",
        oauth_signature="r4cKsQnKpQ2Ig%2BrHlw1SUt6jqUH6ahK9%2FjOoA73g5aZtlPA07iv3f2p8syE0ACS8cTX2xSb%2Badwjz80YmpQfQ49XpabcfFm7mtz9AtJT3evKoTDjzGycWyXXFdpyuQ4S%2FvHeiO34TIqAb6kQvLBvfdF54l%2FgRJHOk%2BqiJsv0HNI%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439980906", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>f12c8175-2351-4f35-9e8f-a57367c6a65b</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:41:48.6307054Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>3ad265fd-0772-47c5-8f54-d9042da99077</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-19T10:41:48.567</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:41:49 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="ANjVd01a3qwyhQcCNnIzV2QEj0SEq8H2xKEhBFK6Q0",
        oauth_signature="bXmxA1pdLfW%2FlfpNVZ1bVHteMQ4ayLB%2FNuWlHo%2FTfhP7jaoyY4PuQO0%2FR4GM8IIU2qV333Imq8klcX9GOHaXfhrRMMhwsrMNlf5u[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%223ad265fd-0772-47c5-8f54-d9042da99077%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="cRiQL8euJ9Bgqm2ZjBumWrhfs9SzfBlbmXVseaZzIA",
        oauth_signature="UBpMSeR2px4NgcXNIJ%2FVW4C2ZNB6cXfRzau7BQUoQZE7yUYmuSYWxfxZ3eLvpfOUeTyBflg2SX6nMJ25YQKgRF4BJ8p7Frw7y5v0HYPf8PZci45GOFmiRLmwVXLtcz%2BUlarLqX%2FMs2GHzDXrTwmp%2FBbjOmKDK7jKGTd9kGmhZA0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439980913", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>7bb2efc2-2a27-47c3-b5f6-edbb5b9e2131</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:41:53.9504759Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:41:54 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E3ad265fd-0772-47c5-8f54-d9042da99077%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%223ad265fd-0772-47c5-8f54-d9042da99077%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="fkTun04pjikhpRMJpj0M27aUqiiDWaCpTrXlDSUI",
        oauth_signature="uFn8S6dTHtBn19nQlUI9Ui3IsDcUpuvDtQWFy58JKWtSfDGqwyMblWtjbpAx9WkHvfZLrEARGZzNI6kzDokxKYSYxaVf%2By8fG6x2sx0I23jYITg7TOam%2B%2FhdoW31tDwSMaQIhWNze4DKdnIdUzoVcyZd5ZCPsTf7fXdul2%2BIWYk%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439980916", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>ff61220f-3f29-4a68-a142-2c8461c4723c</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:41:56.7897669Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>3ad265fd-0772-47c5-8f54-d9042da99077</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2015-08-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2015-08-19T10:41:55.79</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>d5868f29-48f0-46fb-9509-49c849a646e9</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0335</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:41:57 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/d5868f29-48f0-46fb-9509-49c849a646e9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="RForTTWFZC9W26led8DygnlHtIxBXbyeJxnhbv8w",
        oauth_signature="EpX%2FoIxW576XBfIsAg4j9ubPIpQNbGVR8BXW0H4MrnP1AoN%2BR6Rrmrw4211qn888q1PqjW97xiIC8BethjhPvOsYXpeIU%2BLTDZ0qaixkOhsPDph8GX1VXrvS4nxLMpG[...]
[...]
