---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID<TMUX_PANE>0=<TMUX_PANE>0GUID(<TMUX_PANE>2ba231a03-17d1-4e85-8869-6159930fc69f<TMUX_PANE>2)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="Ee5PEQsGXk3bpWxq5x3JNc3tJM7OA82EExA1hTfA",
        oauth_signature="Qj7mkSu73y8dFFOIwjPA3V5Q27CFnF4aNtwQ1dV3nWLi6h81TT<TMUX_PANE>FXxORwq59qiE4oBLz92kSvLKUUnC6oA5Kwu<TMUX_PANE>FMZKwQUnnnD1L7S3iPpWsIwfdMNRmU9it8l0UOTr<TMUX_PANE>FCs4sWdXTCA7PHaZOtrv9uXy8cYpi4EuglaFQBx2<TMUX_PANE>FxlTYs%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1403257169", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>38536f9d-8ff7-49ae-a62d-5c5107127640</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>YO</ProviderName>\r\n  <DateTimeUTC>2014-06-20T09:39:30.4143966Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Fri, 20 Jun 2014 09:39:29 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID<TMUX_PANE>0=<TMUX_PANE>0GUID(<TMUX_PANE>2ba231a03-17d1-4e85-8869-6159930fc69f<TMUX_PANE>2)<TMUX_PANE>0AND<TMUX_PANE>0Status<TMUX_PANE>0!=<TMUX_PANE>0<TMUX_PANE>2DELETED<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="WcPGvciv00KhJzF3wVBYu0TOgeSGeTMjldN5zn5LU",
        oauth_signature="dDlc4AJNn6DQuuRqyfgPPrzA6vUHPMHKKcnnRvx9de<TMUX_PANE>FGogmNrT65mowHVELQ30OHAX<TMUX_PANE>F0i5nTXfwtg3W0OOLtLCu7Q0TmUGUlU3DZKEYOVltEjP5iP1741keRAVdEOwIJ9ZiL7FqjvoF8qumVjd5R5fI6dxdH5sStGx12zCXrdw8%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1403257172", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>d843ca8e-dc4b-4b95-a543-664f2636ad54</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>YO</ProviderName>\r\n  <DateTimeUTC>2014-06-20T09:39:33.2380328Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>ba231a03-17d1-4e85-8869-6159930fc69f</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2014-06-20T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2014-06-20T09:39:31.77</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>3c0584f7-cd33-44ae-91e1-32b9106f04b9</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0055</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Fri, 20 Jun 2014 09:39:32 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/3c0584f7-cd33-44ae-91e1-32b9106f04b9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="9SxIokrE4jOD7N4JeC4zSaxq5nRrWGqnZ1W8f0b6DSo",
        oauth_signature="X9yNZa5T6lRi35SYQn5<TMUX_PANE>FqZfA57pY1nzXY7846jfsZJdQHmG6I<TMUX_PANE>BeIApAgGOyRdfdEienjMRXOvyMA7jgmwzI<TMUX_PANE>FTTWQLG5ufkm<TMUX_PANE>FEU<TMUX_PANE>FYiZgBruEpMzkXXZtzfD2Egc0nezZotaEF6H2l5VdJaMvdGRqi4TH9Khbh1q1s<TMUX_PANE>BaVoPo2nAcw%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1403257172", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>302c792c-abcd-4989-a6fb-aa9695f7a02a</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>YO</ProviderName>\r\n  <DateTimeUTC>2014-06-20T09:39:33.9244416Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>ba231a03-17d1-4e85-8869-6159930fc69f</ContactID>\r\n
        \       <ContactStatus>ACTIVE</ContactStatus>\r\n        <Name>Existing Company
        Inc.</Name>\r\n        <Addresses>\r\n          <Address>\r\n            <AddressType>STREET</AddressType>\r\n
        \         </Address>\r\n          <Address>\r\n            <AddressType>POBOX</AddressType>\r\n
        \         </Address>\r\n        </Addresses>\r\n        <Phones>\r\n          <Phone>\r\n
        \           <PhoneType>DDI</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>DEFAULT</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>FAX</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>MOBILE</PhoneType>\r\n          </Phone>\r\n        </Phones>\r\n
        \       <UpdatedDateUTC>2014-06-20T09:39:29.027</UpdatedDateUTC>\r\n        <IsSupplier>false</IsSupplier>\r\n
        \       <IsCustomer>true</IsCustomer>\r\n      </Contact>\r\n      <Date>2014-06-20T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <LineItems>\r\n
        \       <LineItem>\r\n          <Description>my fantastic invoice description</Description>\r\n
        \         <UnitAmount>1.00</UnitAmount>\r\n          <TaxType>OUTPUT2</TaxType>\r\n
        \         <TaxAmount>0.20</TaxAmount>\r\n          <LineAmount>1.00</LineAmount>\r\n
        \         <Quantity>1.0000</Quantity>\r\n        </LineItem>\r\n      </LineItems>\r\n
        \     <SubTotal>1.00</SubTotal>\r\n      <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n
        \     <UpdatedDateUTC>2014-06-20T09:39:31.77</UpdatedDateUTC>\r\n      <CurrencyCode>GBP</CurrencyCode>\r\n
        \     <Type>ACCREC</Type>\r\n      <InvoiceID>3c0584f7-cd33-44ae-91e1-32b9106f04b9</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0055</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <SentToContact>false</SentToContact>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Fri, 20 Jun 2014 09:39:33 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()<TMUX_PANE>0==<TMUX_PANE>0<TMUX_PANE>2existing<TMUX_PANE>0company<TMUX_PANE>0inc.<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="mvXQ8GJS5QmNuzYDJQA29fqjXchwMGJJ2vKovq7oU",
        oauth_signature="S34GmropWMEsj2O8vFkC4f4d7fLo1UR57QrhcLwfSOndtvWqdWmP2<TMUX_PANE>BlUzPhFU3E<TMUX_PANE>BTGIKfkdz7<TMUX_PANE>F0JSZg2E2R0YZ7X4sr8VCk3TjS6D4RkGdWTTGnhB2bw4wPN2mkbTrA0KgvBzUr3mnChZ19mE<TMUX_PANE>F0OEvDm6kpWNRMPy5nQJRkCMZ4%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439388981", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445760-O1VMAP03
      - 445761-O1VMAP04
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>383c38a7-0d3f-4e55-a598-63219b311e08</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-12T14:16:20.2929401Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>524e02ca-1930-43e7-9812-77a94889d371</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-12T14:16:19.54</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 12 Aug 2015 14:16:22 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name<TMUX_PANE>0==<TMUX_PANE>0<TMUX_PANE>2Existing<TMUX_PANE>0Company<TMUX_PANE>0Inc.<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="PsxCzJlShpr2RtW21NKHA34YRaFdEhXShI9tKwmJle4",
        oauth_signature="f9pAbhSQ5OgzRUyzeYyEn8WTZOJGAMzm4TSZeYNjdKbzBvlTSwIEKDQG9gjrieH[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22525e8fb5-f6c2-4781-ae61-01082fc85db9%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="fmWjzJenYh0nuXkydmnsB86cVZPquSPfyKOMz9Ppw",
        oauth_signature="jfveAtx7yIeB8QNhpXevARCGHqSXVKnSbfKOwsRqvKv5ylVymvCBmUWnIWB9x4uktE7X9F4rtI4ushsSDn4BTSXrI5OPsDoPiZ9PsxI1pWVP5cnKL9XcclqXdeMew%2FFXygGhpyWhE6%2BrnKAVAAh2ixtfJTRIpMc8HglpRnMlTZ0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439543087", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="165.120.48.19"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: oauth_problem=rate%20limit%20exceeded&oauth_problem_advice=please%20wait%20before%20retrying%20the%20xero%20api
  recorded_at: Fri, 14 Aug 2015 09:04:47 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22525e8fb5-f6c2-4781-ae61-01082fc85db9%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="S0Uu524Rejb16pJHCXfGDSj8ry1MLnUaEaBKlgoIg",
        oauth_signature="dq4LdN7Ae9U4V81aYDs2LSc%2FOxAkHk3PVpJpuVh%2FogePPAlHBi[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="tTUVuKBFmKXl2hSu3nzUqZQdPc0tCegkws4djChc",
        oauth_signature="pyMe%2BROc5Ufka%2BjcED4oTknj7TNIsFSw36SjvOiKjSR14Xmr98syeSqC77Iw%2FWi70%2BJjs3gbIuvb5ZB0aCOm8dlbFh66ng1Ei%2BbamFyEgx3[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="EvHk4gz90iVppgAAsyUD3Hy5kZwlT0938gQ40Dp7Q",
        oauth_signature="Lz5hvyIW87V24ImQb%2B5ftBLrmRfXujD74lfx8nadsMNi3GcrYEOw06pCDjSOJkzDna7kjan6p3y4BubO2n626Cr463BAxzRhI0noqGjpeDWt44USPU6tTimiQuo4[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E<TMUX_PANE>A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E<TMUX_PANE>A%3C%2FContact%3E<TMUX_PANE>A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="qIL3xQb1QavgsGXqUtjDsWgjGbNt1hbpOqdfjXmwQpY",
        o[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="ZgWUgNkK8qauJNc6K5conWwP9dnXG5zC0qb8VrWJpQ",
        oauth_signature="jMqqPfPoHPmL8aV8JSb15iBqoLRkp2zy6AKck9FXY9NNMvY4hc3FfLhkK8s9N56qRA1FVzSjyLBPb6uMU1QkvbjK6%2BxxeDY3lkWEKiFLpi[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E<TMUX_PANE>A%20%20%3CType%3EACCREC%3C%2FType%3E<TMUX_PANE>A%20%20%3CContact%3E<TMUX_PANE>A%20%20%20%20%3CContactID%3E8f9ea942-d609-4104-9fda-188dc0611585%3C%2FContactID%3E<TMUX_PANE>A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E<TMUX_PANE>A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E<TMUX_PANE>A%20%20%20%20%3CAddresses%3E<TM[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="8iOcJKVjCcdGGvT1VXLLVqTC5TtZAoeuU5I38vwM",
        oauth_signature="gp4%2BzdSkWcC%2BaYhGfkUdMhO6uIc7uN%2FdbfwUrPSYN1FOGWBaxC1N5CS12rP76nFP%2FmqO0SJdAQKwXUe28tIN25xEvHsSI7XXMOOCwn7IxH7utE1G[...]
[...]
