---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22414e863b-4032-4b91-8c39-4d3fb8f7b2c0%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="0FKPV6jk2O8juuks9TquziB1PvOtJ4NwpZGxeNkikHk",
        oauth_signature="bBslzecO9PXbtlm2Y4R0K%2B9vdH4K324m56jxD3RmsCgjHFrtaDAqWh1KskA0WoihK8Zp56mOKLqvcsoBJ0ub4S4wmAsy%2FigqHa4REM2OGIQr98oPoBzXKReltYgrX4TByHvXB2%2FxeDEAahStkJYjBDQz2zK2olnv5T66zwmUAIA%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439980875", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>3d7e0828-9da4-4dfd-b1db-de4f4af0479e</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:41:15.6515146Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:41:16 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22414e863b-4032-4b91-8c39-4d3fb8f7b2c0%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="KURKHPdJzB9P3z0t2mRxdRyheEeggBi8dENf3B3oM",
        oauth_signature="d6gkkthqF%2F%2BZGBPGI1TkH9w3WV0P2oIWskaavkjm1YfgOVtVJaz0pvuVut516qNKyrvPsrHIm69oX3dTSh5kuWuc5Xt2CbNujdDx1JG5ktugt9m5gUu2oEhTGNBpny45nSKMjuuoknZnWjQS5zVe6NOVI0LxnTv9ofDG6lZ21BM%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439980879", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445761-O1VMAP04
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>a195acb0-51f4-4e37-92a4-b6a2d6ae51cb</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:41:19.8708547Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>414e863b-4032-4b91-8c39-4d3fb8f7b2c0</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2015-08-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2015-08-19T10:41:18.343</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>70f9bbb6-0ce9-499d-a209-126aa9cf0118</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0333</InvoiceNumber>\r\n      <Reference>AB1234</Reference>\r\n
        \     <AmountDue>1.20</AmountDue>\r\n      <AmountPaid>0.00</AmountPaid>\r\n
        \     <AmountCredited>0.00</AmountCredited>\r\n      <CurrencyRate>1.000000</CurrencyRate>\r\n
        \     <HasAttachments>false</HasAttachments>\r\n    </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:41:20 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/70f9bbb6-0ce9-499d-a209-126aa9cf0118
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="n2XmR59FgFsiI8gbFL2CeD4iqtjDu1q62KAoKB8Go",
        oauth_signature="YzXMd6bI%2Fxb6WdKUS7BDgZPSek5sxeZmA5M0POH9nKExGO9yQwvmBpCc7B2ZQMQaJQV03a20GQxJZlR%2Flp94pxMB2w%2B1ygjmJsY7UgcCAhNv8rrXsjTDNIaMmuvS5Ex9XnHCd%2Bv3tJpkOK5%2FwUy7UFE%2BuoXIlT6XrRq69WTlW%2BU%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439980880", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>ee872c04-fa82-467e-90a9-e7911f439987</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:41:20.7997456Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>414e863b-4032-4b91-8c39-4d3fb8f7b2c0</ContactID>\r\n
        \       <ContactStatus>ACTIVE</ContactStatus>\r\n        <Name>Existing Company
        Inc.</Name>\r\n        <Addresses>\r\n          <Address>\r\n            <AddressType>STREET</AddressType>\r\n
        \         </Address>\r\n          <Address>\r\n            <AddressType>POBOX</AddressType>\r\n
        \         </Address>\r\n        </Addresses>\r\n        <Phones>\r\n          <Phone>\r\n
        \           <PhoneType>DDI</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>DEFAULT</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>FAX</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>MOBILE</PhoneType>\r\n          </Phone>\r\n        </Phones>\r\n
        \       <UpdatedDateUTC>2015-08-19T10:41:13.67</UpdatedDateUTC>\r\n        <IsSupplier>false</IsSupplier>\r\n
        \       <IsCustomer><VCR_DEBUG></IsCustomer>\r\n      </Contact>\r\n      <Date>2015-08-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <LineItems>\r\n
        \       <LineItem>\r\n          <Description>Line Item Number 0</Description>\r\n
        \         <UnitAmount>1.00</UnitAmount>\r\n          <TaxType>OUTPUT2</TaxType>\r\n
        \         <TaxAmount>0.20</TaxAmount>\r\n          <LineAmount>1.00</LineAmount>\r\n
        \         <Quantity>1.0000</Quantity>\r\n          <LineItemID>c1f3ac5c-5e3c-4e47-8641-eeeadc73d8f5</LineItemID>\r\n
        \       </LineItem>\r\n      </LineItems>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2015-08-19T10:41:18.343</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>70f9bbb6-0ce9-499d-a209-126aa9cf0118</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0333</InvoiceNumber>\r\n      <Reference>AB1234</Reference>\r\n
        \     <AmountDue>1.20</AmountDue>\r\n      <AmountPaid>0.00</AmountPaid>\r\n
        \     <SentToContact>false</SentToContact>\r\n      <CurrencyRate>1.000000</CurrencyRate>\r\n
        \     <HasAttachments>false</HasAttachments>\r\n    </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:41:21 GMT
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="EZ2jMc5h4H1P8x2Wu4R9APtfrfGdvLKV8loW2Kio6f8",
        oauth_signature="yR7AvkrJ7q52bP96QaUaBuywYHHXgeCkZSUOMWHbxMFk5vHPZDFf216x7A%2FMnnRB0Y0rZmglp7xTiSCTLmRgCwBKoyrlO2LabVzh6zw8qOZ%2BW%2F1fP%2BW86hCfhYHyG9w5AQ4nX4%2BmDxEqIALPxLS%2BrbxIOD0BbKC1FVjQigr%2BLuI%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1446645680", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: ASCII-8BIT
      string: "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>b87944c1-a2dd-4213-b4e5-1b456df2e0c3</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Just the worst</ProviderName>\r\n  <DateTimeUTC>2015-11-04T14:01:20.4961928Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>0b2568c8-d787-48aa-9875-65b717675722</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-11-04T14:01:20.45</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 04 Nov 2015 14:01:21 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="n3HGkJQa5lCfWPm3dHkAUwHA21RQ4SsYW4hKL7TJYY0",
        oauth_signature="aNBVNzVQyKhTNHqRV0UgOrscTFRlbRvoi6Aadg7MfFMZCC2rgKF1RSYKsMxOJHUCvvYsc0Bx%2FRJjGf3ikk5IsOxR07aHY4kAQX8oMiBH7[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E0b2568c8-d787-48aa-9875-65b717675722%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="hLqSmnbfg4PdjDTffIhM8SOuMbyU3Daxw9TOmB2R8Y",
        oauth_signature="jizgi6MuMmMnYdBV%2F%2B2oMeKhiodC6NiKRHXL%2BO1UWCoCpydke%2FN5GTBQ6scAbQ99onatF0j4LOvRvOaBvUYg0SjZ%2BFDnwbX3OcdqT1LKYtEc[...]
[...]
