---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="IkRSvnwQLo9TZ2t3L6oE2tHXoejfX4dC53bkew9AI",
        oauth_signature="ky%2FcVDs12zhgq%2FZqa4Eu%2BKNcF9BUVwnkfDJseaeed7vZseJsZDoqF5731pDzU%2Fu8Dcfl0TmIVKhCZZ3j7ekzP%2F%2BghHCOFAilH5K0BVQovtmv3fhwjH4wfbOk4HH9ZhiYTkUF55vYz%2FYrjuGfGijyVGNqukiYn%2B%2FC%2FMNEhCvkzuU%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1461057916", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 505390-O1VMAP05
      - 662486-O1VMAP07
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: ASCII-8BIT
      string: "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>4bf5c6e8-8f24-490c-9f27-e600881a4805</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Sigh</ProviderName>\r\n  <DateTimeUTC>2016-04-19T09:25:17.5674869Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>ab86bca8-17c6-49bd-89ca-b27fb28a88d0</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2016-04-19T09:25:17.507</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Tue, 19 Apr 2016 09:25:17 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="M1rvREqIN7tga4a0kICnnoY9DQ0PbgXApRbL03npYtc",
        oauth_signature="NffvK0C6drP98ixKbDgmYHpNqNV4upS%2BkoP%2FMsJd0%2BQL%2Blt8WgO%2BvcrAVblM4eXILKlN3pCHR%2FU8UiSPdErMW8pHGB%2FwY[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22ab86bca8-17c6-49bd-89ca-b27fb28a88d0%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="3se62SuOFKTJvVlCe2aLggIiQPy9LHKHyEoI9UyYoU",
        oauth_signature="RSZ8uTx2XR1xdh%2FBKsEqZHzkhxAz6T7lOxmOM2ynnT0Wf%2FheZR%2FbnGQY1ULjNWEzu%2F%2BRRQxrynpKWDbR3I8MsHsSmQk%2FwjK0hqytoid%2BJj2DNHBppYNM1k2kn%2FdlJE48FfsUqlV4vv%2FTAjV1m32h8OGhSCOf1DJcxsxsv23IynY%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1461057918", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 505390-O1VMAP05
      - 662486-O1VMAP07
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: ASCII-8BIT
      string: "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>9bbec6f7-33a7-4294-811c-f0b48fc19198</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Sigh</ProviderName>\r\n  <DateTimeUTC>2016-04-19T09:25:18.9403221Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Tue, 19 Apr 2016 09:25:18 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3Eab86bca8-17c6-49bd-89ca-b27fb28a88d0%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
- request:
    method: post
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3Eab86bca8-17c6-49bd-89ca-b27fb28a88d0%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%20%20%3CAddressType%3EPOBOX%3C%2FAddressType%3E%0A%20%20%20%20%20%20%3C%2FAddress%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%20%20%3CAddressType%3ESTREET%3C%2FAddressType%3E%0A%20%20%20%20%20%20%3C%2FAddress%3E%0A%20%20%20%20%3C%2FAddresses%3E%0A%20%20%20%20%3CPhones%3E%0A%20%20%20%20%20%20%3CPhone%3E%0A%20%20%20%20%20%20%20%20%3CPhoneType%3EMOBILE%3C%2FPhoneType%3E%0A%20%20%20%20%20%20%3C%2FPhone%3E%0A%20%20%20%20%20%20%3CPhone%3E%0A%20%20%20%20%20%20%20%20%3CPhoneType%3EDDI%3C%2FPhoneType%3E%0A%20%20%20%20%20%20%3C%2FPhone%3E%0A%20%20%20%20%20%20%3CPhone%3E%0A%20%20%20%20%20%20%20%20%3CPhoneType%3EFAX%3C%2FPhoneType%3E%0A%20%20%20%20%20%20%3C%2FPhone%3E%0A%20%20%20%20%20%20%3CPhone%3E%0A%20%20%20%20%20%20%20%20%3CPhoneType%3EDEFAULT%3C%2FPhoneType%3E%0A%20%20%20%20%20%20%3C%2FPhone%3E%0A%20%20%20%20%3C%2FPhones%3E%0A%20%20%20%20%3CIsSupplier%3Efalse%3C%2FIsSupplier%3E%0A%20%20%20%20%3CIsCustomer%3E<VCR_DEBUG>%3C%2FIsCustomer%3E%0A%20%20%3C%2FContact%3E%0A%20%20%3CDate%3E2016-04-19%3C%2FDate%3E%0A%20%20%3CDueDate%3E2013-03-10%3C%2FDueDate%3E%0A%20%20%3CStatus%3EDRAFT%3C%2FStatus%3E%0A%20%20%3CLineAmountTypes%3EInclusive%3C%2FLineAmountTypes%3E%0A%20%20%3CLineItems%3E%0A%20%20%20%20%3CLineItem%3E%0A%20%20%20%20%20%20%3CDescription%3ELine%20Item%20Number%200%3C%2FDescription%3E%0A%20%20%20%20%20%20%3CUnitAmount%3E1.0%3C%2FUnitAmount%3E%0A%20%20%20%20%20%20%3CTaxType%3EOUTPUT2%3C%2FTaxType%3E%0A%20%20%2[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="jLJOkZIP3mQYaJh6SUTExAQRvN7KJSFEscv8CiEjc",
        oauth_signature="luFcGyxNRdQSA%2BU8IxvH5SQgl5udM2edK%2FkdRvsGBpNkizvxgsR7ymNknBi1h%2FgDJoAFrb98%2BsRu1lAYnO9FUVIjGYs1WvlEO%2FUX9AZMaxHVj[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22ab86bca8-17c6-49bd-89ca-b27fb28a88d0%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="UYKlrvRX48P41wr8jak2qGUsZt2orON612evK7WzoEQ",
        oauth_signature="xFNFtJxhkGM7Zuvi4WkSpTgLS0mrDYQQeGNgfjwAPYnnQD4LvVjIpNxQOm1hkhV6OkR%2FWD8gIqJWjer3PKQH7Vj2rqNsgc2Hw0RKdsYnMt850oAEVYHF4U5pitvgBkB6CnLS%2FJ9SaDxaQDC1VBW5xFS2AOzo9mKwxNv9BE3aCig%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1461057921", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 505390-O1VMAP05
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: ASCII-8BIT
      string: "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>7b34d355-fb4b-4753-80a0-523d868459ac</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Sigh</ProviderName>\r\n  <DateTimeUTC>2016-04-19T09:25:21.5888607Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>ab86bca8-17c6-49bd-89ca-b27fb28a88d0</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2016-04-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Inclusive</LineAmountTypes>\r\n      <SubTotal>0.83</SubTotal>\r\n
        \     <TotalTax>0.17</TotalTax>\r\n      <Total>1.00</Total>\r\n      <UpdatedDateUTC>2016-04-19T09:25:20.263</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>0a9594be-85a1-4593-95e2-5b99a39d9644</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0001</InvoiceNumber>\r\n      <AmountDue>1.00</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Tue, 19 Apr 2016 09:25:21 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/0a9594be-85a1-4593-95e2-5b99a39d9644
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="6aogzuq1Rlu837c3c1TRgTQ4Qg8MAKGbIGVCv6dlc",
        oauth_signature="sEVcuHhkUCzN99mowIK%2BI7dBG2sK5WMCI%2BqY5vyfWu6de2INZJlzNDZxfaONhBMDygKswBKcY6hNAJ8zVrF3sAfomZvp%2BApDLEXNIr58KRQfEsSg%2BCTYcgsbUtaH[...]
[...]
