---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID<TMUX_PANE>0=<TMUX_PANE>0GUID(<TMUX_PANE>205e2b1c4-c93e-47ae-870c-fe8614099742<TMUX_PANE>2)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="lzV8Eq31vbLIZr6OSrxEPMt4Ma97djAXvNMiaETu1EQ",
        oauth_signature="t8Csb1bwyw3mVXkC9Njft8lQg3tk<TMUX_PANE>B1UWySqCzobJR2zW0Bq10hYOmcYMWyqF8eZWbZ4raewgbsBjE6NtGH3U8EwpasEKTlx<TMUX_PANE>FbD<TMUX_PANE>BxTv6h8pFAZgsiMSOMLVsCz<TMUX_PANE>BduiHwo8c26MzInbkrRBwJqJwHw<TMUX_PANE>BmV3qmold0iqZcFMZZ9Rndo%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439386467", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445761-O1VMAP04
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>8c8a946e-d56c-48d4-a3cc-0f995c0ef907</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-12T13:34:25.8969197Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 12 Aug 2015 13:34:28 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID<TMUX_PANE>0=<TMUX_PANE>0GUID(<TMUX_PANE>205e2b1c4-c93e-47ae-870c-fe8614099742<TMUX_PANE>2)<TMUX_PANE>0AND<TMUX_PANE>0Status<TMUX_PANE>0!=<TMUX_PANE>0<TMUX_PANE>2DELETED<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="LueKtfYryzTifGOrdGTMiGCrs0Oj8g8fg[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/eefa7c5e-921e-4b3e-bd00-12a2b69d1e71
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="gVzzKDXWAty2MOLOtc045fhzFjLyxd6mKPTewbkHE",
        oauth_signature="ohLTZco7jCxfLW2asZ<TMUX_PANE>F6JrTPVKedBaYUwonept4wumDys<TMUX_PANE>Fcf8lTwqcdaiRp<TMUX_PANE>BfZku<TMUX_PANE>BCz<TMUX_PANE>Bt2azNPw9kLZ3L<TMUX_PANE>Bh9loVU6vdmJ4F1L8acz4WLGWTwbFH51hHc6t<TMUX_PANE>BrECOfoJtKaykhCoRIXT7<TMUX_PANE>FrX8i2qstmIWV8vAF0JLG5HcbZmOn<TMUX_PANE>FOA%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439386471", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445761-O1VMAP04
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>d89c4a0d-5319-4d87-ba46-2e259b115c00</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-12T13:34:29.5162821Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>05e2b1c4-c93e-47ae-870c-fe8614099742</ContactID>\r\n
        \       <ContactStatus>ACTIVE</ContactStatus>\r\n        <Name>Existing Company
        Inc.</Name>\r\n        <Addresses>\r\n          <Address>\r\n            <AddressType>POBOX</AddressType>\r\n
        \         </Address>\r\n          <Address>\r\n            <AddressType>STREET</AddressType>\r\n
        \         </Address>\r\n        </Addresses>\r\n        <Phones>\r\n          <Phone>\r\n
        \           <PhoneType>FAX</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>MOBILE</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>DDI</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>DEFAULT</PhoneType>\r\n          </Phone>\r\n        </Phones>\r\n
        \       <UpdatedDateUTC>2015-08-12T13:34:24.757</UpdatedDateUTC>\r\n        <IsSupplier>false</IsSupplier>\r\n
        \       <IsCustomer>true</IsCustomer>\r\n      </Contact>\r\n      <Date>2015-08-12T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <LineItems>\r\n
        \       <LineItem>\r\n          <Description>Line Item Number 0</Description>\r\n
        \         <UnitAmount>1.00</UnitAmount>\r\n          <TaxType>OUTPUT2</TaxType>\r\n
        \         <TaxAmount>0.20</TaxAmount>\r\n          <LineAmount>1.00</LineAmount>\r\n
        \         <Quantity>1.0000</Quantity>\r\n          <LineItemID>c1d865ae-c1cb-44cc-a549-8ae9a4a40719</LineItemID>\r\n
        \       </LineItem>\r\n      </LineItems>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2015-08-12T13:34:27.503</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>eefa7c5e-921e-4b3e-bd00-12a2b69d1e71</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0128</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <SentToContact>false</SentToContact>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 12 Aug 2015 13:34:31 GMT
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A<TMUX_PANE>0<TMUX_PANE>0%3CName%3EExisting<TMUX_PANE>0Company<TMUX_PANE>0Inc.%3C<TMUX_PANE>FName%3E%0A%3C<TMUX_PANE>FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="8BKytvFiclNjbMYY7W4kerRt19Xx[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()<TMUX_PANE>0==<TMUX_PANE>0<TMUX_PANE>2existing<TMUX_PANE>0company<TMUX_PANE>0inc.<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="YExvIlV3bfpOXxMaC7YLpp9oH7GJ1m1AKzVIdm4Mc",
        oauth_signature="v9inbp5RvbvZ4BZRnaiXMzBqAiVxSgNY6zXvXt4eGBjVwDw25X<TMUX_PANE>B2eGaYjVMW95GmNYz<TMUX_PANE>FxbxeqcbNkyOa4JlKxTeED4nxLJu<TMUX_PANE>F<TMUX_PANE>FOdQXpieq78PP3oaFogPCOYkefVnbyacrqcVf<TMUX_PANE>BfE34MILqqrF<TMUX_PANE>FCozvolgMsltifP4xhBjRp53n0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439398318", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445761-O1VMAP04
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>835fa43f-98be-4019-ae64-419bc8245aa3</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-12T16:51:57.6459269Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>b5dd802c-8351-4933-92c1-22f7954f9106</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-12T16:51:56.643</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 12 Aug 2015 16:51:59 GMT
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A<TMUX_PANE>0<TMUX_PANE>0%3CType%3EACCREC%3C<TMUX_PANE>FType%3E%0A<TMUX_PANE>0<TMUX_PANE>0%3CContact%3E%0A<TMUX_PANE>0<TMUX_PANE>0<TMUX_PANE>0<TMUX_PANE>0%3CContactID%3Eb5dd802c-8351-4933-92c1-22f7954f9106%3C<TMUX_PANE>FContactID%3E%0A<TMUX_PANE>0<TMUX_PANE>0<TMUX_PANE>0<TMUX_PANE>0%3CContactStatus%3EACTIVE%3C<TMUX_PANE>FContactStatus%3E%0A<TMUX_PANE>0[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name<TMUX_PANE>0==<TMUX_PANE>0<TMUX_PANE>2Existing<TMUX_PANE>0Company<TMUX_PANE>0Inc.<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="UWBCAnEbkm0Ne8rjnQxlh2Z2MQG9w852lghILR02zxQ",
        oauth_signature="W4uLVQdL4ViOpyx<TMUX_PANE>BEnCCvtF1AekEPFxfrjZciiGw59<TMUX_PANE[...]
[...]
