---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="qFDtv4tvWNLYFmJfUMjF5WfyIYPbAkuYp8jRMEo",
        oauth_signature="oY5svjAS4pXHbU9OsT%2FBP8%2BfxFf0Dl5JZDUc4%2FbCM4ceVP22pUXSfN6WqhtkSRq8huh7Ca9K6lori8HpOTJxY8OXn7g7TiIeXOooquLvOqokFEHH0xNvcT7GJOBhXDY31h1A5lvZYGv8FcNlIGsy7iJj2QHsE6NS11BLL4KNcdY%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978903", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>fd569485-d83a-451c-8e0e-161a291aa117</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:08:24.4406668Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>a8dccd94-331a-4396-86a0-f924bdf237b8</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-19T10:08:24.41</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:08:24 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="tMMaSKoaMg9oXeqOyFih1ZQrsI6K6MaoXzo6gkSg",
        oauth_signature="dAFVqRNbfL15NQBLlqSwduSSmUzjLyk70IfLo0rQpN4Hcf8BtRTwOSdW5TYa4VAiRnLZKNKtb5%2B8a%2F%2FOXdZgpO3UPQ0u1WnI2PYWfHwi[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22a8dccd94-331a-4396-86a0-f924bdf237b8%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="T9BDiOnlbw0QvFAYNtsBei3gLGE78o7E9iopEquzE",
        oauth_signature="NH4ZGBh3Os%2F7Sp59BVumx%2F4%2B7SEN4%2BovcBl9IhIFNFiK6vft5uyhQzcCIq70x%2Bhwo3j4sPrUUJLRY3D6B%2BcPbhTq1YeZUBWppcXw8rvEasq89egf%2F%2BWRoX8XwVjtSlLL0f86Bnqd3YsoS8P6SpWKpjY85Yq0BPVm1ZCzWMZxTuA%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978905", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>a24f2e5b-40e9-45c8-b36e-aa6a31d088cd</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:08:25.9300936Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:08:26 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3Ea8dccd94-331a-4396-86a0-f924bdf237b8%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="RIrr6wsOzniHKSziZYc42fbSO73dN8X7AfbwR58bY0",
        oauth_signature="NSntdrjluSQnixINmsRiEZNi0Plbd2F8FeW5NxY%2BFTY4zBJKrrFpPENiNk4pH%2Bm3lDhfRONY9Rr%2FYxmqZ5N0WQAaRGJJPUbGys3cMhQsxRQmkXQx[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22a8dccd94-331a-4396-86a0-f924bdf237b8%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="Qkb8EYEJg3MGTCADUWiGJuoVuqawTwAXck3KkgI9E",
        oauth_signature="rMjATNvdDFij91pkOeAkpqcrYHp9cmbmvYBOplWlBqdSy46Ow0k77oZRzHHwhs1u5sq5%2BUHMnPuDDAbi6N5AWYmioa1dNyPzQTx3PQ4MclppMZmWGdgTRVmDY89isLQeXn%2F%2F9pQG4ErixcQXhdpnS8SZ7sFnyyNkvwRJ4S2ckWo%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978914", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>398c0a17-42f3-4cdb-b580-9d8638760a87</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:08:35.8915806Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>a8dccd94-331a-4396-86a0-f924bdf237b8</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2015-08-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2015-08-19T10:08:29.59</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>3eb9c77e-accc-433e-8deb-dd4fe946b1be</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0325</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:08:36 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/3eb9c77e-accc-433e-8deb-dd4fe946b1be
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="gMgYyvUrifoF9cVOCUZ6Pwnc2o8VJVO0aHjlVe8geXM",
        oauth_signature="Zh7cOCLgaUm7cIcXy%2FGQLpjj91Xb49DOK%2FnHoLcWAxipHENpFXXJ3BSdO0ddGxZD67xGqmKlQhF9GlAnX2a0RWgk8oWn1vtsKZNtS2yygSf929kudDH2qVHPl2CBj5[...]
[...]
