---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="rtLx2D2JHzxIc4Qn6MNpVvmjZK8RuubGPjr2dDeKlo",
        oauth_signature="wmp3e05jLf3CsgXhDJP4nTMhRwyk4PlArLPAehXOu4FS01DIWYj381nR5EuLsvxUi5TrVTKOm9XrGfiwKzIrs1x1SkJROtBFuFmYZKc0H4hdjB%2FBr%2Bmvjra67q%2FW8qcVLSIa1YpMA3k%2FXAuUFW6iG2ztW4z29XQH9vjSNYM%2FqZ4%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978797", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>c0712938-3c14-48a6-9b88-c2cf3d9a2182</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:06:38.3632671Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>8b863561-abc5-4df2-9d2b-2dfd27f0ce7b</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-19T10:06:38.3</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:06:39 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="Hyv6oLQS1clrSFJXIUhnD04eNmpgpvUoaPWylGnZUVk",
        oauth_signature="D3YGnH6uM1Wt57rctBWkSzUxjOcdTMs68ib7TT6sSoAC98YvfQUazqZRk%2Bak3aoOHOz7HWViVUS65Ypau5LGADubULK0x7DdX9XJQxET2[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%228b863561-abc5-4df2-9d2b-2dfd27f0ce7b%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="NzOVEzskDpc4dfntKDG7y63TtLVD5L0EtLvrDPUH8",
        oauth_signature="YiLPpG2vlf015KWW%2FU7uhDdpJhRVDYtBc9w20miXnarajFQjYsidzpr3QePA%2BYY71qsJDfL%2FYA%2Fre%2Bm5eoGtHZBMV0iKNX6u2SWGAqFnF4HFPZStPiDalTt3BWsUPwqtJtoFmzJB0a2vcrEf5kz1f426XHO3z6g9XFVgM04lKfM%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978799", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>6055eaa9-9a2d-4a00-b822-0cac91aea8d5</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:06:40.0793441Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:06:40 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E8b863561-abc5-4df2-9d2b-2dfd27f0ce7b%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%228b863561-abc5-4df2-9d2b-2dfd27f0ce7b%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="g89AvXCKA1mLHKgCqcXgSVlkBAlcUWVuJKjOl63ay8",
        oauth_signature="oDzWAvSj2zsqMC5MHJe7WuoV7nlqN0BIOIAaEXpbpQChp1uyRT6C2sGh7c9%2Fq2uJ%2FAlXdYWKttGVdQz7kWlu3Bs2xVkoHuOcs8qcqaTqSV5QDAEAWxPEp%2FAAZ1gp8t480eYEUqwRo2Kcgf8gNENM0PXBH7h8%2FzPe0%2BJb7YIkV68%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978802", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>b0ba1337-e153-4568-97f0-37188fcb87f6</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:06:42.7085021Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>8b863561-abc5-4df2-9d2b-2dfd27f0ce7b</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2015-08-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2015-08-19T10:06:41.977</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>b95f87fc-e79a-47b0-870c-08cd964455b9</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0317</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:06:43 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/b95f87fc-e79a-47b0-870c-08cd964455b9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="wyTLH14Qm7EExCuV4UVFAx8aNdwJDPaARZrUbkLJHno",
        oauth_signature="bTiYmwY8byDQ8FYJJnn2QXeWp1lOry3uYU47Dn%2F8rm2H0OuJE9ZUS4mROa4s5g5iUeysGEu2c%2B1aDdYbDRkS%2Fxe%2B3seGu3JBMmtf9wscFPRMgoioV7IfwA9v9u[...]
[...]
