---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="5QoMk9eyuqS2EB7NRpHJX1YKZUASgzAUMP5wEiSb9s",
        oauth_signature="tAnOM15VB2a%2Be%2BQ2lq%2Fhkqc4d%2FXIshjWMvocLL5eWAtb8WJFiuD4hEpMyOkViGPABeFC3HUqoMB2aHRdrl6GvyKo%2BQG1uaLfheN5tSb8cLkZB8xW2wQxuEFM8VziJ1quv2S7QwjL3p9vWy2qh3xlAxrb%2Fvjhwfia3xBDHxr97a8%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978807", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>d9ca5129-85a9-49db-8580-8d5ff85448f5</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:06:48.3321144Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>23f5131a-130e-4ee9-8d8a-bd55d4aa8d09</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-19T10:06:48.3</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:06:49 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="QONOIzeAmAYINDITJlEMld8egPkSdFJirvkEqSzWwvs",
        oauth_signature="cwgP9Zk0J5%2B5aGZs%2FMuIHt5jAd1Bkk7Hx6PfuH04lvWfjoTktMcnk8QtXZC0HuF3%2FJMGZioJe8sSc2vK5HvnPIHC1DqeAIzBVUTkB[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%2223f5131a-130e-4ee9-8d8a-bd55d4aa8d09%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="i2KEHndue8O9vewAKQ3iMRBCiwAO6HqzKJemXF70DU",
        oauth_signature="E%2FmebvaqrHUIUPnVm%2BSQatoAHSrISDNpKJZcTl2vKpwVyRu%2Bs0I5aGGIUywtGdSh7HS4HHWInG85Sg9%2FldaHtpHuKrOyFXc9CHBZTTN1H6IBhFD9D4FF9kvPsLQ%2F5kw8PxsoucISkph%2F2hhhN7v%2FKsR%2BaUWig6GKtp%2F6Yjy1lcM%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978810", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445759-O1VMAP02
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>a5d52435-a28e-4cbd-8eff-50e7f4bd178b</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:06:51.9859074Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:06:52 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E23f5131a-130e-4ee9-8d8a-bd55d4aa8d09%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="qIeupX1pbLhmVvMuY9FHNcEQpwhvpgt4ccqPnuxxc",
        oauth_signature="QvWOfLempEhKd3FMVk6I1itd5tbJml%2BFezeMdhtbuH9tMx570Dja5SnnWN4%2FDUIVu%2BdTNf2Xy0t9p0NODP%2B7XRojJyf%2BZoBJsbbG7DjSIIiE4[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%2223f5131a-130e-4ee9-8d8a-bd55d4aa8d09%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="k7eIzBZTcrYXiK1SEEy94tzty2DcPQTH271OSP97oY",
        oauth_signature="IKSvLd6%2FNhdsDAPU1Z4kajbpdppDbO3O7LOyLfgRsuvlYBDKmV5%2BPTQDtmfrr0XFjj3Eui5JqAQZ9Zio1LpuA8wplltUvaqUB4EAOL5X3ecPYYM3Bc1Lx1%2F5bLJA72tg5aGtaDgkBMfEyg9pGFZn0GKIIlbVtpZeX5WYBfJr3w0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978817", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>c2681099-7895-4d22-9eb1-3bfde908a9eb</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:06:58.4028063Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>23f5131a-130e-4ee9-8d8a-bd55d4aa8d09</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2015-08-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2015-08-19T10:06:55.68</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>4e4edf60-5e7a-4269-8b53-746c32675436</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0318</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:06:59 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/4e4edf60-5e7a-4269-8b53-746c32675436
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="op5briY6wvFuyer9uW8hiuxB2oAcjpreRkLLjShwxE",
        oauth_signature="nL%2BooJmrnBcoAhhweeLr4N4xJ3Px3CB7WQkawkVkxUkXMOBn15kYWbiD%2BII7RUisde5gioFTbd82cMNs9Qob07MN%2BBuVQnCGKh3Me2juvsi7%2FIFFJQujabEECdR[...]
[...]
