---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="6KbmDT9OxC1nVN4bM9x81GYPt8BwNvtnwu1vvDifVQ",
        oauth_signature="U7jGJ14sjtS6GmuWWLQtaRETIFH5wf6KmbAmJictVedZsbRq1izWgQKBT6PKJNtsKR4iGwpZiAS2pAjY30AdqPsj9z%2FU7sdJ4vqT5v%2F5lwyIt6QY5ZTxJLWCqxaMw%2FSMlBBfoTn24R7AehoOXWj%2BHTZD2UHElt7BGNNDSqks%2BQ8%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439981004", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>b074e597-c00e-4cdf-9292-a52689bb4a58</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:43:26.6018454Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>2b29accd-db5e-4201-90db-4f38184f40b9</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-19T10:43:26.523</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:43:27 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="E8dviSTdlZyp6VnhZxmlc3oLIQzLIVYAfERtIT22QQ",
        oauth_signature="phpQIJt3fkIaVaLMpXXTac%2FlMOmDQGgRLhsheV8mB1gYOiVGXBBef141RQhPt5RBSMmQT72JqEWI1%2F8kZfFYhh4GFHQLCYpBgUbAvHD%[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%222b29accd-db5e-4201-90db-4f38184f40b9%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="0oLIcw1Ype3IVhG8hFy5BlAnuLCVbUikTt6fFe4FI",
        oauth_signature="MeOf8GJKyVJT37PUFnUes5DBMlvEuPvvW0f5aOWILw66D%2Fnd16Pknnvon1T%2BV2%2Fhv%2BZVBJ6HkmMQacj35KFX7mGFd0JPNrhftBKZvUk55T786hkzILKfdwL3qTVmMYxPzTY3CbINt0LdKVq8RZitdyCcgCV%2Be9v1fos0WPfqOEc%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439981009", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>4a531a75-c9f0-4807-a6ae-015b7ed70957</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:43:30.3459654Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:43:31 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E2b29accd-db5e-4201-90db-4f38184f40b9%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="AOi0JLKOcTUMHtWRysIRHlWvXElsJa3vmOYLkPlWiQ",
        oauth_signature="Y0m4LsrdZr%2By1Y%2Ftgl9k6NUA003ZehGgBhFZqM1MbmF3TWwCBiu9sjnaNTjJukZyAyVZIGzAiYkrh4mGHZYFCyVa7HoMm67EnI9Rwusry6pGxP3suy[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%222b29accd-db5e-4201-90db-4f38184f40b9%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="039Nmp5w5mm3ZTt2nV1iXBPBePSZu1NMi7pS0Rc",
        oauth_signature="dnevgpL0X%2F%2FwftIWif9rUNTdPE3oONY0BtsCUGHwL%2FKWjyC4uuh%2BblLo0qIw8XteMMFOdKxI5o2E1aOwZThZo9YAnt6f8zX3ycsxeAd%2FNlBcqzW59SIAWzhs%2FUvBptY7uXuc9S234p%2BzQUcX6kU0nHiyJLLtmneymWyaf9NPgds%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439981013", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>1f4a7c0e-c656-423b-817a-2db39f4cd138</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:43:33.7780754Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>2b29accd-db5e-4201-90db-4f38184f40b9</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2015-08-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2015-08-19T10:43:32.233</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>78fb015b-bcd7-488e-853e-6a5f1b571f76</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0342</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:43:34 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/78fb015b-bcd7-488e-853e-6a5f1b571f76
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="pHpF6PXYE5N2AQqjwOrSkGl2gBYHILXXCmEM9QXK1E",
        oauth_signature="AeOQnUT6KJubgFcIRbn%2BreAoIYeK4RPJLAHxFTVTxXIC9HhmKhlxG2bS6IiuhbfAaRRgHl2UfjilM51wqQYKsa5ifInLQDY2Vwr8olEbl2JrfhxwqDGRiaSDZzERxfv%2[...]
[...]
