---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID<TMUX_PANE>0=<TMUX_PANE>0GUID(<TMUX_PANE>2c216c6ed-51df-487f-ae4c-5b43691f44a3<TMUX_PANE>2)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="RDAQVjcfFjwW9g3OIYOLhSb8xgTY4Fl33RcqcUUYiq8",
        oauth_signature="hP<TMUX_PANE>BOsyuYiqIQDOjHutCf2J3nEWlsgST9ZsI8YHZt<TMUX_PANE>F4QvPmkVdthofJ1XXtbkgBjeC<TMUX_PANE>BVqSjdMvJvkd9fjf5Iutcl8IHIt9FomkXsCoVji3DG8c8ilhdTCOVHvKJpYfVa30DF83raA71EDBA<TMUX_PANE>BELAzcHQBwylsJ6KkfQ2gXmqJI<TMUX_PANE>Fqs%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473139", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>d4fbe916-0c11-4947-a978-ff6786279565</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:38:59.3632802Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:39:00 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID<TMUX_PANE>0=<TMUX_PANE>0GUID(<TMUX_PANE>2c216c6ed-51df-487f-ae4c-5b43691f44a3<TMUX_PANE>2)<TMUX_PANE>0AND<TMUX_PANE>0Status<TMUX_PANE>0!=<TMUX_PANE>0<TMUX_PANE>2DELETED<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="0MhuJ7ot4AcxjF8sa0Nz8WGShvk0ZIFmydLFir7LM",
        oauth_signature="j<TMUX_PANE>FL16NzDp<TMUX_PANE>FxIDYnZqhXI0Ao7gPLa4s2I7BTkJyIAAazfJ2JvXb84GrA3ST6KWmdbQtbxF460VTaIjiu2q03oVmPMV1PJkz577vwCwdgINnYMlm9EvJ5Bx8vcpIszNdfnVJeVlQq8wJT6ayy25RW6OtLTXLgU<TMUX_PANE>FdNyS7KXB<TMUX_PANE>FQix2s%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473144", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>9acf0c9b-22b6-4786-b875-feb01e147479</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:39:04.0743896Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>c216c6ed-51df-487f-ae4c-5b43691f44a3</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-08-14T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-08-14T09:39:02.623</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>1d69e7f7-3f1b-42c4-85a6-549372397fab</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0109</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:39:04 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/1d69e7f7-3f1b-42c4-85a6-549372397fab
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="LVA2ZkBTvj8EKqdZLQL9imlY79FV5LSFFj3H1eNq3Ts",
        oauth_signature="qOtnwKiMgEOuYB8fYjulGC6IJXGXc16EqZ<TMUX_PANE>B<TMUX_PANE>FCazwJclHLUDZN1OW4nt<TMUX_PANE>FLoJ1wD7ejeUS3oMCapiMG2EXChUtWrgU<TMUX_PAN[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/56772ff2-ac87-449e-82db-58afbe69aa18
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="NOizbS10Q9iUjECX7wSmQcbJuv3tJOrKqzabccgs",
        oauth_signature="kPzOFF<TMUX_PANE>Fq7czuhsagBA4uMxA3lbeHUHRG1azZSmF4eFYkKclTiPu6sBMKuFp20ZgJDtREAvd0rVp3y0S<TMUX_PANE>FTAx7JnFibTfB5wWDgWeAivxassXzvHPG67IJu7HNZ8<TMUX_PANE>BZ4z5hDKMIrblx6uryuE7uuvvIKXUesDVCgVBTtw2oZaJucPw%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1407407954", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>c3714696-ad45-4f16-98a7-efd944aa2bca</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Beardstroke</ProviderName>\r\n  <DateTimeUTC>2014-08-07T10:39:14.9580331Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>ec21da81-08ea-4e8a-af37-9cc7bd7163ed</ContactID>\r\n
        \       <ContactStatus>ACTIVE</ContactStatus>\r\n        <Name>Existing Company
        Inc.</Name>\r\n        <Addresses>\r\n          <Address>\r\n            <AddressType>STREET</AddressType>\r\n
        \         </Address>\r\n          <Address>\r\n            <AddressType>POBOX</AddressType>\r\n
        \         </Address>\r\n        </Addresses>\r\n        <Phones>\r\n          <Phone>\r\n
        \           <PhoneType>MOBILE</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>DDI</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>DEFAULT</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>FAX</PhoneType>\r\n          </Phone>\r\n        </Phones>\r\n
        \       <UpdatedDateUTC>2014-08-07T10:38:54.07</UpdatedDateUTC>\r\n        <IsSupplier>false</IsSupplier>\r\n
        \       <IsCustomer>true</IsCustomer>\r\n      </Contact>\r\n      <Date>2014-08-07T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <LineItems>\r\n
        \       <LineItem>\r\n          <Description>my fantastic invoice description</Description>\r\n
        \         <UnitAmount>1.00</UnitAmount>\r\n          <TaxType>OUTPUT2</TaxType>\r\n
        \         <TaxAmount>0.20</TaxAmount>\r\n          <LineAmount>1.00</LineAmount>\r\n
        \         <Quantity>1.0000</Quantity>\r\n        </LineItem>\r\n        <LineItem>\r\n
        \         <Description>PAID WITH PAYPAL</Description>\r\n          <UnitAmount>0.00</UnitAmount>\r\n
        \         <LineAmount>0.00</LineAmount>\r\n          <Quantity>0.0000</Quantity>\r\n
        \       </LineItem>\r\n      </LineItems>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2014-08-07T10:39:07.11</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>56772ff2-ac87-449e-82db-58afbe69aa18</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0050</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <SentToContact>false</SentToContact>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Thu, 07 Aug 2014 10:39:18 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()<TMUX_PANE>0==<TMUX_PANE>0<TMUX_PANE>2existing<TMUX_PANE>0company<TMUX_PANE>0inc.<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="SZW2Zr8kHiYqmYzfC9WuiMvEvVDZMr34fSH4pqi8",
        oauth_signature="Pi<TMUX_PANE>FZwVo5wyKDbTt8dBfe0kyl76UY2kj3G7Hhb4RF9AuEdvCg7OjrHe<TMUX_PANE>BJTalCeJpXGt7TeO4P6AP32HOEtWIrTal3zN3bEY<TMUX_PANE>Fynf93zCl6njRfjXfbkiY8UctxwkWh5W70jVya1AoUVtjQxKCQEpW7<TMUX_PANE>FYXvWhPKWl7tbueuNUwIfUw%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439389114", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445760-O1VMAP03
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>e8bc0531-504c-4d65-bf2d-bb9c003d9cce</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-12T14:18:33.0984854Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>c4b03501-e097-4c59-ac81-8dd63f8c51c2</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-12T14:18:31.947</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 12 Aug 2015 14:18:34 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name<TMUX_PANE>0==<TMUX_PANE>0<TMUX_PANE>2Existing<TMUX_PANE>0Company<TMUX_PANE>0Inc.<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="PJRTVCQDzEowzA3HwB6hendwoUdeuxVXUzMxtY9xmPE",
        oauth_signature="A8f666giYL2sa7C8FnbhiP7KNj3RvQUFFr<TMUX_PANE>B1XriWWmxXZaABFggh[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="LVKLWy2H5EK7G3cRYUEA4mQn3fytLAo7ILDOpZdN0g",
        oauth_signature="qaQXu6Envum11fRscTFtHWhL6Ha00BzrGB2lX93uj%2FBikujkeVgy%2B7WO0lM1gQslYWlTAVFmfGOddXg9F9O2WuF7bTU%2FsckO0JT1hzSRjEjyJ%2B%2FevnPpJNHrOGFnn8hokjaKxDqiWZeeEiLhPrXEbrylDnvcW0[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22f9a4cd77-4766-4602-85fd-d20d159c74eb%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="ZOxjtyqtOJXtMDXQxLTCJh5GaBOa3PTQDWJzqVWF0",
        oauth_signature="VSz99D8E%2BtDCU0fGFRE4SfGoQ%2BLaVi4JV%2BE1JoIEU8qZ8qlvVJuTvW070zHYil9wz70HdB5IUNlBQmKJ0tKCO1SL4%2FiwAyKipItcmqvJmJv6BUCc%2FnQKRrEJ9yUsYLWb8q6Yc215xB2Ea4IH7FiC96sZPU0yUly70kU2jGkHeNk%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439542895", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445759-O1VMAP02
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>3294ddd0-92d3-4029-8f07-4ec8c5fd8de3</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-14T09:01:26.0567029Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Fri, 14 Aug 2015 09:01:36 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22f9a4cd77-4766-4602-85fd-d20d159c74eb%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="Wrez98sQE98xYoyRjjeZcWtiKXxtfm98umIVTee5Co",
        oauth_signature="BUnPdEa5zeOdClWiMDsAvS%2Fp1waSCoLXJL5XQ8NfxeeeC45iIh3[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="QQZS4ITYGpiY2al8gqhsJlf6jhjEUlwe5C7jzWIQ",
        oauth_signature="hXWZ7GpDg%2FaFap3jX0ef7Mi3UQzotm%2FS4ef0EOvco1yhau7bf%2B8IheXn2s0QoHAwA5722XdB74fls7kT6hy9RwJbRzWAPpSgoB%2FmfYf78oWBA[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="88zzQIHFeAF1HKJSNOMqAdbP10LFr0JGa2uPcrCHezA",
        oauth_signature="Ik2RhGjxplqySg5DraVWk4dcI2UGfShxNXPC1nSh6MgWZ%2FOXEOabeM71emyTFxZJSK4pdIveqveBqwUezZh%2B%2FsyIPfoGI6zMDfb2uaZNl5t2VFcmoaeF6F[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="WeILFldmAdTL3TGohYSBKjfNSdEAzbfJThHFALQwq4",
        oauth_signature="oH54duvaVNaclK1cDwbr76D5ek5e09XoMME2F6HJwZIv0VpH6Ps40rA9qkzPtHKIazi2Y9TBidKwXyGM0UCvby2xc1m1tA%2FXQFR3a5Zu26[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E<TMUX_PANE>A%20%20%3CType%3EACCREC%3C%2FType%3E<TMUX_PANE>A%20%20%3CContact%3E<TMUX_PANE>A%20%20%20%20%3CContactID%3Ed99125e5-4663-44f1-8d6e-35d5befb8a0f%3C%2FContactID%3E<TMUX_PANE>A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E<TMUX_PANE>A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E<TMUX_PANE>A%20%20%20%20%3CAddresses%3E<TM[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="GnEXoCgbZ1zZU9xCufwrH5CrAt2GSbjuh0OHMj6P3A",
        oauth_signature="h9BnhTzkOOCT8rVkr3BtVXzStKSqdFOO00nzU%2BTRNDywGNfKNvbLjGCWJHm5xbdRgowP9yO2HmGWilLGUTpSZt%2FtlNnJVFRJVS2dCUx1NB9OROTJpQ[...]
[...]
