---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID<TMUX_PANE>0=<TMUX_PANE>0GUID(<TMUX_PANE>2c1e5c2ec-3ce4-4b4f-8ead-3ce395523717<TMUX_PANE>2)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="UWhswVFfA3iX0wwsHUrWSvpBRtArGHyUKtwkNIGTJiI",
        oauth_signature="hZq4sIufoDMbtXew1TGJBhIv4bWandnbLBrvPkAIlOiWuoPZbvdzWSof66sXd6tEzveXImakFSqiBni80ALN2KSYT6nVoguqPMGzdnnzwynNCLuYri9gkt7VHQ8L8xgJxX5XPSXhni2levLPEWpRpp4q9sgegSphgDvKmzItdoY%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1403257153", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>7b49aa66-4c84-46b9-bdc1-297a3e705863</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>YO</ProviderName>\r\n  <DateTimeUTC>2014-06-20T09:39:14.377391Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Fri, 20 Jun 2014 09:39:13 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID<TMUX_PANE>0=<TMUX_PANE>0GUID(<TMUX_PANE>2c1e5c2ec-3ce4-4b4f-8ead-3ce395523717<TMUX_PANE>2)<TMUX_PANE>0AND<TMUX_PANE>0Status<TMUX_PANE>0!=<TMUX_PANE>0<TMUX_PANE>2DELETED<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="8PbBsTO6C8KnRLZyHJSHjukPOCIRwGfnIJrdGpiM",
        oauth_signature="u9MY0<TMUX_PANE>Fr9ymoJxLUrO06Qf1NVOdJ6prQuBmZ2HpZ1brJdZrIlkfBV3rD<TMUX_PANE>BAeCZQBbsrGholNKDA<TMUX_PANE>FqlFmMIGONxpxi9FRLTlXHz8duKIVW0FZxxv4eCZPfnjF<TMUX_PANE>FXWqz3Um<TMUX_PANE>FT4Osxti3eAcqTmmvljZ4G1WjYAjKEeMD1hkSMsHDi52A%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1403257156", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>c8a9c498-80ac-481c-9d62-28a9a75dfa65</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>YO</ProviderName>\r\n  <DateTimeUTC>2014-06-20T09:39:17.341429Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>c1e5c2ec-3ce4-4b4f-8ead-3ce395523717</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2014-06-20T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2014-06-20T09:39:15.953</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>b3be8a96-018c-4fc1-bf76-f10d211684b5</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0053</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Fri, 20 Jun 2014 09:39:16 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/b3be8a96-018c-4fc1-bf76-f10d211684b5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="qYt4v8R6aT8RhRsYSkxyQQbUWJAyut2rEayTQSEIZ0",
        oauth_signature="ErUkXCBdqrfsTooYaTAeVAx9OCMrj0kzVMiD8cn1Xddl4PEBJK35t3wHEXbTeHtIZN0RnVc8XA6gSGL1pY4FUfo40Q95tqxuQ5JFKrKAPWg2xfwoUj8kqGUGAE941fM<TMUX_PANE>FIqzK<TMUX_PANE>FkEClNT1brjovkwkZx9oXFs8yXmr1h5n2hZW8x0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1403257156", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>22acba8d-72d9-47d4-9832-de923d4b846e</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>YO</ProviderName>\r\n  <DateTimeUTC>2014-06-20T09:39:18.0122376Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>c1e5c2ec-3ce4-4b4f-8ead-3ce395523717</ContactID>\r\n
        \       <ContactStatus>ACTIVE</ContactStatus>\r\n        <Name>Existing Company
        Inc.</Name>\r\n        <Addresses>\r\n          <Address>\r\n            <AddressType>POBOX</AddressType>\r\n
        \         </Address>\r\n          <Address>\r\n            <AddressType>STREET</AddressType>\r\n
        \         </Address>\r\n        </Addresses>\r\n        <Phones>\r\n          <Phone>\r\n
        \           <PhoneType>DDI</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>DEFAULT</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>FAX</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>MOBILE</PhoneType>\r\n          </Phone>\r\n        </Phones>\r\n
        \       <UpdatedDateUTC>2014-06-20T09:39:12.91</UpdatedDateUTC>\r\n        <IsSupplier>false</IsSupplier>\r\n
        \       <IsCustomer>true</IsCustomer>\r\n      </Contact>\r\n      <Date>2014-06-20T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <LineItems>\r\n
        \       <LineItem>\r\n          <Description>my fantastic invoice description</Description>\r\n
        \         <UnitAmount>1.00</UnitAmount>\r\n          <TaxType>OUTPUT2</TaxType>\r\n
        \         <TaxAmount>0.20</TaxAmount>\r\n          <LineAmount>1.00</LineAmount>\r\n
        \         <Quantity>1.0000</Quantity>\r\n        </LineItem>\r\n        <LineItem>\r\n
        \         <Description>PAID WITH CREDIT CARD; reference cus_12345</Description>\r\n
        \         <UnitAmount>0.00</UnitAmount>\r\n          <LineAmount>0.00</LineAmount>\r\n
        \         <Quantity>0.0000</Quantity>\r\n        </LineItem>\r\n      </LineItems>\r\n
        \     <SubTotal>1.00</SubTotal>\r\n      <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n
        \     <UpdatedDateUTC>2014-06-20T09:39:15.953</UpdatedDateUTC>\r\n      <CurrencyCode>GBP</CurrencyCode>\r\n
        \     <Type>ACCREC</Type>\r\n      <InvoiceID>b3be8a96-018c-4fc1-bf76-f10d211684b5</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0053</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <SentToContact>false</SentToContact>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Fri, 20 Jun 2014 09:39:17 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()<TMUX_PANE>0==<TMUX_PANE>0<TMUX_PANE>2existing<TMUX_PANE>0company<TMUX_PANE>0inc.<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="Y3WKII49J5PTtMHqXPErJyo6U3tO9q7J1G0qGkdmDQc",
        oauth_signature="aeK<TMUX_PANE>FBs0myjelyQhpIENhUDVtYBeENKJNlPLCGYgdgzw5wErG61J0PiGWuuVji61WeM48snh7SHI4GBJWkx<TMUX_PANE>FpRr2jSkH8z5i4fTOR3qA<TMUX_PANE>Br5T<TMUX_PANE>Fg8zE7GKHtIGBNFYXE8wWg93XADbKa1QKap<TMUX_PANE>BnItWmNGwK54Z7<TMUX_PANE>BqJbPHDPUMMQFL8%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439398594", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>35dee379-7e53-4341-b237-fb06260482fd</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-12T16:56:33.4861394Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>dc9ecc7c-b404-4de3-8f39-baf0d2f69947</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-12T16:56:32.637</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 12 Aug 2015 16:56:35 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name<TMUX_PANE>0==<TMUX_PANE>0<TMUX_PANE>2Existing<TMUX_PANE>0Company<TMUX_PANE>0Inc.<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="V9YbsCZuwoljSWsrchVCd1k3rFRNM6FLwVKUs3c",
        oauth_signature="I7LwNreVWrPV73hsYINi2yDDD5Rzzv<TMUX_PANE>Bk2tW<TMUX_PANE>Fw1ZmtB6To[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%2273cb1d79-60fe-4bd9-8f14-5657a92749f2%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="QzzSSoOeW6KbnTN92YstLwlCfOVgY05917TSbWFtPAk",
        oauth_signature="A3k5sq2iJYlDNkCEDuRd5trUMHUbf4jldOD2OIIGIHstksphFr1yZ83i%2BeYO7dqZ%2BpPD5ylUpdCgK5RpZoaqFPTYIbmeoGkUwjHnGLV6H%2By8BpN1657N%2BWzOmHLFv4q7M58llrI%2FdopEVtDiOTuNhRn3JEo%2B%2BAxmCK816SXdJw8%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439543061", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>f1f4ad85-d78f-40fa-a3ee-adb4ef6ae2ed</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-14T09:04:11.6034319Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Fri, 14 Aug 2015 09:04:21 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%2273cb1d79-60fe-4bd9-8f14-5657a92749f2%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="DHimzXe7P7Y50jmcpMtBfV8QL7yHTbkn8kTbA",
        oauth_signature="nmOrs26AlRD%2BqRUii%2FZlkw3hNvLIZlD%2FNZBOdi325p2O3N3vlzvv[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E<TMUX_PANE>A%20%20%3CName%3EExisting%20Company%3C%2FName%3E<TMUX_PANE>A%3C%2FContact%3E<TMUX_PANE>A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="YQCoTC9CYWVSWsUu7Rnj4dJlhVWa3XQgzZks2A6KYA",
        oauth_sig[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="fTFohd39ezkcCffMwg4JyJkVP6InpkWxdKN1CXduMko",
        oauth_signature="XDZ8vBkSoX97CZNDj754MPs6P6wEnh50HO8k7xloXUgVSjxL3Tif%2F9yji6%2F%2BJ5UbyG%2B9AjgnsCuvjQot743OCTeLg13TEl0fgZ6DQBkLbb[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="saHW883hHFdalJ6lM9HNyNZspfPL03sF060f71y3PM",
        oauth_signature="H7dU%2BoHiL81bwEUrP2Ez%2BGVJr6q%2FMAgvtMQgnHV%2BGDg42mjCzOc7bfL%2BvEzyIhtAkclm3kMKEf05xvu47LrfzG9wOLP6L48Ujqipvwf0rbTKGMg2XGI[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="t0DwUIkCkgE7e6r6Lk9JOjExAJjSFWO7X0mmsjFMnFI",
        oauth_signature="kb6%2BnLxgWQoNIPOwwpmU6oF0mDwouZECdT1Ftj%2Bak42DNhVf3BpHyWhvLh%2FcEAA24oJ72oMmUWJbiMlAIp4%2FM25KynWr%2FCaZ%[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E<TMUX_PANE>A%20%20%3CType%3EACCREC%3C%2FType%3E<TMUX_PANE>A%20%20%3CContact%3E<TMUX_PANE>A%20%20%20%20%3CContactID%3E3a181e51-806d-4763-94b9-829c220e96c2%3C%2FContactID%3E<TMUX_PANE>A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E<TMUX_PANE>A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E<TMUX_PANE>A%20%20%20%20%3CAddresses%3E<TM[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="nMMoROsSQHXgukEGtmaHFwaaqSciyhVXGxj0e98zQ",
        oauth_signature="a0BWlFlWEgmaJxqL3tXAUJGs99UoUJivqd%2BoGiR5Yc6HSZ%2F1%2B6rk3VlnBBhfpcyQZNaDCmbCe7QPnULJ0vxQR%2BiayxkRvrXlapEo2zRAjhUv2ms[...]
[...]
