---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID<TMUX_PANE>0=<TMUX_PANE>0GUID(<TMUX_PANE>205e2b1c4-c93e-47ae-870c-fe8614099742<TMUX_PANE>2)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="lzV8Eq31vbLIZr6OSrxEPMt4Ma97djAXvNMiaETu1EQ",
        oauth_signature="t8Csb1bwyw3mVXkC9Njft8lQg3tk<TMUX_PANE>B1UWySqCzobJR2zW0Bq10hYOmcYMWyqF8eZWbZ4raewgbsBjE6NtGH3U8EwpasEKTlx<TMUX_PANE>FbD<TMUX_PANE>BxTv6h8pFAZgsiMSOMLVsCz<TMUX_PANE>BduiHwo8c26MzInbkrRBwJqJwHw<TMUX_PANE>BmV3qmold0iqZcFMZZ9Rndo%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439386467", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445761-O1VMAP04
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>8c8a946e-d56c-48d4-a3cc-0f995c0ef907</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-12T13:34:25.8969197Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 12 Aug 2015 13:34:28 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID<TMUX_PANE>0=<TMUX_PANE>0GUID(<TMUX_PANE>205e2b1c4-c93e-47ae-870c-fe8614099742<TMUX_PANE>2)<TMUX_PANE>0AND<TMUX_PANE>0Status<TMUX_PANE>0!=<TMUX_PANE>0<TMUX_PANE>2DELETED<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="LueKtfYryzTifGOrdGTMiGCrs0Oj8g8fg[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/eefa7c5e-921e-4b3e-bd00-12a2b69d1e71
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="gVzzKDXWAty2MOLOtc045fhzFjLyxd6mKPTewbkHE",
        oauth_signature="ohLTZco7jCxfLW2asZ<TMUX_PANE>F6JrTPVKedBaYUwonept4wumDys<TMUX_PANE>Fcf8lTwqcdaiRp<TMUX_PANE>BfZku<TMUX_PANE>BCz<TMUX_PANE>Bt2azNPw9kLZ3L<TMUX_PANE>Bh9loVU6vdmJ4F1L8acz4WLGWTwbFH51hHc6t<TMUX_PANE>BrECOfoJtKaykhCoRIXT7<TMUX_PANE>FrX8i2qstmIWV8vAF0JLG5HcbZmOn<TMUX_PANE>FOA%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439386471", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445761-O1VMAP04
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>d89c4a0d-5319-4d87-ba46-2e259b115c00</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-12T13:34:29.5162821Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>05e2b1c4-c93e-47ae-870c-fe8614099742</ContactID>\r\n
        \       <ContactStatus>ACTIVE</ContactStatus>\r\n        <Name>Existing Company
        Inc.</Name>\r\n        <Addresses>\r\n          <Address>\r\n            <AddressType>POBOX</AddressType>\r\n
        \         </Address>\r\n          <Address>\r\n            <AddressType>STREET</AddressType>\r\n
        \         </Address>\r\n        </Addresses>\r\n        <Phones>\r\n          <Phone>\r\n
        \           <PhoneType>FAX</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>MOBILE</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>DDI</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>DEFAULT</PhoneType>\r\n          </Phone>\r\n        </Phones>\r\n
        \       <UpdatedDateUTC>2015-08-12T13:34:24.757</UpdatedDateUTC>\r\n        <IsSupplier>false</IsSupplier>\r\n
        \       <IsCustomer>true</IsCustomer>\r\n      </Contact>\r\n      <Date>2015-08-12T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <LineItems>\r\n
        \       <LineItem>\r\n          <Description>Line Item Number 0</Description>\r\n
        \         <UnitAmount>1.00</UnitAmount>\r\n          <TaxType>OUTPUT2</TaxType>\r\n
        \         <TaxAmount>0.20</TaxAmount>\r\n          <LineAmount>1.00</LineAmount>\r\n
        \         <Quantity>1.0000</Quantity>\r\n          <LineItemID>c1d865ae-c1cb-44cc-a549-8ae9a4a40719</LineItemID>\r\n
        \       </LineItem>\r\n      </LineItems>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2015-08-12T13:34:27.503</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>eefa7c5e-921e-4b3e-bd00-12a2b69d1e71</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0128</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <SentToContact>false</SentToContact>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 12 Aug 2015 13:34:31 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()<TMUX_PANE>0==<TMUX_PANE>0<TMUX_PANE>2existing<TMUX_PANE>0company<TMUX_PANE>0inc.<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="YExvIlV3bfpOXxMaC7YLpp9oH7GJ1m1AKzVIdm4Mc",
        oauth_signature="v9inbp5RvbvZ4BZRnaiXMzBqAiVxSgNY6zXvXt4eGBjVwDw25X<TMUX_PANE>B2eGaYjVMW95GmNYz<TMUX_PANE>FxbxeqcbNkyOa4JlKxTeED4nxLJu<TMUX_PANE>F<TMUX_PANE>FOdQXpieq78PP3oaFogPCOYkefVnbyacrqcVf<TMUX_PANE>BfE34MILqqrF<TMUX_PANE>FCozvolgMsltifP4xhBjRp53n0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439398318", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445761-O1VMAP04
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>835fa43f-98be-4019-ae64-419bc8245aa3</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-12T16:51:57.6459269Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>b5dd802c-8351-4933-92c1-22f7954f9106</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-12T16:51:56.643</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 12 Aug 2015 16:51:59 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name<TMUX_PANE>0==<TMUX_PANE>0<TMUX_PANE>2Existing<TMUX_PANE>0Company<TMUX_PANE>0Inc.<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="UWBCAnEbkm0Ne8rjnQxlh2Z2MQG9w852lghILR02zxQ",
        oauth_signature="W4uLVQdL4ViOpyx<TMUX_PANE>BEnCCvtF1AekEPFxfrjZciiGw59<TMUX_PANE[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="f18LUAMX3pqYNqLdoj8YhpYaOe1x4otzZMik8xcg9v0",
        oauth_signature="DnCU0DMmg4l%2BitCfrhPM8fQhFfIhB4iHSgERbtHCt0nYeP50J0aNWcJ6fLd0t%2B%2BgGx5u8jfxRC%2FhuAH3uWbUO5ekOAHZ9S62QfZMt3PC14[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22d01ac6e1-b05c-4f64-bc77-ddb92de6c0ed%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="6QAiQAeWU310iMnbVTC1hvzKb2JNqLATyWU0GIDYc",
        oauth_signature="jRNl8uoBfIXLAhbZO6DRdtjZ0%2B%2F6SsLyBx%2Fv%2Ff7iBNO1dSGG8EB0l%2BdfmQBGpbtBfMJOvgJCTAh3uUeluFugtDg8gsAFwxNmkowv90S0BG68VRYRvQ9XbcV6hrpHJ9eM7RoobNWGeBlQDVK%2FQmwIOOikGgAVGsPFSCFFk%2FcLwzw%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439544392", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>301c1251-484a-4de4-b24a-98fabe146fc4</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-14T09:26:22.7525513Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Fri, 14 Aug 2015 09:26:33 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%2258434ab2-31c6-403f-a422-aa01eeabdfa1%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="bq9IwYaR2HfBt0d3lJXdg5Sv20U7cqBvVTpnoaCTQuA",
        oauth_signature="Y9%2B9waJ6pnq8CKbEotJlbTo5zXqXzU0jvrsmiW78XshoUuEdwv[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E<TMUX_PANE>A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E<TMUX_PANE>A%3C%2FContact%3E<TMUX_PANE>A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="caK8NFbBTDEasR55MGhVs5Tck8iwaOD0WUU0f7g",
        oauth[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="Oe2OULvEZpxK1cf0YOjfeLohzvmMx8ArXi1QMrbGpAY",
        oauth_signature="tD44sY1LOMxwsY4AI2mS19109n7wiPKdIHP0YDmPtvTMAbHG%2BpYY0LksVGUXM%2BODLaySq8pD7fMtRrDrA8MN6mz65olvwfmOXuRWL3n[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E<TMUX_PANE>A%20%20%3CType%3EACCREC%3C%2FType%3E<TMUX_PANE>A%20%20%3CContact%3E<TMUX_PANE>A%20%20%20%20%3CContactID%3Edf1b7ee1-4e01-4dc5-b974-a0c9cb41c442%3C%2FContactID%3E<TMUX_PANE>A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E<TMUX_PANE>A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E<TMUX_PANE>A%20%20%20%20%3CAddresses%3E<TM[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="Bengd5YMrGQWAG2JBphLcLxEQtQzS2TDMF4BeHaLbKc",
        oauth_signature="g6sjdWpsUqIndnTp3ZBE4NhCI5j8IoPG%2FD2DPFAYFZXgkaQFU72thykeBO4dCbtux7UrkAY5KhbeHz%2F6wHAlyDq9bNijASK1rj%2F2PGtPQIJr%2B[...]
[...]
