---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="JhFBJeiRaqWHX5e24vWQ8UViGAJV7yKr3wabIhekzQ",
        oauth_signature="bEWgeW4MiiOlaejIdRaELPM2cWHYCwxZvJIHaxSGL2TSbe7u7%2BukgMIuTWl7SjVwRetcPN2fR2avv3VPpcDbqJqPmUDt8yeIjKoSuABxc4fzK5CiSnJhFAn2NawRfqcj9kGg1qjDGuRovYiUDi0KK9%2B6BBxypNMkK6%2F810oFcH8%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439980936", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>a46c8a1f-6e72-474c-9a5a-fe3eee9c5f83</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:42:16.7428064Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>2729306b-98a1-4139-9d2d-5ba805d64af1</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-19T10:42:16.697</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:42:17 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="XmiNWNvW41U2gGtIR3CSUhJeNuWDgEQHq5GhMaE",
        oauth_signature="oav4cLwNipnuKBEHTGTpzxgRSspicJZN3LlOW3slzQ%2Bpd3p3Ynmg%2Flg3y92KhxKEcMRgNOXDIw8j8nGnrWXMFWJr5Tzw8Sn91gSuWz%2FGu[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%222729306b-98a1-4139-9d2d-5ba805d64af1%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="vhPrMFJrn21iCNErcWMHhM5kERfajmetaosRuJdQ7s",
        oauth_signature="uv9CvClxfpTuujGxxY41GJZnDb8Wh9ApssVc02OnhS1c2cT%2FgMLsMZkW%2BNAQ15URF9Ym4fsaJ1%2BuLaEzNeNp7FgR%2F5qQ4FIHCOV5MNo08Vh%2Bo5QVH9g%2FyMIq7V36ToUkIh7fzWX3e5ZFBsvFdoWvFwio5hT0EA%2BHIkmZykE3viE%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439980938", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>7312b714-ff98-42c4-ae20-cdadb89336b7</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:42:18.3184569Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:42:18 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E2729306b-98a1-4139-9d2d-5ba805d64af1%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="8qknaLBhSnlDhi9RW6l2WKkiM7NFPMxbWrMdg4yJ3ag",
        oauth_signature="NnMUnp7yIeQNTropijfM4k1ExbXtsZZ%2BEwtQ%2BiXwkhz8nlsex%2BIy8lreosucfh1XivylfV8kRxY%2FfS2gMPrOX6KO1NKxvq46tfLDGENsB%2Bm[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%222729306b-98a1-4139-9d2d-5ba805d64af1%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="u0gaX4HM2ViaAOs4oSdmCJwqJNBZqePrb6PV1RI7VHc",
        oauth_signature="MPbrxMyKlXPhU972wa9i3Xe3BoXXYLuM1t%2FqJy8jSeK3AJDdXxglz7A2%2B9M8fre%2FLn1u1Sn6fQuvs9PMjZrXtPjzI96dgwKDT2rj9LqoT4SPoQoEfQFT9KY%2FBZd2jdz4ere4ICTC2DGOOHMXMBIpTnAYJD5kkU01MP0EXZX%2BmiA%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439980942", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>81263a65-7337-40f9-9e2b-5526416ad3a4</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:42:23.6538279Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>2729306b-98a1-4139-9d2d-5ba805d64af1</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2015-08-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.00</TotalTax>\r\n      <Total>1.00</Total>\r\n      <UpdatedDateUTC>2015-08-19T10:42:20.08</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>abc9eb87-d089-4547-bb0d-3ee564cdce89</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0337</InvoiceNumber>\r\n      <AmountDue>1.00</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:42:24 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/abc9eb87-d089-4547-bb0d-3ee564cdce89
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="N4BAw0TuxRiO2avV6qIfRyISJSVMON0cTDtXWo5QQg",
        oauth_signature="Ktjfza8N86hZ3P%2FzjY5cKtCznkXo2C0f%2FE1LDki789ELc7rp%2FyHVQlahTbWfump%2F06Jbc1ekaBWE6HyIKX2xcAJpkP6kcFuA2vRdToeU9%2BcOVg7ItqhxIiWYs[...]
[...]
