---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="QJ55nxH5b1BjesCKP62ypoYM9SoKXx7i41ZYvDtp4w",
        oauth_signature="kF2cZQtNIAYgLq9a1rTpv3IjlVEmYe1WVpcDnvARdT8ZRzSkwzN7e4Hwti0Fs53xAep%2BIFNCRnxPp7zNT0SnKqx4InlJoAqYzQ2NCE2zH6L%2Fw5p0HgN%2Fqeo37rWUEVWX9gk8Q67zaCOqcxdl4NWcNmmEOfP5vDEwfZQfVIiJSvw%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439981017", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>f8b2b4af-b31c-4d0a-9dc6-7f467d327c09</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:43:37.6157984Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>5a14c9a9-038f-4dcd-b8b8-518357542cd2</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-19T10:43:37.553</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:43:38 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="ydCT7dcTmoA6w4GbltRVYkLNytjCZZYRQJ0Y0byY",
        oauth_signature="ZzZCqFPUvpnlKUQ%2FvhWG3NJkQx4KQJprhnSEV8%2Bfe5T%2BoJ9VcGjctsRb52JaRYoTtucthZ1Hc7Wz5IKxcQwtP6Y57EViX7WQ9GGOnSGV[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%225a14c9a9-038f-4dcd-b8b8-518357542cd2%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="XVaxJtm0BYl6fWqM2JbDPSfPYoVXwtKtfkvbSNdfpMY",
        oauth_signature="LutiowanXNhsjKSJefIp9fb7fHFGXljB6YIBtriR3hf8E4B44bj2TUarx%2BXsSf0CrndQiJEqKAz3aGjA%2BjCYEIV%2BSCVO7Iadd6v%2FPDhMa4TGMoG1RRx9w%2FemMTilvPUGSuLgLIyfBwz9VPcCrptjtjy5xi1qZQxxqZ%2FFIRnQiM4%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439981024", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>1740eef1-b108-4d24-8664-771312d754d0</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:43:46.1648724Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:43:46 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E5a14c9a9-038f-4dcd-b8b8-518357542cd2%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="QQAYw4PfgiuMO6zbStjYI1p2tZcDil8Ijxnrz0H0G4",
        oauth_signature="wihQEtm%2F%2FrRI6SXoUH3frndWEYbpWTG01D2kWMFtKhbaWlDitDsbs8SN5sO9blk8pouInw%2BwDZvRUjv953LGvC95uT6I15Np2MVHsHgtdKcuZlMr[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%225a14c9a9-038f-4dcd-b8b8-518357542cd2%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="qxg94Ftpjpmhim5lqkpGrS9QBxO4zBMK9sWvbLAj8",
        oauth_signature="RC%2Fhzkrp%2FwhE7BLoKbICtmksVQxe6hSltWBDJAz0Iv3aPL2dtV9wN6Q%2BsDH%2FLAIAi6MO2DjWVooDg6HFZ%2BdTabAbufNfAcD%2B5LqcKfjYtYeFwc53bdCBakQVnIbeSe5SDpNmAhIL54SOyAHKCHMyZeww9%2FqAW2gRjopcKQePWU8%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439981033", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>a51a8543-bca7-4b5a-a428-6293b6481535</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:43:53.1850974Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>5a14c9a9-038f-4dcd-b8b8-518357542cd2</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2015-08-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2015-08-19T10:43:51.25</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>0268984e-c838-493f-a66a-66f5bbadc2d5</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0343</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:43:54 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/0268984e-c838-493f-a66a-66f5bbadc2d5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="8LRoCJYDOA3q8M7Uw6bBDhBTYR72tywxYK2zom1idDw",
        oauth_signature="vxx4RRFYvEKdVBV4k7V4i2KH9Lx%2BYiI2xQILibe2EFff3yJWVnmW8NpJmMzDdSjDqMu2J%2BESX99%2Bj2nkt247SdjbBJPuBojmoApOTlOSaw9SwHBXplu5WlsELSgO[...]
[...]
