---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="7TiGpCagnOIvJ1OiZNnU5BCB3hu2sX6rw5B7Wb92e4",
        oauth_signature="nDUwTMm8KCqT53HFhYg8mzTdEhpLU3ghSc4OBh9gwk%2Bk1oGw9fBoyXHGhc%2FkBCdCcCGbF4PK%2BVpsQYVFmCNr8yDBJ1Zvka5KbQVTG6fLN2UNqODXw5n93F4FpyHBAhfjks5eJDnuq3uNlhKPNEJ0UUr8WYVk3lYGNr424GXntG4%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978919", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>1c627a23-9985-4c25-8f9a-7e5f6127309f</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:08:39.9863243Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>aa8e159c-c044-4013-bdf5-535b1a668ac8</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-19T10:08:39.957</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:08:40 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="W9L2vRQEuKESg9oKWQrtedvRgdlXy12BjCX6kl2WdGM",
        oauth_signature="PgFH%2FF44lSvQ9504Q1Q8%2BtR9R8UOoYJt7UHWFEjkaGquxkKUbxB5pa%2FhA1e6b3lBcmpiv62bbDppgVPcTuKzHTvW8sW4WG82V4MTr[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22aa8e159c-c044-4013-bdf5-535b1a668ac8%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="D1hLXNH9j2os9dtmv2KNOXvWodABol1cJQfxiDHxwg",
        oauth_signature="H1fLugINNWKXmS7EIi%2BCzL4gMo95TJT8T5C1EZ6AjBW5qFb5ICARXk%2FGT0xYy6kH38qb9ON7uTg0eqMEnordzwQLMAz7enkkpjknMHN0o1T3BQOjqTBMUzQ0kJyiLAwEmq7XXeCQ%2FJVCDPBAh3modeW3xmtWRLlAZyqASFeUNqw%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978921", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>34f0d2c1-c2b2-476a-8ce3-3b475ec67148</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:08:42.0226557Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:08:42 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3Eaa8e159c-c044-4013-bdf5-535b1a668ac8%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="1EtPfDQF30VkGM0CXt68k7LgPcBOQlKakpMmUCgYE",
        oauth_signature="D%2BaepkGPWe7Owr%2BP1saLuJfmKW2%2BznNO4hpljo0DZzx86OqJYSh%2BV292jz166IoTNlbaP8oMixJKIyD7DqYA3E0CE92F4gMS%2FEA6I87Q1H6MR[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22aa8e159c-c044-4013-bdf5-535b1a668ac8%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="6rX1FeEzVyTSEaHNU5JFj6by79D7z3JyVDHZ9e7Q",
        oauth_signature="tTccdEojOdiqCVwvgXFwIRsF%2BgTTYUmupsvcWoGOLdqNjk1eNUf4CVOuTJRJb3V7UPDZP2WcxJI8AWbaMaWMHSus5EfgA3jX8k1gkx%2FYUoZdHA%2BsTeSzYA%2FeuatnXW6lJ%2BGlJHk5A5oJLh9jvnmeqlrxWfT0iyF8ouR0eYNqeaI%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978925", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>84676402-f34a-4077-b2d6-fdd16e04250a</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:08:45.4860111Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>aa8e159c-c044-4013-bdf5-535b1a668ac8</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2015-08-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2015-08-19T10:08:43.59</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>44ab5149-fd1c-4624-b348-e8d6dfdb2c7c</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0326</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:08:45 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/44ab5149-fd1c-4624-b348-e8d6dfdb2c7c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="tA979HqkhXeN0wczx49in9oFmf2Df9No36vi9jhilM",
        oauth_signature="B55tRxJzEdsuB4%2FBDkY2bL5L5J5EqXZgFXTGReeKhw4gpuMK2CbZqWbtIRmwrARHi%2FYC%2BmddsqaDUYD1GH2eBAOhz4O3%2FCXyr0eMCtwfObxZFngkbTPwWGlGh0j[...]
[...]
