---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="hS83nLhVEsK1QAH2gVOTCzm4hLhPby99G8LbOmejec",
        oauth_signature="RHhYbDr8FgUToGVrIZdeMno4n1KqVRGc5KFoafqNrBFA2vMXIHdFAuKGoHo0YPGe6HUinlrbnXvGJFU9IFMyDcxp28bqACdD2oXsS2xbeFDSu2AfoHnJde4afojO%2F5Jvz2nReuq1J8qnhRtzphFQErMZizvlhgpwBhdVqplwrrU%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978157", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445759-O1VMAP02
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>130eb3d3-3aa8-4e51-948f-b08f8e58f4c4</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T09:55:59.9053508Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>77775e9d-b13f-4bc1-8250-68ef67465439</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-19T09:55:59.86</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 09:56:00 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="CUOqtYWE0qvLnFQQRb14sYu9w8ONl97aCkNFqZm4A",
        oauth_signature="Elk%2FrhljY8PjeRK4B%2Blqc21HlOggOOHOQzmkMdofhYUJ35J2NvCp31KXwwv0LKwSwzw47sJuQagqlhv6%2B2V015X2eJIxSMOBdbryIaZ[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%2277775e9d-b13f-4bc1-8250-68ef67465439%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="B6KwILBy97KPG5ReJv2jAf2BpKm7HiNzIgc54T73as",
        oauth_signature="vilFhXU8v5HjOmxf0wC6pBBcMi7Ou6yn6l6%2BlwI8YigLWL6eVXDyBSllYqpl56BZpPF8TiQSBdeOA3OJ0ZKUXR%2FYG9RVNr36Azo2wxrKlhjmzc7g3Y3mmVuyyNG8D8rkPsyG8KHykGAvJtxoe652jsEXPg7n4EsLQH9fmIGzk%2Fw%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978161", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>ce4119db-7d9d-47f1-8496-715e3e75aa14</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T09:56:01.5977356Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 09:56:02 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E77775e9d-b13f-4bc1-8250-68ef67465439%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="dtRPFX5hhp6ajd1OaqtJOd70kCj7ppYrtx9oyGCu1wU",
        oauth_signature="dP0Zsb%2BgJ7rc9OKxR0jBwo6%2FBjx1KHrVO13H6leCooXlButgOBNoN2nOUErzYw9jjfit5HCYa7pAnk6cwOsittxqO99peVrOj2auzg1FAvj0zR7HT[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%2277775e9d-b13f-4bc1-8250-68ef67465439%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="7RnNw8LHEKebz6BeR34REe8Q9LZVwAN041GjRbTPP0E",
        oauth_signature="WfRFF208jTb%2BMKtBdgLACNdD%2BRFuldQVTJGLiAYGJxfGbRtQud9XuS4R8Nm5WY0SfqB%2BqSosTOPVN0ZBsr5ddWBPAG6zgfD4kalYh75xM%2FwW78GY0K7G%2B0d1yrgx5zusk3lzqm2a%2F8HtEe58j7%2FYIdT65egJpJrX2Qe2vNAzXaU%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978164", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445759-O1VMAP02
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>2156cc54-d2fa-46d2-bb9a-261420be5694</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T09:56:05.2095888Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>77775e9d-b13f-4bc1-8250-68ef67465439</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2015-08-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2015-08-19T09:56:03.463</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>5b7c1e48-8701-4687-961a-ef61f5dd7535</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0313</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 09:56:05 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/5b7c1e48-8701-4687-961a-ef61f5dd7535
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="IQso6rlqP71IfIyOLflff2rwBcU1sEMDVYU55GHoZM",
        oauth_signature="bUXXM%2Bfxer99QNdqw4HseIweXkQE0ouSW3YzDdBXtCSRKybRXC4WYvTc0TlriYT9MtRr1BFl8M%2BdSWlQo3PCLOO0qKFUuQiP%2Fjtgy%2BFY8yRsb%2F01G1YtH17Wz[...]
[...]
