---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID<TMUX_PANE>0=<TMUX_PANE>0GUID(<TMUX_PANE>24bbfc5e5-503e-4354-963a-941ba2dda89a<TMUX_PANE>2)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="uj8VLfG5Jx9tg0WZlAcsehHZwEB7BSBfqyI2TgvPw",
        oauth_signature="GT7M8i6hyQkcmBqPkhbuXWfPPln156VzDrf<TMUX_PANE>BxsHi7G8twBVmlwtZhr69SRJmSDy7Faq0evqpXKE482jms89NFBkSKooST9fU1FrbKSlghCOMiKhlCbs2M2HlOIUiARHlzPySA0aqxJBGrarldWAkh52L<TMUX_PANE>FrVq6mQgsFJiHzCMxjg%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473879", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>6ad14ea4-d418-4f3f-9097-72b6a98a90a4</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:51:20.0856978Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:51:20 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID<TMUX_PANE>0=<TMUX_PANE>0GUID(<TMUX_PANE>24bbfc5e5-503e-4354-963a-941ba2dda89a<TMUX_PANE>2)<TMUX_PANE>0AND<TMUX_PANE>0Status<TMUX_PANE>0!=<TMUX_PANE>0<TMUX_PANE>2DELETED<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="4geEZThvqnUTzQ1fAqSTmpZWMAvtz1ZPXjq09FB9bU",
        oauth_signature="bafDiehVBh0SQFzM5f3cFje9bPacxgX8hhYtPkSbKALgRDiKr9BRW0Bu4tTbXv1PlWdtviV3w1rGgkZQU6DjFnr7<TMUX_PANE>FBQHbEoMfgmHVUO2Jl3CzmZBVm2<TMUX_PANE>BrfeTAP4JcDW3coZUs0RNVVVqzQxzutg3KqtoFj<TMUX_PANE>B0GDlO9xL9dIJlyhk%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473882", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>2addf9bf-2930-48d8-b577-f6831a785866</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:51:23.1277368Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>4bbfc5e5-503e-4354-963a-941ba2dda89a</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-08-14T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.00</TotalTax>\r\n      <Total>1.00</Total>\r\n      <UpdatedDateUTC>2013-08-14T09:51:21.677</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>1c2bbe93-da81-480a-88e6-17fe5fab78ce</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0121</InvoiceNumber>\r\n      <AmountDue>1.00</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:51:23 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/1c2bbe93-da81-480a-88e6-17fe5fab78ce
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="x3EsfgXQlrXRJLFEMp0BijRkgHP2ABov0JId2p5bNU",
        oauth_signature="Kr0Ds3m8UmRDyeX<TMUX_PANE>B<TMUX_PANE>BzTQ6TYovvdE0lrAY9hR3nUnZiOJXk2OFnBpOFxKCDtETAsHslDnIlyD1EKH9qtoyBemPKJZO0<TMUX_PANE>FIYPA5M<TMUX_PANE>FUukgcXSqFefIsxzEe5i7<TMUX_PANE>BuCg4fpQ06tltHr63Coya6VLccC8xRGzF3Q3mUiyOrv8j0azdiW3I%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473883", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445758-O1VMAP01
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>2000a432-8624-4805-9f00-2a283f75ea2b</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:51:23.7361446Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>4bbfc5e5-503e-4354-963a-941ba2dda89a</ContactID>\r\n
        \       <ContactStatus>ACTIVE</ContactStatus>\r\n        <Name>Existing Company
        Inc.</Name>\r\n        <Addresses>\r\n          <Address>\r\n            <AddressType>STREET</AddressType>\r\n
        \         </Address>\r\n          <Address>\r\n            <AddressType>POBOX</AddressType>\r\n
        \         </Address>\r\n        </Addresses>\r\n        <Phones>\r\n          <Phone>\r\n
        \           <PhoneType>DEFAULT</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>MOBILE</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>FAX</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>DDI</PhoneType>\r\n          </Phone>\r\n        </Phones>\r\n
        \       <UpdatedDateUTC>2013-08-14T09:51:18.667</UpdatedDateUTC>\r\n        <IsSupplier>false</IsSupplier>\r\n
        \       <IsCustomer>true</IsCustomer>\r\n      </Contact>\r\n      <Date>2013-08-14T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <LineItems>\r\n
        \       <LineItem>\r\n          <Description>my fantastic invoice description</Description>\r\n
        \         <UnitAmount>1.00</UnitAmount>\r\n          <TaxType>NONE</TaxType>\r\n
        \         <TaxAmount>0.00</TaxAmount>\r\n          <LineAmount>1.00</LineAmount>\r\n
        \         <Quantity>1.0000</Quantity>\r\n        </LineItem>\r\n        <LineItem>\r\n
        \         <Description>PAID WITH PAYPAL</Description>\r\n          <UnitAmount>0.00</UnitAmount>\r\n
        \         <LineAmount>0.00</LineAmount>\r\n          <Quantity>0.0000</Quantity>\r\n
        \       </LineItem>\r\n      </LineItems>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.00</TotalTax>\r\n      <Total>1.00</Total>\r\n      <UpdatedDateUTC>2013-08-14T09:51:21.677</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>1c2bbe93-da81-480a-88e6-17fe5fab78ce</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0121</InvoiceNumber>\r\n      <AmountDue>1.00</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <SentToContact>false</SentToContact>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:51:23 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()<TMUX_PANE>0==<TMUX_PANE>0<TMUX_PANE>2existing<TMUX_PANE>0company<TMUX_PANE>0inc.<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="wnn4UHIET6Rjtmr9kQP437tYrj7x8DrEdEL77I4bo",
        oauth_signature="C5YZ0cQXMdxyKhidxeRFj8bLhMZEZ6s7g9Wl2qqMldvUMvdy7pF3wfmaOB<TMUX_PANE>BJ0Lgjuyzy1PHGzIY7y6<TMUX_PANE>BnSrG4Z3f<TMUX_PANE>FRyhsinrMh7Bj<TMUX_PANE>Fwrbqd<TMUX_PANE>Fcl7iTKIiFU7Nj8Whqt91OKpsxca09IMFGi69FcOOdf0eYgg8O2PWUnRwz<TMUX_PANE>BUf5FME%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439388883", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445760-O1VMAP03
      - 445761-O1VMAP04
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>11eb00b9-6762-4620-8a1c-3a39c7da98d9</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-12T14:14:41.9461273Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>b2510575-f53d-4448-b46d-ab05f2f6f40e</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-12T14:14:41.23</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 12 Aug 2015 14:14:44 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name<TMUX_PANE>0==<TMUX_PANE>0<TMUX_PANE>2Existing<TMUX_PANE>0Company<TMUX_PANE>0Inc.<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="kZpWpmVTPpeDwNydi3Ftw5sEPatRm4v8tGdFF4K0xY",
        oauth_signature="WEPqoWHeZff6QPTg9VltOFD<TMUX_PANE>Bs0lQpFejq4BNJXbb9eD7omkoakjvn[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="CgK1HtOY2x8ontr789pHFXMTBGoM85XOR9MzQHYGVs",
        oauth_signature="gsEgRtrkiGGGn2eI2gLojn2hL4OeLkVjo7C4nU3rlZgNlWGH3FAAsYxHB%2F%2Bszlx7iZa1FyRI5K9bc%2Frd8YmnXTtSjkeZHU%2BLO5VYod4O6vEvXfnDOESW3ObrjSkHv0Y1ANnQOFPg9b7qYL507YC%2Bo65vX%2B8%2BpMCyraqmKaID0yQ%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439543012", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="165.120.48.19"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: oauth_problem=rate%20limit%20exceeded&oauth_problem_advice=please%20wait%20before%20retrying%20the%20xero%20api
  recorded_at: Fri, 14 Aug 2015 09:03:33 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22e0a83372-f6f3-44f7-a1ff-a56053f726bd%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="cTp33nCyMQ2zFSN587RrQ0TLIWnc0JxGd6eNTqkcQX4",
        oauth_signature="bM9a%2BgFLqJRd3oBDBPE%2B5JaTS9KzSAG68WCV9xWB1jeIsmEI8Qgj3emjiRa%2BAX4nTRK1GKGK1QRuBXubDvR0st5e0moR4qYMuoxms4xUOIlyYwgprnkHxGVz%2FBxscyKTgd29Bsa2fY7R8hd%2Fxxvx9dOn%2FiCsmpnj3hNwyGP1tpg%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439543019", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445759-O1VMAP02
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>cca167e2-9eef-4506-bbb3-67c7f1085eae</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-14T09:03:30.0021413Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Fri, 14 Aug 2015 09:03:40 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22e0a83372-f6f3-44f7-a1ff-a56053f726bd%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="gFkhrfytZEyW95SLVvnhaf8l2uCtfypVcRo8kNqMVFk",
        oauth_signature="q9%2FXomhz7HxB87BlBqa%2FokBvZnNVcQtI8ELmN9D47dMm8RNA[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="GPLTpAKDppHRZYGLMEZwBqfzOExBb4FO2dmN6P9yE",
        oauth_signature="i02hHLbqTl7%2BVBabAJvjo0ARBOYozIDowmya%2FDhehQsvb6IcQNFL8lpYf7y5quIoxl4eiVeVIn2ZWyD8u%2Bd2s5tQdLOF0WUAfqU2g6OSjDq3yggz6rW%2B6z[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E<TMUX_PANE>A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E<TMUX_PANE>A%3C%2FContact%3E<TMUX_PANE>A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="yQBW8d4Ky4QgbqY3m0MV2krqNZ2MMDndE1D1jGCR9Rk",
        o[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="1zmZBpUY5PTQNpj8YgZwGs6T5AKZAMStKSm0Al0E",
        oauth_signature="nXBcCDwT0ItyGPD6dagnfhezTnKjpoKWC%2Fv2Q1wCq7Au8h5KXpMYq7BjdUIzKvzW%2FTSAtJSA7n2TRYftTe8sjZKok7aLlWADcUncHwiKbZ[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E<TMUX_PANE>A%20%20%3CType%3EACCREC%3C%2FType%3E<TMUX_PANE>A%20%20%3CContact%3E<TMUX_PANE>A%20%20%20%20%3CContactID%3Ecda154f5-b14a-4033-8b94-dbf69b022ea9%3C%2FContactID%3E<TMUX_PANE>A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E<TMUX_PANE>A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E<TMUX_PANE>A%20%20%20%20%3CAddresses%3E<TM[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="e7qPVstBsIyXmXo8jQI5ztZ1aHrshH106Mz9MKGpo",
        oauth_signature="HTiSE4TWAHmzonM8dcRSmUBT7ts%2Fmq5pqjjE3rBWJtNKZqmVJffpSfKIaKtTlqtKja8heRCcUk%2FqgjtNMom6klX3kXfoD5G3fjbNEbt2nrQOCMyIvvT[...]
[...]
