---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID<TMUX_PANE>0=<TMUX_PANE>0GUID(<TMUX_PANE>22edc151e-152f-4733-a411-c335a24f4475<TMUX_PANE>2)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="WhsAbAw3tNKS0R6XJSHcP9wdH7eIfN4u8YCHAZY60y0",
        oauth_signature="Ae6ghLDFH1sqdbXn7AaY1psMnuR<TMUX_PANE>FhnTGKxjQoQgJPfiKOBRNTOuH0xLoZyP5zONZhfmssmFU<TMUX_PANE>FUrtC3cIsxWu0cswpgo2yhTcu8eZ<TMUX_PANE>F44IuA8w9lcMhTAmTh1YruqbtXio615AJDlBJ6LRlEmSZnxfdk1ACJcJ766PoT8W9i68RMk%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473184", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>e7f825f9-53d9-473b-ae61-a32b94701a4a</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:39:43.884824Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:39:44 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID<TMUX_PANE>0=<TMUX_PANE>0GUID(<TMUX_PANE>22edc151e-152f-4733-a411-c335a24f4475<TMUX_PANE>2)<TMUX_PANE>0AND<TMUX_PANE>0Status<TMUX_PANE>0!=<TMUX_PANE>0<TMUX_PANE>2DELETED<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="o1y8DFuHz1dra3F6dMdUKS4AuhtWAWCGgukof7AI",
        oauth_signature="CRvtETjDoGTN7m2m8CtZZLLNWuIwh0oB<TMUX_PANE>Fga2xtvKECRdgSp0mj56ngUhJn8XJzBhESKCOiyWLEse0H<TMUX_PANE>BkgwbqVW2P<TMUX_PANE>BS9DI0pimxUBGGWMDfaIz5uxjwRFa7jWiYM5HguFYK6ZeMMbXtX2ZVtPUmbItPx6uVFDUiPakHnT7bRF8nw%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473187", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445759-O1VMAP02
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>a2137090-7c24-492d-a4d6-4cfbe195aadb</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:39:47.0827625Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>2edc151e-152f-4733-a411-c335a24f4475</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2013-08-14T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2013-08-14T09:39:45.57</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>bfbdbd1f-a15a-4dc6-b9d7-8f08fd3998f9</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0113</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:39:47 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/bfbdbd1f-a15a-4dc6-b9d7-8f08fd3998f9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="1xkZhwgCncR2lSaVdcrASgnr29M6zg4vcgfbieG3do",
        oauth_signature="AKu<TMUX_PANE>Fn0zA4fY7jQ<TMUX_PANE>FD34lm7EhIbJZIgF<TMUX_PANE>F7hWPR<TMUX_PANE>BCFxLcRbia1vIs8hIC12ZJD28r4e1suuB<TMUX_PANE>BjMIgFy[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/82879c02-7108-4e2a-a0a4-cabdd24c0b99
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="aXLFeYTATNR5aaCY8ZfOaG7D1Vk5SgioXgX2y1jnBkk",
        oauth_signature="jm13L57ICCiBtyDQBXQayFSUVjR0s7<TMUX_PANE>BZLrD01WHM3yt2XV7SJwF51W0ZZbP6ZbRB6J3unvKqR59MNTft23GEx7d94u2U02Y8IEp65WZXQ<TMUX_PANE>Fj4M<TMUX_PANE>BOsN7HnludjwPVQ4COSWUzZI2fBt<TMUX_PANE>FBrXGp8P5gVL2<TMUX_PANE>B4GdYtHIZUSQd8GTDorn4%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1407407030", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445761-O1VMAP04
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>ed34db85-e405-44b9-8819-f1c88a404b1a</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Beardstroke</ProviderName>\r\n  <DateTimeUTC>2014-08-07T10:23:49.1582296Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>0a22d92b-a4f5-48c0-a097-0301ad248c4e</ContactID>\r\n
        \       <ContactStatus>ACTIVE</ContactStatus>\r\n        <Name>Existing Company
        Inc.</Name>\r\n        <Addresses>\r\n          <Address>\r\n            <AddressType>POBOX</AddressType>\r\n
        \         </Address>\r\n          <Address>\r\n            <AddressType>STREET</AddressType>\r\n
        \         </Address>\r\n        </Addresses>\r\n        <Phones>\r\n          <Phone>\r\n
        \           <PhoneType>MOBILE</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>FAX</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>DEFAULT</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>DDI</PhoneType>\r\n          </Phone>\r\n        </Phones>\r\n
        \       <UpdatedDateUTC>2014-08-07T10:23:35.93</UpdatedDateUTC>\r\n        <IsSupplier>false</IsSupplier>\r\n
        \       <IsCustomer>true</IsCustomer>\r\n      </Contact>\r\n      <Date>2014-08-07T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <LineItems>\r\n
        \       <LineItem>\r\n          <Description>my fantastic invoice description</Description>\r\n
        \       </LineItem>\r\n        <LineItem>\r\n          <Description>PAID WITH
        PAYPAL</Description>\r\n          <UnitAmount>0.00</UnitAmount>\r\n          <LineAmount>0.00</LineAmount>\r\n
        \         <Quantity>0.0000</Quantity>\r\n        </LineItem>\r\n      </LineItems>\r\n
        \     <SubTotal>0.00</SubTotal>\r\n      <TotalTax>0.00</TotalTax>\r\n      <Total>0.00</Total>\r\n
        \     <UpdatedDateUTC>2014-08-07T10:23:43.107</UpdatedDateUTC>\r\n      <CurrencyCode>GBP</CurrencyCode>\r\n
        \     <Type>ACCREC</Type>\r\n      <InvoiceID>82879c02-7108-4e2a-a0a4-cabdd24c0b99</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0043</InvoiceNumber>\r\n      <AmountDue>0.00</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <SentToContact>false</SentToContact>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Thu, 07 Aug 2014 10:23:52 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()<TMUX_PANE>0==<TMUX_PANE>0<TMUX_PANE>2existing<TMUX_PANE>0company<TMUX_PANE>0inc.<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="BN4F15vBqKpLEOwtc6syExQrsFyNrLoygrEzehazgw",
        oauth_signature="D8frAaL0RRlCpFzce7kjjPOIMUgaIYmOEI11l2y0oJZDe9sjvV<TMUX_PANE>FLXeQO<TMUX_PANE>BsEKBAnmYNSBlFmHCRka2amlu7LhKg<TMUX_PANE>Fh2L7b<TMUX_PANE>FPwK8jlREdNJ4abRQoMbCBMehnNGkXVYKHfbINZILz21vpXsoxKy0H3YVbAEhVuwNjkLfsy6VnCtIr0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439388876", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445760-O1VMAP03
      - 445761-O1VMAP04
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>083c462b-e93f-4f1b-9986-f37d8c2a7926</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-12T14:14:34.8478088Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>3b09457f-eb57-4b28-b92c-c70ca3d61273</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-12T14:14:33.693</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 12 Aug 2015 14:14:37 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name<TMUX_PANE>0==<TMUX_PANE>0<TMUX_PANE>2Existing<TMUX_PANE>0Company<TMUX_PANE>0Inc.<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="yw6hUbgQaYwf31BZZKtlVlRs3y4RSEfW5Vy5vf75xIE",
        oauth_signature="TBRp2B4GIpCbXxDe6dFCXfTwHhCGfVCn6e<TMUX_PANE>F5KZZ8VIRkMWO0XHaT[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22be269fe8-67b6-43d5-b4f1-205fecaf97a8%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="fQ6Swc5XKgrVzJPJNzceYyONyItdLreq6elQZEHg",
        oauth_signature="LLSHoAN5us11rQO2q40mx4OCglNi%2B9ebgFhLfBzorfzvEND1vGrxdXFz%2FJ14COhqzTbLHgR8AvpNamdt6G%2BBiuvwNHRxwqVHT30NOV34d4GYrXmIJf3GwC0cjtrBAMljGTUPpsRtT3YHDCpUcaG24Xb8IigL8cSTSEi2GE3IPYI%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439543001", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>c57b4005-8947-4c02-ac3b-f405e4c93581</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-14T09:03:11.4622659Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Fri, 14 Aug 2015 09:03:21 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22be269fe8-67b6-43d5-b4f1-205fecaf97a8%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="oCqkQGHslX4VwqgzgBDOcHpR5ybkONoefCqRge2giYU",
        oauth_signature="HDfZkthyWV0U3X4%2BKiHYD9fIsi%2BdOOWn12Ythd%2FouD%2BT[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="HWAc6kjqbd4eJHP8SioBE8OTEJcCdDrY9azldsE5tg",
        oauth_signature="htJGyafkAzdVPEHlRu9LmzaYP%2B4gRYF1D7v75%2B%2FKIbLv92aXQk2lLqRLmqB371ml87KxO8WGy7UK6IuPgimLhQOXtECAYJu7pIVmca34geBO%[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="WT4AAUiBTqG59bZHgg3DeMH3kV0LPi4bAcJKXmH6QU",
        oauth_signature="hMCxbIoDEQWav18AdQg87QeGptVEcQh9IyBjeQB2AhCZjiWfH8fz0JlLiBFInfddD0e1p%2BO%2FkiXZwwqUfNqpMMtxhjHE5KVQRUYEmA5sMQwJ4QtZOfJJm21Gc[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E<TMUX_PANE>A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E<TMUX_PANE>A%3C%2FContact%3E<TMUX_PANE>A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="jA1d7AuSiBWDjyGHUYix5jtlpze7mldeP47Kd3U",
        oauth[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="lcXjwOUlohp5gyZRWhAuHlL88fZv0ld0Yk8Ol33Hyg",
        oauth_signature="JJwxVgYoiW6ykEIk0cRVjt6VNpBI10Z7y2BPMxZbSjL%2BG4URG2ddNKNyTLghqE6drvNMUF5zOf3pbqaAVyyvs%2B%2BleLcEQo5olPj%2B[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E<TMUX_PANE>A%20%20%3CType%3EACCREC%3C%2FType%3E<TMUX_PANE>A%20%20%3CContact%3E<TMUX_PANE>A%20%20%20%20%3CContactID%3Ec1cd7c32-e937-498e-a27d-3db1403b7e01%3C%2FContactID%3E<TMUX_PANE>A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E<TMUX_PANE>A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E<TMUX_PANE>A%20%20%20%20%3CAddresses%3E<TM[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="9QlGDpSgkG5ybFVQHx3uIy38en5wU3l8DAQIbErMI",
        oauth_signature="RMMRYPCw2gObCoX2WYirSnr2mE%2B4B1ypLSxIxCfUuOXIu0OiZrxN1ymwIdPrpd5TOVag4DVpVfMX6yKE8CmKHF%2FPk4T7txH0DeHWqqqK0T1oUcxfw7K[...]
[...]
