---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="7eBL2wxQrYDSnXIQJnnyrZBzut3vDSOFArYLzuW4lE",
        oauth_signature="BCfaaSt2KMkytqsgfepSJMsWaHzmfh2m713RF55SArOm%2F24c5V3O0%2BpzO%2BrFS8pFXtK6jG9bi80otUnQHAd2Hb5vFlSXqjq71xxDH%2FtmlEVALo3TKiOTS6nK%2BPh2aItCTk9L65ESsMlUNI7TjIqQvF%2FkRQTv7O5WenoXQy%2FIhR4%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978862", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>e168a7f9-f26e-4c76-bebb-0ff8304d8ff7</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:07:42.9428048Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>d86daaed-239b-4a46-9eeb-e92b0aa34704</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-19T10:07:42.863</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:07:43 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="pYqoGg7Guu9pk9XD7aoCIK9BJvejtZrspgP6ePzbVg",
        oauth_signature="fW9dGZcgdIyydi33gl787LxoqApJSO9McoWzHUFh9nLT5SkhNjyMs61%2BRd6TKjauDFIPk4L59AXLae%2B4I0lUe5zohkd2bcNNXkGjN%2B[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22d86daaed-239b-4a46-9eeb-e92b0aa34704%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="gSWBmvPdhOLRQT4Q4NWO2WsRiDhdrprX4Boj3abUOGg",
        oauth_signature="RZ4xsD9aeaiEjuU4O1dlN3KKm8476rWS0xfgMON9fUCB%2B7Yd9U%2F07AT%2F9PtM4VodRer6dOmR1twwsUvnsU7bMn3d4dBplCLUEqPSqX3kXv0mE1d5L5LnV9cnVEzzxKmybxXgXQ50JY7LUbFXoaT02oSzVy%2B0ZK133EttSqY%2BoVM%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978864", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>219e86d0-0748-4fbc-8bac-0c3efb849143</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:07:44.5808783Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:07:45 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3Ed86daaed-239b-4a46-9eeb-e92b0aa34704%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="QQBWJw0Ijo39KbtcnxWQbEhXgRTscLDZ8fh88uaEmo",
        oauth_signature="SlIOBXB7GrxZKRbetRZ6hj7GiM6qz7gm9YTIwuAjyz4R9ubsa10EGg9NA%2BOgzCaUDZFHw%2FBKlwiqUrO1Z9soSWeyl3ES%2BGv5wQ%2BAb3rWMLC1Li[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22d86daaed-239b-4a46-9eeb-e92b0aa34704%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="2Vh4cbfHoCd2lHgCnJmHy3FKpaCEEDz17h5WKh8Omg",
        oauth_signature="pr4iWZkYJlRsMv3Lb%2BUhN57N2J%2Fi3toE7y%2BqCHjlmLKZ7IZXNN4nQ5TNTfl2NJHhNdQiZ69%2FXH8w8KcD4ef4ooqFbGaQTaZttfCxZdGXNK5Nu%2FabW3h%2B6F3Eh4pYUzAt0JA308JlFgPxXcnyaBXdXGGZBuOD9LvibUi0H8n%2FQx0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978869", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>eb9593d1-edf2-4451-9c69-72990b49b75c</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:07:50.7587555Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>d86daaed-239b-4a46-9eeb-e92b0aa34704</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2015-08-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2015-08-19T10:07:46.413</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>38447b0d-d370-4743-8a5d-2b3ffe2dc1d3</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0322</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:07:51 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/38447b0d-d370-4743-8a5d-2b3ffe2dc1d3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="eCeHxND4MGt78eu1P3RoA5zw70yhwdGVM40wU2RHg",
        oauth_signature="cHjsO5pi%2BYV1ivXcP1T5K7jtBtCUtwBljUuRsPqM%2BbgW%2FFZq5EpAYOrCGEeQoYy1modBv0IciGqt1CaZrZnfRnKqB8JEElPvUaz05bkWZjfbrjviN1FppFSHng8adC[...]
[...]
