---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="JvIIZM6QcShIGzPXJyEuKuqLpCZOapGxLIibgV0cDk",
        oauth_signature="R7PbFxS%2B2xZ1nHXvdYUpNbGzHcIoQnxhyvVj1t9ti6PBmUehGR%2FsnhhJsAEW0GVHChyYOlrLV8B7acVCdqt25k1K%2FxdQXS1Gi2mIy0N8MSW3eDoH8zg%2FfLYI%2Fll5Ud7PUQef7POFRBRsGUIINsDphgBzzlR%2FZf6AtXV8KkzwRzE%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439980977", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>692a65c5-d294-441a-82d6-f9983991d1fb</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:42:58.2869379Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>02aa42fd-1ecf-49c2-8871-36241869b628</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-19T10:42:58.223</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:42:59 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="hnjdBwSpwEjw4c3fLiUVRvEcXCTw2paaYCHQShDw",
        oauth_signature="DynTZIawQe3sYzJSpI%2FFhokQ6V7wVyNHRNKeXIv9GU4A1F8nRdgRQ4Sten6VmNYGgM%2F%2FH4gaZVJLrtyrdTot3uKUA%2B8HWmtzaIckOz[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%2202aa42fd-1ecf-49c2-8871-36241869b628%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="vchLGnrpcScvPcdDTSXk95CZNowhWiBYII6QvcTdvg",
        oauth_signature="q4lzy%2BmMIw3viSR1NVFPIljFgYpee%2BKMVlZ4GwAHtb7FwucyEmnqtEhjO63wnqrR1FZbSIq2TjQuZsJV2MQJs3UKLEyCjhmNUCws9gI30gBVjs3%2FsHH%2FAcTAGgWLRbQl56iqSqkvbRfTs0TF9Kg%2BMg4ht3feAsLHCg4R68pnBig%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439980979", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>ab3c51c9-70cb-44ed-b120-62eeb18e2370</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:43:01.8126509Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:43:02 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E02aa42fd-1ecf-49c2-8871-36241869b628%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="qhUcbp4S325sWwypOcVQ6vZFFKi1bT6il36TqEY",
        oauth_signature="UOBXR6biuCBYJ2Ml3BwZyFqz4WnI1k1i1BKnKQLxLhgqt%2FDxxM5NBOWNzG7kaQWczgux84hfxUhDYSC7ef9bIN1ZeZb7ozU6fkPn%2BjY4kBekXK%2BnFjJ[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%2202aa42fd-1ecf-49c2-8871-36241869b628%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="Mt9RcK5oDXK27zYCH0w0567pMqPIasP9Sg2TgoNdIV0",
        oauth_signature="A580ls6%2Bn42MCm1B91royrSKFbBKE7do0M1MG2WcHKDlR58rOXjp9qInEqZeArZQ06dyDUbxx4c3fIpdNfWnPPeJZr3WEuFMMgs4Xfl5CMyBb0W%2FKfWBfM9beM5wJzs8W9wxVcD9knUEZf3huW%2B2T66d%2BV1gqcL%2BGGVZZtjpCIc%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439980988", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>0f479f3d-e55c-4325-bb0b-991d95596515</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:43:09.2540894Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>02aa42fd-1ecf-49c2-8871-36241869b628</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2015-08-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2015-08-19T10:43:05.167</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>744921f5-da21-4af6-a1a2-e4dbd1be6b10</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0340</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:43:10 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/744921f5-da21-4af6-a1a2-e4dbd1be6b10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="vTFzOUDJk5lITSnPdE1QdB462TcOW1nprdPuWBrxQ",
        oauth_signature="jQmW0kCUkTL2dKefVnEtKJZxSP2mAb88lG%2BbrUKeNwqVqaJPpoREKCIKoqCfXBv0m81IcF0yAK9wXAjQFZf5bS6mTeBF%2BbFgIsWkJK7XDdhX4p%2BtuR5YNQa31ih9R0[...]
[...]
