---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="BNh5lvaaZFOl5SSPsaLHSM01kpez6ukBtFybwDuto1M",
        oauth_signature="wkbcpMCjWotJbss6S%2BNOlZaCS7Apc6gumP2hVYm2setLFSEHh1GVebPTwruCrVgVP%2Bd5k5ARgNsqY1T8T1St4JB0OMU4bgIISVPh0VfHFts%2BsBIPMa%2FKDC5q%2B9idJTq90gXXWrjNGTP8QPfFnmEQ4Qo19ewSX5WNF2N7AqAOnm8%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978839", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>f690f7bb-cac8-4919-821c-06025533db25</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:07:19.791366Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>539583c6-311d-48cb-8d13-1b8d6ba81f31</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-19T10:07:19.743</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:07:20 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="cteilIMYpckwxfCWQer7e20d7fRXRMi1rHhBAKS7Eo",
        oauth_signature="W7PTpK7crxzXmxyLkeoSrVIVFggZE8tN1DyuUQqx66Wum4suMZ0ExwJSXST4awU3A0irll0z8Gdpkwo3svyRrD9KkQ2AaK1sM0y965Xa62A%[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22539583c6-311d-48cb-8d13-1b8d6ba81f31%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="EY7cjOfNTNNGwBgbVdLTaNud5jcXbQeI4L9JUtDMvGg",
        oauth_signature="jAlhFXD6%2BB3U70znQv9RoIdSKg%2BL9Vcg0zhTY%2FOBUo6Z2Xj6mRnSFH%2FxnbpOP4SrDIn%2Fk74d7tZyBeRg92cNDz2PodCmII0pMZlhnJFV0v3Pb7s1kZsddTdQm1NzS3u4AghlvRmI8YaiKKYk365GO02eEYuaUOSvOPtDuqBjMgg%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978841", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>0f9b74e3-472e-46da-9b52-fd4c3fc60cc6</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:07:21.4138388Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:07:22 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E539583c6-311d-48cb-8d13-1b8d6ba81f31%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="WaKgKpKoJL9BkHBGTYkfixDQvyXHHa4ESHq2HvlpQ",
        oauth_signature="FH5twU582M0WiD%2F6qcBR2%2BOMgCycu7Y9sX6i8p0624l9YCgVuYmjLfmKdpiX4MzW4Qf05Fo76%2BOl8UsvnUxJtqT58d%2F%2Bk6lLTBAKnay0Shxv9[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%22539583c6-311d-48cb-8d13-1b8d6ba81f31%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="eE4NSAXO4LooFx51xCwr56prPRczzWF1phQDkpsY",
        oauth_signature="DKDjgcuMSiDqEVuMJMziQk0wPSHFDVVsgVfRn0hvwOWxsDCesCx0nmNkGW15Zv7xFbHZTjHwVOdkRraGmto3TTv8ftRjm2fy3GspFY7VnNvZUnYPndumvOXWEa2XclPp%2BYJiW9vQT%2FJHhWnjgjAYKnjNA8WSbmXKpNqKAlYaCk0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978844", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>cb5eb7dc-0347-45fe-bc91-c5c648f68921</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:07:24.8845545Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>539583c6-311d-48cb-8d13-1b8d6ba81f31</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2015-08-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>2.00</SubTotal>\r\n
        \     <TotalTax>0.40</TotalTax>\r\n      <Total>2.40</Total>\r\n      <UpdatedDateUTC>2015-08-19T10:07:23.41</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>e6e39456-927d-40ec-aa71-1c18a654171c</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0320</InvoiceNumber>\r\n      <AmountDue>2.40</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:07:25 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/e6e39456-927d-40ec-aa71-1c18a654171c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="M6PwyLVmj5w8Mb5mDM9OR2bFWN2gIz4i8oAVrqDVj4",
        oauth_signature="jsg%2FF0Q3xkGupHc0Q%2FYVzu7rsqJKeTzWWGwkXzbe8pktvxIo0p0xJYBvCoqC8C5rlj9JUB09ItDKTXtS2ho8%2FgH9qoqkXNxdbU%2B5DT%2Bu%2BHGTb1SozA38ONj[...]
[...]
