---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID<TMUX_PANE>0=<TMUX_PANE>0GUID(<TMUX_PANE>2b94f9c4b-4aab-4c3a-bbef-58adb1fa8b0d<TMUX_PANE>2)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="i58SwNUGx4y6CTCAP5KN0HYy5FthezAD5LLvO7tvA",
        oauth_signature="jFGxqiIMkf79EYufxpvVCZBo<TMUX_PANE>BwN3dmt2xgSxis6CYiiboatQklDAgOWhnC2BEZrP9WXf7Rw1D5<TMUX_PANE>B8umVsKxON2Sk2<TMUX_PANE>BuHu<TMUX_PANE>FI2TtsRk4M0HDK4y<TMUX_PANE>BHGTfY2LXU7aLSTgdRve2oACO9xXYgLKjbwV3nUkBPIpzgz<TMUX_PANE>ByIkuJT8VirDQZcs%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439384141", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445761-O1VMAP04
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>d4eac3b2-436c-4c8a-9f3c-cc054f1c7425</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-12T12:55:39.9417546Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 12 Aug 2015 12:55:42 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID<TMUX_PANE>0=<TMUX_PANE>0GUID(<TMUX_PANE>2b94f9c4b-4aab-4c3a-bbef-58adb1fa8b0d<TMUX_PANE>2)<TMUX_PANE>0AND<TMUX_PANE>0Status<TMUX_PANE>0!=<TMUX_PANE>0<TMUX_PANE>2DELETED<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="TPGHY7uKCaTOZ1enAeMdPucMxHzSPz9As[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/2ba14c21-4b37-4829-8ddb-a7bd652eabf8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="XB0NqvOkJR38PRnunFsDoEjytbE8oVMwMHOxdVFNRo",
        oauth_signature="ZrBhAz7O3cV<TMUX_PANE>Fv<TMUX_PANE>Fo56aGQsfdU8OuvP1NqpVJNbZOD0Pnx4rR<TMUX_PANE>BymjCTSKo6A8<TMUX_PANE>FxjlsSj<TMUX_PANE>BeYiuckKRd1g7UFE1W3Fe35pRpHNjaaCGB6aP46MwLkkJZh6DaZCI<TMUX_PANE>BYEE8AOaYpKHObLhl4kwz5aM9d2tZ9BkgMQgojoPz5NmMd1LJKsI%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439384144", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445761-O1VMAP04
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>b621639c-ee35-44c5-8363-2d40a21b0cbc</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-12T12:55:42.8434848Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>b94f9c4b-4aab-4c3a-bbef-58adb1fa8b0d</ContactID>\r\n
        \       <ContactStatus>ACTIVE</ContactStatus>\r\n        <Name>Existing Company
        Inc.</Name>\r\n        <Addresses>\r\n          <Address>\r\n            <AddressType>STREET</AddressType>\r\n
        \         </Address>\r\n          <Address>\r\n            <AddressType>POBOX</AddressType>\r\n
        \         </Address>\r\n        </Addresses>\r\n        <Phones>\r\n          <Phone>\r\n
        \           <PhoneType>DEFAULT</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>DDI</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>MOBILE</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>FAX</PhoneType>\r\n          </Phone>\r\n        </Phones>\r\n
        \       <UpdatedDateUTC>2015-08-12T12:55:38.757</UpdatedDateUTC>\r\n        <IsSupplier>false</IsSupplier>\r\n
        \       <IsCustomer>true</IsCustomer>\r\n      </Contact>\r\n      <Date>2015-08-12T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <LineItems>\r\n
        \       <LineItem>\r\n          <Description>Line Item Number 1</Description>\r\n
        \         <UnitAmount>1.00</UnitAmount>\r\n          <TaxType>OUTPUT2</TaxType>\r\n
        \         <TaxAmount>0.20</TaxAmount>\r\n          <LineAmount>1.00</LineAmount>\r\n
        \         <Quantity>1.0000</Quantity>\r\n          <LineItemID>d5e6f977-0df0-4f35-a2bc-d7f471f6c7ce</LineItemID>\r\n
        \       </LineItem>\r\n        <LineItem>\r\n          <Description>Line Item
        Number 2</Description>\r\n          <UnitAmount>1.00</UnitAmount>\r\n          <TaxType>OUTPUT2</TaxType>\r\n
        \         <TaxAmount>0.20</TaxAmount>\r\n          <LineAmount>1.00</LineAmount>\r\n
        \         <Quantity>1.0000</Quantity>\r\n          <LineItemID>3a116e38-7f1b-4532-82c8-bb13bc72988a</LineItemID>\r\n
        \       </LineItem>\r\n      </LineItems>\r\n      <SubTotal>2.00</SubTotal>\r\n
        \     <TotalTax>0.40</TotalTax>\r\n      <Total>2.40</Total>\r\n      <UpdatedDateUTC>2015-08-12T12:55:41.113</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>2ba14c21-4b37-4829-8ddb-a7bd652eabf8</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0127</InvoiceNumber>\r\n      <AmountDue>2.40</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <SentToContact>false</SentToContact>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 12 Aug 2015 12:55:45 GMT
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A<TMUX_PANE>0<TMUX_PANE>0%3CName%3EExisting<TMUX_PANE>0Company<TMUX_PANE>0Inc.%3C<TMUX_PANE>FName%3E%0A%3C<TMUX_PANE>FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="f8VylnatpU1I5HQIsLrmxDGniUZfn3mfq7ZzYq83A",
        oauth_signature="emH8atfd3nV4yZb4zuwjPaMilnLN8ATnUDpmLW8PEuoVTWwha7hMirQ99GauWtpo6ZUBo3jETQsxnPKjnwUK5DoFg<TMUX_PANE>BPAGeVj5e4uG8JeycEu08PojTAcDwZuAkQ7fKrLWtImWw6A4hjqHm8lvbMZ9F5eJ<TMUX_PANE>F75odaXKsTNrZV0VtA%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439388890", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445760-O1VMAP03
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>d5963d60-9abe-44ae-958e-0e8e426ea9c3</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-12T14:14:49.011467Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>78e3f9b1-2cb2-4fb6-a7f8-16e9da04279b</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-12T14:14:48.95</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 12 Aug 2015 14:14:50 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()<TMUX_PANE>0==<TMUX_PANE>0<TMUX_PANE>2existing<TMUX_PANE>0company<TMUX_PANE>0inc.<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="Cu32lQpwNmdPYz6eHFOBaxC6SLLWBpmWAWhuQ4eyh4",
        oauth_signature="K<TMUX_PANE>BJAEp2Emam<TMUX_PANE>Bx0H3ySGJ2K<TMUX_PANE>FSIToAETivMqoiErw<TMUX_PANE>B2aht2GC845w<TMUX_PANE>Bud7wCJRcV<TMUX_PANE>BCNgdtumrzFtYUM6GsrNjnPufSsgfhFxH1kYZoEtN61JW1fCSgdE5tNiZSU<TMUX_PANE>Ftqv01ZbPGSHetptLB6qydQkzEEmgLh4Q5AerLwt<TMUX_PANE>FP0zJreqEnQ%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439388890", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="165.120.48.19"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: oauth_problem=rate<TMUX_PANE>0limit<TMUX_PANE>0exceeded&oauth_problem_advice=please<TMUX_PANE>0wait<TMUX_PANE>0before<TMUX_PANE>0retrying<TMUX_PANE>0the<TMUX_PANE>0xero<TMUX_PANE>0api
  recorded_at: Wed, 12 Aug 2015 14:14:51 GMT
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A<TMUX_PANE>0<TMUX_PANE>0%3CType%3EACCREC%3C<TMUX_PANE>FType%3E%0A<TMUX_PANE>0<TMUX_PANE>0%3CContact%3E%0A<TMUX_PANE>0<TMUX_PANE>0<TMUX_PANE>0<TMUX_PANE>0%3CContactID%3E78e3f9b1-2cb2-4fb6-a7f8-16e9da04279b%3C<TMUX_PANE>FContactID%3E%0A<TMUX_PANE>0<TMUX_PANE>0<TMUX_PANE>0<TMUX_PANE>0%3CContactStatus%3EACTIVE%3C<TMUX_PANE>FContactStatus%3E%0A<TMUX_PANE>0[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name<TMUX_PANE>0==<TMUX_PANE>0<TMUX_PANE>2Existing<TMUX_PANE>0Company<TMUX_PANE>0Inc.<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="kfy7gc3OX4pTAkonw1E6zhaB9r2zaZG7VztDoCjfuU",
        oauth_signature="F4ebR3dBMSwWzk1OP3cTxLbOk8GKRfCilClwPcbg172XT7cl3Hyd4NesZaFteSp44wqDVtgB2cncQBEkBFAEeuF6kxe0tsA6mlio5Yf6coJb6VI73BTQ1nm5gEkBCvZBrSzf81K<TMUX_PANE>FS<TMUX_PANE>FgkW0PTLXIVBV9FxRwLK2zEWoc56wvSu2Y%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439388910", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="165.120.48.19"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: oauth_problem=rate<TMUX_PANE>0limit<TMUX_PANE>0exceeded&oauth_problem_advice=please<TMUX_PANE>0wait<TMUX_PANE>0before<TMUX_PANE>0retrying<TMUX_PANE>0the<TMUX_PANE>0xero<TMUX_PANE>0api
  recorded_at: Wed, 12 Aug 2015 14:15:10 GMT
[...]
