---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="hDZtQ7Ulj1RR6OQoDK0UaRkkIuIEc50PD5tXSTUA",
        oauth_signature="QTr786YwHeeCnMl7mCUHBBQEphod7von8GEuSzYVP%2FxtSHaD0XaBYuT5PU8c%2BnLXciyOsK33ddcY1GbiZ7YaXEyTD7djXKBMCeRLthZTZkXjQg9dlS5xK9AiRRilUKHMqAqk0k4akFLvP7w1ctVkKOnjTjKV48NeJ7iDNoyPeJE%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439980964", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>22f1c33f-c344-495a-88bc-8e5ef8ac7466</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:42:46.7581684Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>0da964fa-aa16-4244-abe3-fe1342cd7d02</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-19T10:42:46.697</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:42:47 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="h0EMbVj0Ck7nNMH4bjtBFQfOKBjjsYnJUcm4WRWOak",
        oauth_signature="NOl%2B29IfM4rVE5R2HVc7x%2FeYZjsIdiMjAjUMj7QYp2P%2Fq8D7W8UXdx805SNQpx0na%2BPfZamNPlyvr7ePJ3VJOiFDYVO6JJ99sSAn[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%220da964fa-aa16-4244-abe3-fe1342cd7d02%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="vG3tVuSjJNZvvUbxR7szKS3o3vJ3U1cujjxB2EN6k",
        oauth_signature="jtzkHUCz46ZJINNjxjynZl49SRTE9u24GLhrTpqk3fGBW%2Bk05t0ceuANYhZ%2F7DJbM5EktCfiIY9%2Bu6yU14gkmtAdR1seyW3Rj3zO6ULvsHMCxzc5B3ASCluMNy3RcYRRG20on1LORDJl7BtiHE3lxrbQYVTKafgUrSb5I6Xp8vQ%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439980969", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>2c1fb8fd-0793-44f5-af3e-2b0db7efeaed</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:42:50.4866879Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:42:51 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E0da964fa-aa16-4244-abe3-fe1342cd7d02%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="dfT1S5KvbDQZ5ilFipIEkThP7XnK2EJnhz6BW4CzP8",
        oauth_signature="PyHPjSzM1dy83Ek7%2BXn3U%2FnMJBfZkgZq4Pq0RGVPA3nonypCyS1d5Dr7FKiSipJydoSJodPDnYiH50%2FWOywOoLg7K0EUJHS4v8NEGYGtManv8n4N[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%220da964fa-aa16-4244-abe3-fe1342cd7d02%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="palf8ayhKcic3CJeGvLtlBl28ZoF2GlwEoJZnY0b99g",
        oauth_signature="dl268mgDgNjXhAQ%2FMe4n8BfrGAPJ0yQmvsKb9ozkfYmNo5Uy2m0M66N5KVw49pDKVYrQFlqxtcQPx5QWUIJfn4uVqbNfa%2FACS455tbp0LZ3KcAJgyQQmTEZIlL0LzHwEnv0HmUn7xJyxtjtjnWbUlc49Q%2BuXVIIdedcSnifceIc%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439980973", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>31a0b73c-205d-41bb-9bd3-b822eca0f84c</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:42:54.0904034Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>0da964fa-aa16-4244-abe3-fe1342cd7d02</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2015-08-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2015-08-19T10:42:52.17</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>c4c2fbf6-6a77-4fad-9fb4-4123083c5497</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0339</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:42:54 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/c4c2fbf6-6a77-4fad-9fb4-4123083c5497
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="a3H7yj67FTG6ZpnHeIl9efeRdDLytZbV88boWdZ8",
        oauth_signature="g8cvw%2B23RCx7ewytS%2B5SG%2FuwGn0cUHr0TAWpGRvGYQE8wZvFcQLkMZoTNH0NheoZLeQrazuc8pqKEFDLPNUC89PXNBqj3CQJluN%2FxuCIKd2yVf4Bue%2B80q8pRhW[...]
[...]
