---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID<TMUX_PANE>0=<TMUX_PANE>0GUID(<TMUX_PANE>2cc800824-51d3-476e-9522-22d38545bd96<TMUX_PANE>2)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="ak66tZXd2ZoWJvfV64ryO42e49gFoQmSPzsiDE2aqRU",
        oauth_signature="d3GsIf5vFfqseOhn<TMUX_PANE>FZEkdexfvdefNCNTySRnH4PZQ4iItE90YTR5uLnn4JG5bLeNn5BEnpcglDKwmiojUafoMeU7U1o<TMUX_PANE>FHsLagd2nLWkWVjsTZBTyCI7zAzh4v<TMUX_PANE>FVuVOqKDNVHWMveggxVsN6oi1Qsm4WgASeUsNT6b01iL1o9it0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473533", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>cfc33cff-e238-4907-9622-c0ca72c5c151</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:45:34.1496158Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:45:34 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID<TMUX_PANE>0=<TMUX_PANE>0GUID(<TMUX_PANE>2cc800824-51d3-476e-9522-22d38545bd96<TMUX_PANE>2)<TMUX_PANE>0AND<TMUX_PANE>0Status<TMUX_PANE>0!=<TMUX_PANE>0<TMUX_PANE>2DELETED<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="r58aynnWBnu9VvOrnJPwoeodoo9TQoYF7[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/09f82624-feef-4c48-b1b2-17ef1e31531c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="veAgffsK9RMWRL3WJRrUkkdkvccd9N1ideyNAjtdE",
        oauth_signature="Ngi2RIOIGg7JzI<TMUX_PANE>F27MX6b4CiBx1TCZ4eY0WlvNlhkcEyTkf0nE3dUZXFifdLWrpb<TMUX_PANE>B2YRFBv5jCRpB7EnGrf8y8yl7gLkZv77JDMxpeg9vxuJgdNg7POrQcG3INURYcA60nNmeue9BngMVbke7pv34t7pQhrWD3dCTUUwZIJ5sqE%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473537", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>04701293-3dff-4ae8-8da1-bc8bb2203c0d</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:45:37.7220387Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>cc800824-51d3-476e-9522-22d38545bd96</ContactID>\r\n
        \       <ContactStatus>ACTIVE</ContactStatus>\r\n        <Name>Existing Company
        Inc.</Name>\r\n        <Addresses>\r\n          <Address>\r\n            <AddressType>POBOX</AddressType>\r\n
        \         </Address>\r\n          <Address>\r\n            <AddressType>STREET</AddressType>\r\n
        \         </Address>\r\n        </Addresses>\r\n        <Phones>\r\n          <Phone>\r\n
        \           <PhoneType>MOBILE</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>DEFAULT</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>FAX</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>DDI</PhoneType>\r\n          </Phone>\r\n        </Phones>\r\n
        \       <UpdatedDateUTC>2013-08-14T09:45:30.857</UpdatedDateUTC>\r\n        <IsSupplier>false</IsSupplier>\r\n
        \       <IsCustomer>true</IsCustomer>\r\n      </Contact>\r\n      <Date>2013-08-14T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <LineItems>\r\n
        \       <LineItem>\r\n          <Description>my fantastic invoice description</Description>\r\n
        \         <UnitAmount>1.00</UnitAmount>\r\n          <TaxType>OUTPUT2</TaxType>\r\n
        \         <TaxAmount>0.20</TaxAmount>\r\n          <LineAmount>1.00</LineAmount>\r\n
        \         <Quantity>1.0000</Quantity>\r\n        </LineItem>\r\n      </LineItems>\r\n
        \     <SubTotal>1.00</SubTotal>\r\n      <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n
        \     <UpdatedDateUTC>2013-08-14T09:45:35.647</UpdatedDateUTC>\r\n      <CurrencyCode>GBP</CurrencyCode>\r\n
        \     <Type>ACCREC</Type>\r\n      <InvoiceID>09f82624-feef-4c48-b1b2-17ef1e31531c</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0116</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <SentToContact>false</SentToContact>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:45:38 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()<TMUX_PANE>0==<TMUX_PANE>0<TMUX_PANE>2existing<TMUX_PANE>0company<TMUX_PANE>0inc.<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="1COmz4iz5Vz1O7KqjRgRH15uMVUai4So4fEEqb0oRI4",
        oauth_signature="LWqFRBVgTA4hgeloudoeYspFhEBm<TMUX_PANE>Bvy50ikGkyYnkWM7ACoJorUDwoELHDzcoMl3OJlt7qsJu<TMUX_PANE>F6A3x58juMnuaSVFi7NQwMGEWRJAQF7L2tqbWAHDgUiCsOyTX6Ol8Q7I5n0a<TMUX_PANE>BmujifAo3VpqbJ3VFSNprKMnRq<TMUX_PANE>BcfOPBEf2HBM%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439388920", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445760-O1VMAP03
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>cf3d6939-4fbc-48a2-9ee0-474e86c5234a</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-12T14:15:18.9178172Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>895f7622-cf13-496d-b937-5b04e59eb5ff</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-12T14:15:17.907</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 12 Aug 2015 14:15:20 GMT
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name<TMUX_PANE>0==<TMUX_PANE>0<TMUX_PANE>2Existing<TMUX_PANE>0Company<TMUX_PANE>0Inc.<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="2NiFToUIncBMbEdZng0MTicavOmkKPDNH0WOlriHk",
        oauth_signature="T9WwaYizX0xF5StQTsK7Q6dzTJgxQmE6kwp0<TMUX_PANE>FCHJWuGT<TMUX_PANE[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%2220f2ca4b-0cde-4211-a86a-f19fe4a94089%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="NbQousLjut34BzvqKRmj6TxRMdarLMWudbMZi299Grk",
        oauth_signature="VPK%2F24l910qOLj0DCwJ4DG6iat48J8XevHIeHyimg19yXUWCGNUMCfa8OvrwQ1uSGGTMQIuaUQII%2Byr71saDB2L9HYyS2m9OWbs87n1T7DWvNWBiqf%2FkWl7XGfn5zP9vE%2BOac%2BB2Kjd%2BEdAlcXZ2EKWzTrAwbNjLRIDFtkpkaOc%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439543040", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>a1b21247-aea8-4498-942d-e10838f5fabd</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-14T09:03:50.6942415Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Fri, 14 Aug 2015 09:04:00 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%2220f2ca4b-0cde-4211-a86a-f19fe4a94089%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="zKN3NUmKtvpR1q3F7DixFj11hYFXHcfkOcKXlR6onI",
        oauth_signature="kcDuK6%2F4wkjVKqJBCG3CxkTtJg8b2wB8wmtRyVtEUNWEt2skNc1[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="BvNyAsPhUsahJlnDa8MRuQHgzjG8XQ2nC5FSWH31YcY",
        oauth_signature="bNPcx95S%2F%2B4MsFO9dUVpBf%2FEb7KPQcubhAXx85mrRL%2BK8CHidE7hsdEl1olUeUpb6uqdGY2ue5rDwGwDSbdnCWQc4zg6A9GbDYCdE5eKTP[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E<TMUX_PANE>A%20%20%3CType%3EACCREC%3C%2FType%3E<TMUX_PANE>A%20%20%3CContact%3E<TMUX_PANE>A%20%20%20%20%3CContactID%3Eaf3438e7-e8f3-4471-8868-5b8b0fe50d82%3C%2FContactID%3E<TMUX_PANE>A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E<TMUX_PANE>A%20%20%20%20%3CName%3EExisting%20Company%3C%2FName%3E<TMUX_PANE>A%20%20%20%20%3CAddresses%3E<TMUX_PANE[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="rCwFZR37EWVGYombjK3mQ7ikraKhlUJJxT7afPbVgEk",
        oauth_signature="cROilpH4sTlbgoQXxMQV%2F%2FoZp9jqKHJ2VCGUFLGgNCX8vYRY5PLdx3dyrLvwqwMxYQvw%2Fzgxh98eLuxItKFeElpwrpeyN9S6Kex8LtB2XGVSoidVjVpQ5%[...]
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E<TMUX_PANE>A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E<TMUX_PANE>A%3C%2FContact%3E<TMUX_PANE>A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="kf07iivfIZqVabrR26xWKiCWwzUr1JqKlnbsBoFWWRk",
        o[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="oyXQfQKMdqGAY0bgjWvr2sw28C3WqSLcwDUaDkY",
        oauth_signature="QGm3AwCT7W2bAY16dp1TLNj2PHjix%2BvLaqLI623JwxssJ10SwyDzbi5k0GkhIeokXnjKdFSDThJroO1GXbOEM8ALJPu6DPRJcueHt3G7qzCic[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="6GbRKRk4WDia3WBF6hcbvw8AwHzNdVkwP8yXwy0NyNs",
        oauth_signature="Ks4ToEdV4T5Y5fBWTD5KcErfrp5Nh2XZBMDjoV0fCN9%2BOvXXbvS9H4bpEnsKtlyamnSaTrmW7dgaIPuSc9pXY54dKkA9lU41JkktfpJR1iV8JNsaBru[...]
[...]
