---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="dW3v0BRlvlw56YhmPopch4CcFsCiIdhYEf5OzEkA",
        oauth_signature="UqlpjapqQEseCzOKEDD7YBI8aiGlS4upgT3Sjukw%2Fhp0j0zb2eKT1amdeMWstcPeGEI5GlOOWvpkfbBMz9OhlGBNNLi4ckln1WsZpe%2FKgx8xH32RjeEQwt9aeFdU%2BySZ%2B0w6TUfauh9c0GZ6u3p6mz3ViNAHnJ5XJUuurG0WaQQ%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439980951", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>525e47cc-7c33-4cb2-b556-127781d89da0</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:42:33.0609294Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>8912fcc8-6c27-45e6-88ff-a7116980b2c0</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-19T10:42:32.953</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:42:33 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="x4PARn5452wZ0w93HtM6jCSnMQsla9LQKguw2ZVRU",
        oauth_signature="Kpacsii61MpzvSwTqTN4Rj1hwDTx9D8e8rNHWxFQMzp%2BE72igDd3lNzemZU6orD79x6Jp%2B%2FjkN0x5Y5l08k0XSIV57pgGCJHQbOwKe7[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%228912fcc8-6c27-45e6-88ff-a7116980b2c0%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="TrbQh5HdBuWUq5IV1TMeXPf89SjJTU7oqDVcBAuc3xY",
        oauth_signature="STsHNKP76HsYAdAyQs1DbloiDm9r4W16I4n3o7JfsbkPDHZHcqMO%2B6h7g7I9p1%2Fp7HbFTQ9553VxxlNU88GpWppeoKuMdfXike7bNjrEDagawnmhy%2BhTWWXn%2B1mzmB0WTmOjOU%2FbCesyx7lIA0CaIG1cbqRL2%2BxkQfNdDBCeHaM%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439980954", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>3434d408-9782-4cb7-bd92-3f7e7779b576</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:42:35.1201954Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:42:35 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E8912fcc8-6c27-45e6-88ff-a7116980b2c0%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="MzO7E5QkHW26mnWYkW2WgcosCDMLiRbLm4tBCZg64",
        oauth_signature="cuUD7hzoTlderg2eTOhUtguDTsPPXnxIriy5ksFW9Hc0xaX%2FFLg7HMUXxCxp9f56m9Vmqf17B2ANESDpgj95tLucd3rGbPeJza%2FdxEhqtML%2BB%2Bw[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%228912fcc8-6c27-45e6-88ff-a7116980b2c0%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="GbpQNR5XSZEy4F99KBa7Qnqv56n9x0MRsbckNBEIZg",
        oauth_signature="NTAKgygP3yfJKo8y7OmHZ%2FVfCX8Ma6I4cer3npOxMly29J%2FDmIcTI94n3YOOSAIkbkGDzcXZtmC9%2Basow0Podu7UIIYjvJAwWUR%2Bau%2B4PwebEScnWgfSh%2F9UTG5NfaQgvDaHULpEbzpJD5dQA0l8SRwP4U35ke%2FA5thhl%2FzncgY%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439980958", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445758-O1VMAP01
      - 445758-O1VMAP01
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>02d03718-8f03-4894-9b20-a4238c23b391</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:42:38.4119009Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>8912fcc8-6c27-45e6-88ff-a7116980b2c0</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2015-08-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>2.00</SubTotal>\r\n
        \     <TotalTax>0.40</TotalTax>\r\n      <Total>2.40</Total>\r\n      <UpdatedDateUTC>2015-08-19T10:42:36.82</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>b133752d-d9f0-4fdc-870a-96d92bda8d1d</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0338</InvoiceNumber>\r\n      <AmountDue>2.40</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:42:39 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/b133752d-d9f0-4fdc-870a-96d92bda8d1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="yJEKtRueuO1SgceZMjra8uELLGpOMBy7NAgpkZUfE",
        oauth_signature="dmeIkG50G6OR1%2Bg%2BVHhhvTThGsiFCCCFiAn9clKBL2Dy2kRkbtJ%2F9qA6vUD1TzV5yJvvLLVJRjan1koyXvE4WTGxsRlGexJll8SHSoUhYrdq9rvuLWjmT3Exp8hJ1G[...]
[...]
