---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID<TMUX_PANE>0=<TMUX_PANE>0GUID(<TMUX_PANE>219ec9fa6-e528-489f-99f2-26793a95cd4b<TMUX_PANE>2)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="WoeGDm7koeFU0hjOVxqfZCEnpD08uBjnWhLbznA3z4I",
        oauth_signature="SuXF8I2Z8TTw1qLdlnLDwCL<TMUX_PANE>FuOVMaXCW2b0xWpLhQCF566rpn2DntxguJQXJ5h5WF92c7e9mQGi6MZW2nhI4nIurLGrp9pRDf<TMUX_PANE>FyzNOGFj9ERlSFlW7PIE0rUZVe63Rt5NZfmtYUUsqckDZzE4lJCVObpP<TMUX_PANE>BnuHJtse01QEkyLuUU%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473543", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>d11ad29f-4b45-4ad3-a2fa-34453b7260d3</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:45:43.4472754Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:45:43 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID<TMUX_PANE>0=<TMUX_PANE>0GUID(<TMUX_PANE>219ec9fa6-e528-489f-99f2-26793a95cd4b<TMUX_PANE>2)<TMUX_PANE>0AND<TMUX_PANE>0Status<TMUX_PANE>0!=<TMUX_PANE>0<TMUX_PANE>2DELETED<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="AhuwszVB517zG3txfH534l5wopCxLuJBA[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/f08523e3-89e5-4591-a1c8-61c9a85db932
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="8r3SpIjKYa8Ft4kOhmiogTbzn78cr7ewC7B5jevCJJs",
        oauth_signature="TLTujQeBYARuNH1j3ZHszrIfwYmbmNR6xHHRJBGFBBsH5w8JEomeTGJ0R5vwzRJbhuO4pKqXH1cAklqnb<TMUX_PANE>Bqsrw<TMUX_PANE>BsbIXr3wOKIfX8S9Wi<TMUX_PANE>FcJJVlH<TMUX_PANE>FZgXaKjeSqiZmaHcIGGSqgyS3y0YNMir5vj3gjG<TMUX_PANE>BOqHzpqkV0duVgouBho40%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1376473546", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      X-S:
      - 445760-O1VMAP03
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>20b67eca-fc37-4b06-9a1a-9cbb1f013fbd</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Demo App</ProviderName>\r\n  <DateTimeUTC>2013-08-14T09:45:50.0461177Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>19ec9fa6-e528-489f-99f2-26793a95cd4b</ContactID>\r\n
        \       <ContactStatus>ACTIVE</ContactStatus>\r\n        <Name>Existing Company
        Inc.</Name>\r\n        <Addresses>\r\n          <Address>\r\n            <AddressType>STREET</AddressType>\r\n
        \         </Address>\r\n          <Address>\r\n            <AddressType>POBOX</AddressType>\r\n
        \         </Address>\r\n        </Addresses>\r\n        <Phones>\r\n          <Phone>\r\n
        \           <PhoneType>DDI</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>DEFAULT</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>MOBILE</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>FAX</PhoneType>\r\n          </Phone>\r\n        </Phones>\r\n
        \       <UpdatedDateUTC>2013-08-14T09:45:42.013</UpdatedDateUTC>\r\n        <IsSupplier>false</IsSupplier>\r\n
        \       <IsCustomer>true</IsCustomer>\r\n      </Contact>\r\n      <Date>2013-08-14T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <LineItems>\r\n
        \       <LineItem>\r\n          <Description>my fantastic invoice description</Description>\r\n
        \         <UnitAmount>1.00</UnitAmount>\r\n          <TaxType>OUTPUT2</TaxType>\r\n
        \         <TaxAmount>0.20</TaxAmount>\r\n          <LineAmount>1.00</LineAmount>\r\n
        \         <Quantity>1.0000</Quantity>\r\n        </LineItem>\r\n      </LineItems>\r\n
        \     <SubTotal>1.00</SubTotal>\r\n      <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n
        \     <UpdatedDateUTC>2013-08-14T09:45:44.943</UpdatedDateUTC>\r\n      <CurrencyCode>GBP</CurrencyCode>\r\n
        \     <Type>ACCREC</Type>\r\n      <InvoiceID>f08523e3-89e5-4591-a1c8-61c9a85db932</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0117</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <SentToContact>false</SentToContact>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 14 Aug 2013 09:45:50 GMT
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A<TMUX_PANE>0<TMUX_PANE>0%3CName%3EExisting<TMUX_PANE>0Company<TMUX_PANE>0Inc.%3C<TMUX_PANE>FName%3E%0A%3C<TMUX_PANE>FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="lrFsvko8ALoSkzw1XRjH2lPvslOA[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()<TMUX_PANE>0==<TMUX_PANE>0<TMUX_PANE>2existing<TMUX_PANE>0company<TMUX_PANE>0inc.<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="xuLGFTfFAGXD4gac7Hjtvx6el9LysHM5MbYSvl4CYk",
        oauth_signature="VgXzgd<TMUX_PANE>Bisd61RSsA5c683cNA7tVutpVSMgdt3tOmzuRPnZVC4DjPI6aXSSz<TMUX_PANE>FlFzypeIIogxcfrazfrvr1DTegc1RPwmgjKE4PFEjLUQGEKNDaDvZSI<TMUX_PANE>BdfEmO8KzaO<TMUX_PANE>BIQ2Glln47ksrZqCKcw52aBQqUsCQKRG9iRgBR7ywsnqII%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439388926", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445760-O1VMAP03
      - 505390-O1VMAP05
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>a574e15d-d753-4e45-aeeb-2f058a282e91</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-12T14:15:25.6884776Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>ac61a73c-cad4-49b1-8d3d-94e3233e4083</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-12T14:15:25.063</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 12 Aug 2015 14:15:27 GMT
[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A<TMUX_PANE>0<TMUX_PANE>0%3CType%3EACCREC%3C<TMUX_PANE>FType%3E%0A<TMUX_PANE>0<TMUX_PANE>0%3CContact%3E%0A<TMUX_PANE>0<TMUX_PANE>0<TMUX_PANE>0<TMUX_PANE>0%3CContactID%3Eac61a73c-cad4-49b1-8d3d-94e3233e4083%3C<TMUX_PANE>FContactID%3E%0A<TMUX_PANE>0<TMUX_PANE>0<TMUX_PANE>0<TMUX_PANE>0%3CContactStatus%3EACTIVE%3C<TMUX_PANE>FContactStatus%3E%0A<TMUX_PANE>0[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name<TMUX_PANE>0==<TMUX_PANE>0<TMUX_PANE>2Existing<TMUX_PANE>0Company<TMUX_PANE>0Inc.<TMUX_PANE>2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="GDFUBRPBZkiECklv1SRajlogs517JeBpBgNSgxMzE",
        oauth_signature="UnldpS9a<TMUX_PANE>BjmoFS<TMUX_PANE>FcFYhGemM17WKut<TMUX_PANE>FyO[...]
[...]
