---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: xml=%3CContact%3E%0A%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="TF2a9mFDypzpqz6rRCxRZoy97RMRjuxndGsYZNi2g",
        oauth_signature="pg7x0Pp%2BBW0nM6yGTEWIjyBnky%2B5uiPhkMhHM7%2BgMwiyzeyD74oWux%2BUrDOYQspj3s3iLBd%2Bp1WzVn9dJc7dqEOcoexWpCwXrQcmKL88YDmUKufh1ffOjOmf5fKBcZhhhvJMc8kQ98iMhQGPjkre433Oqsp0MKM5OTphciZS%2B48%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978850", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>f26d8445-a54d-447e-bb0d-ae57d4fe0b50</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:07:32.0847176Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>86543fcd-27ea-4e95-a12b-a23ca54e6017</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Existing Company
        Inc.</Name>\r\n      <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2015-08-19T10:07:31.99</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:07:32 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name.ToLower()%20==%20%22existing%20company%20inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="IHqHNfXVTa3uosnQjYznDt4pFuWRWk4xCZaBS7jIz1g",
        oauth_signature="khBFFToR4GemxDZxOkzyeg2PU%2F%2FNVQYPC%2Ft%2F75J7usIp8LhWDqe9PsT%2FAb7XFxbzOgGqu3SEzy98bv5%2BskAfOQRcMy%2B0c[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%2286543fcd-27ea-4e95-a12b-a23ca54e6017%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="KCBRSbjxm8swFDsCloeeL8ulGViWH02qNgx7RxYSnrg",
        oauth_signature="bUx%2FS5uqCqgeKcvNDs71D10RXj0egiLZbJB1KTHLemEiY3Rm1jFxm5Puqo4cMj4X7VZuNL9HgxFkdYu7OuKSiHE9RUACjLaDjCIALsEdzNea845laIdav9k77yuoBvsGwgmvtbvj9lCx0bPLhEQ03c7aUVkekkpkWfS1XLF497w%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978854", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>2472447e-1e67-478d-b920-c3b49c8f9cec</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:07:35.5792744Z</DateTimeUTC>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:07:36 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E86543fcd-27ea-4e95-a12b-a23ca54e6017%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3EExisting%20Company%20Inc.%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%2[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?where=Name%20==%20%22Existing%20Company%20Inc.%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="QaQB8WRj0HNJZ3n908V9mlxLryXyquT8RKAsZBrv18",
        oauth_signature="B3GGTB3vlg4KFKlyEQYJEk6VqHtP2UGTmnWsU1SEhRHJlXYRelGbsjaE%2B7PgIYKQ%2FfUkIdD5aKLCN%2B4njd4b9MTvtR8zGmkMyOQ8WZ%2BTM0WNCH[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Contact.ContactID%20=%20GUID(%2286543fcd-27ea-4e95-a12b-a23ca54e6017%22)%20AND%20Status%20!=%20%22DELETED%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="5l9LbwmkYxOdFxEnHgjONR2asi6zjmZBiIpl6QTwE",
        oauth_signature="EXb%2FpouuV%2BuQdVTY97tRJTw45SyTz8JvVl9TL0%2BB7aRq%2Bmr%2FPocOvLAqLN%2B5us3CGrEfPfyaA7vBSj80Jk%2FNifJ93i9iSiGeXtmegDyNJifSpXJOxy4uRRG85ME1ZPLBO452sUwnU1Au03UB09SZqiME9IJwSY%2FnpoBtA4X2IV0%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1439978859", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-S:
      - 445759-O1VMAP02
      - 445760-O1VMAP03
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>b456eacf-0954-4ecc-9256-64af0c79480d</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Jordan</ProviderName>\r\n  <DateTimeUTC>2015-08-19T10:07:39.3390431Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>86543fcd-27ea-4e95-a12b-a23ca54e6017</ContactID>\r\n
        \       <Name>Existing Company Inc.</Name>\r\n      </Contact>\r\n      <Date>2015-08-19T00:00:00</Date>\r\n
        \     <DueDate>2013-03-10T00:00:00</DueDate>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>1.00</SubTotal>\r\n
        \     <TotalTax>0.20</TotalTax>\r\n      <Total>1.20</Total>\r\n      <UpdatedDateUTC>2015-08-19T10:07:37.707</UpdatedDateUTC>\r\n
        \     <CurrencyCode>GBP</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>6599674c-7300-493a-b3fc-be417949fcd4</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0321</InvoiceNumber>\r\n      <AmountDue>1.20</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>0.00</AmountCredited>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Wed, 19 Aug 2015 10:07:39 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/6599674c-7300-493a-b3fc-be417949fcd4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="uhtAq1FNn7SzaN4OSpp6gJzYib4km4AjvvOcSn7PQ",
        oauth_signature="OS6AYDF83drbtraE8s9LbM36cyjTExdvtzaO9V15iApsjrY8MwtOs69bEynzytNyCeZ%2B1JvvJnWQEtHXkUHJCtpoGytIEgZeC4FualkvQ7Q5WvRBmifZRxQG%2BTNcE1xS[...]
[...]
