---
http_interactions:
- request:
    method: post
    uri: https://<CAPSULECRM_API_TOKEN>:x@<CAPSULECRM_ACCOUNT_NAME>.capsulecrm.com/api/organisation
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<organisation>\n  <about
        nil=\"true\"/>\n  <name>Padberg Group</name>\n  <contacts>\n    <email>\n
        \     <type nil=\"true\"/>\n      <emailAddress>shane_fadel@kris.net</emailAddress>\n
        \   </email>\n  </contacts>\n</organisation>\n"
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ratelimit-Remaining:
      - '3948'
      X-Ratelimit-Reset:
      - '1442918151'
      X-Ratelimit-Limit:
      - '4000'
      Location:
      - https://<CAPSULECRM_ACCOUNT_NAME>.capsulecrm.com/api/party/89371675
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Tue, 22 Sep 2015 10:29:28 GMT
- request:
    method: post
    uri: https://<CAPSULECRM_API_TOKEN>:x@<CAPSULECRM_ACCOUNT_NAME>.capsulecrm.com/api/party/89371675/tag/Membership
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<tags>\n  <tag>\n    <name>Membership</name>\n
        \ </tag>\n</tags>\n"
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ratelimit-Remaining:
      - '3947'
      X-Ratelimit-Reset:
      - '1442918151'
      X-Ratelimit-Limit:
      - '4000'
      Location:
      - https://<CAPSULECRM_ACCOUNT_NAME>.capsulecrm.com/api/party/89371675/tag/Membership
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Tue, 22 Sep 2015 10:29:29 GMT
- request:
    method: put
    uri: https://<CAPSULECRM_API_TOKEN>:x@<CAPSULECRM_ACCOUNT_NAME>.capsulecrm.com/api/party/89371675/customfields
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<customFields>\n  <customField>\n
        \   <label>Newsletter</label>\n    <text nil=\"true\"/>\n    <tag>Membership</tag>\n
        \   <date nil=\"true\"/>\n    <boolean type=\"boolean\">false</boolean>\n
        \ </customField>\n</customFields>\n"
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '3946'
      X-Ratelimit-Reset:
      - '1442918151'
      X-Ratelimit-Limit:
      - '4000'
      Content-Type:
      - ! '*/*;charset=UTF-8'
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><customFields
        size="0"/>
  recorded_at: Tue, 22 Sep 2015 10:29:29 GMT
- request:
    method: put
    uri: https://<CAPSULECRM_API_TOKEN>:x@<CAPSULECRM_ACCOUNT_NAME>.capsulecrm.com/api/party/89371675/customfields
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<customFields>\n  <customField>\n
        \   <label>Level</label>\n    <text>supporter</text>\n    <tag>Membership</tag>\n
        \   <date nil=\"true\"/>\n    <boolean nil=\"true\"/>\n  </customField>\n</customFields>\n"
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '3945'
      X-Ratelimit-Reset:
      - '1442918151'
      X-Ratelimit-Limit:
      - '4000'
      Content-Type:
      - ! '*/*;charset=UTF-8'
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><customFields
        size="1"><customField><id>85839634</id><tag>Membership</tag><label>Level</label><text>supporter</text></customField></customFields>
  recorded_at: Tue, 22 Sep 2015 10:29:30 GMT
- request:
    method: post
    uri: https://us10.api.mailchimp.com/2.0/lists/subscribe
    body:
      encoding: US-ASCII
      string: ! '{"apikey":"<MAILCHIMP_API_KEY>","id":"<MAILCHIMP_LIST_ID>","email":{"email":"shane_fadel@kris.net"},"double_optin":false}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"email":"shane_fadel@kris.net","euid":"64089ce0dd","leid":"82412033"}'
  recorded_at: Tue, 22 Sep 2015 10:29:30 GMT
- request:
    method: get
    uri: https://<CAPSULECRM_API_TOKEN>:x@<CAPSULECRM_ACCOUNT_NAME>.capsulecrm.com/api/party?tag=Membership
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '3944'
      X-Ratelimit-Reset:
      - '1442918151'
      X-Ratelimit-Limit:
      - '4000'
      Content-Type:
      - ! '*/*;charset=UTF-8'
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><parties size="7"><person><id>89367969</id><contacts><email><id>172219670</id><emailAddress>finance@nerd.eg</emailAddress></email></contacts><pictureURL>https://d365sd3k9yw37.cloudfront.net/a/1442835119/theme/default/images/person_avatar_70.png</pictureURL><createdOn>2015-09-22T08:40:23Z</createdOn><updatedOn>2015-09-22T08:40:30Z</updatedOn><firstName>Joe</firstName><lastName>Nerd</lastName></person><organisation><id>89367905</id><contacts><email><id>172219561</id><emailAddress>finance@nerd.eg</emailAddress></email></contacts><pictureURL>https://d365sd3k9yw37.cloudfront.net/a/1442835119/theme/default/images/org_avatar_70.png</pictureURL><createdOn>2015-09-22T08:38:00Z</createdOn><updatedOn>2015-09-22T08:48:46Z</updatedOn><name>Nerd
        Enterprises Inc</name></organisation><organisation><id>89371675</id><contacts><email><id>172225750</id><emailAddress>shane_fadel@[...]
[...]
- request:
    method: get
    uri: https://<CAPSULECRM_API_TOKEN>:x@<CAPSULECRM_ACCOUNT_NAME>.capsulecrm.com/api/party/89367905
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '3942'
      X-Ratelimit-Reset:
      - '1442918151'
      X-Ratelimit-Limit:
      - '4000'
      Content-Type:
      - ! '*/*;charset=UTF-8'
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><organisation><id>89367905</id><contacts><email><id>172219561</id><emailAddress>finance@nerd.eg</emailAddress></email></contacts><pictureURL>https://d365sd3k9yw37.cloudfront.net/a/1442835119/theme/default/images/org_avatar_70.png</pictureURL><createdOn>2015-09-22T08:38:00Z</createdOn><updatedOn>2015-09-22T08:48:46Z</updatedOn><name>Nerd
        Enterprises Inc</name></organisation>
  recorded_at: Tue, 22 Sep 2015 10:29:32 GMT
- request:
    method: get
    uri: https://<CAPSULECRM_API_TOKEN>:x@<CAPSULECRM_ACCOUNT_NAME>.capsulecrm.com/api/party/89367905/customfield
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '3941'
      X-Ratelimit-Reset:
      - '1442918151'
      X-Ratelimit-Limit:
      - '4000'
      Content-Type:
      - ! '*/*;charset=UTF-8'
    body:
      encoding: US-ASCII
      st[...]
- request:
    method: post
    uri: https://us10.api.mailchimp.com/2.0/lists/unsubscribe
    body:
      encoding: US-ASCII
      string: ! '{"apikey":"<MAILCHIMP_API_KEY>","id":"<MAILCHIMP_LIST_ID>","email":{"email":"finance@nerd.eg"},"delete_member":true,"send_notify":false,"send_goodbye":false}'
    headers: {}
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailchimp-Api-Error-Code:
      - '232'
    body:
      encoding: US-ASCII
      string: ! '{"status":"error","code":232,"name":"Email_NotExists","error":"finance@nerd.eg
        is not subscribed to list Test mailing list management job"}'
  recorded_at: Tue, 22 Sep 2015 10:29:33 GMT
[...]
- request:
    method: post
    uri: https://us10.api.mailchimp.com/2.0/lists/unsubscribe
    body:
      encoding: US-ASCII
      string: ! '{"apikey":"<MAILCHIMP_API_KEY>","id":"<MAILCHIMP_LIST_ID>","email":{"email":"shane_fadel@kris.net"},"delete_member":true,"send_notify":false,"send_goodbye":false}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"complete":true}'
  recorded_at: Tue, 22 Sep 2015 10:29:34 GMT
[...]
- request:
    method: post
    uri: https://us10.api.mailchimp.com/2.0/lists/subscribe
    body:
      encoding: US-ASCII
      string: ! '{"apikey":"<MAILCHIMP_API_KEY>","id":"<MAILCHIMP_LIST_ID>","email":{"email":"jordan.elver+testorg1@gmail.com"},"merge_vars":{"FNAME":"","LNAME":"","LEVEL":"supporter"},"double_optin":false}'
    headers: {}
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailchimp-Api-Error-Code:
      - '214'
    body:
      encoding: US-ASCII
      string: ! '{"status":"error","code":214,"name":"List_AlreadySubscribed","error":"jordan.elver+testorg1@gmail.com
        is already subscribed to the list."}'
  recorded_at: Tue, 22 Sep 2015 10:29:35 GMT
[...]
- request:
    method: post
    uri: https://us10.api.mailchimp.com/2.0/lists/members
    body:
      encoding: US-ASCII
      string: ! '{"apikey":"<MAILCHIMP_API_KEY>","id":"<MAILCHIMP_LIST_ID>"}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"total":2,"data":[{"email":"jordan.elver+testperson@gmail.com","id":"f473fb2823","euid":"f473fb2823","email_type":"html","ip_signup":null,"timestamp_signup":null,"ip_opt":"165.120.58.204","timestamp_opt":"2015-09-21
        15:01:36","member_rating":2,"info_changed":"2015-09-21 15:01:36","web_id":82284993,"leid":82284993,"language":null,"list_id":"<MAILCHIMP_LIST_ID>","list_name":"Test
        mailing list management job","merges":{"EMAIL":"jordan.elver+testperson@gmail.com","FNAME":"","LNAME":"","LEVEL":""},"status":"subscribed","timestamp":"2015-09-21
        15:01:36","is_gmonkey":false,"lists":[],"geo":[],"clients":[],"static_segments":[],"notes":[]},{"email":"jordan.elver+testorg1@gmail.com","id":"ca2c3223e5","euid":"ca2c3223e5","email_type":"html","ip_signup":null,"timestamp_signup":null,"ip_opt":"165.120.58.204","timestamp_opt":"2015-09-21
        15:22:24","member_rating":2,"info_changed":"2015-09-21 15:22:24","web_id":82286081,"leid":82286081,"language":null,"list_id":"<MAILCHIMP_LIST_ID>","list_name":"Test
        mailing list management job","merges":{"EMAIL":"jordan.elver+testorg1@gmail.com","FNAME":"","LNAME":"","LEVEL":"supporter"},"status":"subscribed","timestamp":"2015-09-21
        15:22:24","is_gmonkey":false,"lists":[{"id":"1fbf91335c","status":"subscribed"}],"geo":[],"clients":[],"static_segments":[],"notes":[]}]}'
  recorded_at: Tue, 22 Sep 2015 10:29:39 GMT
[...]
- request:
    method: delete
    uri: https://<CAPSULECRM_API_TOKEN>:x@<CAPSULECRM_ACCOUNT_NAME>.capsulecrm.com/api/party/89371675
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '3932'
      X-Ratelimit-Reset:
      - '1442918151'
      X-Ratelimit-Limit:
      - '4000'
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Tue, 22 Sep 2015 10:29:39 GMT
recorded_with: VCR 2.9.3
